<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BS_CI_INSURER" > 
<!-- Result Map-->
<resultMap id="result_map_BS_CI_INSURER" type="com.xfs.insurance.model.BsCiInsurer" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="show_name" property="showName"/>
	<result column="contact_phone" property="contactPhone"/>
	<result column="contacts" property="contacts"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- bs_ci_insurer table all fields -->
<sql id="Base_Column_List" >
	 id,name,show_name,contact_phone,contacts,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="showName != null" >and show_name = #{showName}</if>
	<if test="contactPhone != null" >and contact_phone = #{contactPhone}</if>
	<if test="contacts != null" >and contacts = #{contacts}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="showName != null">AND show_name like '%${showName}%'</if>
    <if test="showNameEq != null">AND show_name = #{showNameEq}</if>
    <if test="contactPhone != null">AND contact_phone like '%${contactPhone}%'</if>
    <if test="contactPhoneEq != null">AND contact_phone = #{contactPhoneEq}</if>
    <if test="contacts != null">AND contacts like '%${contacts}%'</if>
    <if test="contactsEq != null">AND contacts = #{contactsEq}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr = #{dr}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertBS_CI_INSURER" parameterType="Object" >
  INSERT INTO BS_CI_INSURER (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="name != null ">,name</if>
	<if test="showName != null ">,show_name</if>
	<if test="contactPhone != null ">,contact_phone</if>
	<if test="contacts != null ">,contacts</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="name != null ">,#{name}</if>
	<if test="showName != null ">,#{showName}</if>
	<if test="contactPhone != null ">,#{contactPhone}</if>
	<if test="contacts != null ">,#{contacts}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateBS_CI_INSURER" parameterType="Object" >
UPDATE BS_CI_INSURER 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="showName != null ">,show_name=#{showName}</if>
	<if test="contactPhone != null ">,contact_phone=#{contactPhone}</if>
	<if test="contacts != null ">,contacts=#{contacts}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteBS_CI_INSURER">DELETE FROM BS_CI_INSURER WHERE ID=#{id}</delete>
<!-- 保险公司信息表 列表总数-->
<select id="CountFindAllBS_CI_INSURER" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_CI_INSURER</select>
<select id="CountBS_CI_INSURER" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_CI_INSURER WHERE ID=#{id}</select>
<!-- 根据id查询 保险公司信息表 -->
<select id="FindByPK" resultMap="result_map_BS_CI_INSURER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BS_CI_INSURER WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  保险公司信息表 -->
<select id="FreeFindBS_CI_INSURER" resultMap="result_map_BS_CI_INSURER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BS_CI_INSURER 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  保险公司信息表 记录数 -->
<select id="CountFreeFindBS_CI_INSURER" resultType="java.lang.Integer">
SELECT count(1) as value FROM BS_CI_INSURER 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  保险公司信息表 -->
<select id="FreeFindBS_CI_INSUREROrdered" resultMap="result_map_BS_CI_INSURER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BS_CI_INSURER 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/29 14:37:15 ** -->
<!-- ************************************************************************ -->




</mapper>   
