<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CP_CI_ORDER" > 
<!-- Result Map-->
<resultMap id="result_map_CP_CI_ORDER" type="com.xfs.insurance.model.CpCiOrder" >
	<result column="id" property="id"/>
	<result column="order_code" property="orderCode"/>
	<result column="prod_id" property="prodId"/>
	<result column="prod_name" property="prodName"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="scheme_name" property="schemeName"/>
	<result column="amount" property="amount"/>
	<result column="ava_num" property="avaNum"/>
	<result column="user_id" property="userId"/>
	<result column="pay_status" property="payStatus"/>
	<result column="accepted_state" property="acceptedState"/>
	<result column="unit_price" property="unitPrice"/>
	<result column="total_price" property="totalPrice"/>
	<result column="pay_type" property="payType"/>
	<result column="insure_file_name" property="insureFileName"/>
	<result column="insure_file_code" property="insureFileCode"/>
	<result column="accept_file_name" property="acceptFileName"/>
	<result column="accept_file_code" property="acceptFileCode"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
	<result column="user_prize_id" property="userPrizeId"/>
	<result column="prize_price" property="prizePrice"/>
	<result column="pay_amout" property="payAmout"/>
	<result column="org_id" property="orgId"/>
</resultMap>
       
<!-- cp_ci_order table all fields -->
<sql id="Base_Column_List" >
	 id,order_code,prod_id,prod_name,scheme_id,scheme_name,amount,ava_num,user_id,pay_status,accepted_state,unit_price,total_price,pay_type,insure_file_name,insure_file_code,accept_file_name,accept_file_code,create_by,create_dt,modify_by,modify_dt,dr,user_prize_id,prize_price,pay_amout,org_id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="orderCode != null" >and order_code = #{orderCode}</if>
	<if test="prodId != null" >and prod_id = #{prodId}</if>
	<if test="prodName != null" >and prod_name = #{prodName}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="schemeName != null" >and scheme_name = #{schemeName}</if>
	<if test="amount != null" >and amount = #{amount}</if>
	<if test="avaNum != null" >and ava_num = #{avaNum}</if>
	<if test="userId != null" >and user_id = #{userId}</if>
	<if test="payStatus != null" >and pay_status = #{payStatus}</if>
	<if test="acceptedState != null" >and accepted_state = #{acceptedState}</if>
	<if test="unitPrice != null" >and unit_price = #{unitPrice}</if>
	<if test="totalPrice != null" >and total_price = #{totalPrice}</if>
	<if test="payType != null" >and pay_type = #{payType}</if>
	<if test="insureFileName != null" >and insure_file_name = #{insureFileName}</if>
	<if test="insureFileCode != null" >and insure_file_code = #{insureFileCode}</if>
	<if test="acceptFileName != null" >and accept_file_name = #{acceptFileName}</if>
	<if test="acceptFileCode != null" >and accept_file_code = #{acceptFileCode}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="userPrizeId != null" >and user_prize_id = #{userPrizeId}</if>
	<if test="prizePrice != null" >and prize_price = #{prizePrice}</if>
	<if test="payAmout != null" >and pay_amout = #{payAmout}</if>
	<if test="orgId != null" >and org_id = #{orgId}</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertCP_CI_ORDER" parameterType="Object" >
  INSERT INTO CP_CI_ORDER (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="orderCode != null ">,order_code</if>
	<if test="prodId != null ">,prod_id</if>
	<if test="prodName != null ">,prod_name</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="schemeName != null ">,scheme_name</if>
	<if test="amount != null ">,amount</if>
	<if test="avaNum != null ">,ava_num</if>
	<if test="userId != null ">,user_id</if>
	<if test="payStatus != null ">,pay_status</if>
	<if test="acceptedState != null ">,accepted_state</if>
	<if test="unitPrice != null ">,unit_price</if>
	<if test="totalPrice != null ">,total_price</if>
	<if test="payType != null ">,pay_type</if>
	<if test="insureFileName != null ">,insure_file_name</if>
	<if test="insureFileCode != null ">,insure_file_code</if>
	<if test="acceptFileName != null ">,accept_file_name</if>
	<if test="acceptFileCode != null ">,accept_file_code</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
	<if test="userPrizeId != null ">,user_prize_id</if>
	<if test="prizePrice != null ">,prize_price</if>
	<if test="payAmout != null ">,pay_amout</if>
	<if test="orgId != null ">,org_id</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="orderCode != null ">,#{orderCode}</if>
	<if test="prodId != null ">,#{prodId}</if>
	<if test="prodName != null ">,#{prodName}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="schemeName != null ">,#{schemeName}</if>
	<if test="amount != null ">,#{amount}</if>
	<if test="avaNum != null ">,#{avaNum}</if>
	<if test="userId != null ">,#{userId}</if>
	<if test="payStatus != null ">,#{payStatus}</if>
	<if test="acceptedState != null ">,#{acceptedState}</if>
	<if test="unitPrice != null ">,#{unitPrice}</if>
	<if test="totalPrice != null ">,#{totalPrice}</if>
	<if test="payType != null ">,#{payType}</if>
	<if test="insureFileName != null ">,#{insureFileName}</if>
	<if test="insureFileCode != null ">,#{insureFileCode}</if>
	<if test="acceptFileName != null ">,#{acceptFileName}</if>
	<if test="acceptFileCode != null ">,#{acceptFileCode}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="userPrizeId != null ">,#{userPrizeId}</if>
	<if test="prizePrice != null ">,#{prizePrice}</if>
	<if test="payAmout != null ">,#{payAmout}</if>
	<if test="orgId != null ">,#{orgId}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCP_CI_ORDER" parameterType="Object" >
UPDATE CP_CI_ORDER 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="orderCode != null ">,order_code=#{orderCode}</if>
	<if test="prodId != null ">,prod_id=#{prodId}</if>
	<if test="prodName != null ">,prod_name=#{prodName}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="schemeName != null ">,scheme_name=#{schemeName}</if>
	<if test="amount != null ">,amount=#{amount}</if>
	<if test="avaNum != null ">,ava_num=#{avaNum}</if>
	<if test="userId != null ">,user_id=#{userId}</if>
	<if test="payStatus != null ">,pay_status=#{payStatus}</if>
	<if test="acceptedState != null ">,accepted_state=#{acceptedState}</if>
	<if test="unitPrice != null ">,unit_price=#{unitPrice}</if>
	<if test="totalPrice != null ">,total_price=#{totalPrice}</if>
	<if test="payType != null ">,pay_type=#{payType}</if>
	<if test="insureFileName != null ">,insure_file_name=#{insureFileName}</if>
	<if test="insureFileCode != null ">,insure_file_code=#{insureFileCode}</if>
	<if test="acceptFileName != null ">,accept_file_name=#{acceptFileName}</if>
	<if test="acceptFileCode != null ">,accept_file_code=#{acceptFileCode}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="userPrizeId != null ">,user_prize_id=#{userPrizeId}</if>
	<if test="prizePrice != null ">,prize_price=#{prizePrice}</if>
	<if test="payAmout != null ">,pay_amout=#{payAmout}</if>
	<if test="orgId != null ">,org_id=#{orgId}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCP_CI_ORDER">DELETE FROM CP_CI_ORDER WHERE ID=#{id}</delete>
<!-- 协作订单 列表总数-->
<select id="CountFindAllCP_CI_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_CI_ORDER</select>
<select id="CountCP_CI_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_CI_ORDER WHERE ID=#{id}</select>
<!-- 根据id查询 协作订单 -->
<select id="FindByPK" resultMap="result_map_CP_CI_ORDER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_CI_ORDER WHERE ID=#{pk}</select>

<!-- 根据各字段条件带查询  协作订单 -->
<select id="FreeFindCP_CI_ORDER" resultMap="result_map_CP_CI_ORDER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_CI_ORDER 
	 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带查询  协作订单 记录数 -->
<select id="CountFreeFindCP_CI_ORDER" resultType="java.lang.Integer">
SELECT count(1) as value FROM CP_CI_ORDER 
 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带排序  协作订单 -->
<select id="FreeFindCP_CI_ORDEROrdered" resultMap="result_map_CP_CI_ORDER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_CI_ORDER 
	 <include refid="Example_Where_Clause" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/21 19:00:49 ** -->
<!-- ************************************************************************ -->
	<select id="findCpCiOrderList" parameterType="Object" resultType="com.xfs.insurance.dto.CpCiOrderDetail">
        select su.mobile cp_mobile, su.user_id, su.org_id, cs.name cp_name, co.*
        from cp_ci_order co
        inner join sys_user su on su.user_id = co.user_id
        left join cp_service cs on cs.saas_sp_id = su.org_id
        where pay_status = 1 and co.dr = 0
		<if test="orderCode != null and  orderCode != ''">and co.order_code=#{orderCode}</if>
		<if test="acceptedState != null">and co.accepted_state = #{acceptedState}</if>
		<if test="createDtFrom != null">and co.create_dt &gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">and co.create_dt &lt; date_add(#{createDtTo}, interval 1 day)</if>
		order by co.id
	</select>
	<select id="countCpCiOrders" parameterType="Object" resultType="java.lang.Integer">
        select count(1)
        from cp_ci_order co
        inner join sys_user su on su.user_id = co.user_id
        left join cp_service cs on cs.saas_sp_id = su.org_id
        where pay_status = 1 and co.dr = 0
		<if test="orderCode != null and  orderCode != ''">and co.order_code=#{orderCode}</if>
		<if test="acceptedState != null">and co.accepted_state = #{acceptedState}</if>
		<if test="createDtFrom != null">and co.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">and co.create_dt&lt; date_add(#{createDtTo}, interval 1 day)</if>
	</select>
	<select id="findCiOrders" resultType="com.xfs.insurance.dto.CpCiOrderDetail" parameterType="Object">
		select <include refid="Base_Column_List" />
		from cp_ci_order co
		where co.dr = 0 and org_id = #{orgId}
		<if test="payStatus != null">and co.pay_status = #{payStatus}</if>
		<if test="createDtFrom != null">and co.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">and co.create_dt&lt; date_add(#{createDtTo}, interval 1 day)</if>
		order by id desc
	</select>
	<select id="countCiOrder" resultType="java.lang.Integer" parameterType="Object">
		select count(1)
		from cp_ci_order co
		where co.dr = 0 and org_id = #{orgId}
		<if test="payStatus != null">and co.pay_status = #{payStatus}</if>
		<if test="createDtFrom != null">and co.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">and co.create_dt&lt; date_add(#{createDtTo}, interval 1 day)</if>
	</select>
</mapper>   
