<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_CI_ORDER" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_CI_ORDER" type="com.xfs.insurance.model.SpsCiOrder" >
	<result column="id" property="id"/>
	<result column="order_id" property="orderId"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="amount" property="amount"/>
	<result column="contacts" property="contacts"/>
	<result column="contact_phone" property="contactPhone"/>
	<result column="total_price" property="totalPrice"/>
	<result column="busi_license_num" property="busiLicenseNum"/>
</resultMap>
       
<!-- sps_ci_order table all fields -->
<sql id="Base_Column_List" >
	 id,order_id,scheme_id,amount,contacts,contact_phone,total_price,busi_license_num
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="orderId != null" >and order_id = #{orderId}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="amount != null" >and amount = #{amount}</if>
	<if test="contacts != null" >and contacts = #{contacts}</if>
	<if test="contactPhone != null" >and contact_phone = #{contactPhone}</if>
	<if test="totalPrice != null" >and total_price = #{totalPrice}</if>
	<if test="busiLicenseNum != null" >and busi_license_num = #{busiLicenseNum}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="orderId != null">AND order_id = #{orderId}</if>
    <if test="schemeId != null">AND scheme_id = #{schemeId}</if>
    <if test="amount != null">AND amount = #{amount}</if>
    <if test="contacts != null">AND contacts like '%${contacts}%'</if>
    <if test="contactsEq != null">AND contacts = #{contactsEq}</if>
    <if test="contactPhone != null">AND contact_phone like '%${contactPhone}%'</if>
    <if test="contactPhoneEq != null">AND contact_phone = #{contactPhoneEq}</if>
    <if test="totalPrice != null">AND total_price like '%${totalPrice}%'</if>
    <if test="busiLicenseNum != null">AND busi_license_num like '%${busiLicenseNum}%'</if>
    <if test="busiLicenseNumEq != null">AND busi_license_num = #{busiLicenseNumEq}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_CI_ORDER" parameterType="Object" >
  INSERT INTO SPS_CI_ORDER (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="orderId != null ">,order_id</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="amount != null ">,amount</if>
	<if test="contacts != null ">,contacts</if>
	<if test="contactPhone != null ">,contact_phone</if>
	<if test="totalPrice != null ">,total_price</if>
	<if test="busiLicenseNum != null ">,busi_license_num</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="orderId != null ">,#{orderId}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="amount != null ">,#{amount}</if>
	<if test="contacts != null ">,#{contacts}</if>
	<if test="contactPhone != null ">,#{contactPhone}</if>
	<if test="totalPrice != null ">,#{totalPrice}</if>
	<if test="busiLicenseNum != null ">,#{busiLicenseNum}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_CI_ORDER" parameterType="Object" >
UPDATE SPS_CI_ORDER 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="orderId != null ">,order_id=#{orderId}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="amount != null ">,amount=#{amount}</if>
	<if test="contacts != null ">,contacts=#{contacts}</if>
	<if test="contactPhone != null ">,contact_phone=#{contactPhone}</if>
	<if test="totalPrice != null ">,total_price=#{totalPrice}</if>
	<if test="busiLicenseNum != null ">,busi_license_num=#{busiLicenseNum}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_CI_ORDER">DELETE FROM SPS_CI_ORDER WHERE ID=#{id}</delete>
<!-- 商保订单表 列表总数-->
<select id="CountFindAllSPS_CI_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_CI_ORDER</select>
<select id="CountSPS_CI_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_CI_ORDER WHERE ID=#{id}</select>
<!-- 根据id查询 商保订单表 -->
<select id="FindByPK" resultMap="result_map_SPS_CI_ORDER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_CI_ORDER WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  商保订单表 -->
<select id="FreeFindSPS_CI_ORDER" resultMap="result_map_SPS_CI_ORDER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_CI_ORDER 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  商保订单表 记录数 -->
<select id="CountFreeFindSPS_CI_ORDER" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_CI_ORDER 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  商保订单表 -->
<select id="FreeFindSPS_CI_ORDEROrdered" resultMap="result_map_SPS_CI_ORDER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_CI_ORDER 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/10 11:59:05 ** -->
<!-- ************************************************************************ -->




</mapper>   
