<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CS_MALL_CUSTOMER_ONLINE" > 
<!-- Result Map-->
<resultMap id="result_map_CS_MALL_CUSTOMER_ONLINE" type="com.xfs.mall.customer.model.CsMallCustomerOnline" >
	<result column="id" property="id"/>
	<result column="customer_id" property="customerId"/>
	<result column="begintime" property="begintime"/>
	<result column="endtime" property="endtime"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- cs_mall_customer_online table all fields -->
<sql id="Base_Column_List" >
	 id,customer_id,begintime,endtime,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="customerId != null" >and customer_id = #{customerId}</if>
	<if test="begintime != null" >and begintime = #{begintime}</if>
	<if test="endtime != null" >and endtime = #{endtime}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id like '%${id}%'</if>
    <if test="customerId != null">AND customer_id like '%${customerId}%'</if>
    <if test="begintime != null">AND begintime = #{begintime}</if>
    <if test="begintimeFrom != null">AND begintime&gt;=#{begintimeFrom}</if>
	<if test="begintimeTo != null">AND begintime&lt;=#{begintimeTo}</if>
    <if test="endtime != null">AND endtime = #{endtime}</if>
    <if test="endtimeFrom != null">AND endtime&gt;=#{endtimeFrom}</if>
	<if test="endtimeTo != null">AND endtime&lt;=#{endtimeTo}</if>
    <if test="createBy != null">AND create_by like '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by like '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertCS_MALL_CUSTOMER_ONLINE" parameterType="Object" >
  INSERT INTO CS_MALL_CUSTOMER_ONLINE (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="customerId != null ">,customer_id</if>
	<if test="begintime != null ">,begintime</if>
	<if test="endtime != null ">,endtime</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="customerId != null ">,#{customerId}</if>
	<if test="begintime != null ">,#{begintime}</if>
	<if test="endtime != null ">,#{endtime}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCS_MALL_CUSTOMER_ONLINE" parameterType="Object" >
UPDATE CS_MALL_CUSTOMER_ONLINE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="customerId != null ">,customer_id=#{customerId}</if>
	<if test="begintime != null ">,begintime=#{begintime}</if>
	<if test="endtime != null ">,endtime=#{endtime}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCS_MALL_CUSTOMER_ONLINE">DELETE FROM CS_MALL_CUSTOMER_ONLINE WHERE ID=#{id}</delete>
<!-- 字典表 列表总数-->
<select id="CountFindAllCS_MALL_CUSTOMER_ONLINE" resultType="java.lang.Integer">SELECT count(1) as value FROM CS_MALL_CUSTOMER_ONLINE</select>
<select id="CountCS_MALL_CUSTOMER_ONLINE" resultType="java.lang.Integer">SELECT count(1) as value FROM CS_MALL_CUSTOMER_ONLINE WHERE ID=#{id}</select>
<!-- 根据id查询 字典表 -->
<select id="FindByPK" resultMap="result_map_CS_MALL_CUSTOMER_ONLINE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CS_MALL_CUSTOMER_ONLINE WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  字典表 -->
<select id="FreeFindCS_MALL_CUSTOMER_ONLINE" resultMap="result_map_CS_MALL_CUSTOMER_ONLINE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CS_MALL_CUSTOMER_ONLINE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  字典表 记录数 -->
<select id="CountFreeFindCS_MALL_CUSTOMER_ONLINE" resultType="java.lang.Integer">
SELECT count(1) as value FROM CS_MALL_CUSTOMER_ONLINE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  字典表 -->
<select id="FreeFindCS_MALL_CUSTOMER_ONLINEOrdered" resultMap="result_map_CS_MALL_CUSTOMER_ONLINE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CS_MALL_CUSTOMER_ONLINE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/07/22 13:56:10 ** -->
<!-- ************************************************************************ -->

<!-- 判断客服是否在线 -->
<select id="findOnlineCustomer" resultMap="result_map_CS_MALL_CUSTOMER_ONLINE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CS_MALL_CUSTOMER_ONLINE co
		WHERE co.`customer_id` = #{customerId} AND co.`endtime` IS NULL;
</select>

<select id="selectImOnline"  parameterType="Object" resultType="java.util.Map">
SELECT c.customer_name AS  hr_name,s.customer_id,s.id,s.begintime,s.endtime FROM sps_mall_customer AS c, cs_mall_customer_online AS s
WHERE c.customer_id = s.customer_id
<if test="customer_name != NULL">AND c.customer_name=#{customer_name}</if>
<if test="begintime != NULL">AND s.begintime &gt; #{begintime}</if>
<if test="endtime != NULL">AND s.endtime &lt; #{endtime}</if>
</select>

<select id="selectImOnlineCount"  parameterType="Object" resultType="java.lang.Integer">
SELECT COUNT(1) FROM sps_mall_customer AS c, cs_mall_customer_online AS s
WHERE c.customer_id = s.customer_id
<if test="customer_name != NULL">AND c.customer_name=#{customer_name}</if>
<if test="begintime != NULL">AND s.begintime &gt; #{begintime}</if>
<if test="endtime != NULL">AND s.endtime &lt; #{endtime}</if>
</select>

</mapper>   
