<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_EMP_ACTUAL" >
	<!-- Result Map-->
	<resultMap id="result_map_SPS_EMP_ACTUAL" type="com.xfs.bill.model.SpsEmpActual" >
		<result column="id" property="id"/>
		<result column="insurance_accid" property="insuranceAccid"/>
		<result column="fund_accid" property="fundAccid"/>
		<result column="emp_id" property="empId"/>
		<result column="period" property="period"/>
		<result column="insured_month" property="insuredMonth"/>
		<result column="pay_type" property="payType"/>
		<result column="insurance_living_type" property="insuranceLivingType"/>
		<result column="insurance_state" property="insuranceState"/>
		<result column="fund_state" property="fundState"/>
		<result column="source" property="source"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
	</resultMap>

	<!-- sps_emp_actual table all fields -->
	<sql id="Base_Column_List" >
		id,insurance_accid,fund_accid,emp_id,period,source,insured_month,pay_type,insurance_living_type,insurance_state,fund_state,create_by,create_dt,modify_by,modify_dt,dr
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="fundAccid != null" >and fund_accid = #{fundAccid}</if>
			<if test="insuranceAccid != null" >and insurance_accid = #{insuranceAccid}</if>
			<if test="empId != null" >and emp_id = #{empId}</if>
			<if test="period != null" >and period = #{period}</if>
			<if test="insuredMonth != null" >and insured_month = #{insuredMonth}</if>
			<if test="payType != null" >and pay_type = #{payType}</if>
			<if test="insuranceLivingType != null" >and insurance_living_type = #{insuranceLivingType}</if>
			<if test="insuranceState != null" >and insurance_state = #{insuranceState}</if>
			<if test="source != null" >and source = #{source}</if>
			<if test="fundState != null" >and fund_state = #{fundState}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id = #{id}</if>
			<if test="fundAccid != null" >and fund_accid = #{fundAccid}</if>
			<if test="insuranceAccid != null" >and insurance_accid = #{insuranceAccid}</if>
			<if test="empId != null">AND emp_id = #{empId}</if>
			<if test="period != null">AND period like '%${period}%'</if>
			<if test="periodEq != null">AND period = #{periodEq}</if>
			<if test="insuredMonth != null">AND insured_month like '%${insuredMonth}%'</if>
			<if test="insuredMonthEq != null">AND insured_month = #{insuredMonthEq}</if>
			<if test="payType != null">AND pay_type like '%${payType}%'</if>
			<if test="payTypeEq != null">AND pay_type = #{payTypeEq}</if>
			<if test="insuranceLivingType != null">AND insurance_living_type like '%${insuranceLivingType}%'</if>
			<if test="insuranceLivingTypeEq != null">AND insurance_living_type = #{insuranceLivingTypeEq}</if>
			<if test="insuranceState != null">AND insurance_state like '%${insuranceState}%'</if>
			<if test="insuranceStateEq != null">AND insurance_state = #{insuranceStateEq}</if>
			<if test="fundState != null">AND fund_state like '%${fundState}%'</if>
			<if test="fundStateEq != null">AND fund_state = #{fundStateEq}</if>
			<if test="createBy != null">AND create_by = #{createBy}</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr = #{dr}</if>
			<if test="source != null" >and source = #{source}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertSPS_EMP_ACTUAL" parameterType="Object" >
		INSERT INTO SPS_EMP_ACTUAL (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="fundAccid != null ">,fund_accid</if>
			<if test="insuranceAccid != null ">,insurance_accid</if>
			<if test="empId != null ">,emp_id</if>
			<if test="period != null ">,period</if>
			<if test="insuredMonth != null ">,insured_month</if>
			<if test="payType != null ">,pay_type</if>
			<if test="insuranceLivingType != null ">,insurance_living_type</if>
			<if test="insuranceState != null ">,insurance_state</if>
			<if test="fundState != null ">,fund_state</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="source != null" >,source</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="fundAccid != null ">,#{fundAccid}</if>
			<if test="insuranceAccid != null ">,#{insuranceAccid}</if>
			<if test="empId != null ">,#{empId}</if>
			<if test="period != null ">,#{period}</if>
			<if test="insuredMonth != null ">,#{insuredMonth}</if>
			<if test="payType != null ">,#{payType}</if>
			<if test="insuranceLivingType != null ">,#{insuranceLivingType}</if>
			<if test="insuranceState != null ">,#{insuranceState}</if>
			<if test="fundState != null ">,#{fundState}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="source != null" >,#{source}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateSPS_EMP_ACTUAL" parameterType="Object" >
		UPDATE SPS_EMP_ACTUAL
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="fundAccid != null ">,fund_accid=#{fundAccid}</if>
			<if test="insuranceAccid != null ">,insurance_accid=#{insuranceAccid}</if>
			<if test="empId != null ">,emp_id=#{empId}</if>
			<if test="period != null ">,period=#{period}</if>
			<if test="insuredMonth != null ">,insured_month=#{insuredMonth}</if>
			<if test="payType != null ">,pay_type=#{payType}</if>
			<if test="insuranceLivingType != null ">,insurance_living_type=#{insuranceLivingType}</if>
			<if test="insuranceState != null ">,insurance_state=#{insuranceState}</if>
			<if test="fundState != null ">,fund_state=#{fundState}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="source != null" >,#{source}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<update id="updateDrOfEmpActual" parameterType="Object" >
		update sps_emp_actual sea
		set sea.dr=1
		where sea.period=#{period}
		and sea.emp_id=#{empId}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteSPS_EMP_ACTUAL">DELETE FROM SPS_EMP_ACTUAL WHERE ID=#{id}</delete>
	<!-- 任务单历史 列表总数-->
	<select id="CountFindAllSPS_EMP_ACTUAL" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_EMP_ACTUAL</select>
	<select id="CountSPS_EMP_ACTUAL" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_EMP_ACTUAL WHERE ID=#{id}</select>
	<!-- 根据id查询 任务单历史 -->
	<select id="FindByPK" resultMap="result_map_SPS_EMP_ACTUAL" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_EMP_ACTUAL WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询  任务单历史 -->
	<select id="FreeFindSPS_EMP_ACTUAL" resultMap="result_map_SPS_EMP_ACTUAL" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_EMP_ACTUAL
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  任务单历史 记录数 -->
	<select id="CountFreeFindSPS_EMP_ACTUAL" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SPS_EMP_ACTUAL
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  任务单历史 -->
	<select id="FreeFindSPS_EMP_ACTUALOrdered" resultMap="result_map_SPS_EMP_ACTUAL" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_EMP_ACTUAL
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/08/12 14:53:57 ** -->
	<!-- ************************************************************************ -->

	<resultMap id="result_map_SPS_EMP_ACTUAL_with_Detail" type="com.xfs.bill.model.SpsEmpActual" >
		<result column="id" property="id"/>
		<result column="insurance_accid" property="insuranceAccid"/>
		<result column="fund_accid" property="fundAccid"/>
		<result column="emp_id" property="empId"/>
		<result column="period" property="period"/>
		<result column="insured_month" property="insuredMonth"/>
		<result column="pay_type" property="payType"/>
		<result column="insurance_living_type" property="insuranceLivingType"/>
		<result column="insurance_state" property="insuranceState"/>
		<result column="fund_state" property="fundState"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<collection property="actualDetails" javaType="List" ofType="com.xfs.bill.model.SpsEmpActualdetail" column="detail_id">
			<result column="detail_id" property="id"/>
			<result column="detail_actual_id" property="actualId"/>
			<result column="detail_insurance_id" property="insuranceId"/>
			<result column="detail_pay_base" property="payBase"/>
			<result column="detail_emp_ratio" property="empRatio"/>
			<result column="detail_corp_ratio" property="corpRatio"/>
			<result column="detail_emp_payment" property="empPayment"/>
			<result column="detail_corp_payment" property="corpPayment"/>
			<result column="detail_create_by" property="createBy"/>
			<result column="detail_create_dt" property="createDt"/>
			<result column="detail_modify_by" property="modifyBy"/>
			<result column="detail_modify_dt" property="modifyDt"/>
			<result column="detail_dr" property="dr"/>
		</collection>
	</resultMap>

	<select id="findSPS_EMP_ACTUAL_with_Detail" resultMap="result_map_SPS_EMP_ACTUAL_with_Detail" parameterType="Object">
		select actual.id,actual.insurance_accid,actual.fund_accid,actual.emp_id,actual.period,actual.insured_month,actual.pay_type,actual.insurance_living_type,
		actual.insurance_state,actual.fund_state,actual.create_by,actual.create_dt,actual.modify_by,actual.modify_dt,actual.dr,
		detail.id detail_id,detail.actual_id detail_actual_id,detail.insurance_id detail_insurance_id,detail.pay_base detail_pay_base,
		detail.emp_ratio detail_emp_ratio,detail.corp_ratio detail_corp_ratio,detail.emp_payment detail_emp_payment,detail.corp_payment detail_corp_payment,
		detail.create_by detail_create_by,detail.create_dt detail_create_dt,detail.modify_by detail_modify_by,detail.modify_by detail_modify_by,
		detail.dr detail_dr
		from SPS_EMP_ACTUAL actual
		inner join SPS_EMP_ACTUALdetail detail on detail.actual_id = actual.id
		left join bd_insurance on bd_insurance.insurance_id = detail.insurance_id
		where actual.dr = 0
		<if test="insurance_accid != null" >and actual.insurance_accid = #{insurance_accid}</if>
		<if test="fund_accid != null" >and actual.fund_accid = #{fund_accid}</if>
		and actual.emp_id in
		<foreach item="id" index="index" collection="empIds" open="(" separator="," close=")">
			#{id}
		</foreach>
        <if test="insuranceOrFund != null ">
            and bd_insurance.insurance_fund_type=#{insuranceOrFund}
        </if>
		<if test="period != null" >and period = #{period}</if>
		<if test="payType != null" >and pay_type = #{payType}</if>
	</select>
	
	<!-- 实缴月报 -->
	<resultMap id="result_map_SPS_EMP_ACTUAL_EMPLOYEE" type="com.xfs.sp.dto.ActualInfo" >
    
    <result column="name" property="name"/>
    <result column="identity_code" property="identityCode"/>
    <result column="period" property="period"/>
    <result column="pay_base" property="payBase"/>
    <result column="insurance_id" property="insuranceId"/>
    <result column="id" property="id"/>
    <result column="insuranceName" property="insuranceName"/>
    <result column="actualid" property="actualid"/>
    <result column="empid" property="empid"/>
    <result column="insurancetype" property="insurancetype"/><!-- 社保类型 -->
    <result column="fullname" property="fullname"/><!-- 地址全名 -->
    <result column="fundtype" property="fundtype"/><!-- 公积金类型 -->
    <result column="sumcorp" property="sumcorp"/><!-- 企业合计 -->
    <result column="sumemp" property="sumemp"/><!-- 个人合计 -->
    <result column="sumec" property="sumec"/><!-- 企业与个人的总额 -->
    <result column="corpName" property="corpName"/>
    
    
    <result column="pay_base1" property="payBase1"/>
    <result column="emp_ratio1" property="empRatio1"/>
    <result column="corp_ratio1" property="corpRatio1"/>
    <result column="emp_payment1" property="empPayment1"/>
    <result column="corp_payment1" property="corpPayment1"/>
    <result column="sum1" property="sum1"/>
    
    <result column="pay_base2" property="payBase2"/>
    <result column="emp_ratio2" property="empRatio2"/>
    <result column="corp_ratio2" property="corpRatio2"/>
    <result column="emp_payment2" property="empPayment2"/>
    <result column="corp_payment2" property="corpPayment2"/>
    <result column="sum2" property="sum2"/>
    
    <result column="pay_base3" property="payBase3"/>
    <result column="emp_ratio3" property="empRatio3"/>
    <result column="corp_ratio3" property="corpRatio3"/>
    <result column="emp_payment3" property="empPayment3"/>
    <result column="corp_payment3" property="corpPayment3"/>
    <result column="sum3" property="sum3"/>
    
    <result column="pay_base4" property="payBase4"/>
    <result column="emp_ratio4" property="empRatio4"/>
    <result column="corp_ratio4" property="corpRatio4"/>
    <result column="emp_payment4" property="empPayment4"/>
    <result column="corp_payment4" property="corpPayment4"/>
    <result column="sum4" property="sum4"/>
    
    <result column="pay_base5" property="payBase5"/>
    <result column="emp_ratio5" property="empRatio5"/>
    <result column="corp_ratio5" property="corpRatio5"/>
    <result column="emp_payment5" property="empPayment5"/>
    <result column="corp_payment5" property="corpPayment5"/>
    <result column="sum5" property="sum5"/>
    
    <result column="pay_base6" property="payBase6"/>
    <result column="emp_ratio6" property="empRatio6"/>
    <result column="corp_ratio6" property="corpRatio6"/>
    <result column="emp_payment6" property="empPayment6"/>
    <result column="corp_payment6" property="corpPayment6"/>
    <result column="sum6" property="sum6"/>
    
	</resultMap>


	<!--  实缴月报查询   -->
	<select id="FindActual_EMPLOYEE" resultMap="result_map_SPS_EMP_ACTUAL_EMPLOYEE" parameterType="Object">
		
	SELECT
	 cc.name AS name,
	 cc.identity_code AS identity_code,
	 bb.period AS period,
	 bb.emp_id AS empid,
	 cm_corp.corp_name as corpName,
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1) as pay_base1,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1) as emp_ratio1,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1) as corp_ratio1,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1) as emp_payment1,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1)as corp_payment1,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=1) as sum1, 
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2) as pay_base2,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2) as emp_ratio2,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2) as corp_ratio2,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2) as emp_payment2,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2)as corp_payment2,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=2) as sum2,
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3) as pay_base3,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3) as emp_ratio3,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3) as corp_ratio3,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3) as emp_payment3,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3)as corp_payment3,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=3) as sum3,
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4) as pay_base4,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4) as emp_ratio4,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4) as corp_ratio4,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4) as emp_payment4,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4)as corp_payment4,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=4) as sum4,
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5) as pay_base5,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5) as emp_ratio5,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5) as corp_ratio5,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5) as emp_payment5,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5)as corp_payment5,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=5) as sum5,
	
	(select aa.pay_base from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6) as pay_base6,
	(select aa.emp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6) as emp_ratio6,
	(select aa.corp_ratio from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6) as corp_ratio6,
	(select aa.emp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6) as emp_payment6,
	(select aa.corp_payment from  sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6)as corp_payment6,
	(select IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0) FROM sps_emp_actualdetail aa where aa.actual_id = bb.id and aa.insurance_id=6) as sum6
	 
	<!-- FROM
	 sps_emp_actual bb inner join
	 cm_employee cc on bb.emp_id=cc.emp_id 
	 left join cm_corp on cm_corp.cp_id = cc.cp_id
	 inner join sp_cm_relation rela on rela.cp_id=cm_corp.cp_id
	WHERE bb.emp_id = cc.emp_id AND cc.dr=0 AND bb.dr=0 -->
	
	FROM
    sps_emp_actual bb,cm_employee cc,cm_corp,sp_cm_relation rela  

	WHERE bb.emp_id = cc.emp_id AND cc.dr=0 AND bb.dr=0 AND bb.emp_id=cc.emp_id AND cm_corp.cp_id = cc.cp_id AND rela.cp_id=cm_corp.cp_id
	AND rela.sp_id = #{spId}
	
	<if test="identityCode != null">AND CONCAT(cc.name,IFNULL(cc.identity_code,'')) like concat('%',#{identityCode},'%')</if>
	<if test="period != null" >and bb.period like #{period}</if>
	<if test="cpId != null" >and cm_corp.cp_id = #{cpId}</if>		
	<if test="authority != 'ALL'"> 
		AND cm_corp.cp_id in (${authority})
	</if>
	</select>
		
	<!-- 社保库类型和缴费地 -->	
	<select id="FindActual_Insurance" resultMap="result_map_SPS_EMP_ACTUAL_EMPLOYEE" parameterType="Object">	
	SELECT
	sps_scheme_emp.emp_id AS empid,
	sps_scheme.insurance_type AS insurancetype,
	bs_area.fullname as fullname
	FROM sps_scheme,sps_scheme_emp,sps_account,bs_area
	WHERE
		sps_scheme_emp.scheme_id = sps_scheme.scheme_id
	AND sps_scheme.insurance_account_id = sps_account.acc_id
	AND sps_account.area_id = bs_area.area_id
	AND sps_scheme.ispackage='N'
	</select>
	
	<!-- 公积金类型和缴费地 -->	
	<select id="FindActual_Fund" resultMap="result_map_SPS_EMP_ACTUAL_EMPLOYEE" parameterType="Object">
		SELECT
			sps_scheme_emp.emp_id AS empid,
			sps_scheme.fund_type AS fundtype,
			bs_area.fullname AS fullname
		FROM sps_scheme,sps_scheme_emp,sps_account,bs_area
		WHERE
			sps_scheme_emp.scheme_id = sps_scheme.scheme_id
		AND sps_scheme.fund_account_id=sps_account.acc_id
		AND sps_account.area_id = bs_area.area_id
		AND sps_scheme.ispackage='N'
	</select>
	
	<!-- 查询企业合计和个人合计还有总额 -->
	<select id="FindActual_sum" resultMap="result_map_SPS_EMP_ACTUAL_EMPLOYEE" parameterType="Object">
	SELECT
	bb.emp_id AS empid,
	sum(aa.corp_payment) as sumcorp,
	sum(aa.emp_payment) as sumemp,
	sum(IFNULL(aa.corp_payment,0)+IFNULL(aa.emp_payment,0)) AS sumec
	FROM
		sps_emp_actualdetail aa,sps_emp_actual bb
	WHERE
		aa.actual_id = bb.id
	GROUP BY
		aa.actual_id
	</select>
	
	
	 <!-- 查询总条数 -->
    <select id="FindByEmpIdCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT
			count(1) AS
		VALUE
		
		FROM
			sps_emp_actual bb,
			cm_employee cc,
			cm_corp,
			sp_cm_relation rela
		WHERE
			bb.emp_id = cc.emp_id
		AND cc.dr = 0
		AND bb.dr = 0
		AND bb.emp_id = cc.emp_id
		AND cm_corp.cp_id = cc.cp_id
		AND rela.cp_id = cm_corp.cp_id
		AND rela.sp_id = #{spId}
       <if test="identityCode != null">AND CONCAT(cc.name,IFNULL(cc.identity_code,'')) like concat('%',#{identityCode},'%')</if>
	<if test="period != null" >and bb.period like #{period}</if>
	<if test="cpId != null" >and cm_corp.cp_id = #{cpId}</if>
	<if test="authority != 'ALL'"> 
		AND cm_corp.cp_id in (${authority})
	</if>		
	
    </select>
	
	 <!-- 查询总条数 -->
    <select id="CountByAccIdAndPeriod" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as value
		from SPS_EMP_ACTUAL actual
		inner join SPS_EMP_ACTUALdetail detail on detail.actual_id = actual.id
		left join bd_insurance on bd_insurance.insurance_id = detail.insurance_id
		where actual.dr = 0 
        <if test="insuranceOrFund != null ">
            and bd_insurance.insurance_fund_type=#{insuranceOrFund}
        </if>
		<if test="insurance_accid != null" >and actual.insurance_accid = #{insurance_accid}</if>
		<if test="fund_accid != null" >and actual.fund_accid = #{fund_accid}</if>
		<if test="period != null" >and actual.period = #{period}</if>
		<if test="payType != null" >and actual.pay_type = #{payType}</if>
    </select>
	

</mapper>
