<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_FEE_EMPONCE" >
	<!-- Result Map-->
	<resultMap id="result_map_SPS_FEE_EMPONCE" type="com.xfs.bill.model.SpsFeeEmponce" >
		<result column="id" property="id"/>
		<result column="cp_id" property="cpId"/>
		<result column="sp_id" property="spId"/>
		<result column="emp_id" property="empId"/>
		<result column="official_fee" property="officialFee"/>
		<result column="service_fee" property="serviceFee"/>
		<result column="reason" property="reason"/>
		<result column="source" property="source"/>
		<result column="sourceid" property="sourceid"/>
		<result column="fee_type" property="feeType"/>
		<result column="period" property="period"/>
		<result column="pay_type" property="payType"/>
		<result column="insured_month" property="insuredMonth"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<result column="salary" property="salary"/>
	</resultMap>

	<!-- sps_fee_emponce table all fields -->
	<sql id="Base_Column_List" >
		id,cp_id,sp_id,emp_id,official_fee,service_fee,reason,source,sourceid,fee_type,period,pay_type,insured_month,create_by,create_dt,modify_by,modify_dt,dr,salary
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="cpId != null" >and cp_id = #{cpId}</if>
			<if test="spId != null" >and sp_id = #{spId}</if>
			<if test="empId != null" >and emp_id = #{empId}</if>
			<if test="officialFee != null" >and official_fee = #{officialFee}</if>
			<if test="serviceFee != null" >and service_fee = #{serviceFee}</if>
			<if test="reason != null" >and reason = #{reason}</if>
			<if test="source != null" >and source = #{source}</if>
			<if test="sourceid != null" >and sourceid = #{sourceid}</if>
			<if test="feeType != null" >and fee_type = #{feeType}</if>
			<if test="period != null" >and period = #{period}</if>
			<if test="payType != null" >and pay_type = #{payType}</if>
			<if test="insuredMonth != null" >and insured_month = #{insuredMonth}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id = #{id}</if>
			<if test="cpId != null">AND cp_id = #{cpId}</if>
			<if test="spId != null">AND sp_id = #{spId}</if>
			<if test="empId != null">AND emp_id = #{empId}</if>
			<if test="officialFee != null">AND official_fee like '%${officialFee}%'</if>
			<if test="serviceFee != null">AND service_fee like '%${serviceFee}%'</if>
			<if test="reason != null">AND reason like '%${reason}%'</if>
			<if test="reasonEq != null">AND reason = #{reasonEq}</if>
			<if test="source != null">AND source = #{source}</if>
			<if test="sourceid != null">AND sourceid = #{sourceid}</if>
			<if test="feeType != null">AND fee_type like '%${feeType}%'</if>
			<if test="feeTypeEq != null">AND fee_type = #{feeTypeEq}</if>
			<if test="period != null">AND period like '%${period}%'</if>
			<if test="periodEq != null">AND period = #{periodEq}</if>
			<if test="payType != null">AND pay_type like '%${payType}%'</if>
			<if test="payTypeEq != null">AND pay_type = #{payTypeEq}</if>
			<if test="insuredMonth != null">AND insured_month like '%${insuredMonth}%'</if>
			<if test="insuredMonthEq != null">AND insured_month = #{insuredMonthEq}</if>
			<if test="createBy != null">AND create_by = #{createBy}</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr = #{dr}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertSPS_FEE_EMPONCE" parameterType="Object" >
		INSERT INTO SPS_FEE_EMPONCE (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="cpId != null ">,cp_id</if>
			<if test="spId != null ">,sp_id</if>
			<if test="empId != null ">,emp_id</if>
			<if test="officialFee != null ">,official_fee</if>
			<if test="serviceFee != null ">,service_fee</if>
			<if test="reason != null ">,reason</if>
			<if test="source != null ">,source</if>
			<if test="sourceid != null ">,sourceid</if>
			<if test="feeType != null ">,fee_type</if>
			<if test="period != null ">,period</if>
			<if test="payType != null ">,pay_type</if>
			<if test="insuredMonth != null ">,insured_month</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="salary!=null">,salary</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="cpId != null ">,#{cpId}</if>
			<if test="spId != null ">,#{spId}</if>
			<if test="empId != null ">,#{empId}</if>
			<if test="officialFee != null ">,#{officialFee}</if>
			<if test="serviceFee != null ">,#{serviceFee}</if>
			<if test="reason != null ">,#{reason}</if>
			<if test="source != null ">,#{source}</if>
			<if test="sourceid != null ">,#{sourceid}</if>
			<if test="feeType != null ">,#{feeType}</if>
			<if test="period != null ">,#{period}</if>
			<if test="payType != null ">,#{payType}</if>
			<if test="insuredMonth != null ">,#{insuredMonth}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="salary != null ">,#{salary}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateSPS_FEE_EMPONCE" parameterType="Object" >
		UPDATE SPS_FEE_EMPONCE
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="cpId != null ">,cp_id=#{cpId}</if>
			<if test="spId != null ">,sp_id=#{spId}</if>
			<if test="empId != null ">,emp_id=#{empId}</if>
			<if test="officialFee != null ">,official_fee=#{officialFee}</if>
			<if test="serviceFee != null ">,service_fee=#{serviceFee}</if>
			<if test="reason != null ">,reason=#{reason}</if>
			<if test="source != null ">,source=#{source}</if>
			<if test="sourceid != null ">,sourceid=#{sourceid}</if>
			<if test="feeType != null ">,fee_type=#{feeType}</if>
			<if test="period != null ">,period=#{period}</if>
			<if test="payType != null ">,pay_type=#{payType}</if>
			<if test="insuredMonth != null ">,insured_month=#{insuredMonth}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="salary != null ">,salary=#{salary}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteSPS_FEE_EMPONCE">DELETE FROM SPS_FEE_EMPONCE WHERE ID=#{id}</delete>
	<!-- 任务单 列表总数-->
	<select id="CountFindAllSPS_FEE_EMPONCE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_FEE_EMPONCE</select>
	<select id="CountSPS_FEE_EMPONCE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_FEE_EMPONCE WHERE ID=#{id}</select>
	<!-- 根据id查询 任务单 -->
	<select id="FindByPK" resultMap="result_map_SPS_FEE_EMPONCE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_FEE_EMPONCE WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询  任务单 -->
	<select id="FreeFindSPS_FEE_EMPONCE" resultMap="result_map_SPS_FEE_EMPONCE" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_FEE_EMPONCE
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  任务单 记录数 -->
	<select id="CountFreeFindSPS_FEE_EMPONCE" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SPS_FEE_EMPONCE
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  任务单 -->
	<select id="FreeFindSPS_FEE_EMPONCEOrdered" resultMap="result_map_SPS_FEE_EMPONCE" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_FEE_EMPONCE
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/04 15:43:53 ** -->
<!-- ************************************************************************ -->


	<!-- 查询企业员工当月费用调整记录 -->
	<select id="QUERY_EMP_ITEMS_BY_PERIOD" resultMap="result_map_SPS_FEE_EMPONCE" parameterType="Object">
		SELECT emponce.* FROM sps_fee_emponce emponce
		<if test="null != sp_id ">
			INNER JOIN sp_cm_relation re ON re.cp_id = emponce.cp_id and emponce.sp_id=re.sp_id AND re.sp_id = #{sp_id} AND re.cp_id = #{cp_id}
		</if>
		<if test="null == sp_id ">
			WHERE emponce.cp_id = #{cp_id}
		</if>
		AND emponce.period = #{period} AND emponce.dr = 0 and emponce.emp_id =#{emp_id}
	</select>

	<!-- 逻辑删除费用调整记录 -->
	<update id="DEL_EMP_ITEMS_BY_ID"  parameterType="Object">
		UPDATE SPS_FEE_EMPONCE SET dr = #{dr}
		WHERE ID=#{id} AND sp_id=#{sp_id} AND emp_id=#{emp_id} AND cp_id=#{cp_id}
	</update>

	<resultMap id="result_map_SPS_FEE_EMPONCE_with_DETAIL" type="com.xfs.bill.model.SpsFeeEmponce" >
		<result column="id" property="id"/>
		<result column="cp_id" property="cpId"/>
		<result column="sp_id" property="spId"/>
		<result column="emp_id" property="empId"/>
		<result column="official_fee" property="officialFee"/>
		<result column="service_fee" property="serviceFee"/>
		<result column="reason" property="reason"/>
		<result column="source" property="source"/>
		<result column="fee_type" property="feeType"/>
		<result column="period" property="period"/>
		<result column="pay_type" property="payType"/>
		<result column="insured_month" property="insuredMonth"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<result column="salary" property="salary"/>
		<collection property="spsFeeDetails" javaType="List" ofType="com.xfs.bill.model.SpsFeeEmponcedetail" column="detail_id">
			<result column="detail_id" property="id"/>
			<result column="detail_emp_fee_id" property="empFeeId"/>
			<result column="detail_insurance_type" property="insuranceType"/>
			<result column="detail_state" property="state"/>
			<result column="detail_emp_ratio" property="empRatio"/>
			<result column="detail_corp_ratio" property="corpRatio"/>
			<result column="detail_emp_payment" property="empPayment"/>
			<result column="detail_corp_payment" property="corpPayment"/>
			<result column="detail_ratio_id" property="ratioId"/>
			<result column="detail_emp_paybase" property="empPaybase"/>
			<result column="detail_corp_paybase" property="corpPaybase"/>
			<result column="detail_corp_addition" property="corpAddition"/>
			<result column="detail_psn_addition" property="psnAddition"/>
      	</collection>
	</resultMap>
	
	<select id="findSPS_FEE_EMPONCE_with_Detail" resultMap="result_map_SPS_FEE_EMPONCE_with_DETAIL" parameterType="Object">
		SELECT emp.id,emp.cp_id,emp.sp_id,emp.emp_id,emp.official_fee,emp.service_fee,emp.reason,
		emp.source,emp.fee_type,emp.period,emp.pay_type,emp.insured_month,emp.create_by,emp.create_dt,
		emp.modify_by,emp.modify_dt,emp.dr,emp.salary,
		detail.id detail_id,detail.emp_fee_id detail_emp_fee_id,detail.insurance_type detail_insurance_type,detail.state detail_state,
		detail.emp_ratio detail_emp_ratio,detail.corp_ratio detail_corp_ratio,
		detail.emp_payment detail_emp_payment,detail.corp_payment detail_corp_payment,detail.ratio_id detail_ratio_id,detail.emp_paybase detail_emp_paybase,
		detail.corp_paybase detail_corp_paybase,detail.corp_addition detail_corp_addition,detail.psn_addition detail_psn_addition
		FROM SPS_FEE_EMPONCE emp
		left join sps_fee_emponcedetail detail on emp.id = detail.emp_fee_id
		where 
		emp.sp_id = #{spid} AND emp.cp_id = #{cpid} AND emp.period = #{period} AND emp.dr = 0
		and emp.emp_id in
        <foreach item="empid" index="index" collection="empIds" open="(" separator="," close=")">
            #{empid}
        </foreach>
	</select>

	<!-- 查询子帐单一次性费用 -->
	<select id="QUERY_CHILD_BILL_EMP_ITEMS" resultType="java.util.Map" parameterType="Object">
		SELECT emponce.*,emp.`name`,emp.identity_code FROM sps_fee_emponce emponce INNER JOIN cm_employee emp ON emponce.emp_id = emp.emp_id WHERE
		NOT EXISTS (SELECT id FROM sps_fee_emponce once WHERE once.sourceid=emponce.id AND once.cp_id = #{cp_id} AND once.source = 2
		AND once.sp_id = #{sp_id} AND once.dr = 0 AND once.period = #{period} ) AND emponce.cp_id = #{cp_id}
		 <![CDATA[ AND emponce.sp_id in (${p_sp_id})]]>
		 AND emponce.dr = 0 AND emponce.period = #{period}
	</select>

	<!-- 任务单算费 执行终止 给dr 改成1 同时带有限制条件  -->
	<update id="RemoveInsFunSupply" parameterType="Object">
		update sps_fee_emponce set dr=#{dr} where sourceid = #{sourceid} and source=#{source}
	</update>
</mapper>   
