<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CP_AREA" > 
<!-- Result Map-->
<resultMap id="result_map_CP_AREA" type="com.xfs.cp.model.CpArea" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="parent_id" property="parentId"/>
	<result column="dr" property="dr"/>
	<result column="pinyin" property="pinyin"/>
</resultMap>
       
<!-- cp_area table all fields -->
<sql id="Base_Column_List" >
	 id,name,parent_id,dr,pinyin
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="parentId != null" >and parent_id = #{parentId}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="pinyin != null" >and pinyin = #{pinyin}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id like '%${id}%'</if>
    <if test="idEq != null">AND id = #{idEq}</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="parentId != null">AND parent_id like '%${parentId}%'</if>
    <if test="parentIdEq != null">AND parent_id = #{parentIdEq}</if>
    <if test="dr != null">AND dr = #{dr}</if>
    <if test="pinyin != null">AND pinyin = #{pinyin}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertCP_AREA" parameterType="Object" >
  INSERT INTO CP_AREA (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="name != null ">,name</if>
	<if test="parentId != null ">,parent_id</if>
	<if test="dr != null ">,dr</if>
	<if test="pinyin != null ">,pinyin</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="name != null ">,#{name}</if>
	<if test="parentId != null ">,#{parentId}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="pinyin != null ">,#{pinyin}</if>
  </trim>
  )
  <selectKey resultType="String" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCP_AREA" parameterType="Object" >
UPDATE CP_AREA 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="parentId != null ">,parent_id=#{parentId}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="pinyin != null ">,pinyin=#{pinyin}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCP_AREA">DELETE FROM CP_AREA WHERE ID=#{id}</delete>
<!-- 服务区域 列表总数-->
<select id="CountFindAllCP_AREA" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_AREA</select>
<select id="CountCP_AREA" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_AREA WHERE ID=#{id}</select>
<!-- 根据id查询 服务区域 -->
<select id="FindByPK" resultMap="result_map_CP_AREA" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_AREA WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务区域 -->
<select id="FreeFindCP_AREA" resultMap="result_map_CP_AREA" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_AREA 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  服务区域 记录数 -->
<select id="CountFreeFindCP_AREA" resultType="java.lang.Integer">
SELECT count(1) as value FROM CP_AREA 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务区域 -->
<select id="FreeFindCP_AREAOrdered" resultMap="result_map_CP_AREA" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_AREA 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/10 16:19:46 ** -->
<!-- ************************************************************************ -->


	<!-- 根据ID 获取名称 -->
	<select id="findNameInId" resultType="java.lang.String" parameterType="java.lang.String">
		select GROUP_CONCAT(name) 
		FROM CP_AREA
		<if test="areaId != null" >where id in(${areaId})</if>
	</select>
	
	<!--  获取发包城市 -->
	<select id="findCityByPackage" resultMap="result_map_CP_AREA" parameterType="Object">
		select DISTINCT c.areacode as id, c.name as name ,c.pinyin
		from cp_package p 
		left join bs_area c on LOCATE(c.areacode,p.city)>0 
		where p.dr=0 and p.status=1 and length(c.code)=4 
		order by c.areacode
	</select>

</mapper>   
