<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CP_NOTE" > 
<!-- Result Map-->
<resultMap id="result_map_CP_NOTE" type="com.xfs.cp.model.CpNote" >
	<result column="id" property="id"/>
	<result column="sp_id_by" property="spIdBy"/>
	<result column="mobile" property="mobile"/>
	<result column="sp_id" property="spId"/>
	<result column="content" property="content"/>
	<result column="img" property="img"/>
	<result column="type" property="type"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- cp_note table all fields -->
<sql id="Base_Column_List" >
	 id,sp_id_by,mobile,sp_id,content,img,type,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="spIdBy != null" >and sp_id_by = #{spIdBy}</if>
	<if test="mobile != null" >and mobile = #{mobile}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="content != null" >and content = #{content}</if>
	<if test="img != null" >and img = #{img}</if>
	<if test="type != null" >and type = #{type}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="spIdBy != null">AND sp_id_by = #{spIdBy}</if>
    <if test="mobile != null">AND mobile = #{mobile}</if>
    <if test="spId != null">AND sp_id = #{spId}</if>
    <if test="content != null">AND content like '%${content}%'</if>
    <if test="contentEq != null">AND content = #{contentEq}</if>
    <if test="img != null">AND img like '%${img}%'</if>
    <if test="imgEq != null">AND img = #{imgEq}</if>
    <if test="type != null">AND type = #{type}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr = #{dr}</if>
  </trim>
</sql>
<!-- 获取留言和纠错个数 -->
<select id="queryNotePageCount" resultType="java.lang.Integer" parameterType="Object">
	select count(1)
	from cp_note cn
	<!-- <trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="beginTime != null" >and cn.create_dt &gt; #{beginTime}</if>
		<if test="endTime != null" >and cn.create_dt &lt; #{endTime}</if>
	</trim> -->
	<trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="beginTime != null" >and cn.create_dt &gt; #{beginTime}</if>
		<if test="endTime != null" >and cn.modify_dt &lt; #{endTime}</if>
		<if test="id !=null">and id = #{id}</if>
	</trim>
</select>
<!-- 获取留言和纠错 -->
<select id="queryNotePage" resultType="Map" parameterType="Object">
	select cn.create_dt,cn.mobile,cn.type,cn.content,cn.img,cn.status,cn.back_content,cn.id
	from cp_note cn
	<trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="beginTime != null" >and cn.create_dt &gt; #{beginTime}</if>
		<if test="endTime != null" >and cn.modify_dt &lt; #{endTime}</if>
		<if test="id !=null">and id = #{id}</if>
	</trim>
	order by cn.id desc
</select>
<!-- 插入记录 -->
<insert id="InsertCP_NOTE" parameterType="Object" >
  INSERT INTO CP_NOTE (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="spIdBy != null ">,sp_id_by</if>
	<if test="mobile != null ">,mobile</if>
	<if test="spId != null ">,sp_id</if>
	<if test="content != null ">,content</if>
	<if test="img != null ">,img</if>
	<if test="type != null ">,type</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="spIdBy != null ">,#{spIdBy}</if>
	<if test="mobile != null ">,#{mobile}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="content != null ">,#{content}</if>
	<if test="img != null ">,#{img}</if>
	<if test="type != null ">,#{type}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCP_NOTE" parameterType="Object" >
UPDATE CP_NOTE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="spIdBy != null ">,sp_id_by=#{spIdBy}</if>
	<if test="mobile != null ">,mobile=#{mobile}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="content != null ">,content=#{content}</if>
	<if test="img != null ">,img=#{img}</if>
	<if test="type != null ">,type=#{type}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="status != null ">,status=#{status}</if>
	<if test="backContent != null ">,back_content=#{backContent}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCP_NOTE">DELETE FROM CP_NOTE WHERE ID=#{id}</delete>
<!-- 纠错和留言表 列表总数-->
<select id="CountFindAllCP_NOTE" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_NOTE</select>
<select id="CountCP_NOTE" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_NOTE WHERE ID=#{id}</select>
<!-- 根据id查询 纠错和留言表 -->
<select id="FindByPK" resultMap="result_map_CP_NOTE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_NOTE WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  纠错和留言表 -->
<select id="FreeFindCP_NOTE" resultMap="result_map_CP_NOTE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_NOTE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  纠错和留言表 记录数 -->
<select id="CountFreeFindCP_NOTE" resultType="java.lang.Integer">
SELECT count(1) as value FROM CP_NOTE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  纠错和留言表 -->
<select id="FreeFindCP_NOTEOrdered" resultMap="result_map_CP_NOTE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_NOTE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/13 15:14:40 ** -->
<!-- ************************************************************************ -->




</mapper>   
