<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CP_ORDER_LOG" > 
<!-- Result Map-->
<resultMap id="result_map_CP_ORDER_LOG" type="com.xfs.cp.model.CpOrderLog" >
	<result column="id" property="id"/>
	<result column="cp_order_id" property="cpOrderId"/>
	<result column="operation_time" property="operationTime"/>
	<result column="status" property="status"/>
	<result column="file_id" property="fileId"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
	<result column="stage" property="stage"/>
	<result column="content" property="content"/>
	
</resultMap>
       
<!-- cp_order_log table all fields -->
<sql id="Base_Column_List" >
	 id,cp_order_id,operation_time,status,file_id,create_by,create_dt,modify_by,modify_dt,dr,stage,content
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="cpOrderId != null" >and cp_order_id = #{cpOrderId}</if>
	<if test="operationTime != null" >and operation_time = #{operationTime}</if>
	<if test="status != null" >and status = #{status}</if>
	<if test="fileId != null" >and file_id = #{fileId}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="stage != null" >and stage = #{stage}</if>
	<if test="content != null" >and content = #{content}</if>
	
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="cpOrderId != null">AND cp_order_id = #{cpOrderId}</if>
    <if test="operationTime != null">AND operation_time = #{operationTime}</if>
    <if test="operationTimeFrom != null">AND operation_time&gt;=#{operationTimeFrom}</if>
	<if test="operationTimeTo != null">AND operation_time&lt;=#{operationTimeTo}</if>
    <if test="status != null">AND status = #{status}</if>
    <if test="fileId != null">AND file_id like '%${fileId}%'</if>
    <if test="fileIdEq != null">AND file_id = #{fileIdEq}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr = #{dr}</if>
    <if test="stage != null">AND stage = #{stage}</if>
    <if test="content != null">AND content = #{content}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertCP_ORDER_LOG" parameterType="Object" >
  INSERT INTO CP_ORDER_LOG (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="cpOrderId != null ">,cp_order_id</if>
	<if test="operationTime != null ">,operation_time</if>
	<if test="status != null ">,status</if>
	<if test="fileId != null ">,file_id</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
	<if test="stage != null ">,stage</if>
	<if test="content != null ">,content</if>
	
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="cpOrderId != null ">,#{cpOrderId}</if>
	<if test="operationTime != null ">,#{operationTime}</if>
	<if test="status != null ">,#{status}</if>
	<if test="fileId != null ">,#{fileId}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="stage != null ">,#{stage}</if>
	<if test="content != null ">,#{content}</if>
	
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCP_ORDER_LOG" parameterType="Object" >
UPDATE CP_ORDER_LOG 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="cpOrderId != null ">,cp_order_id=#{cpOrderId}</if>
	<if test="operationTime != null ">,operation_time=#{operationTime}</if>
	<if test="status != null ">,status=#{status}</if>
	<if test="fileId != null ">,file_id=#{fileId}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="stage != null ">,stage=#{stage}</if>
	<if test="content != null ">,content=#{content}</if>
	
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCP_ORDER_LOG">DELETE FROM CP_ORDER_LOG WHERE ID=#{id}</delete>
<!-- 订单操作信息表 列表总数-->
<select id="CountFindAllCP_ORDER_LOG" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_ORDER_LOG</select>
<select id="CountCP_ORDER_LOG" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_ORDER_LOG WHERE ID=#{id}</select>
<!-- 根据id查询 订单操作信息表 -->
<select id="FindByPK" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_ORDER_LOG WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  订单操作信息表 -->
<select id="FreeFindCP_ORDER_LOG" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_ORDER_LOG 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  订单操作信息表 记录数 -->
<select id="CountFreeFindCP_ORDER_LOG" resultType="java.lang.Integer">
SELECT count(1) as value FROM CP_ORDER_LOG 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  订单操作信息表 -->
<select id="FreeFindCP_ORDER_LOGOrdered" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CP_ORDER_LOG 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/11 19:12:26 ** -->
<!-- ************************************************************************ -->

<select id="findCurrStageLogByOrderPks" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
	select l.* from
	(select order_id,stage ,id from cp_order
	where id in
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
		#{item}
	</foreach>
	) o left join cp_order_log l on o.order_id = l.cp_order_id and o.stage = l.stage where l.id is not null
</select>


<select id="findStep4NeedPayOrder" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
	select l.* from
	(select order_id, stage ,id from cp_order where stage = 4 and dr = 0) o
	left join cp_order_log l on o.order_id = l.cp_order_id and o.stage = l.stage and l.status = 42
	where l.id is not null and DATE_ADD(l.create_dt,INTERVAL 10 DAY) &lt;= now();
</select>

<!-- 根据ORDERID查询 订单操作信息表 -->
	<select id="FindByOD" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CP_ORDER_LOG
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpOrderId != null" >and cp_order_id = #{cpOrderId}</if>
			<if test="status != null" >and status = #{status}</if>
		</trim>
	</select>
	
	<!-- 根据order_id和状态查询 订单操作信息表 -->
	<select id="findOneCpOrderLog" resultMap="result_map_CP_ORDER_LOG" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> 
		FROM CP_ORDER_LOG 
		<include refid="Example_Where_Clause" />
		ORDER BY ID DESC 
		LIMIT 0,1
	</select>
	
	<!-- 根据订单ID和状态更新LOG日志-->  
	<update id="updateByCpOrderLogId" parameterType="Object" >
	UPDATE CP_ORDER_LOG 
	  <trim prefix=" SET " prefixOverrides=",">
		<if test="operationTime != null ">,operation_time=#{operationTime}</if>
		<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
		<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
		<if test="dr != null ">,dr=#{dr}</if>
	  </trim>
	WHERE 1=1
	<if test="cpOrderId != null "> and cp_order_id=#{cpOrderId}</if>
	<if test="status != null ">and status=#{status}</if>
	</update>
</mapper>
