<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CP_ORDER" >
	<!-- Result Map-->
	<resultMap id="result_map_CP_ORDER" type="com.xfs.cp.model.CpOrder" >
		<result column="id" property="id"/>
		<result column="cp_relation_id" property="cpRelationId"/>
		<result column="operation_time" property="operationTime"/>
		<result column="order_id" property="orderId"/>
		<result column="stage" property="stage"/>
		<result column="a_sp_id" property="aSpId"/>
		<result column="b_sp_id" property="bSpId"/>
		<result column="person_num" property="personNum"/>
		<result column="price" property="price"/>
		<result column="ispay" property="ispay"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<result column="create_type" property="createType"/>
		<result column="pay_type" property="payType"/>
		<result column="pay_voucher_id" property="payVoucherId"/>
		<result column="pay_info" property="payInfo"/>
		<result column="current_status" property="currentStatus"/>
		<result column="please_status" property="pleaseStatus"/>
		<result column="please_content" property="pleaseContent"/>
		<result column="please_by" property="pleaseBy"/>
		<result column="comein_by" property="comeinBy"/>
		<result column="comein_dt" property="comeinDt"/>
		<result column="please_dt" property="pleaseDt"/>
		<result column="comein_audit_dt" property="comeinAuditDt"/>
		<result column="please_audit_dt" property="pleaseAuditDt"/>
		<result column="comein_content" property="comeinContent"/>
		<result column="amobile" property="amobile"/>
		<result column="bmobile" property="bmobile"/>
		<result column="cabank" property="cabank"/>
		<result column="cacode" property="cacode"/>
		<result column="caname" property="caname"/>
		<result column="comeinName" property="comeinName"/>
		<result column="pleaseName" property="pleaseName"/>
		<result column="is_rejected" property="isRejected"/>
		<result column="is_view_rejected" property="isViewRejected"/>
		<result column="bill_num" property="billNum"/>
		<result column="service_price" property="servicePrice"/>
		<result column="public_price" property="publicPrice"/>
		
		<result column="amount" property="amount"/>
		<result column="use_balance" property="useBalance"/>
		<result column="already_check" property="alreadyCheck"/>
		<result column="voucher_status" property="voucherStatus"/>
		<result column="outer_trade_no" property="outerTradeNo"/>
		<result column="bus_id" property="busId"/>
		<result column="voucherOrderId" property="voucherOrderId"/>
		
	</resultMap>

	<!-- cp_order table all fields -->
	<sql id="Base_Column_List" >
	 id,cp_relation_id,operation_time,order_id,stage,a_sp_id,b_sp_id,person_num,price,ispay,create_by,create_dt
	 ,modify_by,modify_dt,dr,create_type,pay_type,pay_voucher_id,pay_info,current_status,please_status,please_content
	 ,comein_content,comein_audit_dt,please_audit_dt,comein_by,please_by,is_rejected,is_view_rejected,bill_num,service_price,public_price
</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="cpRelationId != null" >and cp_relation_id = #{cpRelationId}</if>
			<if test="operationTime != null" >and operation_time = #{operationTime}</if>
			<if test="orderId != null" >and order_id = #{orderId}</if>
			<if test="stage != null" >and stage = #{stage}</if>
			<if test="aSpId != null" >and a_sp_id = #{aSpId}</if>
			<if test="bSpId != null" >and b_sp_id = #{bSpId}</if>
			<if test="personNum != null" >and person_num = #{personNum}</if>
			<if test="price != null" >and price = #{price}</if>
			<if test="ispay != null" >and ispay = #{ispay}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="createType != null" >and create_type = #{createType}</if>
			<if test="currentStatus != null" >and current_status = #{currentStatus}</if>
			<if test="createType != null" >and create_type = #{createType}</if>
			<if test="pleaseStatus != null" >and please_status = #{pleaseStatus}</if>
			<if test="pleaseContent != null" >and please_content = #{pleaseContent}</if>
			<if test="payType != null" >and pay_type in (${payType})</if>
			<if test="isRejected != null" >and is_rejected in (${isRejected})</if>
			<if test="isViewRejected != null" >and is_view_rejected in (${isViewRejected})</if>
			<if test="billNum != null" >and bill_num = #{billNum}</if>
			<if test="servicePrice != null" >and service_price = #{servicePrice}</if>
			<if test="publicPrice != null" >and public_price = #{publicPrice}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id = #{id}</if>
			<if test="cpRelationId != null">AND cp_relation_id = #{cpRelationId}</if>
			<if test="operationTime != null">AND operation_time = #{operationTime}</if>
			<if test="operationTimeFrom != null">AND operation_time&gt;=#{operationTimeFrom}</if>
			<if test="operationTimeTo != null">AND operation_time&lt;=#{operationTimeTo}</if>
			<if test="orderId != null">AND order_id = #{orderId}</if>
			<if test="stage != null">AND stage = #{stage}</if>
			<if test="aSpId != null">AND a_sp_id = #{aSpId}</if>
			<if test="bSpId != null">AND b_sp_id = #{bSpId}</if>
			<if test="personNum != null">AND person_num = #{personNum}</if>
			<if test="price != null">AND price like '%${price}%'</if>
			<if test="ispay != null">AND ispay = #{ispay}</if>
			<if test="createBy != null">AND create_by = #{createBy}</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr = #{dr}</if>
			<if test="createType != null">AND create_type = #{createType}</if>
			<if test="pleaseStatus != null">AND please_status = #{pleaseStatus}</if>
			<if test="pleaseContent != null">AND please_content = #{pleaseContent}</if>
			<if test="currentStatus != null">AND current_status = #{currentStatus}</if>
			<if test="comeinContent != null">AND comein_content = #{comeinContent}</if>
			<if test="payType != null" >and pay_type in (${payType})</if>
			<if test="isRejected != null" >and is_rejected in (${isRejected})</if>
			<if test="isViewRejected != null" >and is_view_rejected in (${isViewRejected})</if>
			<if test="billNum != null" >and bill_num = #{billNum}</if>
			<if test="servicePrice != null" >and service_price = #{servicePrice}</if>
			<if test="publicPrice != null" >and public_price = #{publicPrice}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertCP_ORDER" parameterType="Object" >
		INSERT INTO CP_ORDER (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="cpRelationId != null ">,cp_relation_id</if>
			<if test="operationTime != null ">,operation_time</if>
			<if test="orderId != null ">,order_id</if>
			<if test="stage != null ">,stage</if>
			<if test="aSpId != null ">,a_sp_id</if>
			<if test="bSpId != null ">,b_sp_id</if>
			<if test="personNum != null ">,person_num</if>
			<if test="price != null ">,price</if>
			<if test="ispay != null ">,ispay</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="createType != null ">,create_type</if>
			<if test="payType != null ">,pay_type</if>
			<if test="payVoucherId != null ">,pay_voucher_id</if>
			<if test="payInfo != null ">,pay_info</if>
			<if test="currentStatus != null ">,current_status</if>
			<if test="aSpRead != null ">,a_sp_read</if>
			<if test="bSpRead != null ">,b_sp_read</if>
			<if test="pleaseStatus != null ">,please_status</if>
			<if test="pleaseContent != null ">,please_content</if>
			<if test="comeinContent != null ">,comein_content</if>
			<if test="comeinAuditDt != null ">,comein_audit_dt</if>
			<if test="pleaseAuditDt != null ">,please_audit_dt</if>
			<if test="comeinBy != null ">,comein_by</if>
			<if test="pleaseBy != null ">,please_by</if>
			<if test="isRejected != null ">,is_rejected</if>
			<if test="isViewRejected != null ">,is_view_rejected</if>
			<if test="billNum != null" >,bill_num</if>
			<if test="servicePrice != null" >,service_price</if>
			<if test="publicPrice != null" >,public_price</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="cpRelationId != null ">,#{cpRelationId}</if>
			<if test="operationTime != null ">,#{operationTime}</if>
			<if test="orderId != null ">,#{orderId}</if>
			<if test="stage != null ">,#{stage}</if>
			<if test="aSpId != null ">,#{aSpId}</if>
			<if test="bSpId != null ">,#{bSpId}</if>
			<if test="personNum != null ">,#{personNum}</if>
			<if test="price != null ">,#{price}</if>
			<if test="ispay != null ">,#{ispay}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="createType != null ">,#{createType}</if>
			<if test="payType != null ">,#{payType}</if>
			<if test="payVoucherId != null ">,#{payVoucherId}</if>
			<if test="payInfo != null ">,#{payInfo}</if>
			<if test="currentStatus != null ">,#{currentStatus}</if>
			<if test="aSpRead != null ">,#{aSpRead}</if>
			<if test="bSpRead != null ">,#{bSpRead}</if>
			<if test="pleaseStatus != null ">,#{pleaseStatus}</if>
			<if test="pleaseContent != null ">,#{pleaseContent}</if>
			<if test="comeinContent != null" >,#{comeinContent}</if>
			<if test="comeinAuditDt != null ">,#{comeinAuditDt}</if>
			<if test="pleaseAuditDt != null ">,#{pleaseAuditDt}</if>
			<if test="comeinBy != null ">,#{comeinBy}</if>
			<if test="pleaseBy != null ">,#{pleaseBy}</if>
			<if test="isRejected != null ">,#{isRejected}</if>
			<if test="isViewRejected != null ">,#{isViewRejected}</if>
			<if test="billNum != null" >,#{billNum}</if>
			<if test="servicePrice != null" >,#{servicePrice}</if>
			<if test="publicPrice != null" >,#{publicPrice}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateCP_ORDER" parameterType="Object" >
		UPDATE CP_ORDER
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="cpRelationId != null ">,cp_relation_id=#{cpRelationId}</if>
			<if test="operationTime != null ">,operation_time=#{operationTime}</if>
			<if test="orderId != null ">,order_id=#{orderId}</if>
			<if test="stage != null ">,stage=#{stage}</if>
			<if test="aSpId != null ">,a_sp_id=#{aSpId}</if>
			<if test="bSpId != null ">,b_sp_id=#{bSpId}</if>
			<if test="personNum != null ">,person_num=#{personNum}</if>
			<if test="price != null ">,price=#{price}</if>
			<if test="ispay != null ">,ispay=#{ispay}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="createType != null ">,create_type=#{createType}</if>
			<if test="payType != null ">,pay_type=#{payType}</if>
			<if test="payVoucherId != null ">,pay_voucher_id=#{payVoucherId}</if>
			<if test="payInfo != null ">,pay_info=#{payInfo}</if>
			<if test="currentStatus != null ">,current_status=#{currentStatus}</if>
			<if test="aSpRead != null ">,a_sp_read=#{aSpRead}</if>
			<if test="bSpRead != null ">,b_sp_read=#{bSpRead}</if>
			<if test="pleaseStatus != null ">,please_status=#{pleaseStatus}</if>
			<if test="pleaseContent != null ">,please_content=#{pleaseContent}</if>
			<if test="comeinContent != null" >,comein_content = #{comeinContent}</if>
			<if test="comeinAuditDt != null ">,comein_audit_dt = #{comeinAuditDt}</if>
			<if test="pleaseAuditDt != null ">,please_audit_dt = #{pleaseAuditDt}</if>
			<if test="comeinBy != null ">,comein_by = #{comeinBy}</if>
			<if test="pleaseBy != null ">,please_by = #{pleaseBy}</if>
			<if test="isRejected != null ">,is_rejected = #{isRejected}</if>
			<if test="isViewRejected != null ">,is_view_rejected = #{isViewRejected}</if>
			<if test="billNum != null" >,bill_num = #{billNum}</if>
			<if test="servicePrice != null" >,service_price = #{servicePrice}</if>
			<if test="publicPrice != null" >,public_price = #{publicPrice}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 根据order_id，修改记录-->
	<update id="updateByOrderId" parameterType="Object" >
		UPDATE CP_ORDER
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="cpRelationId != null ">,cp_relation_id=#{cpRelationId}</if>
			<if test="operationTime != null ">,operation_time=#{operationTime}</if>
			<if test="orderId != null ">,order_id=#{orderId}</if>
			<if test="stage != null ">,stage=#{stage}</if>
			<if test="aSpId != null ">,a_sp_id=#{aSpId}</if>
			<if test="bSpId != null ">,b_sp_id=#{bSpId}</if>
			<if test="personNum != null ">,person_num=#{personNum}</if>
			<if test="price != null ">,price=#{price}</if>
			<if test="ispay != null ">,ispay=#{ispay}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="createType != null ">,create_type=#{createType}</if>
			<if test="payType != null ">,pay_type=#{payType}</if>
			<if test="payVoucherId != null ">,pay_voucher_id=#{payVoucherId}</if>
			<if test="payInfo != null ">,pay_info=#{payInfo}</if>
			<if test="currentStatus != null ">,current_status=#{currentStatus}</if>
			<if test="aSpRead != null ">,a_sp_read=#{aSpRead}</if>
			<if test="bSpRead != null ">,b_sp_read=#{bSpRead}</if>
			<if test="pleaseStatus != null ">,please_status=#{pleaseStatus}</if>
			<if test="pleaseContent != null ">,please_content=#{pleaseContent}</if>
			<if test="comeinContent != null" >,comein_content = #{comeinContent}</if>
			<if test="comeinAuditDt != null ">,comein_audit_dt = #{comeinAuditDt}</if>
			<if test="pleaseAuditDt != null ">,please_audit_dt = #{pleaseAuditDt}</if>
			<if test="comeinBy != null ">,comein_by = #{comeinBy}</if>
			<if test="pleaseBy != null ">,please_by = #{pleaseBy}</if>
			<if test="isRejected != null ">,is_rejected = #{isRejected}</if>
			<if test="isViewRejected != null ">,is_view_rejected = #{isViewRejected}</if>
			<if test="billNum != null" >,bill_num = #{billNum}</if>
			<if test="servicePrice != null" >,service_price = #{servicePrice}</if>
			<if test="publicPrice != null" >,public_price = #{publicPrice}</if>
		</trim>
		WHERE ORDER_ID=#{orderId}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteCP_ORDER">DELETE FROM CP_ORDER WHERE ID=#{id}</delete>
	<!-- 订单表 列表总数-->
	<select id="CountFindAllCP_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_ORDER</select>
	<select id="CountCP_ORDER" resultType="java.lang.Integer">SELECT count(1) as value FROM CP_ORDER WHERE ID=#{id}</select>
	<!-- 根据id查询 订单表 -->
	<select id="FindByPK" resultMap="result_map_CP_ORDER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_ORDER WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询  订单表 -->
	<select id="FreeFindCP_ORDER" resultMap="result_map_CP_ORDER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CP_ORDER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  订单表 记录数 -->
	<select id="CountFreeFindCP_ORDER" resultType="java.lang.Integer">
		SELECT count(1) as value FROM CP_ORDER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  订单表 -->
	<select id="FreeFindCP_ORDEROrdered" resultMap="result_map_CP_ORDER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CP_ORDER
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/09/11 19:12:26 ** -->
	<!-- ************************************************************************ -->

	<!-- 根据orderId查询 订单表 -->
	<select id="FindByOrderId" resultMap="result_map_CP_ORDER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CP_ORDER WHERE order_id=#{orderId}</select>


	<select id="findASpOrder" resultMap="result_map_CP_ORDER" parameterType="Object">
		select o.* from (
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 1 and c.dr = 0
		union all
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 2  and c.stage >1 and c.price is not null and c.dr = 0
		) o order by o.modify_dt desc
	</select>

	<select id="findASpOrderCount"  parameterType="Object"  resultType="java.lang.Integer">
		select count(1) as value from
		(
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 1 and c.dr = 0
		union all
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 2  and c.stage >1 and c.price is not null and c.dr = 0
		) o
	</select>

	<select id="findBSpOrder" resultMap="result_map_CP_ORDER" parameterType="Object">
		select o.* from (
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 2 and c.dr = 0
		union all
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 1  and c.stage > 1 and c.dr = 0
		) o order by o.modify_dt desc
	</select>

	<select id="findBSpOrderCount"  parameterType="Object"  resultType="java.lang.Integer">
		select count(1) as value from
		(
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 2 and c.dr = 0
		union all
		SELECT c.* FROM CP_ORDER c WHERE c.cp_relation_id=#{cpRelationId} <if test="orderId != null">AND c.order_id = #{orderId}</if> AND c.create_type = 1  and c.stage > 1 and c.dr = 0
		) o
	</select>

	<select id="findNotFinishOrder" resultMap="result_map_CP_ORDER" parameterType="Object">
		select cp.* from cp_order cp
		<if test="aSpId != null">
			inner join cp_service s on cp.b_sp_id = s.id and s.dr=0 and s.isuse=1
		</if>
		<if test="bSpId != null">
			inner join cp_service s on cp.a_sp_id = s.id and s.dr=0 and s.isuse=1
		</if>
		where cp.dr = 0
		<if test="aSpId != null">and cp.a_sp_id = #{aSpId} AND cp.a_sp_read = '0'</if>
		<if test="bSpId != null">and cp.b_sp_id = #{bSpId} AND cp.b_sp_read = '0'</if>
		<if test="cpRelationId != null">and cp.cp_relation_id = #{cpRelationId}</if>
		and cp.current_status &lt; 52

	</select>

	<!--服务商查询自己未完成且未关注（本人查看）的派/接单任务的数量-->
	<select id="findNotFinishNoReadOrder" resultType="java.lang.Integer" parameterType="Object">
		select count(cp.id) from cp_order cp
		where cp.dr = 0 and
		( ( cp.a_sp_id = #{aSpId} AND cp.a_sp_read = '0') or
		(cp.b_sp_id = #{bSpId} AND cp.b_sp_read = '0') )  <!--where ：1服务商自己的，2未查看的(需要查看的)-->
	</select>

	<!-- 获取接单成功数和价格 -->
	<select id="findOrderNumByBSpId" parameterType="Object" resultMap="result_map_CP_ORDER">
		select COUNT(cp.id) id, sum(cp.price) price from cp_order cp
		where cp.b_sp_id=#{bSpId} and cp.ispay=1
		<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
	</select>

	<!-- 协作收款 记录数-->
	<select id="FreeFindAccount_Count" resultType="java.lang.Integer">
        SELECT COUNT(1) AS VALUE FROM
        (SELECT COUNT(1) AS VALUE
		FROM cp_order AS co
		LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
		LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
		LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
		LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
		left join sys_user as u on co.comein_by = u.user_id
		inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = #{currentStatus} and log.dr=0
		<if test="voucherStatus == 1">
			left join bl_pay_voucher v on co.order_id=v.outer_trade_no and v.pay_type='OFFLINE'
		</if>
		where 1=1 
		<if test="payType == null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="payType != null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="voucherStatus == 1">
			<if test="ispay != null and ispay == 0">AND (v.`status`=3 or v.status = 0) and (v.already_check = 0 or v.already_check is null)</if>
			<if test="ispay != null and ispay == 1">AND v.status = 1 </if>
			<if test="ispay != null and ispay == 2">AND v.status = 2 </if>
			<if test="ispay != null and ispay == 3">AND (v.status = 0 or v.status = 3) and v.already_check > 0</if>
		</if>
		<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
		<if test="currentStatus != null">AND co.current_status &gt;= #{currentStatus}</if>
		<if test="payType != null">AND co.pay_type  in (${payType})</if>
		<!-- <if test="orderId != null">AND co.order_id = #{orderId}</if> -->
		<if test="pleaseStatus != null">AND co.please_status = #{pleaseStatus}</if>
		and co.dr=0
		GROUP BY co.order_id) as cc
	</select>

	<!-- 协作收款 列表-->
	<select id="FreeFindAccount_Manage" resultMap="result_map_CP_ORDER" parameterType="Object">
		SELECT co.id
		,co.bill_num
		,co.order_id
        ,co.pay_type AS payType
		,a.name AS csaname
		,b.name AS csbname
		,log.create_dt
		,ifnull(co.price,0) AS price
		,co.pay_voucher_id
		,co.ispay
		,co.comein_audit_dt
		,ca.bank AS cabank
		,ca.code AS cacode
		,ca.name AS caname
		,cab.bank AS cabbank
		,cab.code AS cabcode
		,cab.name AS cabname
		,co.please_status
		,co.please_audit_dt
		,c.user_name AS comeinName
		,p.user_name AS pleaseName
		,co.please_content
		,a.mobile AS caccountMobile
		,b.mobile AS accountMobile
		
		<if test="voucherStatus == 1">
		,v.amount,v.use_balance,v.already_check,v.status as voucher_status,v.outer_trade_no,v.bus_id,v.id as voucherOrderId
		</if>
		
		FROM cp_order AS co
		LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
		LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
		LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
		LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
		left join sys_user as c on co.comein_by = c.user_id
		left join sys_user as p on co.please_by = p.user_id
		inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = #{currentStatus} and log.dr=0
		<if test="voucherStatus == 1">
			left join bl_pay_voucher v on co.order_id=v.outer_trade_no and v.pay_type='OFFLINE'
		</if>
		where 1=1 
		<if test="payType == null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="payType != null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="voucherStatus == 1">
			<if test="ispay != null and ispay == 0">AND (v.`status`=3 or v.status = 0) and (v.already_check = 0 or v.already_check is null)</if>
			<if test="ispay != null and ispay == 1">AND v.status = 1 </if>
			<if test="ispay != null and ispay == 2">AND v.status = 2 </if>
			<if test="ispay != null and ispay == 3">AND (v.status = 0 or v.status = 3) and v.already_check > 0</if>
		</if>
		<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
		<if test="currentStatus != null">AND co.current_status &gt;= #{currentStatus}</if>
		<if test="payType != null">AND co.pay_type  in (${payType})</if>
		<!-- <if test="orderId != null">AND co.order_id = #{orderId}</if> -->
		<if test="pleaseStatus != null">AND co.please_status = #{pleaseStatus}</if>
		and co.dr=0
		GROUP BY co.order_id
		ORDER BY log.create_dt DESC
	</select>

	<!-- 待付款金额-->
	<select id="QUERY_EXP_AMOUNT" resultType="java.util.Map">
		SELECT sum(co.price) AS expend_office_fee
		from (
        SELECT co.id
        ,co.order_id
        ,co.pay_type AS payType
        ,a.name AS csaname
        ,b.name AS csbname
        ,log.create_dt
        ,ifnull(co.price,0) AS price
        ,co.pay_voucher_id
        ,co.ispay
        ,co.comein_audit_dt
        ,ca.bank AS cabank
        ,ca.code AS cacode
        ,ca.name AS caname
        ,cab.bank AS cabbank
        ,cab.code AS cabcode
        ,cab.name AS cabname
        ,co.please_status
        ,co.please_audit_dt
        ,c.user_name AS comeinName
        ,p.user_name AS pleaseName
        ,co.please_content
        ,a.mobile AS caccountMobile
        ,b.mobile AS accountMobile
        FROM cp_order AS co
        LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
        LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
        LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
        LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
        left join sys_user as c on co.comein_by = c.user_id
        left join sys_user as p on co.please_by = p.user_id
        inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = 43 and log.dr=0
        where 1=1 
        <if test="payType == null">
            <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
        </if>
        <if test="payType != null">
            <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
        </if>
        <if test="ispay != null">AND co.ispay = #{ispay}</if>
        <if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
        <if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
        <if test="currentStatus != null">AND co.current_status &gt;= 43</if>
        <if test="payType != null">AND co.pay_type  in (${payType})</if>
        <if test="pleaseStatus!=null">
            <if test="pleaseStatus==0">AND co.please_status='0'</if>
            <if test="pleaseStatus!=0">AND co.please_status='3'</if>
        </if>
        <if test="pleaseStatus == null">AND co.please_status = '0'</if>
        and co.dr=0
        GROUP BY co.order_id
        ORDER BY log.create_dt DESC

        <!--SELECT co.price,please_status,order_id,a.name,log.create_dt-->
		<!--FROM cp_order AS co-->
		<!--LEFT JOIN cp_service AS a ON co.a_sp_id=a.id-->
		<!--left JOIN cp_order_log as log on co.order_id=log.cp_order_id and log.dr=0-->
        <!--LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id and cab.dr=0-->
		<!--WHERE co.dr=0-->
		<!--and co.ispay = 1-->
		<!--and co.current_status &gt; 41-->
		<!--<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>-->
		<!--<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>-->
		<!--<if test="pleaseStatus!=null">-->
			<!--<if test="pleaseStatus==0">AND co.please_status='0'</if>-->
			<!--<if test="pleaseStatus!=0">AND co.please_status='3'</if>-->
		<!--</if>-->
		<!--<if test="pleaseStatus == null">AND co.please_status = '0'</if>-->
		<!--<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>-->

		<!--group by co.id-->

        ) AS co

	</select>

	<!--已付款金额 -->
	<select id="QUERY_PAY_AMOUNT" resultType="java.util.Map">
		SELECT sum(co.price) AS expend_office_fee
		from (
            SELECT co.id
            ,co.order_id
            ,co.pay_type AS payType
            ,a.name AS csaname
            ,b.name AS csbname
            ,log.create_dt
            ,ifnull(co.price,0) AS price
            ,co.pay_voucher_id
            ,co.ispay
            ,co.comein_audit_dt
            ,ca.bank AS cabank
            ,ca.code AS cacode
            ,ca.name AS caname
            ,cab.bank AS cabbank
            ,cab.code AS cabcode
            ,cab.name AS cabname
            ,co.please_status
            ,co.please_audit_dt
            ,c.user_name AS comeinName
            ,p.user_name AS pleaseName
            ,co.please_content
            ,a.mobile AS caccountMobile
            ,b.mobile AS accountMobile
            FROM cp_order AS co
            LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
            LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
            LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
            LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
            left join sys_user as c on co.comein_by = c.user_id
            left join sys_user as p on co.please_by = p.user_id
            inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = 43 and log.dr=0
            where 1=1 
            <if test="payType == null">
                <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
            </if>
            <if test="payType != null">
                <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
            </if>
            <if test="ispay != null">AND co.ispay = #{ispay}</if>
            <if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
            <if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
            <if test="currentStatus != null">AND co.current_status &gt;= 43</if>
            <if test="payType != null">AND co.pay_type  in (${payType})</if>
            <!-- <if test="orderId != null">AND co.order_id = #{orderId}</if> -->
            <if test="pleaseStatus!=null">
            <if test="pleaseStatus==1">AND co.please_status='1'</if>
            <if test="pleaseStatus!=1">AND co.please_status='3'</if>
            </if>
            <if test="pleaseStatus == null">AND co.please_status = '1'</if>
            and co.dr=0
            GROUP BY co.order_id
            ORDER BY log.create_dt DESC
        <!--SELECT co.price,please_status,order_id,a.name,log.create_dt-->
		<!--FROM cp_order AS co-->
		<!--LEFT JOIN cp_service AS a ON co.a_sp_id=a.id-->
		<!--left JOIN cp_order_log as log on co.order_id=log.cp_order_id and log.dr=0-->
        <!--LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id and cab.dr=0-->
		<!--WHERE co.dr=0-->
		<!--and co.current_status &gt; 42-->
		<!--<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>-->
		<!--<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>-->
		<!--<if test="pleaseStatus!=null">-->
			<!--<if test="pleaseStatus==1">AND co.please_status='1'</if>-->
			<!--<if test="pleaseStatus!=1">AND co.please_status='3'</if>-->
		<!--</if>-->
		<!--<if test="pleaseStatus == null">AND co.please_status = '1'</if>-->
		<!--<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>-->
		<!--group by co.id-->

        ) AS co

	</select>


	<!--不付款金额 -->
	<select id="QUERY_NOT_PAY_AMOUNT" resultType="java.util.Map">
		SELECT sum(co.price) AS expend_office_fee
		from (
            SELECT co.id
            ,co.order_id
            ,co.pay_type AS payType
            ,a.name AS csaname
            ,b.name AS csbname
            ,log.create_dt
            ,ifnull(co.price,0) AS price
            ,co.pay_voucher_id
            ,co.ispay
            ,co.comein_audit_dt
            ,ca.bank AS cabank
            ,ca.code AS cacode
            ,ca.name AS caname
            ,cab.bank AS cabbank
            ,cab.code AS cabcode
            ,cab.name AS cabname
            ,co.please_status
            ,co.please_audit_dt
            ,c.user_name AS comeinName
            ,p.user_name AS pleaseName
            ,co.please_content
            ,a.mobile AS caccountMobile
            ,b.mobile AS accountMobile
            FROM cp_order AS co
            LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
            LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
            LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
            LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
            left join sys_user as c on co.comein_by = c.user_id
            left join sys_user as p on co.please_by = p.user_id
            inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = 43 and log.dr=0
            where 1=1 
            <if test="payType == null">
                <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
            </if>
            <if test="payType != null">
                <if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
            </if>
            <if test="ispay != null">AND co.ispay = #{ispay}</if>
            <if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
            <if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
            <if test="currentStatus != null">AND co.current_status &gt;= 43</if>
            <if test="payType != null">AND co.pay_type  in (${payType})</if>
            <if test="pleaseStatus!=null">
                <if test="pleaseStatus==2">AND co.please_status='2'</if>
                <if test="pleaseStatus!=2">AND co.please_status='3'</if>
            </if>
            <if test="pleaseStatus == null">AND co.please_status = '2'</if>
            and co.dr=0
            GROUP BY co.order_id
            ORDER BY log.create_dt DESC

        <!--SELECT co.price,please_status,order_id,a.name,log.create_dt-->
		<!--FROM cp_order AS co-->
		<!--LEFT JOIN cp_service AS a ON co.a_sp_id=a.id-->
		<!--left JOIN cp_order_log as log on co.order_id=log.cp_order_id and log.dr=0-->
        <!--LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id and cab.dr=0-->
		<!--WHERE co.dr=0-->
		<!--and co.ispay = 1-->
		<!--and co.current_status &gt; 41-->
		<!--<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>-->
		<!--<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>-->
		<!--<if test="pleaseStatus!=null">-->
			<!--<if test="pleaseStatus==2">AND co.please_status='2'</if>-->
			<!--<if test="pleaseStatus!=2">AND co.please_status='3'</if>-->
		<!--</if>-->
		<!--<if test="pleaseStatus == null">AND co.please_status = '2'</if>-->
		<!--<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>-->
		<!--group by co.id-->

        ) AS co

	</select>


	<!-- 线下收款总金额 -->
	<select id="QUERY_CP_ORDER_OFFLINE_AMOUNT" resultType="java.util.Map" parameterType="Object">
		SELECT
		sum(co.price) AS offline_amount
		FROM
		(
			SELECT 
			ifnull(co.price,0) AS price
			FROM cp_order AS co
			LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
			LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
			LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
			LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
			left join sys_user as c on co.comein_by = c.user_id
			left join sys_user as p on co.please_by = p.user_id
			inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = #{currentStatus} and log.dr=0
			<if test="voucherStatus == 1">
				left join bl_pay_voucher v on co.order_id=v.outer_trade_no and v.pay_type='OFFLINE'
			</if>
			where 1=1 
			<if test="payType == null">
				<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
			</if>
			<if test="payType != null">
				<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
			</if>
			<if test="voucherStatus == 1">
				<if test="ispay != null and ispay == 0">AND (v.`status`=3 or v.status = 0) and (v.already_check = 0 or v.already_check is null)</if>
				<if test="ispay != null and ispay == 1">AND v.status = 1 </if>
				<if test="ispay != null and ispay == 2">AND v.status = 2 </if>
				<if test="ispay != null and ispay == 3">AND (v.status = 0 or v.status = 3) and v.already_check > 0</if>
			</if>
			<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
			<if test="currentStatus != null">AND co.current_status &gt;= #{currentStatus}</if>
			<if test="payType != null">AND co.pay_type  in (${payType})</if>
			<!-- <if test="orderId != null">AND co.order_id = #{orderId}</if> -->
			<if test="pleaseStatus != null">AND co.please_status = #{pleaseStatus}</if>
			and co.dr=0
			GROUP BY co.order_id
			ORDER BY log.create_dt DESC
		) AS co
	</select>

	<!-- 线上收款总金额 -->
	<select id="QUERY_CP_ORDER_ONLINE_AMOUNT" resultType="java.util.Map" parameterType="Object">
		SELECT
		sum(co.price) AS online_amount
		FROM
		(
		SELECT
		co.price,
		please_status,
		order_id,
		a. NAME,
		log.create_dt
		FROM
		cp_order AS co
		LEFT JOIN cp_service AS a ON co.a_sp_id = a.id
		LEFT JOIN cp_order_log AS log ON co.order_id = log.cp_order_id
		AND log.dr = 0
		LEFT JOIN cp_account AS cab ON co.b_sp_id = cab.sp_id
		AND cab.dr = 0
		WHERE
		co.dr = 0
		AND co.pay_type IN ('CHANPAY','ALIPAY')
		AND co.ispay=1
		<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
		<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		GROUP BY
		co.id
		) AS co
	</select>

	<select id="FIND_BY_CPID" resultMap="result_map_CP_ORDER" parameterType="Object">
		SELECT
			co.id,
			co.order_id,
			co.stage,
			cs.`name` AS csaname,
			cs.mobile AS amobile,
			csb.`name` AS csbname,
			csb.mobile AS bmobile,
			co.modify_dt,
			co.current_status
		FROM
			cp_order AS co
		LEFT JOIN cp_service AS cs ON co.a_sp_id = cs.saas_sp_id AND cs.dr = 0
		LEFT JOIN cp_service AS csb ON co.b_sp_id = csb.saas_sp_id AND csb.dr = 0
		<trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="orderId != null">AND co.order_id = #{orderId}</if>
	  	<if test="modifyDtFrom != null">AND co.modify_dt&gt;=#{createDtFrom}</if>
  		<if test="modifyDtTo != null">AND co.modify_dt&lt;=#{createDtTo}</if>
  		<if test="stage != null">AND co.stage&gt;#{stage}</if>
			and co.dr=0
			AND co.cp_relation_id = ${cpRelationId}
			ORDER BY co.modify_dt DESC
		</trim>

	</select>

	<select id="FIND_BY_CPID_COUNT" resultType="java.lang.Integer">
		SELECT
		COUNT(1)AS VALUE
		FROM
			cp_order AS co
		LEFT JOIN cp_service AS cs ON co.a_sp_id = cs.saas_sp_id AND cs.dr = 0
		LEFT JOIN cp_service AS csb ON co.b_sp_id = csb.saas_sp_id AND csb.dr = 0
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="orderId != null">AND co.order_id = #{orderId}</if>
			<if test="modifyDtFrom != null">AND co.modify_dt&gt;=#{createDtFrom}</if>
			<if test="modifyDtTo != null">AND co.modify_dt&lt;=#{createDtTo}</if>
			<if test="stage != null">AND co.stage&gt;#{stage}</if>
			and co.dr=0
			AND co.cp_relation_id = ${cpRelationId}
			ORDER BY co.modify_dt DESC
		</trim>
  	</select>


    <select id="FreeFindAccount_Manage1" resultType="java.util.Map" parameterType="Object">
		SELECT co.id
		,co.bill_num
		,co.order_id
		,co.pay_type AS payType
		,a.name AS csaname
		,b.name AS csbname
		,log.create_dt
		,ifnull(co.price,0) AS price
		,co.pay_voucher_id
		,co.ispay
		,co.comein_audit_dt
		,ca.bank AS cabank
		,ca.code AS cacode
		,ca.name AS caname
		,cab.bank AS cabbank
		,cab.code AS cabcode
		,cab.name AS cabname
		,co.please_status
		,co.please_audit_dt
		,c.user_name AS comeinName
		,p.user_name AS pleaseName
		,co.please_content
		,a.mobile AS caccountMobile
		,b.mobile AS accountMobile
		FROM cp_order AS co
		LEFT JOIN cp_service AS b ON co.b_sp_id=b.id
		LEFT JOIN cp_account AS ca ON co.a_sp_id=ca.sp_id
		LEFT JOIN cp_account AS cab ON co.b_sp_id=cab.sp_id
		LEFT JOIN cp_service AS a ON co.a_sp_id=a.id
		left join sys_user as c on co.comein_by = c.user_id
		left join sys_user as p on co.please_by = p.user_id
		inner join cp_order_log as log on co.order_id=log.cp_order_id and log.status = #{currentStatus} and log.dr=0
		where 1=1 
		<if test="payType == null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="payType != null">
			<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		</if>
		<if test="ispay != null">AND co.ispay = #{ispay}</if>
		<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
		<if test="currentStatus != null">AND co.current_status &gt;= #{currentStatus}</if>
		<if test="payType != null">AND co.pay_type  in (${payType})</if>
		<!-- <if test="orderId != null">AND co.order_id = #{orderId}</if> -->
		<if test="pleaseStatus != null">AND co.please_status = #{pleaseStatus}</if>
		and co.dr=0
		GROUP BY co.order_id
		ORDER BY log.create_dt DESC
	</select>

	<!-- 根据发包方和接包方获取订单-->
	<select id="findByASpIdAndBSpId" parameterType="Object" resultType="Map">
		select o.id,o.order_id,l.file_id,o.cp_relation_id,o.person_num
		from cp_order o
			inner join cp_order_log l on o.order_id=l.cp_order_id and l.status=11 and l.dr = 0
		where o.a_sp_id=#{aSpId} and o.b_sp_id=#{bSpId} and o.current_status=21 and o.dr = 0
	</select>


	<select id="SERVICE-PRICE" resultType="java.util.Map">
		SELECT
		sum(co.service_price) AS service_price, sum(co.public_price) AS public_price
		FROM
		(
		SELECT
		co.price,
		co.service_price,
		co.public_price,
		please_status,
		order_id,
		a. NAME,
		log.create_dt
		FROM
		cp_order AS co
		LEFT JOIN cp_service AS a ON co.a_sp_id = a.id
		LEFT JOIN cp_order_log AS log ON co.order_id = log.cp_order_id
		AND log.dr = 0
		LEFT JOIN cp_account AS cab ON co.b_sp_id = cab.sp_id
		AND cab.dr = 0
		WHERE
		co.dr = 0
		AND co.current_status&gt;23
		<if test="ispay != null">AND co.ispay = #{ispay}</if>
		<if test="createDtFrom != null">AND log.create_dt&gt;=#{createDtFrom}</if>
		<if test="createDtTo != null">AND log.create_dt&lt;=concat(substring(#{createDtTo},1,10),' ','23:59:59')</if>
		<if test="orderId != null">AND (co.order_id like '%${orderId}%' or a.name like '%${orderId}%' OR cab.name like '%${orderId}%')</if>
		GROUP BY
		co.id
		) AS co

	</select>


</mapper>   
