<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WX_USER" > 
<!-- Result Map-->
<resultMap id="result_map_WX_USER" type="com.xfs.wxclassroom.dto.WxUser" >
	<result column="openid" property="openid"/>
	<result column="nickname" property="nickname"/>
	<result column="headimgurl" property="headimgurl"/>
	<result column="sex" property="sex"/>
	<result column="country" property="country"/>
	<result column="city" property="city"/>
	<result column="province" property="province"/>
	<result column="privilege" property="privilege"/>
	<result column="unionid" property="unionid"/>
	<result column="wx_id" property="wxId"/>
	<result column="remark" property="remark"/>
	<result column="create_dt" property="createDt"/>
	<result column="create_by" property="createBy"/>
</resultMap>
       
<!-- wx_user table all fields -->
<sql id="Base_Column_List" >
	 openid,nickname,headimgurl,sex,country,city,province,privilege,unionid,wx_id,remark,create_dt,create_by
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="openid != null" >and openid = #{openid}</if>
	<if test="nickname != null" >and nickname = #{nickname}</if>
	<if test="headimgurl != null" >and headimgurl = #{headimgurl}</if>
	<if test="sex != null" >and sex = #{sex}</if>
	<if test="country != null" >and country = #{country}</if>
	<if test="city != null" >and city = #{city}</if>
	<if test="province != null" >and province = #{province}</if>
	<if test="privilege != null" >and privilege = #{privilege}</if>
	<if test="unionid != null" >and unionid = #{unionid}</if>
	<if test="wxId != null" >and wx_id = #{wxId}</if>
	<if test="remark != null" >and remark = #{remark}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="openid != null">AND openid like '%${openid}%'</if>
    <if test="openidEq != null">AND openid = #{openidEq}</if>
    <if test="nickname != null">AND nickname like '%${nickname}%'</if>
    <if test="nicknameEq != null">AND nickname = #{nicknameEq}</if>
    <if test="headimgurl != null">AND headimgurl like '%${headimgurl}%'</if>
    <if test="headimgurlEq != null">AND headimgurl = #{headimgurlEq}</if>
    <if test="sex != null">AND sex like '%${sex}%'</if>
    <if test="sexEq != null">AND sex = #{sexEq}</if>
    <if test="country != null">AND country like '%${country}%'</if>
    <if test="countryEq != null">AND country = #{countryEq}</if>
    <if test="city != null">AND city like '%${city}%'</if>
    <if test="cityEq != null">AND city = #{cityEq}</if>
    <if test="province != null">AND province like '%${province}%'</if>
    <if test="provinceEq != null">AND province = #{provinceEq}</if>
    <if test="privilege != null">AND privilege like '%${privilege}%'</if>
    <if test="privilegeEq != null">AND privilege = #{privilegeEq}</if>
    <if test="unionid != null">AND unionid like '%${unionid}%'</if>
    <if test="unionidEq != null">AND unionid = #{unionidEq}</if>
    <if test="wxId != null">AND wx_id like '%${wxId}%'</if>
    <if test="wxIdEq != null">AND wx_id = #{wxIdEq}</if>
    <if test="remark != null">AND remark like '%${remark}%'</if>
    <if test="remarkEq != null">AND remark = #{remarkEq}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="createBy != null">AND create_by like '%${createBy}%'</if>
    <if test="createByEq != null">AND create_by = #{createByEq}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertWX_USER" parameterType="Object" >
  INSERT INTO WX_USER (
  <trim prefix=" " prefixOverrides=",">
	<if test="openid != null ">,openid</if>
	<if test="nickname != null ">,nickname</if>
	<if test="headimgurl != null ">,headimgurl</if>
	<if test="sex != null ">,sex</if>
	<if test="country != null ">,country</if>
	<if test="city != null ">,city</if>
	<if test="province != null ">,province</if>
	<if test="privilege != null ">,privilege</if>
	<if test="unionid != null ">,unionid</if>
	<if test="wxId != null ">,wx_id</if>
	<if test="remark != null ">,remark</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="createBy != null ">,create_by</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="openid != null ">,#{openid}</if>
	<if test="nickname != null ">,#{nickname}</if>
	<if test="headimgurl != null ">,#{headimgurl}</if>
	<if test="sex != null ">,#{sex}</if>
	<if test="country != null ">,#{country}</if>
	<if test="city != null ">,#{city}</if>
	<if test="province != null ">,#{province}</if>
	<if test="privilege != null ">,#{privilege}</if>
	<if test="unionid != null ">,#{unionid}</if>
	<if test="wxId != null ">,#{wxId}</if>
	<if test="remark != null ">,#{remark}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="createBy != null ">,#{createBy}</if>
  </trim>
  )
  <selectKey resultType="java.lang.String" order="AFTER" keyProperty="openid">
	SELECT LAST_INSERT_ID() AS OPENID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateWX_USER" parameterType="Object" >
UPDATE WX_USER 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="openid != null ">,openid=#{openid}</if>
	<if test="nickname != null ">,nickname=#{nickname}</if>
	<if test="headimgurl != null ">,headimgurl=#{headimgurl}</if>
	<if test="sex != null ">,sex=#{sex}</if>
	<if test="country != null ">,country=#{country}</if>
	<if test="city != null ">,city=#{city}</if>
	<if test="province != null ">,province=#{province}</if>
	<if test="privilege != null ">,privilege=#{privilege}</if>
	<if test="unionid != null ">,unionid=#{unionid}</if>
	<if test="wxId != null ">,wx_id=#{wxId}</if>
	<if test="remark != null ">,remark=#{remark}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
  </trim>
WHERE OPENID=#{openid}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteWX_USER">DELETE FROM WX_USER WHERE OPENID=#{openid}</delete>
<!-- 微信用户表 列表总数-->
<select id="CountFindAllWX_USER" resultType="java.lang.Integer">SELECT count(1) as value FROM WX_USER</select>
<select id="CountWX_USER" resultType="java.lang.Integer">SELECT count(1) as value FROM WX_USER WHERE OPENID=#{openid}</select>
<!-- 根据id查询 微信用户表 -->
<select id="FindByPK" resultMap="result_map_WX_USER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM WX_USER WHERE OPENID=#{openid}</select>

<!-- 根据各字段条件带模糊查询  微信用户表 -->
<select id="FreeFindWX_USER" resultMap="result_map_WX_USER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM WX_USER 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  微信用户表 记录数 -->
<select id="CountFreeFindWX_USER" resultType="java.lang.Integer">
SELECT count(1) as value FROM WX_USER 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  微信用户表 -->
<select id="FreeFindWX_USEROrdered" resultMap="result_map_WX_USER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM WX_USER 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/01 18:03:02 ** -->
<!-- ************************************************************************ -->




</mapper>   
