<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BD_BSTYPE" > 
<!-- Result Map-->
<resultMap id="result_map_BD_BSTYPE" type="com.xfs.business.model.BdBstype" >
	<result column="bstype_id" property="bstypeId"/>
	<result column="name" property="name"/>
	<result column="code" property="code"/>
	<result column="insurance_fund_type" property="insuranceFundType"/>
    <result column="source" property="source"/>
    <result column="business_process" property="businessProcess"/>
    <result column="management_rule" property="managementRule"/>
    <result column="automatic_interval" property="automaticInterval"/>
    <result column="task_bot" property="taskBot"/>
    <result column="taker" property="taker"/>
    <result column="detailed_process" property="detailedProcess"/>
    <result column="patrent_type_id" property="patrentTypeId"/>
    <result column="descriptor" property="descriptor"/>
    <result column="bs_type" property="bsType"/>
</resultMap>
       
<!-- bd_bstype table all fields -->
<sql id="Base_Column_List" >
	 bstype_id,name,code,insurance_fund_type,descriptor,patrent_type_id,bs_type
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="bstypeId != null" >and bstype_id = #{bstypeId}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="code != null" >and code = #{code}</if>
	<if test="insuranceFundType != null" >and insurance_fund_type = #{insuranceFundType}</if>
	<if test="descriptor != null" >and descriptor = #{descriptor}</if>
	<if test="patrentTypeId != null" >and patrent_type_id = #{patrentTypeId}</if>
	<if test="bsType != null" >and bs_type = #{bsType}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="bstypeId != null">AND bstype_id = '${bstypeId}'</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="code != null">AND code like '%${code}%'</if>
    <if test="codeEq != null">AND code = #{codeEq}</if>
    <if test="insuranceFundType != null">AND insurance_fund_type like '%${insuranceFundType}%'</if>
    <if test="insuranceFundTypeEq != null">AND insurance_fund_type = #{insuranceFundTypeEq}</if>
    <if test="descriptor != null" >and descriptor = #{descriptor}</if>
    <if test="patrentTypeId != null" >and patrent_type_id = #{patrentTypeId}</if>
    <if test="bsType != null" >and bs_type = #{bsType}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertBD_BSTYPE" parameterType="Object" >
  INSERT INTO BD_BSTYPE (
  <trim prefix=" " prefixOverrides=",">
	<if test="bstypeId != null ">,bstype_id</if>
	<if test="name != null ">,name</if>
	<if test="code != null ">,code</if>
	<if test="insuranceFundType != null ">,insurance_fund_type</if>
	<if test="descriptor != null ">,descriptor</if>
	<if test="patrentTypeId != null ">,patrent_type_id</if>
	<if test="bsType != null ">,bs_type</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="bstypeId != null ">,#{bstypeId}</if>
	<if test="name != null ">,#{name}</if>
	<if test="code != null ">,#{code}</if>
	<if test="insuranceFundType != null ">,#{insuranceFundType}</if>
	<if test="descriptor != null ">,#{descriptor}</if>
	<if test="patrentTypeId != null ">,#{patrentTypeId}</if>
	<if test="bsType != null ">,#{bsType}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="bstypeId">
	SELECT LAST_INSERT_ID() AS BSTYPE_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateBD_BSTYPE" parameterType="Object" >
UPDATE BD_BSTYPE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="bstypeId != null ">,bstype_id=#{bstypeId}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="code != null ">,code=#{code}</if>
	<if test="insuranceFundType != null ">,insurance_fund_type=#{insuranceFundType}</if>
	<if test="descriptor != null ">,descriptor=#{descriptor}</if>
	<if test="patrentTypeId != null ">,patrent_type_id=#{patrentTypeId}</if>
	<if test="bsType != null ">,bs_type=#{bsType}</if>
  </trim>
WHERE BSTYPE_ID=#{bstypeId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteBD_BSTYPE">DELETE FROM BD_BSTYPE WHERE BSTYPE_ID=#{bstypeId}</delete>
<!-- 业务类型 列表总数-->
<select id="CountFindAllBD_BSTYPE" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_BSTYPE</select>
<select id="CountBD_BSTYPE" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_BSTYPE WHERE BSTYPE_ID=#{bstypeId}</select>
<!-- 根据id查询 业务类型 -->
<select id="FindByPK" resultMap="result_map_BD_BSTYPE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BD_BSTYPE WHERE BSTYPE_ID=#{bstypeId}</select>

<!-- 根据各字段条件带模糊查询  业务类型 -->
<select id="FreeFindBD_BSTYPE" resultMap="result_map_BD_BSTYPE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_BSTYPE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  业务类型 记录数 -->
<select id="CountFreeFindBD_BSTYPE" resultType="java.lang.Integer">
SELECT count(1) as value FROM BD_BSTYPE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  业务类型 -->
<select id="FreeFindBD_BSTYPEOrdered" resultMap="result_map_BD_BSTYPE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_BSTYPE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/05/23 16:54:56 ** -->
<!-- ************************************************************************ -->

	<select id="findBdBstypeListByAreaId" resultMap="result_map_BD_BSTYPE" parameterType="Object">
		SELECT bb.* FROM
		bd_bsareatype bbs
		JOIN bd_bstype bb ON bb.bstype_id = bbs.bstype_id WHERE bbs.area_id=#{areaId}
		AND bbs.bstype_id IN (2,3,4,10,11);
	</select>

	<select id="findBdBsTypeByAreaId" resultMap="result_map_BD_BSTYPE" parameterType="Object">
		SELECT bb.*,bbs.*
		FROM bd_bstype bb join bd_bsareatype bbs on
		bb.bstype_id=bbs.bstype_id
		WHERE bbs.area_id=${areaId}
	</select>

	<select id="countBsTypeByAreaId" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) as value FROM bd_bstype bb join bd_bsareatype bbs on
		bb.bstype_id=bbs.bstype_id
		WHERE bbs.area_id=${areaId}
	</select>

	<select id="find_bdBstype" resultMap="result_map_BD_BSTYPE" parameterType="Object">
		select * from BD_BSTYPE WHERE code=#{code}
		<!--SELECT <include refid="Base_Column_List" /> FROM BD_BSTYPE
		<include refid="Example_Where_Clause" />-->
	</select>
	
	<!-- 获取员工服务 -->
	<select id="findEmpServiceByAreaId" resultMap="result_map_BD_BSTYPE" parameterType="Object">
		select bt.bstype_id,bt.name 
		from bd_bsareatype bat 
		inner join bd_bstype bt on bat.bstype_id=bt.bstype_id AND bt.patrent_type_id=-1
		where bat.area_id=#{areaId}
		<if test="bsType != null" >
			AND bt.bs_type=#{bsType}
		</if>
		<if test="bsType == null" >
			AND bt.bs_type is NULL
		</if>
		and bat.`taker` like '%2%'
		order by bat.bstype_id
	</select>
	
	<!-- 获取增值服务 -->
	<select id="findAddService" resultMap="result_map_BD_BSTYPE" parameterType="Object">
		select bt.bstype_id,bt.name from bd_bstype bt where bt.bs_type=2 order by bt.bstype_id
	</select>
</mapper>   
