<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_BATCH_ADJ_BASE" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_BATCH_ADJ_BASE" type="com.xfs.business.model.SpsBatchAdjBase" >
	<result column="id" property="id"/>
	<result column="area_id" property="areaId"/>
	<result column="begin_month" property="beginMonth"/>
	<result column="emp_json" property="empJson"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="sp_id" property="spId"/>
	<result column="adj_type" property="adjType"/>
	<result column="cp_id" property="cpId"/>
	<result column="insurance_fund" property="insuranceFund"/>
	<result column="file_id" property="fileId"/>
	<result column="emp_count" property="empCount"/>
</resultMap>
       
<!-- sps_batch_adj_base table all fields -->
<sql id="Base_Column_List" >
	 id,area_id,begin_month,create_by,create_dt,sp_id,adj_type,cp_id,insurance_fund,file_id,emp_count,emp_json
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="areaId != null" >and area_id = #{areaId}</if>
	<if test="beginMonth != null" >and begin_month = #{beginMonth}</if>
	<if test="empJson != null" >and emp_json = #{empJson}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="adjType != null" >and adj_type = #{adjType}</if>
	<if test="cpId != null" >and cp_id = #{cpId}</if>
	<if test="insuranceFund != null" >and insurance_fund = #{insuranceFund}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id like '%${id}%'</if>
    <if test="areaId != null">AND area_id like '%${areaId}%'</if>
    <if test="beginMonth != null">AND begin_month like '%${beginMonth}%'</if>
    <if test="beginMonthEq != null">AND begin_month = #{beginMonthEq}</if>
    <if test="empJson != null">AND emp_json like '%${empJson}%'</if>
    <if test="empJsonEq != null">AND emp_json = #{empJsonEq}</if>
    <if test="createBy != null">AND create_by like '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="spId != null">AND sp_id like '%${spId}%'</if>
    <if test="adjType != null">AND adj_type like '%${adjType}%'</if>
    <if test="cpId != null">AND cp_id like '%${cpId}%'</if>
    <if test="insuranceFund != null">AND insurance_fund like '%${insuranceFund}%'</if>
    <if test="insuranceFundEq != null">AND insurance_fund = #{insuranceFundEq}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_BATCH_ADJ_BASE" parameterType="Object" >
  INSERT INTO SPS_BATCH_ADJ_BASE (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="areaId != null ">,area_id</if>
	<if test="beginMonth != null ">,begin_month</if>
	<if test="empJson != null ">,emp_json</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="spId != null ">,sp_id</if>
	<if test="adjType != null ">,adj_type</if>
	<if test="cpId != null ">,cp_id</if>
	<if test="insuranceFund != null ">,insurance_fund</if>
	  <if test="fileId != null ">,file_id</if>
	  <if test="empCount != null ">,emp_count</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="areaId != null ">,#{areaId}</if>
	<if test="beginMonth != null ">,#{beginMonth}</if>
	<if test="empJson != null ">,#{empJson}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="adjType != null ">,#{adjType}</if>
	<if test="cpId != null ">,#{cpId}</if>
	<if test="insuranceFund != null ">,#{insuranceFund}</if>
	  <if test="fileId != null ">,#{fileId}</if>
	  <if test="empCount != null ">,#{empCount}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_BATCH_ADJ_BASE" parameterType="Object" >
UPDATE SPS_BATCH_ADJ_BASE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="areaId != null ">,area_id=#{areaId}</if>
	<if test="beginMonth != null ">,begin_month=#{beginMonth}</if>
	<if test="empJson != null ">,emp_json=#{empJson}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="adjType != null ">,adj_type=#{adjType}</if>
	<if test="cpId != null ">,cp_id=#{cpId}</if>
	<if test="insuranceFund != null ">,insurance_fund=#{insuranceFund}</if>
	  <if test="fileId != null ">,file_id=#{fileId}</if>
	  <if test="empCount != null ">,emp_count=#{empCount}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_BATCH_ADJ_BASE">DELETE FROM SPS_BATCH_ADJ_BASE WHERE ID=#{id}</delete>
<!-- 批量调整基数 列表总数-->
<select id="CountFindAllSPS_BATCH_ADJ_BASE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_BATCH_ADJ_BASE</select>
<select id="CountSPS_BATCH_ADJ_BASE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_BATCH_ADJ_BASE WHERE ID=#{id}</select>
<!-- 根据id查询 批量调整基数 -->
<select id="FindByPK" resultMap="result_map_SPS_BATCH_ADJ_BASE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_ADJ_BASE WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  批量调整基数 -->
<select id="FreeFindSPS_BATCH_ADJ_BASE" resultMap="result_map_SPS_BATCH_ADJ_BASE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_ADJ_BASE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  批量调整基数 记录数 -->
<select id="CountFreeFindSPS_BATCH_ADJ_BASE" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_BATCH_ADJ_BASE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  批量调整基数 -->
<select id="FreeFindSPS_BATCH_ADJ_BASEOrdered" resultMap="result_map_SPS_BATCH_ADJ_BASE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_ADJ_BASE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/12/26 21:14:54 ** -->
<!-- ************************************************************************ -->

<resultMap id="result_map_SPS_BATCH_ADJ_BASE1" type="com.xfs.business.dto.SpsBatchAdjBaseVo" >
	<result column="id" property="id"/>
	<result column="area_id" property="areaId"/>
	<result column="area_name" property="areaName"/>
	<result column="begin_month" property="beginMonth"/>
	<result column="emp_json" property="empJson"/>
	<result column="create_by" property="createBy"/>
	<result column="create_name" property="createName"/>
	<result column="create_dt" property="createDt"/>
	<result column="sp_id" property="spId"/>
	<result column="adj_type" property="adjType"/>
	<result column="cp_id" property="cpId"/>
	<result column="short_name" property="shortName"/>
	<result column="insurance_fund" property="insuranceFund"/>
	<result column="file_id" property="fileId"/>
	<result column="emp_count" property="empCount"/>
</resultMap>
<!-- 根据各字段条件带模糊查询  批量调整基数 记录数 -->
<select id="CountFreeFindSPS_BATCH_ADJ_BASE1" resultType="java.lang.Integer">
	select count(1) as value from sps_batch_adj_base adj
	INNER JOIN cm_corp corp ON adj.cp_id=corp.cp_id
	<if test="authority != 'ALL'">
		AND corp.cp_id in (${authority})
	</if>
	<trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="spId != null">AND adj.sp_id=#{spId}</if>
		<if test="areaId != null">AND adj.area_id=#{areaId}</if>
		<if test="adjType != null">AND adj.adj_type=${adjType}</if>
		<if test="beginMonth != null and beginMonth != ''">AND begin_month=#{beginMonth}</if>
		<if test="shortName != null and shortName != ''">AND (corp.corp_name like '%${shortName}%' or corp.short_name like '%${shortName}%')</if>
	</trim>
</select>
<!-- 根据各字段条件带排序  批量调整基数 -->
<select id="FreeFindSPS_BATCH_ADJ_BASEOrdered1" resultMap="result_map_SPS_BATCH_ADJ_BASE1" parameterType="Object">
	select adj.id,adj.area_id,area.`name` as area_name,adj.cp_id,corp.short_name,adj.adj_type,adj.insurance_fund,adj.begin_month,adj.emp_count,u.user_name as create_name,adj.create_dt,adj.file_id from sps_batch_adj_base adj
	LEFT JOIN bs_area area ON adj.area_id=area.area_id
	LEFT JOIN sys_user u ON u.user_id=adj.create_by
	INNER JOIN cm_corp corp ON adj.cp_id=corp.cp_id
	<if test="authority != 'ALL'">
		AND corp.cp_id in (${authority})
	</if>
	<trim prefix=" WHERE " prefixOverrides="AND ">
		<if test="spId != null">AND adj.sp_id=#{spId}</if>
		<if test="areaId != null">AND adj.area_id=#{areaId}</if>
		<if test="adjType != null">AND adj.adj_type=${adjType}</if>
		<if test="beginMonth != null and beginMonth != ''">AND begin_month=#{beginMonth}</if>
		<if test="shortName != null and shortName != ''">AND (corp.corp_name like '%${shortName}%' or corp.short_name like '%${shortName}%')</if>
	</trim>
	ORDER BY adj.create_dt DESC
</select>


</mapper>   
