<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_BATCH_CHANGE_RATIO" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_BATCH_CHANGE_RATIO" type="com.xfs.business.model.SpsBatchChangeRatio" >
	<result column="id" property="id"/>
	<result column="area_id" property="areaId"/>
	<result column="insurance_id" property="insuranceId"/>
	<result column="old_ratio_id" property="oldRatioId"/>
	<result column="new_ratio_id" property="newRatioId"/>
	<result column="begin_month" property="beginMonth"/>
	<result column="emp_json" property="empJson"/>
	<result column="ratio_json" property="ratioJson"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="sp_id" property="spId"/>
	<result column="change_count" property="changeCount"/>
</resultMap>
       
<!-- sps_batch_change_ratio table all fields -->
<sql id="Base_Column_List" >
	 id,area_id,insurance_id,old_ratio_id,new_ratio_id,begin_month,emp_json,ratio_json,create_by,create_dt,sp_id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="areaId != null" >and area_id = #{areaId}</if>
	<if test="insuranceId != null" >and insurance_id = #{insuranceId}</if>
	<if test="oldRatioId != null" >and old_ratio_id = #{oldRatioId}</if>
	<if test="newRatioId != null" >and new_ratio_id = #{newRatioId}</if>
	<if test="beginMonth != null" >and begin_month = #{beginMonth}</if>
	<if test="empJson != null" >and emp_json = #{empJson}</if>
	<if test="ratioJson != null" >and ratio_json = #{ratioJson}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id like '%${id}%'</if>
    <if test="areaId != null">AND area_id like '%${areaId}%'</if>
    <if test="insuranceId != null">AND insurance_id like '%${insuranceId}%'</if>
    <if test="oldRatioId != null">AND old_ratio_id like '%${oldRatioId}%'</if>
    <if test="newRatioId != null">AND new_ratio_id like '%${newRatioId}%'</if>
    <if test="beginMonth != null">AND begin_month like '%${beginMonth}%'</if>
    <if test="beginMonthEq != null">AND begin_month = #{beginMonthEq}</if>
    <if test="empJson != null">AND emp_json like '%${empJson}%'</if>
    <if test="empJsonEq != null">AND emp_json = #{empJsonEq}</if>
    <if test="ratioJson != null">AND ratio_json like '%${ratioJson}%'</if>
    <if test="ratioJsonEq != null">AND ratio_json = #{ratioJsonEq}</if>
    <if test="createBy != null">AND create_by like '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="spId != null">AND sp_id like '%${spId}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_BATCH_CHANGE_RATIO" parameterType="Object" >
  INSERT INTO SPS_BATCH_CHANGE_RATIO (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="areaId != null ">,area_id</if>
	<if test="insuranceId != null ">,insurance_id</if>
	<if test="oldRatioId != null ">,old_ratio_id</if>
	<if test="newRatioId != null ">,new_ratio_id</if>
	<if test="beginMonth != null ">,begin_month</if>
	<if test="empJson != null ">,emp_json</if>
	<if test="ratioJson != null ">,ratio_json</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="spId != null ">,sp_id</if>
	  <if test="changeCount != null ">,change_count</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="areaId != null ">,#{areaId}</if>
	<if test="insuranceId != null ">,#{insuranceId}</if>
	<if test="oldRatioId != null ">,#{oldRatioId}</if>
	<if test="newRatioId != null ">,#{newRatioId}</if>
	<if test="beginMonth != null ">,#{beginMonth}</if>
	<if test="empJson != null ">,#{empJson}</if>
	<if test="ratioJson != null ">,#{ratioJson}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="spId != null ">,#{spId}</if>
	  <if test="changeCount != null ">,#{changeCount}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_BATCH_CHANGE_RATIO" parameterType="Object" >
UPDATE SPS_BATCH_CHANGE_RATIO 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="areaId != null ">,area_id=#{areaId}</if>
	<if test="insuranceId != null ">,insurance_id=#{insuranceId}</if>
	<if test="oldRatioId != null ">,old_ratio_id=#{oldRatioId}</if>
	<if test="newRatioId != null ">,new_ratio_id=#{newRatioId}</if>
	<if test="beginMonth != null ">,begin_month=#{beginMonth}</if>
	<if test="empJson != null ">,emp_json=#{empJson}</if>
	<if test="ratioJson != null ">,ratio_json=#{ratioJson}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	  <if test="changeCount != null ">,change_count=#{changeCount}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_BATCH_CHANGE_RATIO">DELETE FROM SPS_BATCH_CHANGE_RATIO WHERE ID=#{id}</delete>
<!-- 批量变更比例记录 列表总数-->
<select id="CountFindAllSPS_BATCH_CHANGE_RATIO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_BATCH_CHANGE_RATIO</select>
<select id="CountSPS_BATCH_CHANGE_RATIO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_BATCH_CHANGE_RATIO WHERE ID=#{id}</select>
<!-- 根据id查询 批量变更比例记录 -->
<select id="FindByPK" resultMap="result_map_SPS_BATCH_CHANGE_RATIO" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_CHANGE_RATIO WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  批量变更比例记录 -->
<select id="FreeFindSPS_BATCH_CHANGE_RATIO" resultMap="result_map_SPS_BATCH_CHANGE_RATIO" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_CHANGE_RATIO 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  批量变更比例记录 记录数 -->
<select id="CountFreeFindSPS_BATCH_CHANGE_RATIO" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_BATCH_CHANGE_RATIO 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  批量变更比例记录 -->
<select id="FreeFindSPS_BATCH_CHANGE_RATIOOrdered" resultMap="result_map_SPS_BATCH_CHANGE_RATIO" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_BATCH_CHANGE_RATIO 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/11/15 16:30:31 ** -->
<!-- ************************************************************************ -->
	<!--业务类-->
	<resultMap id="result_map_SPS_BATCH_CHANGE_RATIO_VO" type="com.xfs.business.dto.SpsBatchChangeRatioVo" >
		<result column="id" property="id"/>
		<result column="area_id" property="areaId"/>
		<result column="insurance_id" property="insuranceId"/>
		<result column="old_ratio_id" property="oldRatioId"/>
		<result column="new_ratio_id" property="newRatioId"/>
		<result column="begin_month" property="beginMonth"/>
		<result column="emp_json" property="empJson"/>
		<result column="ratio_json" property="ratioJson"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="sp_id" property="spId"/>
		<result column="change_count" property="changeCount"/>
		<result column="area_name" property="areaName"/>
		<result column="insurance_name" property="insuranceName"/>
		<result column="create_by_name" property="createByName"/>
	</resultMap>

	<!-- 查询条件 连表 -->
	<sql id="Example_Where_Clause3">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and bcr.id = #{id}</if>
			<if test="areaId != null" >and bcr.area_id = #{areaId}</if>
			<if test="insuranceId != null" >and bcr.insurance_id = #{insuranceId}</if>
			<if test="oldRatioId != null" >and bcr.old_ratio_id = #{oldRatioId}</if>
			<if test="newRatioId != null" >and bcr.new_ratio_id = #{newRatioId}</if>
			<if test="beginMonth != null" >and bcr.begin_month = #{beginMonth}</if>
			<if test="empJson != null" >and bcr.emp_json = #{empJson}</if>
			<if test="ratioJson != null" >and bcr.ratio_json = #{ratioJson}</if>
			<if test="createBy != null" >and bcr.create_by = #{createBy}</if>
			<if test="createDt != null" >and bcr.create_dt = #{createDt}</if>
			<if test="spId != null" >and bcr.sp_id = #{spId}</if>
		</trim>
	</sql>
	<!-- 根据各字段条件带模糊查询  批量变更比例记录 记录数 -->
	<select id="CountFreeFindSPS_BATCH_CHANGE_RATIO_VO" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SPS_BATCH_CHANGE_RATIO bcr
		<include refid="Example_Where_Clause3" />
	</select>
	<!-- 根据各字段条件带排序 连表查询  批量变更比例记录 -->
	<select id="FreeFindSPS_BATCH_CHANGE_RATIOO_VO_rdered" resultMap="result_map_SPS_BATCH_CHANGE_RATIO_VO" parameterType="Object">
		SELECT bcr.id,bcr.area_id,bcr.insurance_id,bcr.old_ratio_id,bcr.new_ratio_id,bcr.begin_month,bcr.ratio_json,bcr.create_by,bcr.create_dt,bcr.change_count,bcr.sp_id,area.`name` as area_name,ins.`name` as insurance_name,`user`.user_name as create_by_name FROM SPS_BATCH_CHANGE_RATIO bcr
		LEFT JOIN BS_AREA area ON bcr.area_id=area.area_id
		LEFT JOIN bd_insurance ins ON bcr.insurance_id=ins.insurance_id
		LEFT JOIN sys_user `user` ON bcr.create_by=`user`.user_id
		<include refid="Example_Where_Clause3" />
		ORDER BY ${_orderBy}
	</select>


</mapper>   
