<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpTaskProgress" > 


	<select id="findProgressList_" resultType="java.util.Map" parameterType="Object">
		 select * 
		 from sps_task_progress p 
		 where p.sp_id=#{spid} 
		 and p.state=#{state} 
		 order by time desc 
	</select>


	<select id="findProgressList" resultType="java.util.Map" parameterType="Object">
		SELECT
	stt.*, case when stt.type='INSURANCE' then a1.usbport else a2.usbport end as usbport
FROM
	sps_task_progress stt inner join sps_scheme s on stt.cid=s.scheme_id
left join sps_account a1 on a1.acc_id=s.insurance_account_id and a1.insurance_fund_type='INSURANCE'
left join sps_account a2 on a2.acc_id=s.insurance_account_id and a2.insurance_fund_type='FUND' 
		WHERE stt.sp_id = #{spid} AND stt.state=#{state}
	</select>
    
    <select id="findAllSpService" resultType="java.util.Map" parameterType="Object">
	select sp_id as spid from sps_task_progress p
	where p.state in('TODO','DOING')
	GROUP BY p.sp_id
	</select>


	<update id="updateProgressTask" parameterType="Object">
		UPDATE sps_task_progress
		<trim prefix=" SET " prefixOverrides=",">
			<if test="state != null ">,state = #{state}</if>
			<if test="updatetime != null ">,updatetime =#{updatetime}</if>
			<if test="progress != null ">,progress =#{progress}</if>
		</trim>
		where id=#{id};
	</update>
	
	<update id ="addProgress"  parameterType="Object" >
	UPDATE sps_task_progress s
INNER JOIN (
	SELECT
		p.id,
		1 / ((t.todo * 120) / 10) AS p
	FROM
		sps_task_progress p
	INNER JOIN (
		SELECT
			t.scheme_id,
			b.insurance_fund_type,
			count(t.task_id) AS todo
		FROM
			sps_task t
		LEFT JOIN bd_bstype b ON t.bstype_id = b.bstype_id
		WHERE
			t.type = 'TODO'
		AND insurance_fund_type IS NOT NULL
		GROUP BY
			t.scheme_id,
			b.insurance_fund_type
	) t ON p.cid = t.scheme_id
	AND p.type = t.insurance_fund_type
) k ON s.id = k.id
SET s.progress = s.progress + k.p
WHERE
	s.id = #{id}
AND s.state = 'DOING' and s.progress  &lt; 0.99;
	
	</update>
	
	<update id="finished" parameterType="Object">
	UPDATE sps_task_progress
		<trim prefix=" SET " prefixOverrides=",">
			<if test="state != null ">,state = #{state}</if>
			<if test="updatetime != null ">,updatetime =#{updatetime}</if>
			<if test="progress != null ">,progress =#{progress}</if>
		</trim>
		where cid=#{cid} and type=#{type};
	</update>
	

</mapper>   
