<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OP_HEADLINE_SHORT_URL" >
  <resultMap id="BaseResultMap" type="com.xfs.op.model.OpHeadlineShortUrl" >
    <id column="short_id" property="shortId" jdbcType="VARCHAR" />
    <result column="shrot_url" property="shrotUrl" jdbcType="VARCHAR" />
    <result column="full_url" property="fullUrl" jdbcType="VARCHAR" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="modify_dt" property="modifyDt" jdbcType="TIMESTAMP" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    short_id, shrot_url, full_url, create_dt, modify_dt, dr, times, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from op_headline_short_url
    where short_id = #{shortId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    UPDATE  op_headline_short_url SET  dr = 1
    where short_id = #{shortId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.xfs.op.model.OpHeadlineShortUrl" >
    insert into op_headline_short_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shortId != null" >
        short_id,
      </if>
      <if test="shrotUrl != null" >
        shrot_url,
      </if>
      <if test="fullUrl != null" >
        full_url,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="modifyDt != null" >
        modify_dt,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shortId != null" >
        #{shortId,jdbcType=VARCHAR},
      </if>
      <if test="shrotUrl != null" >
        #{shrotUrl,jdbcType=VARCHAR},
      </if>
      <if test="fullUrl != null" >
        #{fullUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDt != null" >
        #{modifyDt,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.xfs.op.model.OpHeadlineShortUrl" >
    update op_headline_short_url
    <set >
      <if test="shrotUrl != null" >
        shrot_url = #{shrotUrl,jdbcType=VARCHAR},
      </if>
      <if test="fullUrl != null" >
        full_url = #{fullUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDt != null" >
        modify_dt = #{modifyDt,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where short_id = #{shortId,jdbcType=VARCHAR}
  </update>



    <sql id="selectWhere">
        WHERE dr = 0
        <if test="shrotUrl != null and shrotUrl != '' " >
            and shrot_url LIKE concat('%',#{shrotUrl,jdbcType=VARCHAR},'%')
        </if>
        <if test="fullUrl != null and fullUrl != ''" >
            and full_url  LIKE concat('%',#{fullUrl,jdbcType=VARCHAR},'%')
        </if>
        <if test="times != null and times != ''" >
            and  times &gt;= #{times,jdbcType=INTEGER}
        </if>
        <if test="remark != null and remark != ''" >
            and remark LIKE concat('%',#{remark,jdbcType=VARCHAR},'%')
        </if>
    </sql>


    <!--count -->
    <select id="countList" resultType="java.lang.Integer" parameterType="Object">
        SELECT COUNT(1) FROM op_headline_short_url
       <include refid="selectWhere"/>
    </select>


    <!--分页列表 -->
    <select id="findList" resultMap="BaseResultMap" parameterType="Object">
        SELECT
        <include refid="Base_Column_List"/>
        FROM op_headline_short_url
        <include refid="selectWhere"/>
        ORDER BY create_dt DESC
    </select>


    <update id="updateTimes" parameterType="Object">
        UPDATE op_headline_short_url  SET  times = #{times} WHERE short_id = #{shortId,jdbcType=VARCHAR}
    </update>

</mapper>