<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="REC_USER_TAG" > 
<!-- Result Map-->
<resultMap id="result_map_REC_USER_TAG" type="com.xfs.op.model.RecUserTag" >
	<result column="id" property="id"/>
	<result column="user_id" property="userId"/>
	<result column="user_tag" property="userTag"/>
	<result column="weight" property="weight"/>
	<result column="tag_id" property="tagId"/>
	<result column="watch" property="watch"/>
	<result column="order_by" property="orderBy"/>
</resultMap>
       
<!-- rec_user_tag table all fields -->
<sql id="Base_Column_List" >
	 id,user_id,user_tag,weight,tag_id,watch
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="userId != null" >and user_id = #{userId}</if>
	<if test="userTag != null" >and user_tag = #{userTag}</if>
	<if test="weight != null" >and weight = #{weight}</if>
	<if test="tagId != null" >and tag_id = #{tagId}</if>
	  <if test="watch != null" >and watch = #{watch}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id like '%${id}%'</if>
    <if test="userId != null">AND user_id = #{userId}</if>
    <if test="userTag != null">AND user_tag like '%${userTag}%'</if>
    <if test="userTagEq != null">AND user_tag = #{userTagEq}</if>
    <if test="weight != null">AND weight like '%${weight}%'</if>
    <if test="tagId != null">AND tag_id like '%${tagId}%'</if>
	  <if test="watch != null" >and watch = #{watch}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertREC_USER_TAG" parameterType="Object" >
  INSERT INTO REC_USER_TAG (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="userId != null ">,user_id</if>
	<if test="userTag != null ">,user_tag</if>
	<if test="weight != null ">,weight</if>
	<if test="tagId != null ">,tag_id</if>
	  <if test="watch != null" >,watch</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="userId != null ">,#{userId}</if>
	<if test="userTag != null ">,#{userTag}</if>
	<if test="weight != null ">,#{weight}</if>
	<if test="tagId != null ">,#{tagId}</if>
	  <if test="watch != null" >,#{watch}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateREC_USER_TAG" parameterType="Object" >
UPDATE REC_USER_TAG
    <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="orderBy != null ">,order_by=#{orderBy}</if>
	<if test="userId != null ">,user_id=#{userId}</if>
	<if test="userTag != null ">,user_tag=#{userTag}</if>
	<if test="weight != null ">,weight=#{weight}</if>
	<if test="tagId != null ">,tag_id=#{tagId}</if>
	<if test="watch != null" >,watch=#{watch}</if>
    </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteREC_USER_TAG">DELETE FROM REC_USER_TAG WHERE ID=#{id}</delete>
<!-- 用户标签关联 列表总数-->
<select id="CountFindAllREC_USER_TAG" resultType="java.lang.Integer">SELECT count(1) as value FROM REC_USER_TAG</select>
<select id="CountREC_USER_TAG" resultType="java.lang.Integer">SELECT count(1) as value FROM REC_USER_TAG WHERE ID=#{id}</select>
<!-- 根据id查询 用户标签关联 -->
<select id="FindByPK" resultMap="result_map_REC_USER_TAG" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM REC_USER_TAG WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  用户标签关联 -->
<select id="FreeFindREC_USER_TAG" resultMap="result_map_REC_USER_TAG" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM REC_USER_TAG 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  用户标签关联 记录数 -->
<select id="CountFreeFindREC_USER_TAG" resultType="java.lang.Integer">
SELECT count(1) as value FROM REC_USER_TAG 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  用户标签关联 -->
<select id="FreeFindREC_USER_TAGOrdered" resultMap="result_map_REC_USER_TAG" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM REC_USER_TAG 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2017/02/22 10:59:03 ** -->
<!-- ************************************************************************ -->

	<!-- 插入默认用户标签 -->
	<insert id="Insert_Default_REC_USER_TAG" parameterType="Object" >
		insert into rec_user_tag (user_id,weight,tag_id,watch,user_tag) select #{userId},case when type='MIX' THEN 100 ELSE 0 END,id,case when type='MIX' THEN 1 ELSE 0 END,'' FROM rec_tag_dic where type in('MIX','HEAD')
	</insert>


	<!-- 通过用户查询tag_id 集合 -->
	<select id="FindUserTagIdGroupConcat" resultType="java.lang.String" parameterType="Object">
		select GROUP_CONCAT(tag_id) as value from rec_user_tag where user_id=#{userId} AND watch=1 GROUP BY user_id
	</select>

	<!-- 通过用户id 删除 标签 -->
	<delete id="DeleteREC_USER_TAG_BY_USERID">DELETE FROM REC_USER_TAG WHERE user_id=#{userId}</delete>

</mapper>   
