<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TASK_JOB">
	<resultMap id="result_map_BD_TASK_JOB" type="com.xfs.timer.model.TaskJob">
		<result column="id" property="id" />
		<result column="job_name" property="jobName" />
		<result column="job_code" property="jobCode" />
		<result column="job_group" property="jobGroup" />
		<result column="job_class" property="jobClass" />
		<result column="job_listener" property="jobListener" />
		<result column="job_para" property="jobPara" />
		<result column="description" property="description" />
		<result column="creat_by" property="creatBy" />
		<result column="creat_dt" property="creatDt" />
		<result column="modify_by" property="modifyBy" />
		<result column="modify_dt" property="modifyDt" />
		<result column="dr" property="dr" />
	</resultMap>
	<sql id="Job_Base_Column_List">
		id,job_name,job_code,job_group,job_class,job_listener,job_para,description,creat_by,creat_dt,modify_by,modify_dt,dr
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">and id = #{id}</if>
			<if test="jobName != null">and job_name = #{jobName}</if>
			<if test="jobCode != null">and job_code = #{jobCode}</if>
			<if test="jobGroup != null">and job_group = #{jobGroup}</if>
			<if test="jobClass != null">and job_class = #{jobClass}</if>
			<if test="jobListener != null">and job_listener = #{jobListener}
			</if>
			<if test="jobPara != null">and job_para = #{jobPara}</if>
			<if test="description != null">and description = #{description}
			</if>
			<if test="creatBy != null">and creat_by = #{creatBy}</if>
			<if test="creatDt != null">and creat_dt = #{creatDt}</if>
			<if test="modifyBy != null">and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">and modify_dt = #{modifyDt}</if>
			<if test="dr != null">and dr = #{dr}</if>
		</trim>
	</sql>
	<!-- 根据条件查询所有定时任务 -->
	<select id="GetTaskJobList" resultMap="result_map_BD_TASK_JOB"
		parameterType="Object">
		SELECT
		<include refid="Job_Base_Column_List" />
		FROM BD_TASK_JOB
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据条件查询定时任务个数 -->
	<select id="CountTaskJob" resultType="java.lang.Integer"
		parameterType="Object">
		SELECT
		count(1)
		FROM BD_TASK_JOB
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 删除定时任务基本信息 -->
	<delete id="DeleteTaskJob" parameterType="Object">
		DELETE FROM BD_TASK_JOB
		WHERE ID=#{id}
	</delete>
	<!-- 根据ID查询定时任务 -->
	<select id="GetTaskJobById" resultMap="result_map_BD_TASK_JOB"
		parameterType="Object">
		SELECT
		<include refid="Job_Base_Column_List" />
		FROM BD_TASK_JOB
		WHERE ID=#{id}
	</select>
	<!-- 查询所有正在运行定时任务 ????????????????????? -->
	<select id="GetTaskJobRunList" resultMap="result_map_BD_TASK_JOB"
		parameterType="Object">
		SELECT
		<include refid="Job_Base_Column_List" />
		FROM BD_TASK_JOB
		WHERE ??????
	</select>
	<!-- 插入定时任务 -->
	<insert id="AddTaskJob" parameterType="Object">
		INSERT INTO BD_TASK_JOB (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="jobName != null ">,job_name</if>
			<if test="jobCode != null ">,job_code</if>
			<if test="jobGroup != null ">,job_group</if>
			<if test="jobClass != null ">,job_class</if>
			<if test="jobListener != null ">,job_listener</if>
			<if test="jobPara != null ">,job_para</if>
			<if test="description != null ">,description</if>
			<if test="creatBy != null ">,creat_by</if>
			<if test="creatDt != null ">,creat_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
		</trim>
		) VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="jobName != null ">,#{jobName}</if>
			<if test="jobCode != null ">,#{jobCode}</if>
			<if test="jobGroup != null ">,#{jobGroup}</if>
			<if test="jobClass != null ">,#{jobClass}</if>
			<if test="jobListener != null ">,#{jobListener}</if>
			<if test="jobPara != null ">,#{jobPara}</if>
			<if test="description != null ">,#{description}</if>
			<if test="creatBy != null ">,#{creatBy}</if>
			<if test="creatDt != null ">,#{creatDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
		</trim>
		)
	</insert>
	<!-- 根据id，修改记录 -->
	<update id="UpdateTaskJob" parameterType="Object">
	UPDATE BD_TASK_JOB
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="jobName != null ">,job_name=#{jobName}</if>
			<if test="jobCode != null ">,job_code=#{jobCode}</if>
			<if test="jobGroup != null ">,job_group=#{jobGroup}</if>
			<if test="jobClass != null ">,job_class=#{jobClass}</if>
			<if test="jobListener != null ">,job_listener=#{jobListener}</if>
			<if test="jobPara != null ">,job_para=#{jobPara}</if>
			<if test="description != null ">,description=#{description}</if>
			<if test="creatBy != null ">,creat_by=#{creatBy}</if>
			<if test="creatDt != null ">,creat_dt=#{creatDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
		</trim>
		WHERE ID=#{id}
	</update>
</mapper>   
