<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BD_LOTTERY_RULE" > 
<!-- Result Map-->
<resultMap id="result_map_BD_LOTTERY_RULE" type="com.xfs.activity.model.BdLotteryRule" >
	<result column="id" property="id"/>
	<result column="lottery_id" property="lotteryId"/>
	<result column="lottery_index" property="lotteryIndex"/>
	<result column="prize_id" property="prizeId"/>
	<result column="probability" property="probability"/>
	<result column="create_by" property="createBy"/>
	<result column="dr" property="dr"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="create_dt" property="createDt"/>
</resultMap>
       
<!-- bd_lottery_rule table all fields -->
<sql id="Base_Column_List" >
	 id,lottery_id,lottery_index,prize_id,probability,create_by,dr,modify_by,modify_dt,create_dt
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="lotteryId != null" >and lottery_id = #{lotteryId}</if>
	<if test="lotteryIndex != null" >and lottery_index = #{lotteryIndex}</if>
	<if test="prizeId != null" >and prize_id = #{prizeId}</if>
	<if test="probability != null" >and probability = #{probability}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="lotteryId != null">AND lottery_id = #{lotteryId}</if>
    <if test="lotteryIndex != null">AND lottery_index = #{lotteryIndex}</if>
    <if test="prizeId != null">AND prize_id = #{prizeId}</if>
    <if test="probability != null">AND probability like '%${probability}%'</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="dr != null">AND dr = #{dr}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertBD_LOTTERY_RULE" parameterType="Object" >
  INSERT INTO BD_LOTTERY_RULE (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="lotteryId != null ">,lottery_id</if>
	<if test="lotteryIndex != null ">,lottery_index</if>
	<if test="prizeId != null ">,prize_id</if>
	<if test="probability != null ">,probability</if>
	<if test="createBy != null ">,create_by</if>
	<if test="dr != null ">,dr</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="createDt != null ">,create_dt</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="lotteryId != null ">,#{lotteryId}</if>
	<if test="lotteryIndex != null ">,#{lotteryIndex}</if>
	<if test="prizeId != null ">,#{prizeId}</if>
	<if test="probability != null ">,#{probability}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="createDt != null ">,#{createDt}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateBD_LOTTERY_RULE" parameterType="Object" >
UPDATE BD_LOTTERY_RULE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="lotteryId != null ">,lottery_id=#{lotteryId}</if>
	<if test="lotteryIndex != null ">,lottery_index=#{lotteryIndex}</if>
	<if test="prizeId != null ">,prize_id=#{prizeId}</if>
	<if test="probability != null ">,probability=#{probability}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteBD_LOTTERY_RULE">DELETE FROM BD_LOTTERY_RULE WHERE ID=#{id}</delete>
<!-- bd_lottery_rule 列表总数-->
<select id="CountFindAllBD_LOTTERY_RULE" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_LOTTERY_RULE</select>
<select id="CountBD_LOTTERY_RULE" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_LOTTERY_RULE WHERE ID=#{id}</select>
<!-- 根据id查询 bd_lottery_rule -->
<select id="FindByPK" resultMap="result_map_BD_LOTTERY_RULE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY_RULE WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  bd_lottery_rule -->
<select id="FreeFindBD_LOTTERY_RULE" resultMap="result_map_BD_LOTTERY_RULE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY_RULE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  bd_lottery_rule 记录数 -->
<select id="CountFreeFindBD_LOTTERY_RULE" resultType="java.lang.Integer">
SELECT count(1) as value FROM BD_LOTTERY_RULE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  bd_lottery_rule -->
<select id="FreeFindBD_LOTTERY_RULEOrdered" resultMap="result_map_BD_LOTTERY_RULE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY_RULE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/10/10 20:26:29 ** -->
<!-- ************************************************************************ -->

	<!-- 获取没轮的中奖奖品 -->
	<select id="FindBD_LOTTERY_RULE_PRIZE" resultType="java.util.Map" parameterType="Object">
		SELECT lu.`lottery_id`, lu.`lottery_index`, lu.`prize_id`, lu.`probability`, p.`prize_name`,p.`prize_img`, p.`prize_type`, p.`prize_price`, p.`begintime`, p.`endtime`
				FROM bd_lottery_rule lu
			INNER JOIN bd_lottery_pool lp ON lu.`prize_id` = lp.`prize_id` AND lp.`remain_num` > 0 AND lp.`dr` = 0
			INNER JOIN bd_prize p ON lp.`prize_id` = p.`prize_id` AND p.`dr` = 0 AND p.`prize_type` != 'ZERO'
				AND (NOW() BETWEEN p.`begintime` AND p.`endtime`) AND p.`remain_num` > 0
			WHERE lu.`dr` = 0 AND lu.`probability` > 0 AND lu.`lottery_id` = #{lotteryId} AND lu.`lottery_index` = #{lotteryIndex}
		UNION ALL
		SELECT lu.`lottery_id`, lu.`lottery_index`, lu.`prize_id`, lu.`probability`, p.`prize_name`,p.`prize_img`, p.`prize_type`, p.`prize_price`, p.`begintime`, p.`endtime`
				FROM bd_lottery_rule lu
			INNER JOIN bd_lottery_pool lp ON lu.`prize_id` = lp.`prize_id` AND lp.`dr` = 0
			INNER JOIN bd_prize p ON lp.`prize_id` = p.`prize_id` AND p.`dr` = 0 AND p.`prize_type` = 'ZERO'
			WHERE lu.`dr` = 0 AND lu.`probability` > 0  AND lu.`lottery_id` = #{lotteryId} AND lu.`lottery_index` = #{lotteryIndex}
	</select>
	
	<!-- bs查找活动规则list -->
	<select id="findrulelist" resultType="java.util.Map" parameterType="Object">
	SELECT br.id,br.lottery_id,bl.lottery_name,br.prize_id,br.lottery_index,bp.prize_name,br.probability,bd.distributed_num 
	FROM bd_lottery_rule br
	LEFT JOIN bd_prize bp ON bp.prize_id = br.prize_id
	LEFT JOIN bd_lottery bl ON bl.lottery_id = br.lottery_id
	LEFT JOIN bd_lottery_pool bd ON bd.prize_id = br.prize_id
	WHERE 1=1
	AND br.lottery_id = '${lotteryId }'
	<if test="lotteryIndex != null ">AND br.lottery_index=#{lotteryIndex}</if>
	<if test="prizeId != null ">AND br.prize_id=#{prizeId}</if>
	GROUP BY br.id
</select>

</mapper>   
