<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BD_LOTTERY" > 
<!-- Result Map-->
<resultMap id="result_map_BD_LOTTERY" type="com.xfs.activity.model.BdLottery" >
	<result column="lottery_id" property="lotteryId"/>
	<result column="lottery_code" property="lotteryCode"/>
	<result column="lottery_name" property="lotteryName"/>
	<result column="cover_img" property="coverImg"/>
	<result column="begintime" property="begintime"/>
	<result column="endtime" property="endtime"/>
	<result column="lottery_desc" property="lotteryDesc"/>
	<result column="lottery_times" property="lotteryTimes"/>
	<result column="condition_times" property="conditionTimes"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- bd_lottery table all fields -->
<sql id="Base_Column_List" >
	 lottery_id,lottery_code,lottery_name,cover_img,begintime,endtime,lottery_desc,lottery_times,condition_times,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="lotteryId != null" >and lottery_id = #{lotteryId}</if>
	<if test="lotteryCode != null" >and lottery_code = #{lotteryCode}</if>
	<if test="lotteryName != null" >and lottery_name = #{lotteryName}</if>
	<if test="coverImg != null" >and cover_img = #{coverImg}</if>
	<if test="begintime != null" >and begintime = #{begintime}</if>
	<if test="endtime != null" >and endtime = #{endtime}</if>
	<if test="lotteryDesc != null" >and lottery_desc = #{lotteryDesc}</if>
	<if test="lotteryTimes != null" >and lottery_times = #{lotteryTimes}</if>
	<if test="conditionTimes != null" >and condition_times = #{conditionTimes}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertBD_LOTTERY" parameterType="Object" >
  INSERT INTO BD_LOTTERY (
  <trim prefix=" " prefixOverrides=",">
	<if test="lotteryId != null ">,lottery_id</if>
	<if test="lotteryCode != null ">,lottery_code</if>
	<if test="lotteryName != null ">,lottery_name</if>
	<if test="coverImg != null ">,cover_img</if>
	<if test="begintime != null ">,begintime</if>
	<if test="endtime != null ">,endtime</if>
	<if test="lotteryDesc != null ">,lottery_desc</if>
	<if test="lotteryTimes != null ">,lottery_times</if>
	<if test="conditionTimes != null ">,condition_times</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="lotteryId != null ">,#{lotteryId}</if>
	<if test="lotteryCode != null ">,#{lotteryCode}</if>
	<if test="lotteryName != null ">,#{lotteryName}</if>
	<if test="coverImg != null ">,#{coverImg}</if>
	<if test="begintime != null ">,#{begintime}</if>
	<if test="endtime != null ">,#{endtime}</if>
	<if test="lotteryDesc != null ">,#{lotteryDesc}</if>
	<if test="lotteryTimes != null ">,#{lotteryTimes}</if>
	<if test="conditionTimes != null ">,#{conditionTimes}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="lotteryId">
	SELECT LAST_INSERT_ID() AS LOTTERY_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateBD_LOTTERY" parameterType="Object" >
UPDATE BD_LOTTERY 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="lotteryId != null ">,lottery_id=#{lotteryId}</if>
	<if test="lotteryCode != null ">,lottery_code=#{lotteryCode}</if>
	<if test="lotteryName != null ">,lottery_name=#{lotteryName}</if>
	<if test="coverImg != null ">,cover_img=#{coverImg}</if>
	<if test="begintime != null ">,begintime=#{begintime}</if>
	<if test="endtime != null ">,endtime=#{endtime}</if>
	<if test="lotteryDesc != null ">,lottery_desc=#{lotteryDesc}</if>
	<if test="lotteryTimes != null ">,lottery_times=#{lotteryTimes}</if>
	<if test="conditionTimes != null ">,condition_times=#{conditionTimes}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE LOTTERY_ID=#{lotteryId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteBD_LOTTERY">DELETE FROM BD_LOTTERY WHERE LOTTERY_ID=#{lotteryId}</delete>
<!-- bd_lottery 列表总数-->
<select id="CountFindAllBD_LOTTERY" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_LOTTERY</select>
<select id="CountBD_LOTTERY" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_LOTTERY WHERE LOTTERY_ID=#{lotteryId}</select>
<!-- 根据id查询 bd_lottery -->
<select id="FindByPK" resultMap="result_map_BD_LOTTERY" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY WHERE LOTTERY_ID=#{pk}</select>

<!-- 根据各字段条件带查询  bd_lottery -->
<select id="FreeFindBD_LOTTERY" resultMap="result_map_BD_LOTTERY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY 
	 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带查询  bd_lottery 记录数 -->
<select id="CountFreeFindBD_LOTTERY" resultType="java.lang.Integer">
SELECT count(1) as value FROM BD_LOTTERY 
 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带排序  bd_lottery -->
<select id="FreeFindBD_LOTTERYOrdered" resultMap="result_map_BD_LOTTERY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY 
	 <include refid="Example_Where_Clause" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/10/18 16:48:19 ** -->
<!-- ************************************************************************ -->

	<!-- 通过id或者code获取抽奖活动 -->
	<select id="FindBD_LOTTERY" resultMap="result_map_BD_LOTTERY" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BD_LOTTERY
			WHERE NOW() BETWEEN begintime AND endtime
			<if test="lotteryId != null"> AND lottery_id = #{lotteryId}</if>
			<if test="lotteryCode != null"> AND  lottery_code = #{lotteryCode}</if>
	</select>

	<select id="queryProuductInfo" resultType="java.util.Map" parameterType="Object">
		SELECT lot.lottery_id,prize.prize_price,prize_name,uprize.prize_code,lot.lottery_code,prize.begintime,prize.endtime,prize.prize_img FROM bd_lottery lot INNER JOIN bd_lottery_pool poo ON lot.lottery_id = poo.lottery_id AND NOW() BETWEEN lot.begintime AND lot.endtime AND lot.lottery_code = #{lottery_code}
		INNER JOIN bd_prize prize ON prize.prize_id = poo.prize_id AND prize.exchange_type = 'AMOUNT_PAID' LEFT JOIN bd_user_prize uprize ON uprize.org_id = #{cpid} AND uprize.user_type = 'CORP' AND uprize.prize_id = prize.prize_id AND uprize.lottery_id = lot.lottery_id
	</select>


	<select id="queryPartnerList" resultType="java.util.Map" parameterType="Object">
		SELECT sp_id,sp_name,short_name,logo from sp_service WHERE service_state ='SIGNED'
	</select>

</mapper>
