<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BS_MALL_BANNER" >
	<!-- Result Map-->
	<resultMap id="result_map_BS_MALL_BANNER" type="com.xfs.activity.model.BsMallBanner" >
		<result column="banner_id" property="bannerId"/>
		<result column="area_id" property="areaId"/>
		<result column="title" property="title"/>
		<result column="coverimg" property="coverimg"/>
		<result column="type" property="type"/>
		<result column="url" property="url"/>
		<result column="begintime" property="begintime"/>
		<result column="endtime" property="endtime"/>
		<result column="orderby" property="orderby"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<result column="show_type" property="showType"/>
	</resultMap>

	<!-- bs_mall_banner table all fields -->
	<sql id="Base_Column_List" >
		banner_id,area_id,title,coverimg,type,url,begintime,endtime,orderby,create_by,create_dt,modify_by,modify_dt,dr,show_type
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="bannerId != null" >and banner_id = #{bannerId}</if>
			<if test="areaId != null" >and area_id = #{areaId}</if>
			<if test="title != null" >and title = #{title}</if>
			<if test="coverimg != null" >and coverimg = #{coverimg}</if>
			<if test="type != null" >and type = #{type}</if>
			<if test="url != null" >and url = #{url}</if>
			<if test="begintime != null" >and begintime = #{begintime}</if>
			<if test="endtime != null" >and endtime = #{endtime}</if>
			<if test="orderby != null" >and orderby = #{orderby}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="showType != null" >and show_type = #{showType}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="bannerId != null">AND banner_id = '${bannerId}'</if>
			<if test="areaId != null">AND area_id = '${areaId}'</if>
			<if test="title != null">AND title like '%${title}%'</if>
			<if test="titleEq != null">AND title = #{titleEq}</if>
			<if test="coverimg != null">AND coverimg like '%${coverimg}%'</if>
			<if test="type != null">AND type like '%${type}%'</if>
			<if test="url != null">AND url like '%${url}%'</if>
			<if test="urlEq != null">AND url = #{urlEq}</if>
			<if test="begintime != null">AND begintime = #{begintime}</if>
			<if test="begintimeFrom != null">AND begintime&gt;=#{begintimeFrom}</if>
			<if test="begintimeTo != null">AND begintime&lt;=#{begintimeTo}</if>
			<if test="endtime != null">AND endtime = #{endtime}</if>
			<if test="endtimeFrom != null">AND endtime&gt;=#{endtimeFrom}</if>
			<if test="endtimeTo != null">AND endtime&lt;=#{endtimeTo}</if>
			<if test="orderby != null">AND orderby like '%${orderby}%'</if>
			<if test="createBy != null">AND create_by = '%${createBy}%'</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr like '%${dr}%'</if>
			<if test="showType != null">AND show_type like '%${showType}%'</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertBS_MALL_BANNER" parameterType="Object" >
		INSERT INTO BS_MALL_BANNER (
		<trim prefix=" " prefixOverrides=",">
			<if test="bannerId != null ">,banner_id</if>
			<if test="areaId != null ">,area_id</if>
			<if test="title != null ">,title</if>
			<if test="coverimg != null ">,coverimg</if>
			<if test="type != null ">,type</if>
			<if test="url != null ">,url</if>
			<if test="begintime != null ">,begintime</if>
			<if test="endtime != null ">,endtime</if>
			<if test="orderby != null ">,orderby</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="showType != null ">,show_type</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="bannerId != null ">,#{bannerId}</if>
			<if test="areaId != null ">,#{areaId}</if>
			<if test="title != null ">,#{title}</if>
			<if test="coverimg != null ">,#{coverimg}</if>
			<if test="type != null ">,#{type}</if>
			<if test="url != null ">,#{url}</if>
			<if test="begintime != null ">,#{begintime}</if>
			<if test="endtime != null ">,#{endtime}</if>
			<if test="orderby != null ">,#{orderby}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="showType != null ">,#{showType}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="bannerId">
			SELECT LAST_INSERT_ID() AS BANNER_ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateBS_MALL_BANNER" parameterType="Object" >
		UPDATE BS_MALL_BANNER
		<trim prefix=" SET " prefixOverrides=",">
			<if test="bannerId != null ">,banner_id=#{bannerId}</if>
			<if test="areaId != null ">,area_id=#{areaId}</if>
			<if test="title != null ">,title=#{title}</if>
			<if test="coverimg != null ">,coverimg=#{coverimg}</if>
			<if test="type != null ">,type=#{type}</if>
			<if test="url != null ">,url=#{url}</if>
			<if test="begintime != null ">,begintime=#{begintime}</if>
			<if test="endtime != null ">,endtime=#{endtime}</if>
			<if test="orderby != null ">,orderby=#{orderby}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="showType != null ">,show_type=#{showType}</if>
		</trim>
		WHERE BANNER_ID=#{bannerId}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteBS_MALL_BANNER">DELETE FROM BS_MALL_BANNER WHERE BANNER_ID=#{bannerId}</delete>
	<!-- bs_mall_banner 列表总数-->
	<select id="CountFindAllBS_MALL_BANNER" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_MALL_BANNER</select>
	<select id="CountBS_MALL_BANNER" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_MALL_BANNER WHERE BANNER_ID=#{bannerId}</select>
	<!-- 根据id查询 bs_mall_banner -->
	<select id="FindByPK" resultMap="result_map_BS_MALL_BANNER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BS_MALL_BANNER WHERE BANNER_ID=#{bannerId}</select>

	<!-- 根据各字段条件带模糊查询  bs_mall_banner -->
	<select id="FreeFindBS_MALL_BANNER" resultMap="result_map_BS_MALL_BANNER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BS_MALL_BANNER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  bs_mall_banner 记录数 -->
	<select id="CountFreeFindBS_MALL_BANNER" resultType="java.lang.Integer">
		SELECT count(1) as value FROM BS_MALL_BANNER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  bs_mall_banner -->
	<select id="FreeFindBS_MALL_BANNEROrdered" resultMap="result_map_BS_MALL_BANNER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BS_MALL_BANNER
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/07/25 18:08:58 ** -->
	<!-- ************************************************************************ -->

	<!--  查询所有banner  -->
	<select id="FindBS_MALL_BANNER" resultMap="result_map_BS_MALL_BANNER">
		SELECT <include refid="Base_Column_List" /> FROM BS_MALL_BANNER
		WHERE dr = 0 AND NOW() BETWEEN begintime AND endtime ORDER BY orderby DESC, banner_id DESC
	</select>

</mapper>