<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BD_BUSINESSFIELD" >
	<!-- Result Map-->
	<resultMap id="result_map_BD_BUSINESSFIELD" type="com.xfs.base.model.BdBusinessfield" >
		<result column="field_id" property="fieldId"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="type" property="type"/>
		<result column="source" property="source"/>
		<result column="page_is_hidden" property="pageIsHidden"/>
		<result column="model_is_hidden" property="modelIsHidden"/>
		<result column="default_value" property="defaultValue"/>
	</resultMap>

	<resultMap id="result_map_BD_BUSINESSFIELD_DTO" type="com.xfs.base.dto.BusinessField" >
		<result column="bstype_id" property="bstypeId"/>
		<result column="area_id" property="areaId"/>
		<result column="required" property="required"/>
		<result column="field_id" property="field_id"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="type" property="type"/>
		<result column="insurance_fund_type" property="insuranceFundType"/>
		<result column="page_is_hidden" property="pageIsHidden"/>
		<result column="model_is_hidden" property="modelIsHidden"/>
		<result column="default_value" property="defaultValue"/>
		<result column="remark" property="remark"/>
	</resultMap>

	<!-- bd_businessfield table all fields -->
	<sql id="Base_Column_List" >
		field_id,code,name,type,source
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="fieldId != null" >and field_id = #{fieldId}</if>
			<if test="code != null" >and code = #{code}</if>
			<if test="name != null" >and name = #{name}</if>
			<if test="type != null" >and type = #{type}</if>
			<if test="source != null" >and source = #{source}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="fieldId != null">AND field_id = '${fieldId}'</if>
			<if test="code != null">AND code like '%${code}%'</if>
			<if test="codeEq != null">AND code = #{codeEq}</if>
			<if test="name != null">AND name like '%${name}%'</if>
			<if test="nameEq != null">AND name = #{nameEq}</if>
			<if test="type != null" >AND type = #{type}</if>
			<if test="source != null">AND source like '%${source}%'</if>
			<if test="sourceEq != null">AND source = #{sourceEq}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertBD_BUSINESSFIELD" parameterType="Object" >
		INSERT INTO BD_BUSINESSFIELD (
		<trim prefix=" " prefixOverrides=",">
			<if test="fieldId != null ">,field_id</if>
			<if test="code != null ">,code</if>
			<if test="name != null ">,name</if>
			<if test="type != null ">,type</if>
			<if test="source != null ">,source</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="fieldId != null ">,#{fieldId}</if>
			<if test="code != null ">,#{code}</if>
			<if test="name != null ">,#{name}</if>
			<if test="type != null ">,#{type}</if>
			<if test="source != null ">,#{source}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="fieldId">
			SELECT LAST_INSERT_ID() AS FIELD_ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateBD_BUSINESSFIELD" parameterType="Object" >
		UPDATE BD_BUSINESSFIELD
		<trim prefix=" SET " prefixOverrides=",">
			<if test="fieldId != null ">,field_id=#{fieldId}</if>
			<if test="code != null ">,code=#{code}</if>
			<if test="name != null ">,name=#{name}</if>
			<if test="type != null ">,type=#{type}</if>
			<if test="source != null ">,source=#{source}</if>
		</trim>
		WHERE FIELD_ID=#{fieldId}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteBD_BUSINESSFIELD">DELETE FROM BD_BUSINESSFIELD WHERE FIELD_ID=#{fieldId}</delete>
	<!-- 业务字段 列表总数-->
	<select id="CountFindAllBD_BUSINESSFIELD" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_BUSINESSFIELD</select>
	<select id="CountBD_BUSINESSFIELD" resultType="java.lang.Integer">SELECT count(1) as value FROM BD_BUSINESSFIELD WHERE FIELD_ID=#{fieldId}</select>
	<!-- 根据id查询 业务字段 -->
	<select id="FindByPK" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BD_BUSINESSFIELD WHERE FIELD_ID=#{fieldId}</select>

	<!-- 根据各字段条件带模糊查询  业务字段 -->
	<select id="FreeFindBD_BUSINESSFIELD" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BD_BUSINESSFIELD
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  业务字段 记录数 -->
	<select id="CountFreeFindBD_BUSINESSFIELD" resultType="java.lang.Integer">
		SELECT count(1) as value FROM BD_BUSINESSFIELD
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  业务字段 -->
	<select id="FreeFindBD_BUSINESSFIELDOrdered" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BD_BUSINESSFIELD
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/05/18 11:55:54 ** -->
	<!-- ************************************************************************ -->

	<!-- 根据地区获取控件组 -->
	<select id="QUERY_BUSINESS_FIELDS" resultMap="result_map_BD_BUSINESSFIELD_DTO" parameterType="Object">
		SELECT af.bstype_id,af.area_id,af.required,af.field_id,field.`code`,field.name,field.type,bstype.insurance_fund_type,af.model_is_hidden,af.page_is_hidden,af.default_value,af.remark FROM bd_bstypeareafield af
		INNER JOIN bd_businessfield field ON af.field_id = field.field_id
		AND af.area_id = #{areaId}
		INNER JOIN bd_bstype bstype ON bstype.bstype_id = af.bstype_id AND af.bstype_id in
		<foreach collection="bstypeId" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		AND field.source = 'TASK' and af.page_is_hidden='SHOW'
		ORDER BY bstype.insurance_fund_type DESC,af.order_id ASC
	</select>
	<select id="bdBusinessFieldList" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">
		SELECT
		bbsf.*,bbf.model_is_hidden,bbf.page_is_hidden,bbf.default_value
		FROM
		bd_bstypeareafield bbf
		JOIN bd_businessfield bbsf ON bbsf.field_id = bbf.field_id
		WHERE
		bbf.area_id =#{areaId} and bbf.bstype_id=#{bstypeId}
		ORDER BY bbf.field_id;
	</select>

    <select id="findbsTypeAreaFieldPage" parameterType="Object" resultMap="result_map_BD_BUSINESSFIELD">
		SELECT bb.*, bbf.page_is_hidden, bbf.model_is_hidden, bbf.default_value,bbf.required,bbf.area_id  FROM bd_bstypeareafield bbf JOIN bd_businessfield bb ON
			bbf.field_id=bb.field_id
			WHERE bbf.area_id = ${areaId} AND bbf.bstype_id =${bstypeId}
	</select>

    <!-- 根据各字段条件带模糊查询  业务字段 -->
    <select id="FreeFindBD_BUSINESSFIELD_By_Source" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">
        SELECT <include refid="Base_Column_List" /> FROM BD_BUSINESSFIELD
        where 1 =1 and source = "INSURANCEFUND"
    </select>

	<!-- 根据code查询 业务字段 -->
	<select id="findNameByCode" resultMap="result_map_BD_BUSINESSFIELD" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> 
		FROM BD_BUSINESSFIELD
		WHERE code = '${code}'
		and source='TASK'
	</select>

</mapper>



