<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BD_EXPRESS_COMPANY" >
	<!-- Result Map-->
	<resultMap id="result_map_BD_EXPRESS_COMPANY" type="com.xfs.base.model.BdExpressCompany" >
		<result column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
	</resultMap>


	<sql id="Base_Column_List" >
		id,code,name
	</sql>


	<select id="findAllCompany" resultMap="result_map_BD_EXPRESS_COMPANY" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BD_EXPRESS_COMPANY
	</select>



</mapper>



