<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BS_SPPAYRECORD" > 
<!-- Result Map-->
<resultMap id="result_map_BS_SPPAYRECORD" type="com.xfs.base.model.BsSppayrecord" >
	<result column="id" property="id"/>
	<result column="sp_id" property="spId"/>
	<result column="begin_date" property="beginDate"/>
	<result column="end_date" property="endDate"/>
	<result column="service_num" property="serviceNum"/>
	<result column="unit" property="unit"/>
	<result column="standard_fee" property="standardFee"/>
	<result column="discounted_fee" property="discountedFee"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- bs_sppayrecord table all fields -->
<sql id="Base_Column_List" >
	 id,sp_id,begin_date,end_date,service_num,unit,standard_fee,discounted_fee,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="beginDate != null" >and begin_date = #{beginDate}</if>
	<if test="endDate != null" >and end_date = #{endDate}</if>
	<if test="serviceNum != null" >and service_num = #{serviceNum}</if>
	<if test="unit != null" >and unit = #{unit}</if>
	<if test="standardFee != null" >and standard_fee = #{standardFee}</if>
	<if test="discountedFee != null" >and discounted_fee = #{discountedFee}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="spId != null">AND sp_id = '${spId}'</if>
    <if test="beginDate != null">AND begin_date = #{beginDate}</if>
    <if test="beginDateFrom != null">AND begin_date&gt;=#{beginDateFrom}</if>
	<if test="beginDateTo != null">AND begin_date&lt;=#{beginDateTo}</if>
    <if test="endDate != null">AND end_date = #{endDate}</if>
    <if test="endDateFrom != null">AND end_date&gt;=#{endDateFrom}</if>
	<if test="endDateTo != null">AND end_date&lt;=#{endDateTo}</if>
    <if test="serviceNum != null">AND service_num like '%${serviceNum}%'</if>
    <if test="unit != null">AND unit like '%${unit}%'</if>
    <if test="unitEq != null">AND unit = #{unitEq}</if>
    <if test="standardFee != null">AND standard_fee like '%${standardFee}%'</if>
    <if test="discountedFee != null">AND discounted_fee like '%${discountedFee}%'</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertBS_SPPAYRECORD" parameterType="Object" >
  INSERT INTO BS_SPPAYRECORD (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="beginDate != null ">,begin_date</if>
	<if test="endDate != null ">,end_date</if>
	<if test="serviceNum != null ">,service_num</if>
	<if test="unit != null ">,unit</if>
	<if test="standardFee != null ">,standard_fee</if>
	<if test="discountedFee != null ">,discounted_fee</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="beginDate != null ">,#{beginDate}</if>
	<if test="endDate != null ">,#{endDate}</if>
	<if test="serviceNum != null ">,#{serviceNum}</if>
	<if test="unit != null ">,#{unit}</if>
	<if test="standardFee != null ">,#{standardFee}</if>
	<if test="discountedFee != null ">,#{discountedFee}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateBS_SPPAYRECORD" parameterType="Object" >
UPDATE BS_SPPAYRECORD 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="beginDate != null ">,begin_date=#{beginDate}</if>
	<if test="endDate != null ">,end_date=#{endDate}</if>
	<if test="serviceNum != null ">,service_num=#{serviceNum}</if>
	<if test="unit != null ">,unit=#{unit}</if>
	<if test="standardFee != null ">,standard_fee=#{standardFee}</if>
	<if test="discountedFee != null ">,discounted_fee=#{discountedFee}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteBS_SPPAYRECORD">DELETE FROM BS_SPPAYRECORD WHERE ID=#{id}</delete>
<!-- 服务商缴费记录 列表总数-->
<select id="CountFindAllBS_SPPAYRECORD" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_SPPAYRECORD</select>
<select id="CountBS_SPPAYRECORD" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_SPPAYRECORD WHERE ID=#{id}</select>
<!-- 根据id查询 服务商缴费记录 -->
<select id="FindByPK" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BS_SPPAYRECORD WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务商缴费记录 -->
<select id="FreeFindBS_SPPAYRECORD" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BS_SPPAYRECORD 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  服务商缴费记录 记录数 -->
<select id="CountFreeFindBS_SPPAYRECORD" resultType="java.lang.Integer">
SELECT count(1) as value FROM BS_SPPAYRECORD 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务商缴费记录 -->
<select id="FreeFindBS_SPPAYRECORDOrdered" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BS_SPPAYRECORD 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/06/15 11:14:40 ** -->
<!-- ************************************************************************ -->

<select id="CountLisBySpid_SPPAYRECORD" resultType="java.lang.Integer">
	SELECT count(1) FROM BS_SPPAYRECORD 
	where 1=1 
	<if test="spId != null ">and sp_id=#{spId}</if>
	and dr&lt;&gt;1
</select>

<select id="FindLisBySpid_SPPAYRECORD" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM BS_SPPAYRECORD 
	where 1=1 
	<if test="spId != null ">and sp_id=#{spId}</if>
	and dr&lt;&gt;1
</select>

<select id="FindMaxDateBySpId_SPPAYRECORD" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">
	SELECT max(end_date) as end_date FROM BS_SPPAYRECORD 
	where dr=0 
	<if test="spId != null ">and sp_id=#{spId}</if>
</select>

<select id="GetTotleStandareFee_SPPAYRECORD" resultMap="result_map_BS_SPPAYRECORD" parameterType="Object">
	SELECT sum(standard_fee) as standard_fee from bs_sppayrecord 
	where dr=0 
	<if test="spId != null ">and sp_id=#{spId}</if>
</select>

</mapper>   
