<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BS_SYS_VER" >
    <sql id="Base_Column_List" >
        id,owner,owner_type,version_no,update_time,remark,status,create_by,create_dt,modify_by,modify_dt,dr
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        <trim prefix=" WHERE " prefixOverrides="AND">
            <if test="id != null" >and id = #{id}</if>
            <if test="owner != null" >and owner = #{owner}</if>
            <if test="owner_type != null" >and owner_type = #{owner_type}</if>
            <if test="version_no != null" >and version_no = #{version_no}</if>
            <if test="update_time != null" >and update_time = #{update_time}</if>
            <if test="create_dt != null" >and create_dt = #{create_dt}</if>
            <if test="dr != null" >and dr = #{dr}</if>
        </trim>
    </sql>

    <!-- 查询版本列表  -->
    <select id="FreeFindBS_SYS_VER"  resultType="java.util.Map" parameterType="Object">
        SELECT <include refid="Base_Column_List" /> FROM BS_SYS_VER
        <include refid="Example_Where_Clause" />
        order by create_dt  desc
    </select>





</mapper>




