<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_DICTIONARY" > 
<!-- Result Map-->
<resultMap id="result_map_SYS_DICTIONARY" type="com.xfs.base.model.SysDictionary" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="cnname" property="cnname"/>
	<result column="description" property="description"/>
	<result column="remark" property="remark"/>
	<result column="dictlist_type" property="dictlistType"/>
	<result column="create_time" property="createTime"/>
	<result column="create_user" property="createUser"/>
</resultMap>
       
<!-- sys_dictionary table all fields -->
<sql id="Base_Column_List" >
	 id,name,cnname,description,remark,dictlist_type,create_time,create_user
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="cnname != null" >and cnname = #{cnname}</if>
	<if test="description != null" >and description = #{description}</if>
	<if test="remark != null" >and remark = #{remark}</if>
	<if test="dictlistType != null" >and dictlist_type = #{dictlistType}</if>
	<if test="createTime != null" >and create_time = #{createTime}</if>
	<if test="createUser != null" >and create_user = #{createUser}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="cnname != null">AND cnname like '%${cnname}%'</if>
    <if test="cnnameEq != null">AND cnname = #{cnnameEq}</if>
    <if test="description != null">AND description like '%${description}%'</if>
    <if test="descriptionEq != null">AND description = #{descriptionEq}</if>
    <if test="remark != null">AND remark like '%${remark}%'</if>
    <if test="remarkEq != null">AND remark = #{remarkEq}</if>
    <if test="dictlistType != null">AND dictlist_type like '%${dictlistType}%'</if>
    <if test="createTime != null">AND create_time like '%${createTime}%'</if>
    <if test="createTimeEq != null">AND create_time = #{createTimeEq}</if>
    <if test="createUser != null">AND create_user like '%${createUser}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSYS_DICTIONARY" parameterType="Object" >
  INSERT INTO SYS_DICTIONARY (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="name != null ">,name</if>
	<if test="cnname != null ">,cnname</if>
	<if test="description != null ">,description</if>
	<if test="remark != null ">,remark</if>
	<if test="dictlistType != null ">,dictlist_type</if>
	<if test="createTime != null ">,create_time</if>
	<if test="createUser != null ">,create_user</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="name != null ">,#{name}</if>
	<if test="cnname != null ">,#{cnname}</if>
	<if test="description != null ">,#{description}</if>
	<if test="remark != null ">,#{remark}</if>
	<if test="dictlistType != null ">,#{dictlistType}</if>
	<if test="createTime != null ">,#{createTime}</if>
	<if test="createUser != null ">,#{createUser}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSYS_DICTIONARY" parameterType="Object" >
UPDATE SYS_DICTIONARY 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="cnname != null ">,cnname=#{cnname}</if>
	<if test="description != null ">,description=#{description}</if>
	<if test="remark != null ">,remark=#{remark}</if>
	<if test="dictlistType != null ">,dictlist_type=#{dictlistType}</if>
	<if test="createTime != null ">,create_time=#{createTime}</if>
	<if test="createUser != null ">,create_user=#{createUser}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSYS_DICTIONARY">DELETE FROM SYS_DICTIONARY WHERE ID=#{id}</delete>
<!-- 字典表 列表总数-->
<select id="CountFindAllSYS_DICTIONARY" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_DICTIONARY</select>
<select id="CountSYS_DICTIONARY" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_DICTIONARY WHERE ID=#{id}</select>
<!-- 根据id查询 字典表 -->
<select id="FindByPK" resultMap="result_map_SYS_DICTIONARY" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_DICTIONARY WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  字典表 -->
<select id="FreeFindSYS_DICTIONARY" resultMap="result_map_SYS_DICTIONARY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_DICTIONARY 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  字典表 记录数 -->
<select id="CountFreeFindSYS_DICTIONARY" resultType="java.lang.Integer">
SELECT count(1) as value FROM SYS_DICTIONARY 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  字典表 -->
<select id="FreeFindSYS_DICTIONARYOrdered" resultMap="result_map_SYS_DICTIONARY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_DICTIONARY 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *******************************  温馨提示：     ******************************* -->
<!-- **                                                                    ** -->
<!-- **************以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写************** -->
<!-- **                                  ** quanjiahua,2015/12/10 17:19:51 ** -->
<!-- ************************************************************************ -->

<resultMap id="flat_result_map_SYS_DICTIONARY" type="com.xfs.base.model.SysDictionary" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="cnname" property="cnname"/>
	<result column="description" property="description"/>
	<result column="remark" property="remark"/>
	<result column="dictlist_type" property="dictlistType"/>
	<result column="create_time" property="createTime"/>
	<result column="create_user" property="createUser"/>
	<collection property="sysDictitem" column="{dictionary=id}" ofType="SysDictitem" select="SYS_DICTITEM.FindSYS_DICTITEMBydictionary" />
</resultMap>
<!-- 根据id查询 字典表 -->
<select id="FindForItemByPK" resultMap="flat_result_map_SYS_DICTIONARY" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_DICTIONARY WHERE ID=#{id}</select>

	<!--根据名称查询字典表-->
<select id="findSysDicByName" resultMap="flat_result_map_SYS_DICTIONARY" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_DICTIONARY WHERE name=#{name}</select>


</mapper>   
