<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_TENANTPARAM" > 
<!-- Result Map-->
<resultMap id="result_map_SYS_TENANTPARAM" type="com.xfs.base.model.SysTenantparam" >
	<result column="id" property="id"/>
	<result column="param_type" property="paramType"/>
	<result column="param_code" property="paramCode"/>
	<result column="param_name" property="paramName"/>
	<result column="def_value" property="defValue"/>
	<result column="param_content" property="paramContent"/>
	<result column="param_desc" property="paramDesc"/>
	<result column="is_display" property="isDisplay"/>
</resultMap>
       
<!-- sys_tenantparam table all fields -->
<sql id="Base_Column_List" >
	 id,param_type,param_code,param_name,def_value,param_content,param_desc,is_display
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="paramType != null" >and param_type = #{paramType}</if>
	<if test="paramCode != null" >and param_code = #{paramCode}</if>
	<if test="paramName != null" >and param_name = #{paramName}</if>
	<if test="defValue != null" >and def_value = #{defValue}</if>
	<if test="paramContent != null" >and param_content = #{paramContent}</if>
	<if test="paramDesc != null" >and param_desc = #{paramDesc}</if>
	<if test="isDisplay != null" >and is_display = #{isDisplay}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="paramType != null">AND param_type like '%${paramType}%'</if>
    <if test="paramTypeEq != null">AND param_type = #{paramTypeEq}</if>
    <if test="paramCode != null">AND param_code like '%${paramCode}%'</if>
    <if test="paramCodeEq != null">AND param_code = #{paramCodeEq}</if>
    <if test="paramName != null">AND param_name like '%${paramName}%'</if>
    <if test="paramNameEq != null">AND param_name = #{paramNameEq}</if>
    <if test="defValue != null">AND def_value like '%${defValue}%'</if>
    <if test="defValueEq != null">AND def_value = #{defValueEq}</if>
    <if test="paramContent != null">AND param_content like '%${paramContent}%'</if>
    <if test="paramContentEq != null">AND param_content = #{paramContentEq}</if>
    <if test="paramDesc != null">AND param_desc like '%${paramDesc}%'</if>
    <if test="paramDescEq != null">AND param_desc = #{paramDescEq}</if>
    <if test="isDisplay != null">AND is_display like '%${isDisplay}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSYS_TENANTPARAM" parameterType="Object" >
  INSERT INTO SYS_TENANTPARAM (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="paramType != null ">,param_type</if>
	<if test="paramCode != null ">,param_code</if>
	<if test="paramName != null ">,param_name</if>
	<if test="defValue != null ">,def_value</if>
	<if test="paramContent != null ">,param_content</if>
	<if test="paramDesc != null ">,param_desc</if>
	<if test="isDisplay != null ">,is_display</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="paramType != null ">,#{paramType}</if>
	<if test="paramCode != null ">,#{paramCode}</if>
	<if test="paramName != null ">,#{paramName}</if>
	<if test="defValue != null ">,#{defValue}</if>
	<if test="paramContent != null ">,#{paramContent}</if>
	<if test="paramDesc != null ">,#{paramDesc}</if>
	<if test="isDisplay != null ">,#{isDisplay}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSYS_TENANTPARAM" parameterType="Object" >
UPDATE SYS_TENANTPARAM 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="paramType != null ">,param_type=#{paramType}</if>
	<if test="paramCode != null ">,param_code=#{paramCode}</if>
	<if test="paramName != null ">,param_name=#{paramName}</if>
	<if test="defValue != null ">,def_value=#{defValue}</if>
	<if test="paramContent != null ">,param_content=#{paramContent}</if>
	<if test="paramDesc != null ">,param_desc=#{paramDesc}</if>
	<if test="isDisplay != null ">,is_display=#{isDisplay}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSYS_TENANTPARAM">DELETE FROM SYS_TENANTPARAM WHERE ID=#{id}</delete>
<!-- 租户参数表 列表总数-->
<select id="CountFindAllSYS_TENANTPARAM" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_TENANTPARAM</select>
<select id="CountSYS_TENANTPARAM" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_TENANTPARAM WHERE ID=#{id}</select>
<!-- 根据id查询 租户参数表 -->
<select id="FindByPK" resultMap="result_map_SYS_TENANTPARAM" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_TENANTPARAM WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  租户参数表 -->
<select id="FreeFindSYS_TENANTPARAM" resultMap="result_map_SYS_TENANTPARAM" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_TENANTPARAM 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  租户参数表 记录数 -->
<select id="CountFreeFindSYS_TENANTPARAM" resultType="java.lang.Integer">
SELECT count(1) as value FROM SYS_TENANTPARAM 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  租户参数表 -->
<select id="FreeFindSYS_TENANTPARAMOrdered" resultMap="result_map_SYS_TENANTPARAM" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_TENANTPARAM 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *******************************  温馨提示：     ******************************* -->
<!-- **                                                                    ** -->
<!-- **************以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写************** -->
<!-- **                                  ** quanjiahua,2015/12/14 12:28:00 ** -->
<!-- ************************************************************************ -->

<resultMap id="flat_result_map_SYS_TENANTPARAM" type="com.xfs.base.model.SysTenantparam" >
	<result column="id" property="id"/>
	<result column="param_type" property="paramType"/>
	<result column="param_code" property="paramCode"/>
	<result column="param_name" property="paramName"/>
	<result column="def_value" property="defValue"/>
	<result column="param_content" property="paramContent"/>
	<result column="param_desc" property="paramDesc"/>
	<result column="is_display" property="isDisplay"/>
	<result column="remark" property="remark"/>
	<result column="tid" property="tid"/>
	<result column="plistid" property="plistid"/>
</resultMap>

<!-- 查询字典表字典信息，如果没有租户tid信息则取得默认值  -->
<select id="FindAll" resultMap="flat_result_map_SYS_TENANTPARAM" parameterType="Object">
select t1.id, t1.param_type, t1.param_name,t1.param_code,t1.is_display,t1.param_content,t1.param_desc
 ,CASE WHEN t2.param_value is null THEN t1.def_value ELSE t2.param_value END def_value,t2.remark,t2.tid,t2.id as plistid 
from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code 
 order by t1.param_type desc
</select>

<!--  根据tid等查询字典信息，如果没有相关tid则取得null值  -->
<select id="FindByTid" resultMap="flat_result_map_SYS_TENANTPARAM" parameterType="Object">
select t1.id, t1.param_type, t1.param_name,t1.param_code,t1.is_display,t1.param_content,t1.param_desc
 <if test="tid != null ">
 ,CASE WHEN t2.tid != #{tid} THEN t1.def_value ELSE t2.param_value END def_value,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.remark END remark,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.tid END tid,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.id END plistid
 </if>
 from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code 
 <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="tid != null ">AND (t2.tid=#{tid} or t1.id not in (select t1.id from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code where t2.tid=#{tid}))</if>
    <if test="paramCode != null">AND t2.param_code like '%${paramCode}%'</if>
    <if test="paramName != null">AND t1.param_name like '%${paramName}%'</if>
    <if test="paramType != null">AND t1.param_type = #{paramType}</if>
  </trim> 
   order by t1.param_type desc
</select>

<!-- 根据各字段条件带模糊查询  租户参数表 记录数 -->
<select id="CountFreeFindSYS_TENANTPARAMByTid" resultType="java.lang.Integer">
select count(1) as value
 from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code
 <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="tid != null ">AND (t2.tid=#{tid} or t1.id not in (select t1.id from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code where t2.tid=#{tid}))</if>
    <if test="paramCode != null">AND t2.param_code like '%${paramCode}%'</if>
    <if test="paramName != null">AND t1.param_name like '%${paramName}%'</if>
    <if test="paramType != null">AND t1.param_type = #{paramType}</if>
  </trim> 
</select>

<!--  根据tid和id等查询字典信息，如果没有相关tid则取得null值  -->
<select id="FindByTidAndId" resultMap="flat_result_map_SYS_TENANTPARAM" parameterType="Object">
select t1.id, t1.param_type, t1.param_name,t1.param_code,t1.is_display,t1.param_content,t1.param_desc
 <if test="tid != null ">
 ,CASE WHEN t2.tid != #{tid} THEN t1.def_value ELSE t2.param_value END def_value,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.remark END remark,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.tid END tid,
 CASE WHEN t2.tid != #{tid} THEN NULL ELSE t2.id END plistid
 </if>
 from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code 
 <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="tid != null ">AND (t2.tid=#{tid} or t1.id not in (select t1.id from sys_tenantparam t1 LEFT JOIN sys_tenantparamlist t2 ON t1.param_code = t2.param_code where t2.tid=#{tid}))</if>
    <if test="id != null ">AND t1.id=#{id}</if>
    <if test="paramCode != null">AND t2.param_code like '%${paramCode}%'</if>
    <if test="paramName != null">AND t1.param_name like '%${paramName}%'</if>
    <if test="paramType != null">AND t1.param_type = #{paramType}</if>
  </trim> 
</select>

</mapper>   
