<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_NOTIFICATION">
  <resultMap id="result_map_SYS_NOTIFICATION" type="com.xfs.base.model.SysNotification">
    <id property="id" column="ID" jdbcType="INTEGER" />
    <result property="functionName" column="FUNCTION_NAME" jdbcType="VARCHAR" />
    <result property="description" column="DESCRIPTION" jdbcType="VARCHAR" />
    <result property="createDt" column="CREATE_DT" jdbcType="TIMESTAMP" />
    <result property="isProceed" column="IS_PROCEED" jdbcType="CHAR" />
    <result property="processUserName" column="PROCESS_USER_NAME" jdbcType="VARCHAR" />
    <result property="processUserId" column="PROCESS_USER_ID" jdbcType="INTEGER" />
  </resultMap>
  <insert id="InsertSYS_NOTIFICATION">
    INSERT INTO SYS_NOTIFICATION (
    <trim prefix=" " prefixOverrides=",">
      <if test="functionName != null ">,FUNCTION_NAME</if>
      <if test="description != null ">,DESCRIPTION</if>
      <if test="createDt != null ">,CREATE_DT</if>
      <if test="isProceed != null ">,IS_PROCEED</if>
      <if test="processUserName != null ">,PROCESS_USER_NAME</if>
      <if test="processUserId != null ">,PROCESS_USER_ID</if>
    </trim>
    )  VALUES (
    <trim prefix=" " prefixOverrides=",">
      <if test="functionName != null ">,#{functionName,jdbcType=VARCHAR}</if>
      <if test="description != null ">,#{description,jdbcType=VARCHAR}</if>
      <if test="createDt != null ">,#{createDt,jdbcType=TIMESTAMP}</if>
      <if test="isProceed != null ">,#{isProceed,jdbcType=CHAR}</if>
      <if test="processUserName != null ">,#{processUserName,jdbcType=VARCHAR}</if>
      <if test="processUserId != null ">,#{processUserId,jdbcType=INTEGER}</if>
    </trim>
    )
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID() AS ID</selectKey>
  </insert>
  <update id="UpdateSYS_NOTIFICATION">
    UPDATE SYS_NOTIFICATION 
    <trim prefix=" SET " prefixOverrides=",">
      <if test="functionName != null ">,FUNCTION_NAME=#{functionName,jdbcType=VARCHAR}</if>
      <if test="description != null ">,DESCRIPTION=#{description,jdbcType=VARCHAR}</if>
      <if test="createDt != null ">,CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
      <if test="isProceed != null ">,IS_PROCEED=#{isProceed,jdbcType=CHAR}</if>
      <if test="processUserName != null ">,PROCESS_USER_NAME=#{processUserName,jdbcType=VARCHAR}</if>
      <if test="processUserId != null ">,PROCESS_USER_ID=#{processUserId,jdbcType=INTEGER}</if>
    </trim>
     WHERE ID=#{id,jdbcType=INTEGER}
  </update>
  <delete id="DeleteSYS_NOTIFICATION">DELETE FROM SYS_NOTIFICATION WHERE ID=#{id,jdbcType=INTEGER}</delete>
  <select id="CountFindAllSYS_NOTIFICATION" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_NOTIFICATION</select>
  <select id="CountSYS_NOTIFICATION" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_NOTIFICATION WHERE ID=#{id,jdbcType=INTEGER}</select>
  <select id="FindByPKSYS_NOTIFICATION" resultMap="result_map_SYS_NOTIFICATION">SELECT ID,FUNCTION_NAME,DESCRIPTION,CREATE_DT,IS_PROCEED,PROCESS_USER_NAME,PROCESS_USER_ID FROM SYS_NOTIFICATION WHERE ID=#{id,jdbcType=INTEGER}</select>
  <select id="FreeFindSYS_NOTIFICATION" resultMap="result_map_SYS_NOTIFICATION">
    SELECT ID,FUNCTION_NAME,DESCRIPTION,CREATE_DT,IS_PROCEED,PROCESS_USER_NAME,PROCESS_USER_ID FROM SYS_NOTIFICATION
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="id != null ">AND ID=#{id,jdbcType=INTEGER}</if>
      <if test="functionName != null ">AND FUNCTION_NAME like '%${functionName}%'</if>
      <if test="functionNameEq != null ">AND FUNCTION_NAME=#{functionNameEq,jdbcType=VARCHAR}</if>
      <if test="description != null ">AND DESCRIPTION like '%${description}%'</if>
      <if test="descriptionEq != null ">AND DESCRIPTION=#{descriptionEq,jdbcType=VARCHAR}</if>
      <if test="createDt != null ">AND CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
      <if test="createDtFrom != null ">AND CREATE_DT&gt;=#{createDtFrom,jdbcType=TIMESTAMP}</if>
      <if test="createDtTo != null ">AND CREATE_DT&lt;=#{createDtTo,jdbcType=TIMESTAMP}</if>
      <if test="isProceed != null ">AND IS_PROCEED=#{isProceed,jdbcType=CHAR}</if>
      <if test="processUserName != null ">AND PROCESS_USER_NAME like '%${processUserName}%'</if>
      <if test="processUserNameEq != null ">AND PROCESS_USER_NAME=#{processUserNameEq,jdbcType=VARCHAR}</if>
      <if test="processUserId != null ">AND PROCESS_USER_ID=#{processUserId,jdbcType=INTEGER}</if>
    </trim>
  </select>
  <select id="CountFreeFindSYS_NOTIFICATION" resultType="java.lang.Integer">
    SELECT count(1) as value FROM SYS_NOTIFICATION
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="id != null ">AND ID=#{id,jdbcType=INTEGER}</if>
      <if test="functionName != null ">AND FUNCTION_NAME like '%${functionName}%'</if>
      <if test="functionNameEq != null ">AND FUNCTION_NAME=#{functionNameEq,jdbcType=VARCHAR}</if>
      <if test="description != null ">AND DESCRIPTION like '%${description}%'</if>
      <if test="descriptionEq != null ">AND DESCRIPTION=#{descriptionEq,jdbcType=VARCHAR}</if>
      <if test="createDt != null ">AND CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
      <if test="createDtFrom != null ">AND CREATE_DT&gt;=#{createDtFrom,jdbcType=TIMESTAMP}</if>
      <if test="createDtTo != null ">AND CREATE_DT&lt;=#{createDtTo,jdbcType=TIMESTAMP}</if>
      <if test="isProceed != null ">AND IS_PROCEED=#{isProceed,jdbcType=CHAR}</if>
      <if test="processUserName != null ">AND PROCESS_USER_NAME like '%${processUserName}%'</if>
      <if test="processUserNameEq != null ">AND PROCESS_USER_NAME=#{processUserNameEq,jdbcType=VARCHAR}</if>
      <if test="processUserId != null ">AND PROCESS_USER_ID=#{processUserId,jdbcType=INTEGER}</if>
    </trim>
  </select>
  <select id="FreeFindSYS_NOTIFICATIONOrdered" resultMap="result_map_SYS_NOTIFICATION">
    SELECT ID,FUNCTION_NAME,DESCRIPTION,CREATE_DT,IS_PROCEED,PROCESS_USER_NAME,PROCESS_USER_ID FROM SYS_NOTIFICATION
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="id != null ">AND ID=#{id,jdbcType=INTEGER}</if>
      <if test="functionName != null ">AND FUNCTION_NAME like '%${functionName}%'</if>
      <if test="functionNameEq != null ">AND FUNCTION_NAME=#{functionNameEq,jdbcType=VARCHAR}</if>
      <if test="description != null ">AND DESCRIPTION like '%${description}%'</if>
      <if test="descriptionEq != null ">AND DESCRIPTION=#{descriptionEq,jdbcType=VARCHAR}</if>
      <if test="createDt != null ">AND CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
      <if test="createDtFrom != null ">AND CREATE_DT&gt;=#{createDtFrom,jdbcType=TIMESTAMP}</if>
      <if test="createDtTo != null ">AND CREATE_DT&lt;=#{createDtTo,jdbcType=TIMESTAMP}</if>
      <if test="isProceed != null ">AND IS_PROCEED=#{isProceed,jdbcType=CHAR}</if>
      <if test="processUserName != null ">AND PROCESS_USER_NAME like '%${processUserName}%'</if>
      <if test="processUserNameEq != null ">AND PROCESS_USER_NAME=#{processUserNameEq,jdbcType=VARCHAR}</if>
      <if test="processUserId != null ">AND PROCESS_USER_ID=#{processUserId,jdbcType=INTEGER}</if>
    </trim>
     ORDER BY ${_orderBy}
  </select>
</mapper>

