<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_ANALYSIS_RELATION" > 
<!-- Result Map-->
<resultMap id="result_map_SYS_ANALYSIS_RELATION" type="com.xfs.analysis.dto.SysAnalysisRelation" >
	<result column="id" property="id"/>
	<result column="bus_type_id" property="busTypeId"/>
	<result column="lib_id" property="libId"/>
	<result column="rank" property="rank"/>
</resultMap>
       
<!-- sys_analysis_relation table all fields -->
<sql id="Base_Column_List" >
	 id,bus_type_id,lib_id,rank
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="busTypeId != null" >and bus_type_id = #{busTypeId}</if>
	<if test="libId != null" >and lib_id = #{libId}</if>
	<if test="rank != null" >and rank = #{rank}</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSYS_ANALYSIS_RELATION" parameterType="Object" >
  INSERT INTO SYS_ANALYSIS_RELATION (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="busTypeId != null ">,bus_type_id</if>
	<if test="libId != null ">,lib_id</if>
	<if test="rank != null ">,rank</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="busTypeId != null ">,#{busTypeId}</if>
	<if test="libId != null ">,#{libId}</if>
	<if test="rank != null ">,#{rank}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSYS_ANALYSIS_RELATION" parameterType="Object" >
UPDATE SYS_ANALYSIS_RELATION 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="busTypeId != null ">,bus_type_id=#{busTypeId}</if>
	<if test="libId != null ">,lib_id=#{libId}</if>
	<if test="rank != null ">,rank=#{rank}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSYS_ANALYSIS_RELATION">DELETE FROM SYS_ANALYSIS_RELATION WHERE ID=#{id}</delete>
<!-- 爬取规则 列表总数-->
<select id="CountFindAllSYS_ANALYSIS_RELATION" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_ANALYSIS_RELATION</select>
<select id="CountSYS_ANALYSIS_RELATION" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_ANALYSIS_RELATION WHERE ID=#{id}</select>
<!-- 根据id查询 爬取规则 -->
<select id="FindByPK" resultMap="result_map_SYS_ANALYSIS_RELATION" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_ANALYSIS_RELATION WHERE ID=#{pk}</select>

<!-- 根据各字段条件带查询  爬取规则 -->
<select id="FreeFindSYS_ANALYSIS_RELATION" resultMap="result_map_SYS_ANALYSIS_RELATION" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_ANALYSIS_RELATION 
	 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带查询  爬取规则 记录数 -->
<select id="CountFreeFindSYS_ANALYSIS_RELATION" resultType="java.lang.Integer">
SELECT count(1) as value FROM SYS_ANALYSIS_RELATION 
 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带排序  爬取规则 -->
<select id="FreeFindSYS_ANALYSIS_RELATIONOrdered" resultMap="result_map_SYS_ANALYSIS_RELATION" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SYS_ANALYSIS_RELATION 
	 <include refid="Example_Where_Clause" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2017/03/21 15:26:31 ** -->
<!-- ************************************************************************ -->




</mapper>   
