<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BL_PAY_VOUCHER" > 
<!-- Result Map-->
<resultMap id="result_map_BL_PAY_VOUCHER" type="com.xfs.settlement.model.BlPayVoucher" >
	<result column="id" property="id"/>
	<result column="order_id" property="orderId"/>
	<result column="outer_trade_no" property="outerTradeNo"/>
	<result column="bus_id" property="busId"/>
	<result column="trade_type" property="tradeType"/>
	<result column="buyer_name" property="buyerName"/>
	<result column="payee_name" property="payeeName"/>
	<result column="price" property="price"/>
	<result column="discounted" property="discounted"/>
	<result column="amount" property="amount"/>
	<result column="use_balance" property="useBalance"/>
	<result column="channel_fee" property="channelFee"/>
	<result column="channel_fee_type" property="channelFeeType"/>
	<result column="pay_type" property="payType"/>
	<result column="account_no" property="accountNo"/>
	<result column="pay_time" property="payTime"/>
	<result column="attach" property="attach"/>
	<result column="buyer_id" property="buyerId"/>
	<result column="buyer_type" property="buyerType"/>
	<result column="payee_id" property="payeeId"/>
	<result column="payee_type" property="payeeType"/>
	<result column="pay_id" property="payId"/>
	<result column="status" property="status"/>
	<result column="product_intro" property="productIntro"/>
	<result column="product_info" property="productInfo"/>
	<result column="remark" property="remark"/>
	<result column="notify_info" property="notifyInfo"/>
	<result column="pay_req_info" property="payReqInfo"/>
	<result column="voucher_file" property="voucherFile"/>
	<result column="notify_url" property="notifyUrl"/>
	<result column="return_url" property="returnUrl"/>
	<result column="is_notify" property="isNotify"/>
	<result column="money_flow" property="moneyFlow"/>
	<result column="drawer" property="drawer"/>
	<result column="source_id" property="sourceId"/>
	<result column="product_type" property="productType"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
	<result column="ts" property="ts"/>
</resultMap>

	<!-- bl_pay_voucher table all fields -->
	<sql id="Base_Column_List" >
		id,order_id,outer_trade_no,bus_id,trade_type,buyer_name,payee_name,price,discounted,amount,use_balance,channel_fee,channel_fee_type,pay_type,account_no,pay_time,attach,buyer_id,buyer_type,payee_id,payee_type,pay_id,status,product_intro,product_info,remark,notify_info,pay_req_info,voucher_file,notify_url,return_url,is_notify,money_flow,drawer,source_id,product_type,create_by,create_dt,modify_by,modify_dt,dr,ts
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="orderId != null" >and order_id = #{orderId}</if>
			<if test="outerTradeNo != null" >and outer_trade_no = #{outerTradeNo}</if>
			<if test="busId != null" >and bus_id = #{busId}</if>
			<if test="tradeType != null" >and trade_type = #{tradeType}</if>
			<if test="buyerName != null" >and buyer_name = #{buyerName}</if>
			<if test="payeeName != null" >and payee_name = #{payeeName}</if>
			<if test="price != null" >and price = #{price}</if>
			<if test="discounted != null" >and discounted = #{discounted}</if>
			<if test="amount != null" >and amount = #{amount}</if>
			<if test="useBalance != null" >and use_balance = #{useBalance}</if>
			<if test="channelFee != null" >and channel_fee = #{channelFee}</if>
			<if test="channelFeeType != null" >and channel_fee_type = #{channelFeeType}</if>
			<if test="payType != null" >and pay_type = #{payType}</if>
			<if test="accountNo != null" >and account_no = #{accountNo}</if>
			<if test="payTime != null" >and pay_time = #{payTime}</if>
			<if test="attach != null" >and attach = #{attach}</if>
			<if test="buyerId != null" >and buyer_id = #{buyerId}</if>
			<if test="buyerType != null" >and buyer_type = #{buyerType}</if>
			<if test="payeeId != null" >and payee_id = #{payeeId}</if>
			<if test="payeeType != null" >and payee_type = #{payeeType}</if>
			<if test="payId != null" >and pay_id = #{payId}</if>
			<if test="status != null" >and status = #{status}</if>
			<if test="productIntro != null" >and product_intro = #{productIntro}</if>
			<if test="productInfo != null" >and product_info = #{productInfo}</if>
			<if test="remark != null" >and remark = #{remark}</if>
			<if test="notifyInfo != null" >and notify_info = #{notifyInfo}</if>
			<if test="payReqInfo != null" >and pay_req_info = #{payReqInfo}</if>
			<if test="voucherFile != null" >and voucher_file = #{voucherFile}</if>
			<if test="notifyUrl != null" >and notify_url = #{notifyUrl}</if>
			<if test="returnUrl != null" >and return_url = #{returnUrl}</if>
			<if test="isNotify != null" >and is_notify = #{isNotify}</if>
			<if test="moneyFlow != null" >and money_flow = #{moneyFlow}</if>
			<if test="drawer != null" >and drawer = #{drawer}</if>
			<if test="sourceId != null" >and source_id = #{sourceId}</if>
			<if test="productType != null" >and product_type = #{productType}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="ts != null" >and ts = #{ts}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id = #{id}</if>
			<if test="orderId != null">AND order_id like '%${orderId}%'</if>
			<if test="orderIdEq != null">AND order_id = #{orderIdEq}</if>
			<if test="outerTradeNo != null">AND outer_trade_no like '%${outerTradeNo}%'</if>
			<if test="outerTradeNoEq != null">AND outer_trade_no = #{outerTradeNoEq}</if>
			<if test="busId != null">AND bus_id = #{busId}</if>
			<if test="tradeType != null">AND trade_type like '%${tradeType}%'</if>
			<if test="tradeTypeEq != null">AND trade_type = #{tradeTypeEq}</if>
			<if test="buyerName != null">AND buyer_name like '%${buyerName}%'</if>
			<if test="buyerNameEq != null">AND buyer_name = #{buyerNameEq}</if>
			<if test="payeeName != null">AND payee_name like '%${payeeName}%'</if>
			<if test="payeeNameEq != null">AND payee_name = #{payeeNameEq}</if>
			<if test="price != null">AND price like '%${price}%'</if>
			<if test="discounted != null">AND discounted like '%${discounted}%'</if>
			<if test="amount != null">AND amount like '%${amount}%'</if>
			<if test="useBalance != null">AND use_balance like '%${useBalance}%'</if>
			<if test="channelFee != null">AND channel_fee like '%${channelFee}%'</if>
			<if test="channelFeeType != null">AND channel_fee_type like '%${channelFeeType}%'</if>
			<if test="channelFeeTypeEq != null">AND channel_fee_type = #{channelFeeTypeEq}</if>
			<if test="payType != null">AND pay_type like '%${payType}%'</if>
			<if test="payTypeEq != null">AND pay_type = #{payTypeEq}</if>
			<if test="accountNo != null">AND account_no like '%${accountNo}%'</if>
			<if test="accountNoEq != null">AND account_no = #{accountNoEq}</if>
			<if test="payTime != null">AND pay_time = #{payTime}</if>
			<if test="payTimeFrom != null">AND pay_time&gt;=#{payTimeFrom}</if>
			<if test="payTimeTo != null">AND pay_time&lt;=#{payTimeTo}</if>
			<if test="attach != null">AND attach like '%${attach}%'</if>
			<if test="attachEq != null">AND attach = #{attachEq}</if>
			<if test="buyerId != null">AND buyer_id like '%${buyerId}%'</if>
			<if test="buyerIdEq != null">AND buyer_id = #{buyerIdEq}</if>
			<if test="buyerType != null">AND buyer_type like '%${buyerType}%'</if>
			<if test="buyerTypeEq != null">AND buyer_type = #{buyerTypeEq}</if>
			<if test="payeeId != null">AND payee_id like '%${payeeId}%'</if>
			<if test="payeeIdEq != null">AND payee_id = #{payeeIdEq}</if>
			<if test="payeeType != null">AND payee_type like '%${payeeType}%'</if>
			<if test="payeeTypeEq != null">AND payee_type = #{payeeTypeEq}</if>
			<if test="payId != null">AND pay_id = #{payId}</if>
			<if test="status != null">AND status = #{status}</if>
			<if test="productIntro != null">AND product_intro like '%${productIntro}%'</if>
			<if test="productIntroEq != null">AND product_intro = #{productIntroEq}</if>
			<if test="productInfo != null">AND product_info like '%${productInfo}%'</if>
			<if test="productInfoEq != null">AND product_info = #{productInfoEq}</if>
			<if test="remark != null">AND remark like '%${remark}%'</if>
			<if test="remarkEq != null">AND remark = #{remarkEq}</if>
			<if test="notifyInfo != null">AND notify_info like '%${notifyInfo}%'</if>
			<if test="notifyInfoEq != null">AND notify_info = #{notifyInfoEq}</if>
			<if test="payReqInfo != null">AND pay_req_info like '%${payReqInfo}%'</if>
			<if test="payReqInfoEq != null">AND pay_req_info = #{payReqInfoEq}</if>
			<if test="voucherFile != null">AND voucher_file like '%${voucherFile}%'</if>
			<if test="voucherFileEq != null">AND voucher_file = #{voucherFileEq}</if>
			<if test="notifyUrl != null">AND notify_url like '%${notifyUrl}%'</if>
			<if test="notifyUrlEq != null">AND notify_url = #{notifyUrlEq}</if>
			<if test="returnUrl != null">AND return_url like '%${returnUrl}%'</if>
			<if test="returnUrlEq != null">AND return_url = #{returnUrlEq}</if>
			<if test="isNotify != null">AND is_notify like '%${isNotify}%'</if>
			<if test="isNotifyEq != null">AND is_notify = #{isNotifyEq}</if>
			<if test="moneyFlow != null">AND money_flow like '%${moneyFlow}%'</if>
			<if test="moneyFlowEq != null">AND money_flow = #{moneyFlowEq}</if>
			<if test="drawer != null">AND drawer like '%${drawer}%'</if>
			<if test="drawerEq != null">AND drawer = #{drawerEq}</if>
			<if test="sourceId != null">AND source_id = #{sourceId}</if>
			<if test="productType != null">AND product_type like '%${productType}%'</if>
			<if test="productTypeEq != null">AND product_type = #{productTypeEq}</if>
			<if test="createBy != null">AND create_by = #{createBy}</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr = #{dr}</if>
			<if test="ts != null">AND ts like '%${ts}%'</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertBL_PAY_VOUCHER" parameterType="Object" >
		INSERT INTO BL_PAY_VOUCHER (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="orderId != null ">,order_id</if>
			<if test="outerTradeNo != null ">,outer_trade_no</if>
			<if test="busId != null ">,bus_id</if>
			<if test="tradeType != null ">,trade_type</if>
			<if test="buyerName != null ">,buyer_name</if>
			<if test="payeeName != null ">,payee_name</if>
			<if test="price != null ">,price</if>
			<if test="discounted != null ">,discounted</if>
			<if test="amount != null ">,amount</if>
			<if test="useBalance != null ">,use_balance</if>
			<if test="channelFee != null ">,channel_fee</if>
			<if test="channelFeeType != null ">,channel_fee_type</if>
			<if test="payType != null ">,pay_type</if>
			<if test="accountNo != null ">,account_no</if>
			<if test="payTime != null ">,pay_time</if>
			<if test="attach != null ">,attach</if>
			<if test="buyerId != null ">,buyer_id</if>
			<if test="buyerType != null ">,buyer_type</if>
			<if test="payeeId != null ">,payee_id</if>
			<if test="payeeType != null ">,payee_type</if>
			<if test="payId != null ">,pay_id</if>
			<if test="status != null ">,status</if>
			<if test="productIntro != null ">,product_intro</if>
			<if test="productInfo != null ">,product_info</if>
			<if test="remark != null ">,remark</if>
			<if test="notifyInfo != null ">,notify_info</if>
			<if test="payReqInfo != null ">,pay_req_info</if>
			<if test="voucherFile != null ">,voucher_file</if>
			<if test="notifyUrl != null ">,notify_url</if>
			<if test="returnUrl != null ">,return_url</if>
			<if test="isNotify != null ">,is_notify</if>
			<if test="moneyFlow != null ">,money_flow</if>
			<if test="drawer != null ">,drawer</if>
			<if test="sourceId != null ">,source_id</if>
			<if test="productType != null ">,product_type</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="ts != null ">,ts</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="orderId != null ">,#{orderId}</if>
			<if test="outerTradeNo != null ">,#{outerTradeNo}</if>
			<if test="busId != null ">,#{busId}</if>
			<if test="tradeType != null ">,#{tradeType}</if>
			<if test="buyerName != null ">,#{buyerName}</if>
			<if test="payeeName != null ">,#{payeeName}</if>
			<if test="price != null ">,#{price}</if>
			<if test="discounted != null ">,#{discounted}</if>
			<if test="amount != null ">,#{amount}</if>
			<if test="useBalance != null ">,#{useBalance}</if>
			<if test="channelFee != null ">,#{channelFee}</if>
			<if test="channelFeeType != null ">,#{channelFeeType}</if>
			<if test="payType != null ">,#{payType}</if>
			<if test="accountNo != null ">,#{accountNo}</if>
			<if test="payTime != null ">,#{payTime}</if>
			<if test="attach != null ">,#{attach}</if>
			<if test="buyerId != null ">,#{buyerId}</if>
			<if test="buyerType != null ">,#{buyerType}</if>
			<if test="payeeId != null ">,#{payeeId}</if>
			<if test="payeeType != null ">,#{payeeType}</if>
			<if test="payId != null ">,#{payId}</if>
			<if test="status != null ">,#{status}</if>
			<if test="productIntro != null ">,#{productIntro}</if>
			<if test="productInfo != null ">,#{productInfo}</if>
			<if test="remark != null ">,#{remark}</if>
			<if test="notifyInfo != null ">,#{notifyInfo}</if>
			<if test="payReqInfo != null ">,#{payReqInfo}</if>
			<if test="voucherFile != null ">,#{voucherFile}</if>
			<if test="notifyUrl != null ">,#{notifyUrl}</if>
			<if test="returnUrl != null ">,#{returnUrl}</if>
			<if test="isNotify != null ">,#{isNotify}</if>
			<if test="moneyFlow != null ">,#{moneyFlow}</if>
			<if test="drawer != null ">,#{drawer}</if>
			<if test="sourceId != null ">,#{sourceId}</if>
			<if test="productType != null ">,#{productType}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="ts != null ">,#{ts}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateBL_PAY_VOUCHER" parameterType="Object" >
		UPDATE BL_PAY_VOUCHER
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="orderId != null ">,order_id=#{orderId}</if>
			<if test="outerTradeNo != null ">,outer_trade_no=#{outerTradeNo}</if>
			<if test="busId != null ">,bus_id=#{busId}</if>
			<if test="tradeType != null ">,trade_type=#{tradeType}</if>
			<if test="buyerName != null ">,buyer_name=#{buyerName}</if>
			<if test="payeeName != null ">,payee_name=#{payeeName}</if>
			<if test="price != null ">,price=#{price}</if>
			<if test="discounted != null ">,discounted=#{discounted}</if>
			<if test="amount != null ">,amount=#{amount}</if>
			<if test="useBalance != null ">,use_balance=#{useBalance}</if>
			<if test="channelFee != null ">,channel_fee=#{channelFee}</if>
			<if test="channelFeeType != null ">,channel_fee_type=#{channelFeeType}</if>
			<if test="payType != null ">,pay_type=#{payType}</if>
			<if test="accountNo != null ">,account_no=#{accountNo}</if>
			<if test="payTime != null ">,pay_time=#{payTime}</if>
			<if test="attach != null ">,attach=#{attach}</if>
			<if test="buyerId != null ">,buyer_id=#{buyerId}</if>
			<if test="buyerType != null ">,buyer_type=#{buyerType}</if>
			<if test="payeeId != null ">,payee_id=#{payeeId}</if>
			<if test="payeeType != null ">,payee_type=#{payeeType}</if>
			<if test="payId != null ">,pay_id=#{payId}</if>
			<if test="status != null ">,status=#{status}</if>
			<if test="productIntro != null ">,product_intro=#{productIntro}</if>
			<if test="productInfo != null ">,product_info=#{productInfo}</if>
			<if test="remark != null ">,remark=#{remark}</if>
			<if test="notifyInfo != null ">,notify_info=#{notifyInfo}</if>
			<if test="payReqInfo != null ">,pay_req_info=#{payReqInfo}</if>
			<if test="voucherFile != null ">,voucher_file=#{voucherFile}</if>
			<if test="notifyUrl != null ">,notify_url=#{notifyUrl}</if>
			<if test="returnUrl != null ">,return_url=#{returnUrl}</if>
			<if test="isNotify != null ">,is_notify=#{isNotify}</if>
			<if test="moneyFlow != null ">,money_flow=#{moneyFlow}</if>
			<if test="drawer != null ">,drawer=#{drawer}</if>
			<if test="sourceId != null ">,source_id=#{sourceId}</if>
			<if test="productType != null ">,product_type=#{productType}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="ts != null ">,ts=#{ts}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteBL_PAY_VOUCHER">DELETE FROM BL_PAY_VOUCHER WHERE ID=#{id}</delete>
	<!-- 任务单历史 列表总数-->
	<select id="CountFindAllBL_PAY_VOUCHER" resultType="java.lang.Integer">SELECT count(1) as value FROM BL_PAY_VOUCHER</select>
	<select id="CountBL_PAY_VOUCHER" resultType="java.lang.Integer">SELECT count(1) as value FROM BL_PAY_VOUCHER WHERE ID=#{id}</select>
	<!-- 根据id查询 任务单历史 -->
	<select id="FindByPK" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BL_PAY_VOUCHER WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询  任务单历史 -->
	<select id="FreeFindBL_PAY_VOUCHER" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BL_PAY_VOUCHER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  任务单历史 记录数 -->
	<select id="CountFreeFindBL_PAY_VOUCHER" resultType="java.lang.Integer">
		SELECT count(1) as value FROM BL_PAY_VOUCHER
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  任务单历史 -->
	<select id="FreeFindBL_PAY_VOUCHEROrdered" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BL_PAY_VOUCHER
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/12/21 11:35:07 ** -->
	<!-- ************************************************************************ -->


	<resultMap id="result_map_BL_PAY_VOUCHER_INFO" type="com.xfs.settlement.dto.PayVoucherInfo" >
		<result column="order_id" property="orderId"/>
		<result column="outer_trade_no" property="outerTradeNo"/>
		<result column="trade_type" property="tradeType"/>
		<result column="buyer_name" property="buyerName"/>
		<result column="payee_name" property="payeeName"/>
		<result column="price" property="price"/>
		<result column="discounted" property="discounted"/>
		<result column="amount" property="amount"/>
		<result column="use_balance" property="useBalance"/>
		<result column="channel_fee" property="channelFee"/>
		<result column="channel_fee_type" property="channelFeeType"/>
		<result column="pay_type" property="payType"/>
		<result column="pay_time" property="payTime"/>
		<result column="buyer_id" property="buyerId"/>
		<result column="buyer_type" property="buyerType"/>
		<result column="payee_id" property="payeeId"/>
		<result column="payee_type" property="payeeType"/>
		<result column="product_intro" property="productIntro"/>
		<result column="product_info" property="productInfo"/>
		<result column="voucher_file" property="voucherFile"/>
		<result column="notify_url" property="notifyUrl"/>
		<result column="return_url" property="returnUrl"/>
		<result column="is_notify" property="isNotify"/>
	</resultMap>

	<!-- 根据交易号获取支付凭证 -->
	<select id="QUERY_VOUCHER_BY_ORDER_ID" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">
		select <include refid="Base_Column_List" /> FROM bl_pay_voucher vo WHERE vo.order_id = #{orderId} AND vo.bus_id = #{busId}  and vo.dr = 0
	</select>

	<!-- 根据交易号获取支付凭证 -->
	<select id="QUERY_VOUCHER_BY_OUT_TRADE_ORDER" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">
		select <include refid="Base_Column_List" /> FROM bl_pay_voucher vo WHERE vo.outer_trade_no = #{outerTradeNo} AND vo.bus_id = #{busId} and vo.dr = 0
	</select>

	<!-- 获取充值记录列表 -->
	<select id="QUERY_VOUCHER_RECHARGE_COUNT" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) as value FROM bl_pay_voucher vo where vo.buyer_id = #{buyerId} AND vo.trade_type = 'RECHARGE_FEE'
		<if test="status != null "> AND vo.`status` = #{status}</if> and vo.dr = 0
	</select>

	<!-- 获取充值记录列表 -->
	<select id="QUERY_VOUCHER_RECHARGE_LIST" resultMap="result_map_BL_PAY_VOUCHER" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM bl_pay_voucher vo where vo.buyer_id = #{buyerId} AND vo.trade_type = 'RECHARGE_FEE'
		<if test="status != null "> AND vo.`status` = #{status}</if>  and vo.dr = 0
		ORDER BY vo.create_dt DESC
	</select>

	<select id="QUERY_VOUCHER_COUNT" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) as value FROM bl_pay_voucher vo
		WHERE  vo.pay_type in (${type}) AND vo.dr = 0
		<if test="status != null "> AND vo.`status`= #{status}</if>
		<if test="searchWord != null "> AND CONCAT(IFNULL(vo.order_id,''),vo.buyer_name) LIKE CONCAT('%',#{searchWord},'%')</if>
		<if test="begin_month != null "> <![CDATA[ AND DATE_FORMAT(vo.create_dt,'%Y-%m') >= #{begin_month} ]]></if>
		<if test="end_month != null "> <![CDATA[ AND DATE_FORMAT(vo.create_dt,'%Y-%m') <= #{end_month} ]]> </if>
	</select>

	<select id="QUERY_VOUCHER_LIST" resultType="java.util.Map" parameterType="Object">
		SELECT vo.*,vo.buyer_name as corp_name,IFNULL(vo.channel_fee,'0.00') as channelFee,IFNULL(vo.amount+vo.channel_fee,'0.00') as totalFee FROM bl_pay_voucher vo
		WHERE  vo.pay_type in (${type}) AND vo.dr = 0
		<if test="status != null "> AND vo.`status`= #{status}</if>
		<if test="searchWord != null "> AND CONCAT(IFNULL(vo.order_id,''),vo.buyer_name,IFNULL(vo.outer_trade_no,'')) LIKE CONCAT('%',#{searchWord},'%')</if>
		<if test="begin_month != null "> <![CDATA[ AND DATE_FORMAT(vo.create_dt,'%Y-%m') >= #{begin_month} ]]></if>
		<if test="end_month != null "><![CDATA[ AND DATE_FORMAT(vo.create_dt,'%Y-%m') <= #{end_month} ]]> </if>
		ORDER BY vo.create_dt DESC
	</select>

	<select id="QUERY_VOUCHER_OFFLINE_AMOUNT" resultType="java.util.Map" parameterType="Object">
		SELECT sum(amount) as offline_amount FROM bl_pay_voucher vo where vo.dr = 0 AND vo.trade_type = 'RECHARGE_FEE' AND vo.pay_type = 'OFFLINE' AND vo.status = 1  and vo.dr = 0
	</select>

	<select id="QUERY_VOUCHER_ONLINE_AMOUNT" resultType="java.util.Map" parameterType="Object">
		SELECT sum(amount) as online_amount FROM bl_pay_voucher vo where vo.dr = 0 AND vo.trade_type = 'RECHARGE_FEE' AND vo.pay_type in ('ALIPAY','CHANPAY','WXPAY','OFFSET') AND vo.status = 1  and vo.dr = 0
	</select>

	<select id="QUERY_VOUCHER_INFO_BY_ID" resultType="java.util.Map" parameterType="Object">
		SELECT vo.*,u.user_name FROM bl_pay_voucher vo
		LEFT JOIN sys_user u ON u.user_id = vo.modify_by where  vo.id = #{id}  and vo.dr = 0
	</select>
	<select id="QUERY_ALL_PAYED_ONLINE" resultType="decimal">
		SELECT sum(amount) FROM bl_pay_voucher where dr=0 and status = 1 AND pay_type in ('ALIPAY','CHANPAY','WXPAY')
	</select>
	<resultMap id="RESULT_MAP_BL_PAY_VOUCHER_WITH_CHECK" type="com.xfs.settlement.model.BlAlreadyCheckPayVoucher" extends="result_map_BL_PAY_VOUCHER">
		<result column="already_check" property="alreadyCheck"/>
	</resultMap>
	<select id="QUERY_VOUCHER_WITH_CHECK" resultMap="RESULT_MAP_BL_PAY_VOUCHER_WITH_CHECK" parameterType="com.xfs.settlement.model.BlPayVoucher">
		SELECT * FROM bl_pay_voucher
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="outerTradeNoEq != null and outerTradeNoEq !='' ">and outer_trade_no = #{outerTradeNoEq}</if>
			<if test="busId != null">and bus_id = #{busId}</if>
			<if test=" 1 > 0">and dr = 0</if>
		</trim>
	</select>
	<update id="UPDATEORDERBYCHECK" parameterType="com.xfs.settlement.model.BlAlreadyCheckPayVoucher">
		UPDATE BL_PAY_VOUCHER
		<trim prefix=" SET " prefixOverrides=",">
			<if test="useBalance != null ">,use_balance=#{useBalance}</if>
			<if test="alreadyCheck != null ">,already_check=#{alreadyCheck}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
		</trim>
		WHERE ID=#{id}
		<if test="oldUseBalace == null">and use_balance is null </if>
		<if test="oldUseBalace != null">and use_balance=#{oldUseBalace} </if>
		<if test="oldAlreadyCheck == null">and already_check is null </if>
		<if test="oldAlreadyCheck != null">and already_check=#{oldAlreadyCheck}</if>
		<if test=" 1 > 0">and dr = 0</if>
	</update>

	<select id="QUERY_ONLINE_PAY_DATA" parameterType="object" resultType="com.xfs.finance.vo.BlPayVoucherDto">
		SELECT v.id,v.order_id,v.outer_trade_no,v.bus_id,v.buyer_name,v.payee_name,v.price,v.amount,v.pay_type,v.pay_time,b.app_name
		FROM bl_pay_voucher v left join bl_pay_business b on v.bus_id = b.bus_id
		where v.dr=0 and v.status = 1 AND v.pay_type in ('ALIPAY','CHANPAY','WXPAY')
		<if test="outerTradeNo != null">
			and v.outer_trade_no = #{outerTradeNo}
		</if>
		<if test="buyerName != null">
			and v.buyer_name = #{buyerName}
		</if>
		<if test="payeeName != null">
			and v.payee_name = #{payeeName}
		</if>
		<if test="amount != null">
			and v.amount = #{amount}
		</if>
		<if test="payTimeBegin != null">
			and DATE(v.pay_time) &gt;= #{payTimeBegin}
		</if>
		<if test="payTimeEnd != null">
			and DATE(v.pay_time) &lt;= #{payTimeEnd}
		</if>
		<if test="busId != null">
			and b.bus_id = #{busId}
		</if>
		limit #{offset},#{pageSize}
	</select>
	<select id="QUERY_ONLINE_PAY_DATA_TOTAL" parameterType="object" resultType="integer">
		select count(1)
		FROM bl_pay_voucher v left join bl_pay_business b on v.bus_id = b.bus_id
		where v.dr=0 and v.status = 1 AND v.pay_type in ('ALIPAY','CHANPAY','WXPAY')
		<if test="outerTradeNo != null">
			and v.outer_trade_no = #{outerTradeNo}
		</if>
		<if test="buyerName != null">
			and v.buyer_name = #{buyerName}
		</if>
		<if test="payeeName != null">
			and v.payee_name = #{payeeName}
		</if>
		<if test="amount != null">
			and v.amount = #{amount}
		</if>
		<if test="payTimeBegin != null">
			and DATE(v.pay_time) &gt;= #{payTimeBegin}
		</if>
		<if test="payTimeEnd != null">
			and DATE(v.pay_time) &lt;= #{payTimeEnd}
		</if>
		<if test="busId != null">
			and b.bus_id = #{busId}
		</if>
	</select>
	<select id="CHECK_RECORD_DETAIL" parameterType="map" resultType="map">
		SELECT
			p.id             AS id,
			p.outer_trade_no AS outerTradeNo,
			p.status         AS status,
			p.buyer_name     AS buyerName,
			b.amount         AS balance,
			p.amount         AS amount,
			p.use_balance    AS userBalance,
			p.already_check  AS alreadyCheck,
			p.create_dt      AS createDate,
			s.user_name      AS modifyBy,
			p.modify_dt      AS modifyDt,
			p.trade_type     AS tradeType
		FROM bl_pay_voucher p LEFT JOIN bl_balance b
				ON p.buyer_id = b.owner AND p.buyer_type = b.owner_type
			LEFT JOIN sys_user s ON p.modify_by = s.user_id
		WHERE p.outer_trade_no = #{tradeNo} and p.bus_id = #{busId} and p.dr = 0
		limit 0, 1
	</select>
</mapper>
