<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm_employee">
    <!-- Result Map-->
    <resultMap id="result_map_cm_employee" type="com.xfs.corp.model.CmEmployee">
        <result column="emp_id" property="empId"/>
        <result column="cp_id" property="cpId"/>
        <result column="name" property="name"/>
        <result column="identity_type" property="identityType"/>
        <result column="identity_code" property="identityCode"/>
        <result column="job" property="job"/>
        <result column="social_insurance_num" property="socialInsuranceNum"/>
        <result column="reserve_fund_num" property="reserveFundNum"/>
        <result column="mobile" property="mobile"/>
        <result column="create_by" property="createBy"/>
        <result column="create_dt" property="createDt"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_dt" property="modifyDt"/>
        <result column="insurance_period" property="insurancePeriod"/>
        <result column="fund_period" property="fundPeriod"/>
        <result column="dr" property="dr"/>

        <result column="insurance_living_type" property="insuranceLivingType"/>
        <result column="insurance_state" property="insuranceState"/>
        <result column="is_quit" property="isQuit"/>
        <result column="scheme_id" property="schemeId"/>
        <result column="dep_id" property="depId"/>
        <result column="email" property="email"/>
        <result column="openid" property="openid"/>
        <result column="fund_state" property="fundState"/>
        <result column="entry_time" property="entryTime"/>
        <result column="leave_time" property="leaveTime"/>
        <result column="insurance_salary" property="insuranceSalary"/>
        <result column="fund_salary" property="fundSalary"/>

        <result column="living_type_name" property="livingTypeName"/>
        <result column="fund_state_name" property="fundStateName"/>
        <result column="insurance_state_name" property="insuranceStateName"/>
        <result column="insurance_type" property="insuranceTypeName"/>
        <result column="fund_type" property="fundTypeName"/>
        <result column="corp_name" property="corpName"/>

        <result column="head_photo" property="headPhoto"/>
        <result column="three_id" property="threeId"/>

        <result column="ss_user_id" property="ssUserId"/>
        <result column="hf_user_id" property="hfUserId"/>
        <result column="json" property="json"/>
    </resultMap>

    <!-- cm_employee table all fields -->
    <sql id="Base_Column_List">
	   emp_id,cp_id,name,identity_type,identity_code,job,social_insurance_num,reserve_fund_num,mobile,create_by,create_dt,modify_by,modify_dt,dr,insurance_living_type,insurance_state,is_quit,scheme_id,dep_id,email,openid,fund_state,entry_time,leave_time,insurance_salary,fund_salary,insurance_period,fund_period,head_photo,three_id,ss_user_id,hf_user_id,json
</sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        <trim prefix=" WHERE " prefixOverrides="AND ">
            <if test="empId != null">and emp_id = #{empId}</if>
            <if test="cpId != null">and cp_id = #{cpId}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="identityType != null">and identity_type = #{identityType}</if>
            <if test="identityCode != null">and identity_code = #{identityCode}</if>
            <if test="job != null">and job = #{job}</if>
            <if test="socialInsuranceNum != null">and social_insurance_num = #{socialInsuranceNum}</if>
            <if test="reserveFundNum != null">and reserve_fund_num = #{reserveFundNum}</if>
            <if test="mobile != null">and mobile = #{mobile}</if>
            <if test="createBy != null">and create_by = #{createBy}</if>
            <if test="createDt != null">and create_dt = #{createDt}</if>
            <if test="modifyBy != null">and modify_by = #{modifyBy}</if>
            <if test="modifyDt != null">and modify_dt = #{modifyDt}</if>
            <if test="dr != null">and dr = #{dr}</if>
            <if test="insuranceLivingType != null">and insurance_living_type = #{insuranceLivingType}</if>
            <if test="insuranceState != null">and insurance_state = #{insuranceState}</if>
            <if test="isQuit != null">and is_quit = #{isQuit}</if>
            <if test="schemeId != null">and scheme_id = #{schemeId}</if>
            <if test="depId != null">and dep_id = #{depId}</if>
            <if test="email != null">and email = #{email}</if>
            <if test="openid != null">and openid = #{openid}</if>
            <if test="fundState != null">and fund_state = #{fundState}</if>
            <if test="entryTime != null">and entry_time = #{entryTime}</if>
            <if test="leaveTime != null">and leave_time = #{leaveTime}</if>
            <if test="insuranceSalary != null">and insurance_salary = #{insuranceSalary}</if>
            <if test="fundSalary != null">and fund_salary = #{fundSalary}</if>
            <if test="insurancePeriod != null">and insurance_period = #{insurancePeriod}</if>
            <if test="fundPeriod != null">and fund_period = #{fundPeriod}</if>
            <if test="headPhoto != null">and head_photo = #{headPhoto}</if>
        </trim>
    </sql>

    <!-- 员工表 列表总数-->
    <select id="countFindAll" resultType="java.lang.Integer">SELECT count(1) as value FROM cm_employee</select>

    <!-- 根据各字段条件查询  员工表 -->
    <select id="freeFind" resultMap="result_map_cm_employee" parameterType="Object">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cm_employee
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据各字段条件查询  员工表 记录数 -->
    <select id="countFreeFind" resultType="java.lang.Integer">
        SELECT count(1) as value FROM cm_employee
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据员工id 获取员工所在区-->
    <select id="getEmpAreaIdByEmpId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select sch.area_id from cm_employee emp
            left join sps_scheme_emp semp on emp.emp_id = semp.emp_id
            left join sps_scheme sch on semp.scheme_id = sch.scheme_id
          where emp.emp_id = #{0} and semp.state = 'use'
    </select>


    <!-- 根据id查询 员工表 -->
    <select id="findByPK" resultMap="result_map_cm_employee" parameterType="Object">SELECT
        <include refid="Base_Column_List"/>
        FROM cm_employee WHERE EMP_ID=#{empId}
    </select>


    <!-- 根据id查询 员工表 -->
    <select id="findByFree" resultMap="result_map_cm_employee" parameterType="Object">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cm_employee WHERE cp_id=#{cpId} and name = #{name }
        and RIGHT(identity_code,4) = #{identityCode}
        and dr=0 limit 1
    </select>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        INSERT INTO cm_employee (
        <trim prefix=" " prefixOverrides=",">
            <if test="empId != null ">,emp_id</if>
            <if test="cpId != null ">,cp_id</if>
            <if test="name != null ">,name</if>
            <if test="identityType != null ">,identity_type</if>
            <if test="identityCode != null ">,identity_code</if>
            <if test="job != null ">,job</if>
            <if test="socialInsuranceNum != null ">,social_insurance_num</if>
            <if test="reserveFundNum != null ">,reserve_fund_num</if>
            <if test="mobile != null ">,mobile</if>
            <if test="createBy != null ">,create_by</if>
            <if test="createDt != null ">,create_dt</if>
            <if test="modifyBy != null ">,modify_by</if>
            <if test="modifyDt != null ">,modify_dt</if>
            <if test="dr != null ">,dr</if>
            <if test="insuranceLivingType != null ">,insurance_living_type</if>
            <if test="insuranceState != null ">,insurance_state</if>
            <if test="isQuit != null ">,is_quit</if>
            <if test="schemeId != null ">,scheme_id</if>
            <if test="depId != null ">,dep_id</if>
            <if test="email != null ">,email</if>
            <if test="openid != null ">,openid</if>
            <if test="fundState != null ">,fund_state</if>
            <if test="entryTime != null ">,entry_time</if>
            <if test="leaveTime != null ">,leave_time</if>
            <if test="insuranceSalary != null ">,insurance_salary</if>
            <if test="fundSalary != null ">,fund_salary</if>
            <if test="insurancePeriod != null ">,insurance_period</if>
            <if test="fundPeriod != null ">,fund_period</if>
            <if test="headPhoto != null ">,head_photo</if>
        </trim>
        ) VALUES (
        <trim prefix=" " prefixOverrides=",">
            <if test="empId != null ">,#{empId}</if>
            <if test="cpId != null ">,#{cpId}</if>
            <if test="name != null ">,#{name}</if>
            <if test="identityType != null ">,#{identityType}</if>
            <if test="identityCode != null ">,#{identityCode}</if>
            <if test="job != null ">,#{job}</if>
            <if test="socialInsuranceNum != null ">,#{socialInsuranceNum}</if>
            <if test="reserveFundNum != null ">,#{reserveFundNum}</if>
            <if test="mobile != null ">,#{mobile}</if>
            <if test="createBy != null ">,#{createBy}</if>
            <if test="createDt != null ">,#{createDt}</if>
            <if test="modifyBy != null ">,#{modifyBy}</if>
            <if test="modifyDt != null ">,#{modifyDt}</if>
            <if test="dr != null ">,#{dr}</if>
            <if test="insuranceLivingType != null ">,#{insuranceLivingType}</if>
            <if test="insuranceState != null ">,#{insuranceState}</if>
            <if test="isQuit != null ">,#{isQuit}</if>
            <if test="schemeId != null ">,#{schemeId}</if>
            <if test="depId != null ">,#{depId}</if>
            <if test="email != null ">,#{email}</if>
            <if test="openid != null ">,#{openid}</if>
            <if test="fundState != null ">,#{fundState}</if>
            <if test="entryTime != null ">,#{entryTime}</if>
            <if test="leaveTime != null ">,#{leaveTime}</if>
            <if test="insuranceSalary != null ">,#{insuranceSalary}</if>
            <if test="fundSalary != null ">,#{fundSalary}</if>
            <if test="insurancePeriod != null ">,#{insurancePeriod}</if>
            <if test="fundPeriod != null ">,#{fundPeriod}</if>
            <if test="headPhoto != null ">,#{headPhoto}</if>
        </trim>
        )
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="empId">
            SELECT LAST_INSERT_ID() AS EMP_ID
        </selectKey>
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
        UPDATE cm_employee
        <trim prefix=" SET " prefixOverrides=",">
            <if test="empId != null ">,emp_id=#{empId}</if>
            <if test="cpId != null ">,cp_id=#{cpId}</if>
            <if test="name != null ">,name=#{name}</if>
            <if test="identityType != null ">,identity_type=#{identityType}</if>
            <if test="identityCode != null ">,identity_code=#{identityCode}</if>
            <if test="job != null ">,job=#{job}</if>
            <if test="socialInsuranceNum != null ">,social_insurance_num=#{socialInsuranceNum}</if>
            <if test="reserveFundNum != null ">,reserve_fund_num=#{reserveFundNum}</if>
            <if test="mobile != null ">,mobile=#{mobile}</if>
            <if test="createBy != null ">,create_by=#{createBy}</if>
            <if test="createDt != null ">,create_dt=#{createDt}</if>
            <if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
            <if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
            <if test="dr != null ">,dr=#{dr}</if>
            <if test="insuranceLivingType != null ">,insurance_living_type=#{insuranceLivingType}</if>
            <if test="insuranceState != null ">,insurance_state=#{insuranceState}</if>
            <if test="isQuit != null ">,is_quit=#{isQuit}</if>
            <if test="schemeId != null ">,scheme_id=#{schemeId}</if>
            <if test="depId != null ">,dep_id=#{depId}</if>
            <if test="email != null ">,email=#{email}</if>
            <if test="openid != null ">,openid=#{openid}</if>
            <if test="fundState != null ">,fund_state=#{fundState}</if>
            <if test="entryTime != null ">,entry_time=#{entryTime}</if>
            <if test="leaveTime != null ">,leave_time=#{leaveTime}</if>
            <if test="insuranceSalary != null ">,insurance_salary=#{insuranceSalary}</if>
            <if test="fundSalary != null ">,fund_salary=#{fundSalary}</if>
            <if test="insurancePeriod != null ">,insurance_period=#{insurancePeriod}</if>
            <if test="fundPeriod != null ">,fund_period=#{fundPeriod}</if>
            <if test="headPhoto != null ">,head_photo=#{headPhoto}</if>
        </trim>
        WHERE EMP_ID=#{empId}
    </update>

    <!-- 删除记录 -->
    <delete id="remove">DELETE FROM cm_employee WHERE EMP_ID=#{empId}</delete>
    <!-- 根据id查询 员工表 -->
    <select id="findByOpenId" resultMap="result_map_cm_employee" parameterType="Object">SELECT
        <include refid="Base_Column_List"/>
        FROM cm_employee WHERE openid=#{openId}  and dr= 0 limit 1
    </select>

    <select id="findByYrcToken" resultMap="result_map_cm_employee" parameterType="Object">SELECT
        <include refid="Base_Column_List"/>
        FROM cm_employee WHERE three_id=#{ycrToken}  and dr= 0 limit 1
    </select>


</mapper>
