<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cm_employee_attach" > 
<!-- Result Map-->
<resultMap id="result_map_cm_employee_attach" type="com.xfs.employeeside.model.CmEmployeeAttach" >
	<result column="attach_id" property="attachId"/>
	<result column="code" property="code"/>
	<result column="name" property="name"/>
	<result column="file_id" property="fileId"/>
	<result column="emp_id" property="empId"/>
</resultMap>
       
<!-- cm_employee_attach table all fields -->
<sql id="Base_Column_List" >
	 attach_id,code,name,file_id,emp_id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="attachId != null" >and attach_id = #{attachId}</if>
	<if test="code != null" >and code = #{code}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="fileId != null" >and file_id = #{fileId}</if>
	<if test="empId != null" >and emp_id = #{empId}</if>
</trim>
</sql>

<!-- 员工附件表 列表总数-->
<select id="countFindAll" resultType="java.lang.Integer">SELECT count(1) as value FROM cm_employee_attach</select>

<!-- 根据各字段条件查询  员工附件表 -->
<select id="freeFind" resultMap="result_map_cm_employee_attach" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM cm_employee_attach 
	 <include refid="Example_Where_Clause" />
</select>

<!-- 根据各字段条件查询  员工附件表 记录数 -->
<select id="countFreeFind" resultType="java.lang.Integer">
SELECT count(1) as value FROM cm_employee_attach 
 <include refid="Example_Where_Clause" />
</select>

<!-- 根据id查询 员工附件表 -->
<select id="findByPK" resultMap="result_map_cm_employee_attach" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM cm_employee_attach WHERE ATTACH_ID=#{attachId}</select>

<!-- 插入记录 -->
<insert id="insert" parameterType="Object" >
  INSERT INTO cm_employee_attach (
  <trim prefix=" " prefixOverrides=",">
	<if test="attachId != null ">,attach_id</if>
	<if test="code != null ">,code</if>
	<if test="name != null ">,name</if>
	<if test="fileId != null ">,file_id</if>
	<if test="empId != null ">,emp_id</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="attachId != null ">,#{attachId}</if>
	<if test="code != null ">,#{code}</if>
	<if test="name != null ">,#{name}</if>
	<if test="fileId != null ">,#{fileId}</if>
	<if test="empId != null ">,#{empId}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="attachId">
	SELECT LAST_INSERT_ID() AS ATTACH_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="update" parameterType="Object" >
UPDATE cm_employee_attach 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="attachId != null ">,attach_id=#{attachId}</if>
	<if test="code != null ">,code=#{code}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="fileId != null ">,file_id=#{fileId}</if>
	<if test="empId != null ">,emp_id=#{empId}</if>
  </trim>
WHERE ATTACH_ID=#{attachId}
</update>
 
<!-- 删除记录 -->
<delete id="remove">DELETE FROM cm_employee_attach WHERE ATTACH_ID=#{attachId}</delete>

</mapper>   
