<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FundAndInsurance">
    <!-- Result Map-->
    <resultMap id="result_map_FundAndInsurance" type="com.xfs.employeeside.model.FundAndInsurance">
        <result column="emp_id" property="empId"/>
        <result column="insurance_id" property="insuranceId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="insurance_fund_type" property="insuranceFundType"/>
        <result column="emp_ratio" property="empRatio"/>
        <result column="corp_ratio" property="corpRatio"/>
        <result column="corp_payment" property="corpPayment"/>
        <result column="fund_base" property="fundBase"/>
        <result column="insurance_base" property="insuranceBase"/>
        <result column="emp_payment" property="empPayment"/>
        <result column="insured_month" property="insuredMonth"/>
        <result column="pay_type" property="payType"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
    </resultMap>


    <!-- 根据各字段条件查询  员工表 -->
    <select id="queryFundAndInsurance" resultMap="result_map_FundAndInsurance" parameterType="Object">
        SELECT MAX(temp.emp_id) as emp_id,  temp.insurance_fund_type,SUM(emp_payment) as emp_payment ,SUM(corp_payment) as corp_payment,insured_month,  MAX(year) as year  ,month as month   from (
            select emp.emp_id, ins.insurance_id,ins.code , ins.name , ins.insurance_fund_type,detail.emp_ratio,  detail.corp_ratio,detail.corp_payment,detail.corp_paybase,
             detail.emp_paybase,detail.emp_payment,emp.insured_month,emp.pay_type, LEFT(emp.insured_month,4) as year,RIGHT(emp.insured_month,2) as month
             from sps_bill_emp emp
            left join sps_bill bill on emp.bill_id = bill.bill_id
            left join sps_bill_detail detail on detail.bill_emp_id = emp.id
            left join bd_insurance ins on detail.insurance_type = ins.insurance_id
            where emp.emp_id = #{empId} and bill.fee_pay_status = 1
            and ins.insurance_fund_type =#{insuranceFundType}
        ) temp GROUP BY  month, insurance_fund_type;
    </select>


    <!-- 根据各字段条件查询  员工表 -->
    <select id="queryFundAndInsuranceLast" resultMap="result_map_FundAndInsurance" parameterType="Object">
        SELECT MAX(temp.emp_id) as emp_id,  temp.insurance_fund_type,SUM(emp_payment) as emp_payment ,SUM(corp_payment) as corp_payment,insured_month,  MAX(year) as year  ,month as month   from (
        select emp.emp_id, ins.insurance_id,ins.code , ins.name , ins.insurance_fund_type,detail.emp_ratio,  detail.corp_ratio,detail.corp_payment,detail.corp_paybase,
        detail.emp_paybase,detail.emp_payment,emp.insured_month,emp.pay_type, LEFT(emp.insured_month,4) as year,RIGHT(emp.insured_month,2) as month
        from sps_bill_emp emp
        left join sps_bill bill on emp.bill_id = bill.bill_id
        left join sps_bill_detail detail on detail.bill_emp_id = emp.id
        left join bd_insurance ins on detail.insurance_type = ins.insurance_id
        where emp.emp_id = #{empId} and bill.fee_pay_status = 1
        and ins.insurance_fund_type =#{insuranceFundType}
        and emp.insured_month   &lt; #{currentMonth}
        ) temp GROUP BY  month order by  insured_month desc  limit 1
    </select>



    <select id="queryFundAndInsuranceLastOfSelfService" resultType="Object" parameterType="Object">
        	SELECT DISTINCT  IFNULL(detail.end_period,date_format(NOW(),'%Y-%m'))   as end_period
            FROM cm_employee emp
			INNER JOIN cm_employee_insurance detail ON emp.emp_id = detail.emp_id and detail.pay_type = 'MONTH'
			AND emp.emp_id = #{empId} AND emp.dr = 0 AND detail.dr = 0
            AND detail.begin_period &lt;= date_format(NOW(),'%Y-%m')
			INNER JOIN bd_insurance ins ON ins.insurance_id =  detail.insurance_id
            and ins.insurance_fund_type =#{insuranceFundType}
            ORDER BY end_period desc limit 1

    </select>


    <select id="queryFundAndInsuranceStartOfSelfService" resultType="Object" parameterType="Object">
        	SELECT DISTINCT  detail.begin_period  as begin_period
            FROM cm_employee emp
			INNER JOIN cm_employee_insurance detail ON emp.emp_id = detail.emp_id and detail.pay_type = 'MONTH'
			AND emp.emp_id = #{empId} AND emp.dr = 0 AND detail.dr = 0
			INNER JOIN bd_insurance ins ON ins.insurance_id =  detail.insurance_id
            and ins.insurance_fund_type =#{insuranceFundType}
            ORDER BY begin_period  limit 1

    </select>





    <!-- 根据各字段条件查询  员工表 记录数 -->
    <select id="getFundAndInsuranceDetailByMonth" resultMap="result_map_FundAndInsurance" parameterType="Object">

               select emp.emp_id, ins.insurance_id,ins.code , ins.name , ins.insurance_fund_type,detail.emp_ratio,  detail.corp_ratio,detail.corp_payment ,    detail.emp_payment, detail.corp_paybase  as fund_base,cme.insurance_salary as insurance_base,emp.insured_month,emp.pay_type, LEFT(emp.insured_month,4) as year,RIGHT(emp.insured_month,2) as month
        from sps_bill_emp emp
            left join sps_bill bill on emp.bill_id = bill.bill_id
            left join sps_bill_detail detail on detail.bill_emp_id = emp.id
            left join bd_insurance ins on detail.insurance_type = ins.insurance_id
			LEFT JOIN cm_employee cme on  cme.emp_id= emp.emp_id
             where emp.emp_id = #{empId} and bill.fee_pay_status = 1  and  ins.insurance_fund_type = #{insuranceFundType}
             and emp.insured_month = #{insuredMonth}

    </select>
</mapper>   
