<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BsSeachTable" >
	<!-- Result Map-->
	<resultMap id="result_map_BS_SEACH" type="com.xfs.report.model.BsSeach" >
		<result column="id" property="id"/>
		<result column="sqltext" property="sqltext"/>
		<result column="name" property="name"/>
		<result column="columns" property="columns"/>
		<result column="condition" property="condition"/>
		<result column="condition_name" property="conditionName"/>
		<result column="condition_type" property="conditionType"/>
		<result column="condition_pull_value" property="conditionPullValue"/>
	</resultMap>

	<!-- bs_seach table all fields -->
	<sql id="Base_Column_List" >
		id,sqltext,name,`columns`,`condition`,condition_name,condition_type,condition_pull_value
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="sqltext != null" >and sqltext = #{sqltext}</if>
			<if test="name != null" >and name = #{name}</if>
			<if test="columns != null" >and columns = #{columns}</if>
			<if test="condition != null" >and `condition` = #{condition}</if>
			<if test="conditionName != null" >and condition_name = #{conditionName}</if>
			<if test="conditionType != null" >and condition_type = #{conditionType}</if>
			<if test="conditionPullValue != null" >and condition_pull_value = #{conditionPullValue}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id like '%${id}%'</if>
			<if test="sqltext != null">AND sqltext like '%${sqltext}%'</if>
			<if test="sqltextEq != null">AND sqltext = #{sqltextEq}</if>
			<if test="name != null">AND name like '%${name}%'</if>
			<if test="nameEq != null">AND name = #{nameEq}</if>
			<if test="columns != null">AND columns like '%${columns}%'</if>
			<if test="columnsEq != null">AND columns = #{columnsEq}</if>
			<if test="condition != null">AND `condition` like '%${condition}%'</if>
			<if test="conditionEq != null">AND `condition` = #{conditionEq}</if>
			<if test="conditionName != null">AND condition_name like '%${conditionName}%'</if>
			<if test="conditionNameEq != null">AND condition_name = #{conditionNameEq}</if>
			<if test="conditionType != null">AND condition_type like '%${conditionType}%'</if>
			<if test="conditionPullValue != null">AND condition_pull_value like '%${conditionPullValue}%'</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertBS_SEACH" parameterType="Object" >
		INSERT INTO BS_SEACH (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="sqltext != null ">,sqltext</if>
			<if test="name != null ">,name</if>
			<if test="columns != null ">,columns</if>
			<if test="condition != null ">,`condition`</if>
			<if test="conditionName != null ">,condition_name</if>
			<if test="conditionType != null ">,condition_type</if>
			<if test="conditionPullValue != null ">,condition_pull_value</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="sqltext != null ">,#{sqltext}</if>
			<if test="name != null ">,#{name}</if>
			<if test="columns != null ">,#{columns}</if>
			<if test="condition != null ">,#{condition}</if>
			<if test="conditionName != null ">,#{conditionName}</if>
			<if test="conditionType != null ">,#{conditionType}</if>
			<if test="conditionPullValue != null ">,#{conditionPullValue}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateBS_SEACH" parameterType="Object" >
		UPDATE BS_SEACH
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="sqltext != null ">,sqltext=#{sqltext}</if>
			<if test="name != null ">,name=#{name}</if>
			<if test="columns != null ">,columns=#{columns}</if>
			<if test="condition != null ">,`condition`=#{condition}</if>
			<if test="conditionName != null ">,condition_name=#{conditionName}</if>
			<if test="conditionType != null ">,condition_type=#{conditionType}</if>
			<if test="conditionPullValue != null ">,condition_pull_value=#{conditionPullValue}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteBS_SEACH">DELETE FROM BS_SEACH WHERE ID=#{id}</delete>
	<!--  列表总数-->
	<select id="CountFindAllBS_SEACH" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_SEACH</select>
	<select id="CountBS_SEACH" resultType="java.lang.Integer">SELECT count(1) as value FROM BS_SEACH WHERE ID=#{id}</select>
	<!-- 根据id查询  -->
	<select id="FindByPK" resultMap="result_map_BS_SEACH" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM BS_SEACH WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询   -->
	<select id="FreeFindBS_SEACH" resultMap="result_map_BS_SEACH" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BS_SEACH
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询   记录数 -->
	<select id="CountFreeFindBS_SEACH" resultType="java.lang.Integer">
		SELECT count(1) as value FROM BS_SEACH
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序   -->
	<select id="FreeFindBS_SEACHOrdered" resultMap="result_map_BS_SEACH" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM BS_SEACH
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/11/10 14:48:42 ** -->
	<!-- ************************************************************************ -->

	<select id="findAllSeach" resultType="java.util.HashMap" parameterType="Object">
		select b.id,b.sqltext,b.name,b.`columns`,b.`condition` from bs_seach b
	</select>

	<select id="findSeach" resultType="java.util.HashMap" parameterType="Object">
		select * from bs_seach b where b.id=#{seachId}
	</select>

	<select id="findTableData" resultType="java.util.LinkedHashMap" parameterType="Object">
		${sqltext}
	</select>
	<select id="countData" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) as value FROM (${sqltext}) g
	</select>


</mapper>