<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="INSURANCE_SAAS">

    <!--获取用户信息-->
    <select id="getUserInfo" parameterType="Map" resultType="Map">

		SELECT ce.emp_id,ce.`name`,cc.tenant_id as cp_id, cc.corp_name, ce.identity_code,ce.mobile,ce.email,ce.create_dt
		FROM cm_employee ce
		LEFT JOIN cm_corp cc on ce.cp_id= cc.cp_id
		WHERE ce.dr=0 and
		LEFT(ce.create_dt,10) = #{date}

	</select>

    <!--获取订单信息-->
    <select id="getOrderInfo" parameterType="Map" resultType="Map">

		SELECT  ord.id as ordId,ord.create_dt as createDt,pay.order_code  as ordCode,pay.pay_user as payUser,pay.pay_date as payDate,ser.service_price as serPrice,ser.id as serviceId ,usr.mdn as cusCode
		FROM mc_mall_order  ord
		LEFT JOIN mc_mall_payment  pay on pay.order_id = ord.id
		LEFT JOIN mc_mall_service ser on ser.id = ord.service_id
		LEFT JOIN mc_user  usr on  usr.id = ord.user_id
		WHERE LEFT(ord.create_dt,10) = #{date}
		and  ord.pay_state=2

	</select>


    <!--获取客户信息-->
    <select id="getCustomeInfo" parameterType="Map" resultType="Map">

		SELECT cc.cp_id,cc.corp_name,cc.create_dt,cc.busi_license_num
		FROM cm_corp  cc
		WHERE cc.dr=0
		and LEFT(create_dt,10) = #{date}
	</select>


	<select id="getUserLoginInfo" parameterType="Map" resultType="Map">
		SELECT cm.emp_id,cm.name,cm.last_login_dt,corp.tenant_id as cp_id,corp.corp_name
		from cm_employee  cm
		LEFT JOIN cm_corp  corp on    cm.cp_id= corp.cp_id
		WHERE LEFT(cm.last_login_dt,10) = #{date}
		<if test="cpIds != null">and cm.cp_id  in (#{cpIds})</if>
	</select>



	<update id="updateLoginData" parameterType="Map">
		update cm_employee set last_login_dt = date_add(#{date},INTERVAL 72000*rand() SECOND)
		where rand() &lt; 0.4
		and cp_id in(
			select cp_id from cm_corp inner join yht_xfs_order on yht_xfs_order.custome_id = cm_corp.cp_id
		);

	</update>

	<update id="updateLoginDataRadio" parameterType="Map">
		update cm_employee set last_login_dt = date_add(last_login_dt, INTERVAL 6 hour)
		where rand() &lt; 0.4 and hour(last_login_dt) between 0 and 7
		and cp_id in(
		select cp_id from cm_corp inner join yht_xfs_order on yht_xfs_order.custome_id = cm_corp.cp_id
		);
	</update>



</mapper>   
