<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WELFAREPLATFORM">

    <!--获取用户信息-->
    <select id="getUserInfo" parameterType="Map" resultType="Map">

		SELECT e.id,e.name,e.com_id,c.com_name,e.phone,e.email,e.create_date
		FROM welf_employee e
		LEFT JOIN welf_company c on e.com_id= c.id
		WHERE e.dr=0
		AND LEFT(e.create_date,10) = #{date}
	</select>

    <!--获取订单信息-->
    <select id="getOrderInfo" parameterType="Map" resultType="Map">

		SELECT wo.id,wo.order_no,wo.order_time,we.id as uid,we.name,wo.back_order_no,wd.`data`
		FROM welf_order wo
		LEFT JOIN welf_employee we on we.mid = wo.user_mid
		LEFT JOIN welf_order_data wd on wd.order_no=wo.order_no
		WHERE  wd.date_source='UMALL' and wd.order_method='PULL_ORDER_INFO'
		and LEFT(wo.order_time,10) = #{date}
	</select>


    <!--获取客户信息-->
    <select id="getCustomeInfo" parameterType="Map" resultType="Map">
		SELECT  c.id,c.com_name,c.create_date FROM welf_company c
		WHERE c.dr=0
		and LEFT(create_date,10) = #{date}

	</select>


    <select id="getUserLoginInfo" parameterType="Map" resultType="Map">

        SELECT cm.id,cm.name,cm.last_login_dt,corp.tenant_id as cp_id,corp.corp_name
        from welf_employee cm
        LEFT JOIN welf_company welfcom on welfcom.id=cm.com_id
        LEFT JOIN cm_corp corp on welfcom.cp_id= corp.cp_id
        WHERE LEFT(cm.last_login_dt,10) = #{date}
        <if test="cpIds != null">and corp.cp_id in (#{cpIds})</if>

    </select>


    <update id="updateLoginData" parameterType="Map">
		update welf_employee set last_login_dt = date_add(#{date},INTERVAL 72000*rand() SECOND)
		where rand()   &lt; 0.4
		and com_id in(
			select id from welf_company
			inner join yht_xfs_order on yht_xfs_order.custome_id = welf_company.cp_id
		);
	</update>


	<update id="updateLoginDataRadio" parameterType="Map">
		update welf_employee set last_login_dt = date_add(last_login_dt, INTERVAL 6 hour)
		where rand() &lt; 0.4
		and hour(last_login_dt) between 0 and 7
		and com_id in(
			select id from welf_company
			inner join yht_xfs_order on yht_xfs_order.custome_id = welf_company.cp_id
		);
	</update>


</mapper>
