<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_REL_ROLE_FUNC">
  <resultMap id="result_map_SYS_REL_ROLE_FUNC" type="com.xfs.user.model.SysRelRoleFunc">
    <id property="roleFuncId" column="ROLE_FUNC_ID" jdbcType="INTEGER" />
    <result property="roleId" column="ROLE_ID" jdbcType="INTEGER" />
    <result property="relId" column="REL_ID" jdbcType="INTEGER" />
    <result property="functionCrudUrl" column="FUNCTION_CRUD_URL" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="InsertSYS_REL_ROLE_FUNC">
    INSERT INTO SYS_REL_ROLE_FUNC (
    <trim prefix=" " prefixOverrides=",">
      <if test="roleId != null ">,ROLE_ID</if>
      <if test="relId != null ">,REL_ID</if>
      <if test="functionCrudUrl != null ">,FUNCTION_CRUD_URL</if>
    </trim>
    )  VALUES (
    <trim prefix=" " prefixOverrides=",">
      <if test="roleId != null ">,#{roleId,jdbcType=INTEGER}</if>
      <if test="relId != null ">,#{relId,jdbcType=INTEGER}</if>
      <if test="functionCrudUrl != null ">,#{functionCrudUrl,jdbcType=VARCHAR}</if>
    </trim>
    )
    <selectKey resultType="java.lang.Integer" keyProperty="roleFuncId" order="AFTER">SELECT LAST_INSERT_ID() AS ROLE_FUNC_ID</selectKey>
  </insert>
  <update id="UpdateSYS_REL_ROLE_FUNC">
    UPDATE SYS_REL_ROLE_FUNC 
    <trim prefix=" SET " prefixOverrides=",">
      <if test="roleId != null ">,ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
      <if test="relId != null ">,REL_ID=#{relId,jdbcType=INTEGER}</if>
      <if test="functionCrudUrl != null ">,FUNCTION_CRUD_URL=#{functionCrudUrl,jdbcType=VARCHAR}</if>
    </trim>
     WHERE ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}
  </update>
  <delete id="DeleteSYS_REL_ROLE_FUNC">DELETE FROM SYS_REL_ROLE_FUNC WHERE ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</delete>
  <select id="FindSYS_REL_ROLE_FUNCForSYS_ROLE_relRoleFuncList" resultMap="result_map_SYS_REL_ROLE_FUNC">
    SELECT ROLE_FUNC_ID,ROLE_ID,REL_ID,FUNCTION_CRUD_URL FROM SYS_REL_ROLE_FUNC
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="roleId == null ">AND 1=2</if>
      <if test="roleId != null ">AND ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
    </trim>
  </select>
  <select id="CountFindAllSYS_REL_ROLE_FUNC" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_REL_ROLE_FUNC</select>
  <select id="CountSYS_REL_ROLE_FUNC" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_REL_ROLE_FUNC WHERE ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</select>
  <select id="FindByPKSYS_REL_ROLE_FUNC" resultMap="result_map_SYS_REL_ROLE_FUNC">SELECT ROLE_FUNC_ID,ROLE_ID,REL_ID,FUNCTION_CRUD_URL FROM SYS_REL_ROLE_FUNC WHERE ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</select>
  <select id="FreeFindSYS_REL_ROLE_FUNC" resultMap="result_map_SYS_REL_ROLE_FUNC">
    SELECT ROLE_FUNC_ID,ROLE_ID,REL_ID,FUNCTION_CRUD_URL FROM SYS_REL_ROLE_FUNC
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="roleFuncId != null ">AND ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</if>
      <if test="roleId != null ">AND ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
      <if test="relId != null ">AND REL_ID=#{relId,jdbcType=INTEGER}</if>
      <if test="functionCrudUrl != null ">AND FUNCTION_CRUD_URL like '%${functionCrudUrl}%'</if>
      <if test="functionCrudUrlEq != null ">AND FUNCTION_CRUD_URL=#{functionCrudUrlEq,jdbcType=VARCHAR}</if>
    </trim>
  </select>
  <select id="CountFreeFindSYS_REL_ROLE_FUNC" resultType="java.lang.Integer">
    SELECT count(1) as value FROM SYS_REL_ROLE_FUNC
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="roleFuncId != null ">AND ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</if>
      <if test="roleId != null ">AND ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
      <if test="relId != null ">AND REL_ID=#{relId,jdbcType=INTEGER}</if>
      <if test="functionCrudUrl != null ">AND FUNCTION_CRUD_URL like '%${functionCrudUrl}%'</if>
      <if test="functionCrudUrlEq != null ">AND FUNCTION_CRUD_URL=#{functionCrudUrlEq,jdbcType=VARCHAR}</if>
    </trim>
  </select>
  <select id="FreeFindSYS_REL_ROLE_FUNCOrdered" resultMap="result_map_SYS_REL_ROLE_FUNC">
    SELECT ROLE_FUNC_ID,ROLE_ID,REL_ID,FUNCTION_CRUD_URL FROM SYS_REL_ROLE_FUNC
    <trim prefix=" WHERE " prefixOverrides="AND ">
      <if test="roleFuncId != null ">AND ROLE_FUNC_ID=#{roleFuncId,jdbcType=INTEGER}</if>
      <if test="roleId != null ">AND ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
      <if test="relId != null ">AND REL_ID=#{relId,jdbcType=INTEGER}</if>
      <if test="functionCrudUrl != null ">AND FUNCTION_CRUD_URL like '%${functionCrudUrl}%'</if>
      <if test="functionCrudUrlEq != null ">AND FUNCTION_CRUD_URL=#{functionCrudUrlEq,jdbcType=VARCHAR}</if>
    </trim>
     ORDER BY ${_orderBy}
  </select>
  <update id="DeleteByRoleIdSYS_REL_ROLE_FUNC">DELETE FROM SYS_REL_ROLE_FUNC WHERE role_id = #{role_id,jdbcType=INTEGER}</update>
</mapper>

