<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_USER_ROLE">
	<resultMap type="com.xfs.user.model.SysUserRole" id="result_map_SYS_USER_ROLE">
		<id property="id" column="ID" jdbcType="INTEGER" />
		<result property="roleId"   column="ROLE_ID"     jdbcType="INTEGER" />
		<result property="roleName" column="ROLE_NAME"   jdbcType="VARCHAR" />
		<result property="userId"   column="USER_ID"     jdbcType="INTEGER" />
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATE_BY" jdbcType="VARCHAR" />
		<result property="createDt" column="CREATE_DT" jdbcType="TIMESTAMP" />
		<result property="modifyBy" column="MODIFY_BY" jdbcType="VARCHAR" />
		<result property="modifyDt" column="MODIFY_DT" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="CountFindAllSYS_USER_ROLE" resultType="java.lang.Integer">
		select
		count(1) as value from sys_user_role
	</select>

	<select id="CountFreeFindSYS_USER_ROLE" resultType="java.lang.Integer">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="roleId != null ">AND ROLE_ID=#{roleId,jdbcType=INTEGER}</if>
			<if test="userId != null ">AND USER_ID=#{userId,jdbcType=INTEGER}</if>
		</trim>
	</select>

	<select id="FindByPKSYS_USER_ROLE" resultMap="result_map_SYS_USER_ROLE">
		select
		ur.id,
		ur.role_id,
		ur.user_id,
		u.user_name,
		r.role_name,
		ur.create_by,
		ur.create_dt,
		ur.modify_by,
		ur.modify_dt
		from
		sys_user_role ur 
		inner join sys_user u on ur.user_id=u.user_id
		inner join sys_role r on ur.role_id=r.role_id
		where
		ur.id=#{id,jdbcType=INTEGER}
	</select>


	<select id="FreeFindSYS_USER_ROLE" resultMap="result_map_SYS_USER_ROLE">
		SELECT
		UR.ID,
		UR.ROLE_ID,
		UR.USER_ID,
		U.USER_NAME,
		R.ROLE_NAME,
		UR.CREATE_BY,
		UR.CREATE_DT,
		UR.MODIFY_BY,
		UR.MODIFY_DT
		FROM
		SYS_USER_ROLE UR INNER JOIN SYS_USER U ON UR.USER_ID=U.USER_ID
		INNER
		JOIN SYS_ROLE R ON UR.ROLE_ID=R.ROLE_ID
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="roleId != null ">and ur.role_id=#{roleId,jdbcType=INTEGER}</if>
			<if test="userId != null ">and ur.user_id=#{userId,jdbcType=INTEGER}</if>
			<if test="roleName != null ">and r.role_name like '%${roleName}%'</if>
			<if test="userName != null ">and u.user_name like '%${userName}%'</if>
			<if test="createBy != null ">AND ur.create_by = '%${createBy}%'</if>
			<if test="createDt != null ">AND ur.CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
			<if test="modifyBy != null ">AND ur.modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null ">AND ur.MODIFY_DT=#{modifyDt,jdbcType=TIMESTAMP}</if>
		</trim>
	</select>

	<select id="FreeFindSYS_USER_ROLE_BY_SPID" resultMap="result_map_SYS_USER_ROLE">
		SELECT
		UR.ID,
		UR.ROLE_ID,
		UR.USER_ID,
		U.USER_NAME,
		R.ROLE_NAME,
		UR.CREATE_BY,
		UR.CREATE_DT,
		UR.MODIFY_BY,
		UR.MODIFY_DT
		FROM
		SYS_USER_ROLE UR INNER JOIN SYS_USER U ON UR.USER_ID=U.USER_ID
		INNER
		JOIN SYS_ROLE R ON UR.ROLE_ID=R.ROLE_ID
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="roleId != null ">and ur.role_id=#{roleId,jdbcType=INTEGER}</if>
			<if test="spId != null ">and u.org_id=#{spId,jdbcType=INTEGER}</if>
			<if test="userType != null ">and u.user_type=#{userType,jdbcType=VARCHAR}</if>
			<if test="userId != null ">and ur.user_id=#{userId,jdbcType=INTEGER}</if>
			<if test="roleName != null ">and r.role_name like '%${roleName}%'</if>
			<if test="userName != null ">and u.user_name like '%${userName}%'</if>
			<if test="createBy != null ">AND ur.create_by = '%${createBy}%'</if>
			<if test="createDt != null ">AND ur.CREATE_DT=#{createDt,jdbcType=TIMESTAMP}</if>
			<if test="modifyBy != null ">AND ur.modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null ">AND ur.MODIFY_DT=#{modifyDt,jdbcType=TIMESTAMP}</if>
		</trim>
	</select>

	<select id="FindByUserIdSYS_USER_ROLE" resultMap="result_map_SYS_USER_ROLE">
		select
		ur.id,
		ur.role_id,
		ur.user_id
		from
		sys_user_role ur 
		where ur.user_id = #{userId,jdbcType=INTEGER}
		order by role_id
	</select>
	
	<select id="CountSYS_USER_ROLE" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SYS_USER_ROLE WHERE id=#{id,jdbcType=INTEGER}
	</select>

	<insert id="InsertSYS_USER_ROLE">
		INSERT INTO SYS_USER_ROLE (
		<trim prefix=" " prefixOverrides=",">
			<if test="roleId != null ">,ROLE_ID</if>
			<if test="userId != null ">,USER_ID</if>
			<if test="createBy != null ">,CREATE_BY</if>
			<if test="createDt != null ">,CREATE_DT</if>
			<if test="modifyBy != null ">,MODIFY_BY</if>
			<if test="modifyDt != null ">,MODIFY_DT</if>
		</trim>
		) VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="roleId != null ">,#{roleId,jdbcType=INTEGER}</if>
			<if test="userId != null ">,#{userId,jdbcType=INTEGER}</if>
			<if test="createBy != null ">,#{createBy,jdbcType=VARCHAR}</if>
			<if test="createDt != null ">,#{createDt,jdbcType=TIMESTAMP}</if>
			<if test="modifyBy != null ">,#{modifyBy,jdbcType=VARCHAR}</if>
			<if test="modifyDt != null ">,#{modifyDt,jdbcType=TIMESTAMP}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID() AS ROLE_ID</selectKey>
	</insert>

	<update id="UpdateSYS_USER_ROLE">
		UPDATE SYS_USER_ROLE
		<trim prefix=" SET " prefixOverrides=",">
			<if test="roleId != null ">,#{roleId,jdbcType=INTEGER}</if>
			<if test="userId != null ">,#{userId,jdbcType=INTEGER}</if>
			<if test="createBy != null ">,#{createBy,jdbcType=VARCHAR}</if>
			<if test="createDt != null ">,#{createDt,jdbcType=TIMESTAMP}</if>
			<if test="modifyBy != null ">,#{modifyBy,jdbcType=VARCHAR}</if>
			<if test="modifyDt != null ">,#{modifyDt,jdbcType=TIMESTAMP}</if>
		</trim>
		WHERE id=#{id,jdbcType=INTEGER}
	</update>

	<delete id="DeleteSYS_USER_ROLE">
		DELETE FROM SYS_USER_ROLE WHERE id=#{id,jdbcType=INTEGER}
	</delete>

	<delete id="DeleteByUserIdSYS_USER_ROLE">
		DELETE FROM SYS_USER_ROLE WHERE user_id=#{userId,jdbcType=INTEGER}
	</delete>
	
	<delete id="DeleteSYS_USER_ROLE_ByUserIdAndRoleId">
		DELETE FROM SYS_USER_ROLE WHERE role_id=#{roleId,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
	</delete>

</mapper>