<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_FUNCTION_DATA" >
	<!-- Result Map-->
	<resultMap id="result_map_SYS_FUNCTION_DATA" type="com.xfs.user.model.SysFunctionData" >
		<result column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="user_type" property="userType"/>
		<result column="data_type" property="dataType"/>
		<result column="data_id" property="dataId"/>
		<result column="create_by" property="createBy"/>
		<result column="create_dt" property="createDt"/>
		<result column="modify_by" property="modifyBy"/>
		<result column="modify_dt" property="modifyDt"/>
		<result column="dr" property="dr"/>
		<result column="is_all" property="isAll"/>
	</resultMap>

	<!-- sys_function_data table all fields -->
	<sql id="Base_Column_List" >
		id,user_id,user_type,data_type,data_id,create_by,create_dt,modify_by,modify_dt,dr,is_all
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="userId != null" >and user_id = #{userId}</if>
			<if test="userType != null" >and user_type = #{userType}</if>
			<if test="dataType != null" >and data_type = #{dataType}</if>
			<if test="dataId != null" >and data_id = #{dataId}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="isAll != null" >and is_all = #{isAll}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null">AND id = #{id}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
			<if test="userType != null">AND user_type like '%${userType}%'</if>
			<if test="userTypeEq != null">AND user_type = #{userTypeEq}</if>
			<if test="dataType != null">AND data_type like '%${dataType}%'</if>
			<if test="dataTypeEq != null">AND data_type = #{dataTypeEq}</if>
			<if test="dataId != null">AND data_id = #{dataId}</if>
			<if test="createBy != null">AND create_by = #{createBy}</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="dr != null">AND dr = #{dr}</if>
			<if test="isAll != null">AND is_all like '%${isAll}%'</if>
			<if test="isAllEq != null">AND is_all = #{isAllEq}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertSYS_FUNCTION_DATA" parameterType="Object" >
		INSERT INTO SYS_FUNCTION_DATA (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="userId != null ">,user_id</if>
			<if test="userType != null ">,user_type</if>
			<if test="dataType != null ">,data_type</if>
			<if test="dataId != null ">,data_id</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="dr != null ">,dr</if>
			<if test="isAll != null ">,is_all</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="userId != null ">,#{userId}</if>
			<if test="userType != null ">,#{userType}</if>
			<if test="dataType != null ">,#{dataType}</if>
			<if test="dataId != null ">,#{dataId}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="isAll != null ">,#{isAll}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateSYS_FUNCTION_DATA" parameterType="Object" >
		UPDATE SYS_FUNCTION_DATA
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="userId != null ">,user_id=#{userId}</if>
			<if test="userType != null ">,user_type=#{userType}</if>
			<if test="dataType != null ">,data_type=#{dataType}</if>
			<if test="dataId != null ">,data_id=#{dataId}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="isAll != null ">,is_all=#{isAll}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteSYS_FUNCTION_DATA">DELETE FROM SYS_FUNCTION_DATA WHERE ID=#{id}</delete>
	<!-- 数据权限表 列表总数-->
	<select id="CountFindAllSYS_FUNCTION_DATA" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_FUNCTION_DATA</select>
	<select id="CountSYS_FUNCTION_DATA" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_FUNCTION_DATA WHERE ID=#{id}</select>
	<!-- 根据id查询 数据权限表 -->
	<select id="FindByPK" resultMap="result_map_SYS_FUNCTION_DATA" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_FUNCTION_DATA WHERE ID=#{id}</select>

	<!-- 根据各字段条件带模糊查询  数据权限表 -->
	<select id="FreeFindSYS_FUNCTION_DATA" resultMap="result_map_SYS_FUNCTION_DATA" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SYS_FUNCTION_DATA
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  数据权限表 记录数 -->
	<select id="CountFreeFindSYS_FUNCTION_DATA" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SYS_FUNCTION_DATA
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  数据权限表 -->
	<select id="FreeFindSYS_FUNCTION_DATAOrdered" resultMap="result_map_SYS_FUNCTION_DATA" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SYS_FUNCTION_DATA
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/08/23 14:25:55 ** -->
	<!-- ************************************************************************ -->

	<!-- 根据用户ID 用户类型 表明获取数据权限 -->
	<select id="getAuthorityByUserIdAndType" resultType="java.lang.String" parameterType="Object">
		select GROUP_CONCAT(data_id) 
		FROM SYS_FUNCTION_DATA
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="userId != null" >and user_id = #{userId}</if>
			<if test="userType != null" >and user_type = #{userType}</if>
			<if test="dataType != null" >and data_type = #{dataType}</if>
			<if test="userTypeEq != null">AND user_type = #{userTypeEq}</if>
			<if test="dataTypeEq != null">AND data_type = #{dataTypeEq}</if>
		</trim>
	</select>
	
	<!-- 根据用户ID删除记录 -->
	<delete id="deleteByUserId">DELETE FROM SYS_FUNCTION_DATA WHERE user_id = #{userId}</delete>
	

</mapper>   
