<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_OL" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_OL" type="com.xfs.openlist.model.SpsOl" >
	<result column="ol_id" property="olId"/>
	<result column="bstype_id" property="bstypeId"/>
	<result column="sp_id" property="spId"/>
	<result column="area_id" property="areaId"/>
	<result column="used_count" property="usedCount"/>
	<result column="material_p_type" property="materialPType"/>
	<result column="material_b_type" property="materialBType"/>
	<result column="status" property="status"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="update_by" property="updateBy"/>
	<result column="update_dt" property="updateDt"/>
</resultMap>

<!-- sps_ol table all fields -->
<sql id="Base_Column_List" >
	 ol_id,bstype_id,sp_id,area_id,used_count,material_p_type,material_b_type,status,create_by,create_dt,update_by,update_dt
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="olId != null" >and ol_id = #{olId}</if>
	<if test="bstypeId != null" >and bstype_id = #{bstypeId}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="areaId != null" >and area_id = #{areaId}</if>
	<if test="usedCount != null" >and used_count = #{usedCount}</if>
	<if test="materialPType != null" >and material_p_type = #{materialPType}</if>
	<if test="materialBType != null" >and material_b_type = #{materialBType}</if>
	<if test="status != null" >and status = #{status}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="updateBy != null" >and update_by = #{updateBy}</if>
	<if test="updateDt != null" >and update_dt = #{updateDt}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="olId != null">AND ol_id = '${olId}'</if>
    <if test="bstypeId != null">AND bstype_id = '${bstypeId}'</if>
    <if test="spId != null">AND sp_id = '${spId}'</if>
    <if test="areaId != null">AND area_id = '${areaId}'</if>
    <if test="usedCount != null">AND used_count like '%${usedCount}%'</if>
    <if test="materialPType != null">AND material_p_type like '%${materialPType}%'</if>
    <if test="materialBType != null">AND material_b_type like '%${materialBType}%'</if>
    <if test="status != null">AND status like '%${status}%'</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="updateBy != null">AND update_by like '%${updateBy}%'</if>
    <if test="updateDt != null">AND update_dt = #{updateDt}</if>
    <if test="updateDtFrom != null">AND update_dt&gt;=#{updateDtFrom}</if>
	<if test="updateDtTo != null">AND update_dt&lt;=#{updateDtTo}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_OL" parameterType="Object">
  INSERT INTO SPS_OL (
  <trim prefix=" " prefixOverrides=",">
	<if test="olId != null ">,ol_id</if>
	<if test="bstypeId != null ">,bstype_id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="areaId != null ">,area_id</if>
	<if test="usedCount != null ">,used_count</if>
	<if test="materialPType != null ">,material_p_type</if>
	<if test="materialBType != null ">,material_b_type</if>
	<if test="status != null ">,status</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="updateBy != null ">,update_by</if>
	<if test="updateDt != null ">,update_dt</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="olId != null ">,#{olId}</if>
	<if test="bstypeId != null ">,#{bstypeId}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="areaId != null ">,#{areaId}</if>
	<if test="usedCount != null ">,#{usedCount}</if>
	<if test="materialPType != null ">,#{materialPType}</if>
	<if test="materialBType != null ">,#{materialBType}</if>
	<if test="status != null ">,#{status}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="updateBy != null ">,#{updateBy}</if>
	<if test="updateDt != null ">,#{updateDt}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="olId">
	SELECT LAST_INSERT_ID() AS OL_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_OL" parameterType="Object" >
UPDATE SPS_OL 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="olId != null ">,ol_id=#{olId}</if>
	<if test="bstypeId != null ">,bstype_id=#{bstypeId}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="areaId != null ">,area_id=#{areaId}</if>
	<if test="usedCount != null ">,used_count=#{usedCount}</if>
	<if test="materialPType != null ">,material_p_type=#{materialPType}</if>
	<if test="materialBType != null ">,material_b_type=#{materialBType}</if>
	<if test="status != null ">,status=#{status}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="updateBy != null ">,update_by=#{updateBy}</if>
	<if test="updateDt != null ">,update_dt=#{updateDt}</if>
  </trim>
WHERE OL_ID=#{olId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_OL">DELETE FROM SPS_OL WHERE OL_ID=#{olId}</delete>
<!-- openlist 列表总数-->
<select id="CountFindAllSPS_OL" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_OL</select>
<select id="CountSPS_OL" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_OL WHERE OL_ID=#{olId}</select>
<!-- 根据id查询 openlist -->
<select id="FindByPK" resultMap="result_map_SPS_OL" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_OL WHERE OL_ID=#{olId}</select>

<!-- 根据各字段条件带模糊查询  openlist -->
<select id="FreeFindSPS_OL" resultMap="result_map_SPS_OL" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_OL 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  openlist 记录数 -->
<select id="CountFreeFindSPS_OL" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_OL 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  openlist -->
<select id="FreeFindSPS_OLOrdered" resultMap="result_map_SPS_OL" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_OL 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/04/09 16:45:55 ** -->
<!-- ************************************************************************ -->
<!-- 根据搜索条件查询需要的 openlist总数 -->
<select id="CountCustomFindSPS_OL" resultType="java.lang.Integer" parameterType="Object">
	SELECT SUM(tb.count_) FROM (
		SELECT COUNT(1) AS count_
			FROM sps_ol ol
			INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
			INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
			INNER JOIN bs_area a ON ol.`area_id` = a.area_id
	        <if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
			INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
			WHERE oa.`sp_id` = #{spId} AND ol.`status` = 1
			<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
		UNION ALL
		SELECT COUNT(1) AS count_
			FROM sps_ol ol
			INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
			INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
			INNER JOIN bs_area a ON ol.`area_id` = a.area_id
			<if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
			INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
			WHERE oa.`sp_id` != #{spId} AND ol.`status` = 1
			<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
	) tb
</select>
<!-- 根据搜索条件查询需要的 openlist -->
<select id="CustomFindSPS_OL" resultType="java.util.Map" parameterType="Object">
	SELECT * FROM (
		<!-- 查询自己所有的ol -->
		SELECT 0 AS ob, ol.*, bt.`name` AS bt_name, s.sp_name, a.fullname
			, GROUP_CONCAT(amc.material_name) AS material_name_corp
			, GROUP_CONCAT(amp.material_name) AS material_name_persion
			FROM sps_ol ol
			INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
			INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
			INNER JOIN bs_area a ON ol.`area_id` = a.area_id
	        <if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
			INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
			LEFT JOIN sps_ol_material om ON ol.`ol_id` = om.`ol_id`
			LEFT JOIN sps_areamaterial amc ON (om.`material_id` = amc.`material_id` AND amc.`material_type` = 0)
			LEFT JOIN sps_areamaterial amp ON (om.`material_id` = amp.`material_id` AND amp.`material_type` = 1)
			WHERE oa.`sp_id` = #{spId} AND ol.`status` = 1
			<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
			GROUP BY ol.`ol_id`
		UNION ALL
		<!-- 查询他人发布的ol -->
		SELECT 1 AS ob, ol.*, bt.`name` AS bt_name, s.sp_name, a.fullname
			, GROUP_CONCAT(amc.material_name) AS material_name_corp
			, GROUP_CONCAT(amp.material_name) AS material_name_persion
			FROM sps_ol ol
			INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
			INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
			INNER JOIN bs_area a ON ol.`area_id` = a.area_id
	        <if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
			INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
			LEFT JOIN sps_ol_material om ON ol.`ol_id` = om.`ol_id`
			LEFT JOIN sps_areamaterial amc ON (om.`material_id` = amc.`material_id` AND amc.`material_type` = 0)
			LEFT JOIN sps_areamaterial amp ON (om.`material_id` = amp.`material_id` AND amp.`material_type` = 1)
			WHERE oa.`sp_id` != #{spId} AND ol.`status` = 1
			<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
			GROUP BY ol.`ol_id`
	) ut ORDER BY ut.ob ASC, ut.ol_id DESC
</select>

	<!-- 根据搜索条件查询需要的 openlist总数 -->
	<select id="CountMYSPS_OL" resultType="java.lang.Integer" parameterType="Object">
		SELECT SUM(tb.count_) FROM (
		SELECT COUNT(1) AS count_
		FROM sps_ol ol
		INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
		INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
		INNER JOIN bs_area a ON ol.`area_id` = a.area_id
		<if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
		INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
		WHERE oa.`sp_id` = #{spId}
		<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
		) tb
	</select>
	<!-- 根据搜索条件查询需要的 openlist -->
	<select id="MYSPS_OL" resultType="java.util.Map" parameterType="Object">
		SELECT * FROM (
		<!-- 查询自己所有的ol -->
		SELECT 0 AS ob, ol.*, bt.`name` AS bt_name, s.sp_name, a.fullname
		, GROUP_CONCAT(amc.material_name) AS material_name_corp
		, GROUP_CONCAT(amp.material_name) AS material_name_persion
		FROM sps_ol ol
		INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
		INNER JOIN sp_service s ON ol.`sp_id` = s.sp_id
		INNER JOIN bs_area a ON ol.`area_id` = a.area_id
		<if test="areaids != null"> AND a.area_id IN (${areaids}) </if>
		INNER JOIN sps_ol_areaauth oa ON ol.`area_id` = oa.`area_id`
		LEFT JOIN sps_ol_material om ON ol.`ol_id` = om.`ol_id`
		LEFT JOIN sps_areamaterial amc ON (om.`material_id` = amc.`material_id` AND amc.`material_type` = 0)
		LEFT JOIN sps_areamaterial amp ON (om.`material_id` = amp.`material_id` AND amp.`material_type` = 1)
		WHERE oa.`sp_id` = #{spId}
		<if test="_searchWord != null"> AND (bt.`name` LIKE '%${_searchWord}%' OR a.fullname LIKE '%${_searchWord}%') </if>
		GROUP BY ol.`ol_id`
		) ut ORDER BY ut.ob ASC, ut.ol_id DESC
	</select>

<!-- 根据业务类型和区域查询 -->
<select id="findByBstypeAndArea" resultMap="result_map_SPS_OL" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_OL WHERE bstype_id = #{bstypeId} AND area_id = #{areaId}
	<if test="olId != null"> AND ol_id != #{olId}</if>
</select>

<!-- 获取当前服务商管辖区域下的材料模版统计 -->
	<select id="FindSPS_OLSum" resultType="java.util.Map" parameterType="Object">
		SELECT area.fullname,area.`area_id`,count(ol.ol_id) as olcount,SUM(ol.used_count) as usedcount FROM
		bs_area area INNER JOIN sps_ol ol ON area.area_id = ol.area_id
		INNER JOIN sps_ol_areaauth oa ON (ol.`area_id` = oa.`area_id` AND oa.sp_id = #{sp_id})
		WHERE  ol.status = 1
		GROUP BY ol.area_id
	</select>
	<!--根据模板类型查询OpenList模板，携带城市和材料总数-->
	<select id="FindSPS_ALL_OL_M_TYPE" resultType="java.util.Map" parameterType="Object">
		SELECT ol.ol_id,ol.area_id,ol.sp_id,type.`name`,area.fullname,count(m.material_id) as msum FROM
		sps_ol ol INNER JOIN bd_bstype type ON ol.bstype_id = type.bstype_id AND ol.status = 1 INNER JOIN
		bs_area area ON ol.area_id = area.area_id INNER JOIN sps_ol_material m ON m.ol_id = ol.ol_id INNER JOIN
		sps_areamaterial aream ON aream.material_id = m.material_id
		<if test="material_type != null ">
			AND aream.material_type = #{material_type}
		</if>
		<if test="ptype != null "> WHERE  material_p_type=#{ptype} </if>
		<if test="btype != null "> WHERE  material_b_type=#{btype} </if>
		GROUP BY ol.ol_id ORDER BY m.rank
	</select>
	<!--根据地区查询OpenList模板，携带城市和材料总数-->
	<select id="FindSPS_AREA_OL_LIST" resultType="java.util.Map" parameterType="Object">
		SELECT ol.ol_id,ol.area_id,ol.sp_id,type.`name`,area.fullname,count(m.material_id) as msum FROM
		sps_ol ol INNER JOIN bd_bstype type ON ol.bstype_id = type.bstype_id AND ol.status = 1 INNER JOIN
		bs_area area ON ol.area_id = area.area_id AND ol.area_id = #{area_id} INNER JOIN sps_ol_material m ON m.ol_id = ol.ol_id INNER JOIN
		sps_areamaterial aream ON aream.material_id = m.material_id
		<if test="material_type != null ">
			AND aream.material_type = #{material_type}
		</if>
		GROUP BY ol.ol_id ORDER BY m.rank
	</select>
<!--根据ID获取模板详情-->
	<select id="FindSPS_OL_BY_ID" resultType="java.util.Map" parameterType="Object">
		SELECT ol.ol_id,ol.area_id,ol.sp_id,type.`name`,area.fullname,ol.bstype_id FROM
		sps_ol ol INNER JOIN bd_bstype type ON ol.bstype_id = type.bstype_id AND ol.ol_id = #{olId}
		INNER JOIN bs_area area ON ol.area_id = area.area_id
	</select>


<!-- FindSPS_OLByPK -->
<select id="FindSPS_OLByPK" resultType="java.util.Map" parameterType="Object">
	SELECT ol.*, bt.`name` AS bt_name, a.fullname
		FROM sps_ol ol
		INNER JOIN bd_bstype bt ON ol.`bstype_id` = bt.`bstype_id`
		INNER JOIN bs_area a ON ol.`area_id` = a.area_id
		WHERE ol_id = #{olId}
</select>


</mapper>


