<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfs.finance.dao.SpsReconciliationRecordDao">
    <resultMap id="BaseResultMap" type="com.xfs.finance.model.SpsReconciliationRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="file_id" property="fileId" jdbcType="BIGINT"/>
        <result column="type_id" property="typeId" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="bill_month" property="billMonth" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="dr" property="dr" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sps_reconciliation_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.xfs.finance.model.SpsReconciliationRecord" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into sps_reconciliation_record ( file_id, type_id,
        type_name, bill_month, type,
        create_by, create_time, update_by,
        dr)
        values ( #{fileId,jdbcType=BIGINT}, #{typeId,jdbcType=INTEGER},
        #{typeName,jdbcType=VARCHAR}, #{billMonth,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
        #{dr,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.xfs.finance.model.SpsReconciliationRecord">
        update sps_reconciliation_record
        set file_id = #{fileId,jdbcType=BIGINT},
        type_id = #{typeId,jdbcType=INTEGER},
        type_name = #{typeName,jdbcType=VARCHAR},
        bill_month = #{billMonth,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        create_by = #{createBy,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=BIGINT},
        dr = #{dr,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, file_id, type_id, type_name, bill_month, type, create_by, create_time,
        update_by, dr
        from sps_reconciliation_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, file_id, type_id, type_name, bill_month, type, create_by, create_time,
        update_by, dr
        from sps_reconciliation_record
    </select>
    <sql id="Sql_Pagination">
        <if test="offset != -1 &amp;&amp; rows != -1">
            LIMIT #{offset}, #{rows}
        </if>
    </sql>
    <select id="selectRecordByTypeIdAndMonth" resultType="com.xfs.finance.model.SpsReconciliationRecord">
        select id, file_id, type_id, type_name, bill_month, type, create_by, create_time,
        update_by, dr
        from sps_reconciliation_record
        where type =#{type} and type_id = #{typeId} and bill_month = #{billMonth} and dr = 0
    </select>

    <update id="deleteByKeys" parameterType="map">
        update sps_reconciliation_record
        set
        create_time = #{updateTime},
        update_by = #{userId},
        dr = 1
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="queryByPage" resultType="com.xfs.finance.model.SpsReconciliationRecord" parameterType="map">
        select r.* ,u.user_name as createName
        from sps_reconciliation_record r left join sys_user u on r.create_by = u.user_id
        where dr = 0
        <if test="type != null and type != -1 ">
            and r.type = #{type}
        </if>
        <if test="createName != null and createName != '' ">
            and u.user_name like concat('%',#{createName},'%')
        </if>
        <if test="beginDate != null and beginDate !=''">
            and Date(r.create_time) &gt;= #{beginDate}
        </if>
        <if test="endDate != null and endDate !='' ">
            and Date(r.create_time) &lt;= #{endDate}
        </if>
        order by r.create_time desc
        limit #{offset} , #{limit}
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        SELECT count(*)
        from sps_reconciliation_record r left join sys_user u on r.create_by = u.user_id
        where dr = 0
        <if test="type != null and type != -1 ">
            and r.type = #{type}
        </if>
        <if test="createName != null and createName != '' ">
            and u.user_name like concat('%',#{createName},'%')
        </if>
        <if test="beginDate != null and beginDate !=''">
            and Date(r.create_time) &gt;= #{beginDate}
        </if>
        <if test="endDate != null and endDate !='' ">
            and Date(r.create_time) &lt;= #{endDate}
        </if>
    </select>

</mapper>
