<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CM_CONTRACT" > 
<!-- Result Map-->
<resultMap id="result_map_CM_CONTRACT" type="com.xfs.sp.model.CmContract" >
	<result column="contract_id" property="contractId"/>
	<result column="cp_id" property="cpId"/>
	<result column="sp_id" property="spId"/>
	<result column="file_id" property="fileId"/>
	<result column="contract_name" property="contractName"/>
	<result column="order_id" property="orderId"/>
	<result column="online_type" property="onlineType"/>
	<result column="collaborator" property="collaborator"/>
	<result column="content" property="content"/>
	<result column="state" property="state"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
	<result column="contract_number" property="contractNumber"/>
	<result column="contract_title" property="contractTitle"/>
	<result column="contract_state" property="contractState"/>
	<result column="service_state" property="serviceState"/>
	<result column="company_state" property="companyState"/>
	<result column="down_url" property="downUrl"/>
	<result column="view_url" property="viewUrl"/>
</resultMap>
       
<!-- cm_contract table all fields -->
<sql id="Base_Column_List" >
	 contract_id,cp_id,sp_id,file_id,contract_name,order_id,online_type,collaborator,content,state,scheme_id,create_by,create_dt,modify_by,modify_dt,dr,contract_number,contract_title,contract_state,service_state,company_state,down_url,view_url
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="contractId != null" >and contract_id = #{contractId}</if>
	<if test="cpId != null" >and cp_id = #{cpId}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="fileId != null" >and file_id = #{fileId}</if>
	<if test="contractName != null" >and contract_name = #{contractName}</if>
	<if test="orderId != null" >and order_id = #{orderId}</if>
	<if test="onlineType != null" >and online_type = #{onlineType}</if>
	<if test="collaborator != null" >and collaborator = #{collaborator}</if>
	<if test="content != null" >and content = #{content}</if>
	<if test="state != null" >and state = #{state}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="contractNumber != null" >and contract_number = #{contractNumber}</if>
	<if test="contractTitle != null" >and contract_title = #{contractTitle}</if>
	<if test="contractState != null" >and contract_state = #{contractState}</if>
	<if test="serviceState != null" >and service_state = #{serviceState}</if>
	<if test="companyState != null" >and company_state = #{companyState}</if>
	<if test="downUrl != null" >and down_url = #{downUrl}</if>
	<if test="viewUrl != null" >and view_url = #{viewUrl}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="contractId != null">AND contract_id = #{contractId}</if>
    <if test="cpId != null">AND cp_id = #{cpId}</if>
    <if test="spId != null">AND sp_id = #{spId}</if>
    <if test="fileId != null">AND file_id = #{fileId}</if>
    <if test="contractName != null">AND contract_name like '%${contractName}%'</if>
    <if test="contractNameEq != null">AND contract_name = #{contractNameEq}</if>
    <if test="orderId != null">AND order_id = #{orderId}</if>
    <if test="onlineType != null">AND online_type = #{onlineType}</if>
	<if test="collaborator != null" >and collaborator = #{collaborator}</if>
    <if test="content != null">AND content like '%${content}%'</if>
    <if test="contentEq != null">AND content = #{contentEq}</if>
    <if test="state != null">AND state like '%${state}%'</if>
    <if test="stateEq != null">AND state = #{stateEq}</if>
    <if test="schemeId != null">AND scheme_id like '%${schemeId}%'</if>
    <if test="schemeIdEq != null">AND scheme_id = #{schemeIdEq}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr = #{dr}</if>
    <if test="contractNumber != null">AND contract_number like '%${contractNumber}%'</if>
    <if test="contractNumberEq != null">AND contract_number = #{contractNumberEq}</if>
    <if test="contractTitle != null">AND contract_title like '%${contractTitle}%'</if>
    <if test="contractTitleEq != null">AND contract_title = #{contractTitleEq}</if>
    <if test="contractState != null">AND contract_state = #{contractState}</if>
    <if test="serviceState != null">AND service_state = #{serviceState}</if>
    <if test="companyState != null">AND company_state = #{companyState}</if>
    <if test="downUrl != null">AND down_url like '%${downUrl}%'</if>
    <if test="downUrlEq != null">AND down_url = #{downUrlEq}</if>
    <if test="viewUrl != null">AND view_url like '%${viewUrl}%'</if>
    <if test="viewUrlEq != null">AND view_url = #{viewUrlEq}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertCM_CONTRACT" parameterType="Object" >
  INSERT INTO CM_CONTRACT (
  <trim prefix=" " prefixOverrides=",">
	<if test="contractId != null ">,contract_id</if>
	<if test="cpId != null ">,cp_id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="fileId != null ">,file_id</if>
	<if test="contractName != null ">,contract_name</if>
	<if test="orderId != null ">,order_id</if>
	<if test="onlineType != null ">,online_type</if>
	<if test="collaborator != null ">,collaborator</if>
	<if test="content != null ">,content</if>
	<if test="state != null ">,state</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
	<if test="contractNumber != null ">,contract_number</if>
	<if test="contractTitle != null ">,contract_title</if>
	<if test="contractState != null ">,contract_state</if>
	<if test="serviceState != null ">,service_state</if>
	<if test="companyState != null ">,company_state</if>
	<if test="downUrl != null ">,down_url</if>
	<if test="viewUrl != null ">,view_url</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="contractId != null ">,#{contractId}</if>
	<if test="cpId != null ">,#{cpId}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="fileId != null ">,#{fileId}</if>
	<if test="contractName != null ">,#{contractName}</if>
	<if test="orderId != null ">,#{orderId}</if>
	<if test="onlineType != null ">,#{onlineType}</if>
    <if test="collaborator != null ">,#{collaborator}</if>
	<if test="content != null ">,#{content}</if>
	<if test="state != null ">,#{state}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="contractNumber != null ">,#{contractNumber}</if>
	<if test="contractTitle != null ">,#{contractTitle}</if>
	<if test="contractState != null ">,#{contractState}</if>
	<if test="serviceState != null ">,#{serviceState}</if>
	<if test="companyState != null ">,#{companyState}</if>
	<if test="downUrl != null ">,#{downUrl}</if>
	<if test="viewUrl != null ">,#{viewUrl}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="contractId">
	SELECT LAST_INSERT_ID() AS CONTRACT_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateCM_CONTRACT" parameterType="Object" >
UPDATE CM_CONTRACT 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="contractId != null ">,contract_id=#{contractId}</if>
	<if test="cpId != null ">,cp_id=#{cpId}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="fileId != null ">,file_id=#{fileId}</if>
	<if test="contractName != null ">,contract_name=#{contractName}</if>
	<if test="orderId != null ">,order_id=#{orderId}</if>
	<if test="onlineType != null ">,online_type=#{onlineType}</if>
	<if test="collaborator != null ">,collaborator=#{collaborator}</if>
	<if test="content != null ">,content=#{content}</if>
	<if test="state != null ">,state=#{state}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="contractNumber != null ">,contract_number=#{contractNumber}</if>
	<if test="contractTitle != null ">,contract_title=#{contractTitle}</if>
	<if test="contractState != null ">,contract_state=#{contractState}</if>
	<if test="serviceState != null ">,service_state=#{serviceState}</if>
	<if test="companyState != null ">,company_state=#{companyState}</if>
	<if test="downUrl != null ">,down_url=#{downUrl}</if>
	<if test="viewUrl != null ">,view_url=#{viewUrl}</if>
  </trim>
WHERE CONTRACT_ID=#{contractId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteCM_CONTRACT">DELETE FROM CM_CONTRACT WHERE CONTRACT_ID=#{contractId}</delete>
<!-- 客户合同表 列表总数-->
<select id="CountFindAllCM_CONTRACT" resultType="java.lang.Integer">SELECT count(1) as value FROM CM_CONTRACT</select>
<select id="CountCM_CONTRACT" resultType="java.lang.Integer">SELECT count(1) as value FROM CM_CONTRACT WHERE CONTRACT_ID=#{contractId}</select>
<!-- 根据id查询 客户合同表 -->
<select id="FindByPK" resultMap="result_map_CM_CONTRACT" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CM_CONTRACT WHERE CONTRACT_ID=#{contractId}</select>

<!-- 根据各字段条件带模糊查询  客户合同表 -->
<select id="FreeFindCM_CONTRACT" resultMap="result_map_CM_CONTRACT" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CM_CONTRACT 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  客户合同表 记录数 -->
<select id="CountFreeFindCM_CONTRACT" resultType="java.lang.Integer">
SELECT count(1) as value FROM CM_CONTRACT 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  客户合同表 -->
<select id="FreeFindCM_CONTRACTOrdered" resultMap="result_map_CM_CONTRACT" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM CM_CONTRACT 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/10 10:44:44 ** -->
<!-- ************************************************************************ -->

 	<resultMap id="mapType" type="java.util.Map">
	</resultMap>
    <!-- 查询合同信息 -->
    <select id="findContracts" resultMap="mapType" parameterType="Object">
        select t.contract_id,t.cp_id,t.sp_id,t.file_id,t.contract_name,u.user_name,t.create_dt
        ,t.view_url,t.down_url
        from CM_CONTRACT t inner join sys_user u on t.create_by=u.user_id 
        inner join cm_corp c on c.cp_id = t.cp_id 
        where t.sp_id=${sp_id} and t.cp_id = ${cp_id} and t.dr=0 and c.dr = 0
    </select>



</mapper>   
