<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_ACCOUNT" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_ACCOUNT" type="com.xfs.sp.model.SpsAccount" >
	<result column="acc_id" property="accId"/>
	<result column="sp_id" property="spId"/>
	<result column="cp_id" property="cpId"/>
	<result column="name" property="name"/>
	<result column="insurance_fund_type" property="insuranceFundType"/>
	<result column="acc_type" property="accType"/>
	<result column="area_id" property="areaId"/>
	<result column="collection_day" property="collectionDay"/>
	<result column="reg_num" property="regNum"/>
	<result column="reg_numpass" property="regNumpass"/>
	<result column="reg_usbkeypass" property="regUsbkeypass"/>
	<result column="emp_ratio" property="empRatio"/>
	<result column="corp_ratio" property="corpRatio"/>
	<result column="state" property="state"/>
	<result column="remark" property="remark"/>
	<result column="dr" property="dr"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="unemployment_rate" property="unemploymentRate"/>
	<result column="disability_pay" property="disabilityPay"/>
	<result column="usbport" property="usbport"/>
	<result column="usbcode" property="usbcode"/>
	<result column="usbname" property="usbname"/>
	<result column="corp_name" property="corpName"/>
	<result column="contaniner_name" property="contaninerName"/>
	<result column="user_signed_date" property="userSignedDate"/>
</resultMap>
       
<!-- sps_account table all fields -->
<sql id="Base_Column_List" >
	 corp_name,contaniner_name,user_signed_date,acc_id,sp_id,cp_id,name,insurance_fund_type,acc_type,area_id,collection_day,reg_num,reg_numpass,reg_usbkeypass,emp_ratio,corp_ratio,state,remark,dr,create_by,create_dt,modify_by,modify_dt,unemployment_rate,disability_pay,usbport,usbcode,usbname
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="accId != null" >and acc_id = #{accId}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="cpId != null" >and cp_id = #{cpId}</if>
	<if test="name != null" >and name = #{name}</if>
	<if test="insuranceFundType != null" >and insurance_fund_type = #{insuranceFundType}</if>
	<if test="accType != null" >and acc_type = #{accType}</if>
	<if test="areaId != null" >and area_id = #{areaId}</if>
	<if test="collectionDay != null" >and collection_day = #{collectionDay}</if>
	<if test="regNum != null" >and reg_num = #{regNum}</if>
	<if test="regNumpass != null" >and reg_numpass = #{regNumpass}</if>
	<if test="regUsbkeypass != null" >and reg_usbkeypass = #{regUsbkeypass}</if>
	<if test="empRatio != null" >and emp_ratio = #{empRatio}</if>
	<if test="corpRatio != null" >and corp_ratio = #{corpRatio}</if>
	<if test="state != null" >and state = #{state}</if>
	<if test="remark != null" >and remark = #{remark}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="unemploymentRate != null" >and unemployment_rate = #{unemploymentRate}</if>
	<if test="disabilityPay != null" >and disability_pay = #{disabilityPay}</if>
	<if test="usbport != null" >and usbport = #{usbport}</if>
    <if test="usbcode != null" >and usbcode = #{usbcode}</if>
	<if test="usbname != null" >and usbname = #{usbname}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="accId != null">AND acc_id = #{accId}</if>
    <if test="spId != null">AND sp_id = #{spId}</if>
    <if test="cpId != null">AND cp_id = #{cpId}</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="insuranceFundType != null">AND insurance_fund_type like '%${insuranceFundType}%'</if>
    <if test="insuranceFundTypeEq != null">AND insurance_fund_type = #{insuranceFundTypeEq}</if>
    <if test="accType != null">AND acc_type like '%${accType}%'</if>
    <if test="accTypeEq != null">AND acc_type = #{accTypeEq}</if>
    <if test="areaId != null">AND area_id = #{areaId}</if>
    <if test="collectionDay != null">AND collection_day = #{collectionDay}</if>
    <if test="regNum != null">AND reg_num like '%${regNum}%'</if>
    <if test="regNumEq != null">AND reg_num = #{regNumEq}</if>
    <if test="regNumpass != null">AND reg_numpass like '%${regNumpass}%'</if>
    <if test="regNumpassEq != null">AND reg_numpass = #{regNumpassEq}</if>
    <if test="regUsbkeypass != null">AND reg_usbkeypass like '%${regUsbkeypass}%'</if>
    <if test="regUsbkeypassEq != null">AND reg_usbkeypass = #{regUsbkeypassEq}</if>
    <if test="empRatio != null">AND emp_ratio like '%${empRatio}%'</if>
    <if test="corpRatio != null">AND corp_ratio like '%${corpRatio}%'</if>
    <if test="state != null">AND state like '%${state}%'</if>
    <if test="stateEq != null">AND state = #{stateEq}</if>
    <if test="remark != null">AND remark like '%${remark}%'</if>
    <if test="remarkEq != null">AND remark = #{remarkEq}</if>
    <if test="dr != null">AND dr = #{dr}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="unemploymentRate != null">AND unemployment_rate like '%${unemploymentRate}%'</if>
    <if test="disabilityPay != null">AND disability_pay like '%${disabilityPay}%'</if>
	<if test="usbport != null">AND usbport like '%${usbport}%'</if>
	<if test="usbcode != null">AND usbcode like '%${usbcode}%'</if>
	<if test="usbname != null">AND usbname like '%${usbname}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_ACCOUNT" parameterType="Object" >
  INSERT INTO SPS_ACCOUNT (
  <trim prefix=" " prefixOverrides=",">
	<if test="accId != null ">,acc_id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="cpId != null ">,cp_id</if>
	<if test="name != null ">,name</if>
	<if test="insuranceFundType != null ">,insurance_fund_type</if>
	<if test="accType != null ">,acc_type</if>
	<if test="areaId != null ">,area_id</if>
	<if test="collectionDay != null ">,collection_day</if>
	<if test="regNum != null ">,reg_num</if>
	<if test="regNumpass != null ">,reg_numpass</if>
	<if test="regUsbkeypass != null ">,reg_usbkeypass</if>
	<if test="empRatio != null ">,emp_ratio</if>
	<if test="corpRatio != null ">,corp_ratio</if>
	<if test="state != null ">,state</if>
	<if test="remark != null ">,remark</if>
	<if test="dr != null ">,dr</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="unemploymentRate != null ">,unemployment_rate</if>
	<if test="disabilityPay != null ">,disability_pay</if>
	  <if test="usbport != null ">,usbport</if>
	  <if test="usbcode != null ">,usbcode</if>
	  <if test="usbname != null ">,usbname</if>

	  <if test="corpName != null ">,corp_name</if>
	  <if test="contaninerName != null ">,contaniner_name</if>
	  <if test="userSignedDate != null ">,user_signed_date</if>
	  <if test="autoLogin != null ">,auto_login</if>

  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="accId != null ">,#{accId}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="cpId != null ">,#{cpId}</if>
	<if test="name != null ">,#{name}</if>
	<if test="insuranceFundType != null ">,#{insuranceFundType}</if>
	<if test="accType != null ">,#{accType}</if>
	<if test="areaId != null ">,#{areaId}</if>
	<if test="collectionDay != null ">,#{collectionDay}</if>
	<if test="regNum != null ">,#{regNum}</if>
	<if test="regNumpass != null ">,#{regNumpass}</if>
	<if test="regUsbkeypass != null ">,#{regUsbkeypass}</if>
	<if test="empRatio != null ">,#{empRatio}</if>
	<if test="corpRatio != null ">,#{corpRatio}</if>
	<if test="state != null ">,#{state}</if>
	<if test="remark != null ">,#{remark}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="unemploymentRate != null ">,#{unemploymentRate}</if>
	<if test="disabilityPay != null ">,#{disabilityPay}</if>
	<if test="usbport != null ">,#{usbport}</if>
	  <if test="usbcode != null ">,#{usbcode}</if>
	  <if test="usbname != null ">,#{usbname}</if>

	  <if test="corpName != null ">,#{corpName}</if>
	  <if test="contaninerName != null ">,#{contaninerName}</if>
	  <if test="userSignedDate != null ">,#{userSignedDate}</if>
	  <if test="autoLogin != null ">,#{autoLogin}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="accId">
	SELECT LAST_INSERT_ID() AS ACC_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_ACCOUNT" parameterType="Object" >
UPDATE SPS_ACCOUNT 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="accId != null ">,acc_id=#{accId}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="cpId != null ">,cp_id=#{cpId}</if>
	<if test="name != null ">,name=#{name}</if>
	<if test="insuranceFundType != null ">,insurance_fund_type=#{insuranceFundType}</if>
	<if test="accType != null ">,acc_type=#{accType}</if>
	<if test="areaId != null ">,area_id=#{areaId}</if>
	<if test="collectionDay != null ">,collection_day=#{collectionDay}</if>
	<if test="regNum != null ">,reg_num=#{regNum}</if>
	<if test="regNumpass != null ">,reg_numpass=#{regNumpass}</if>
	<if test="regUsbkeypass != null ">,reg_usbkeypass=#{regUsbkeypass}</if>
	<if test="empRatio != null ">,emp_ratio=#{empRatio}</if>
	<if test="corpRatio != null ">,corp_ratio=#{corpRatio}</if>
	<if test="state != null ">,state=#{state}</if>
	<if test="remark != null ">,remark=#{remark}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="unemploymentRate != null ">,unemployment_rate=#{unemploymentRate}</if>
	<if test="disabilityPay != null ">,disability_pay=#{disabilityPay}</if>
	  <if test="usbport != null ">,usbport=#{usbport}</if>
	  <if test="usbcode != null ">,usbcode=#{usbcode}</if>
	  <if test="usbname != null ">,usbname=#{usbname}</if>

	  <if test="corpName != null ">,corp_name=#{corpName}</if>
	  <if test="contaninerName != null ">,contaniner_name=#{contaninerName}</if>
	  <if test="userSignedDate != null ">,user_signed_date=#{userSignedDate}</if>
	  <if test="autoLogin != null ">,auto_login =#{autoLogin}</if>
  </trim>
WHERE ACC_ID=#{accId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_ACCOUNT">DELETE FROM SPS_ACCOUNT WHERE ACC_ID=#{accId}</delete>
<!-- 库 列表总数-->
<select id="CountFindAllSPS_ACCOUNT" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_ACCOUNT</select>
<select id="CountSPS_ACCOUNT" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_ACCOUNT WHERE ACC_ID=#{accId}</select>
<!-- 根据id查询 库 -->
<select id="FindByPK" resultMap="result_map_SPS_ACCOUNT" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT WHERE ACC_ID=#{accId}</select>

<!-- 根据各字段条件带模糊查询  库 -->
<select id="FreeFindSPS_ACCOUNT" resultMap="result_map_SPS_ACCOUNT" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  库 记录数 -->
<select id="CountFreeFindSPS_ACCOUNT" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_ACCOUNT 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  库 -->
<select id="FreeFindSPS_ACCOUNTOrdered" resultMap="result_map_SPS_ACCOUNT" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/11 13:57:49 ** -->
<!-- ************************************************************************ -->

<resultMap id="result_map_SPS_ACCOUNT2" type="com.xfs.sp.model.SpsAccount" >
	<result column="acc_id" property="accId"/>
	<result column="sp_id" property="spId"/>
	<result column="cp_id" property="cpId"/>
	<result column="name" property="name"/>
	<result column="insurance_fund_type" property="insuranceFundType"/>
	<result column="acc_type" property="accType"/>
	<result column="area_id" property="areaId"/>
	<result column="collection_day" property="collectionDay"/>
	<result column="reg_num" property="regNum"/>
	<result column="reg_numpass" property="regNumpass"/>
	<result column="reg_usbkeypass" property="regUsbkeypass"/>
	<result column="emp_ratio" property="empRatio"/>
	<result column="corp_ratio" property="corpRatio"/>
	<result column="state" property="state"/>
	<result column="remark" property="remark"/>
	<result column="dr" property="dr"/>
	<result column="unemployment_rate" property="unemploymentRate"/>
	<result column="parentAreaId" property="parentAreaId"/>
	<result column="usbport" property="usbport"/>
	<result column="usbcode" property="usbcode"/>
</resultMap>


	<select id="QUERY_ACCOUNT_BYIDS" resultMap="result_map_SPS_ACCOUNT" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT
		where acc_id in
		<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
		#{id}
		</foreach>

	</select>

<!-- 通过spid查询库 -->
<select id="findSPS_ACCOUNT_COUNT_BY_SPID" resultType="java.lang.Integer" parameterType="Object">
	SELECT COUNT(1) FROM sps_account sa
	    INNER JOIN bs_area bsa ON bsa.`area_id` = sa.`area_id` 
		WHERE sa.`cp_id` IS NULL AND sa.`acc_type` = 'COMMON' AND sa.`sp_id` = #{spId}
		<if test="insuranceFundType != null">
			AND sa.`insurance_fund_type` = #{insuranceFundType}
		</if>
		<if test="state != null">
			AND sa.state = #{state}
		</if>
		<if test="name != null">
			AND name LIKE '%${name}%'
		</if>
		<if test="areaId != null and areaId != ''">
			AND bsa.belong_city = #{areaId} 
		</if>
</select>
<select id="findSPS_ACCOUNT_BY_SPID" resultType="java.util.Map" parameterType="Object">
	SELECT sa.*, bsa.`fullname`, count(sa.acc_id) as count
	   <!--  <if test="insuranceFundType != null">
			, COUNT(e.`insurance_account_id`) AS count
		</if> -->
		FROM sps_account sa
		INNER JOIN bs_area bsa ON bsa.`area_id` = sa.`area_id`
		<!-- <if test="insuranceFundType == 'INSURANCE'">
			LEFT JOIN cm_employee e ON (e.`insurance_account_id` = sa.`acc_id` AND e.`insurance_state` = 'ON')
		</if> -->
		<!-- <if test="insuranceFundType == 'FUND'">
			LEFT JOIN cm_employee e ON (e.`fund_account_id` = sa.`acc_id` AND e.`fund_state` = 'ON')
		</if> -->
		WHERE sa.`cp_id` IS NULL AND sa.`acc_type` = 'COMMON' AND sa.`sp_id` = #{spId}
		<if test="insuranceFundType != null">
			AND sa.`insurance_fund_type` = #{insuranceFundType}
		</if>
		<if test="state != null and state != ''">
			AND sa.state = #{state}
		</if>
		<if test="name != null and name != ''">
			AND sa.name LIKE '%${name}%'
		</if>
		<if test="areaId != null and areaId != ''">
			AND bsa.belong_city = #{areaId} 
		</if>
		GROUP BY sa.`acc_id` ORDER BY sa.acc_id DESC
</select>

   <select id="findAllWithParent" resultMap="result_map_SPS_ACCOUNT2" parameterType="Object">
       select  a.*, s.parent as parentAreaId from SPS_ACCOUNT a 
       left join bs_area s on a.area_id=s.area_id
       where 1=1
    <if test="accId != null">AND acc_id = '${accId}'</if>
    <if test="spId != null">AND sp_id = '${spId}'</if>
    <if test="cpId != null">AND cp_id = '${cpId}'</if>
    <if test="name != null">AND name like '%${name}%'</if>
    <if test="nameEq != null">AND name = #{nameEq}</if>
    <if test="insuranceFundType != null">AND insurance_fund_type like '%${insuranceFundType}%'</if>
    <if test="insuranceFundTypeEq != null">AND insurance_fund_type = #{insuranceFundTypeEq}</if>
    <if test="accType != null">AND acc_type like '%${accType}%'</if>
    <if test="accTypeEq != null">AND acc_type = #{accTypeEq}</if>
    <if test="areaId != null">AND s.belong_city = '${areaId}'</if><!--modify by lifq ,必须传入城市id  -->
    <if test="collectionDay != null">AND collection_day like '%${collectionDay}%'</if>
    <if test="regNum != null">AND reg_num like '%${regNum}%'</if>
    <if test="regNumEq != null">AND reg_num = #{regNumEq}</if>
    <if test="regNumpass != null">AND reg_numpass like '%${regNumpass}%'</if>
    <if test="regNumpassEq != null">AND reg_numpass = #{regNumpassEq}</if>
    <if test="regUsbkeypass != null">AND reg_usbkeypass like '%${regUsbkeypass}%'</if>
    <if test="regUsbkeypassEq != null">AND reg_usbkeypass = #{regUsbkeypassEq}</if>
    <if test="empRatio != null">AND emp_ratio like '%${empRatio}%'</if>
    <if test="corpRatio != null">AND corp_ratio like '%${corpRatio}%'</if>
    <if test="state != null">AND state like '%${state}%'</if>
    <if test="stateEq != null">AND state = #{stateEq}</if>
    <if test="remark != null">AND remark like '%${remark}%'</if>
    <if test="remarkEq != null">AND remark = #{remarkEq}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
   
   </select>

<select id="findSPS_ACCOUNT_COUNT_BY_NAME" resultType="java.lang.Integer" parameterType="Object">
	SELECT COUNT(1) FROM sps_account sa
	WHERE sa.`sp_id` = #{spId} AND sa.`cp_id` IS NULL AND sa.`acc_type` = 'COMMON'
	AND sa.`name` = #{name} AND sa.`insurance_fund_type` = #{insuranceFundType} AND sa.`dr` = 0
	<if test="accId != null">
		AND sa.acc_id != #{accId}
	</if>
</select>

	<select id="findSpsAccountListByConditions" resultMap="result_map_SPS_ACCOUNT" parameterType="Object">
		SELECT
		min(acc_id) accId,insurance_fund_type insuranceFundType,area_id areaId
		FROM
			sps_account
		<include refid="Example_Where_Clause2" />
		GROUP BY
			area_id,insurance_fund_type
	</select>

	<resultMap id="result_map_APPLY_MESSAGE" type="com.xfs.acc.dto.ApplyMessage" >
		<result column="areaId" property="areaId"/>
		<result column="acc_id" property="accId"/>
		<result column="name" property="name"/>
		<result column="insuranceFundType" property="insuranceFundType"/>
		<result column="areaName" property="areaName"/>
		<result column="regNum" property="regNum"/>
		<result column="regNumpass" property="regNumpass"/>
		<result column="regUsbkeypass" property="regUsbkeypass"/>
		<result column="usbCode" property="usbCode"/>
		<result column="corpName" property="corpName"/>
		<result column="userSignedDate" property="userSignedDate"/>
		<result column="contaninerName" property="contaninerName"/>
		<result column="autoLogin" property="autoLogin"/>
		<result column="insuranceLoginURL" property="insuranceURL"/>
		<result column="fundLoginURL" property="fundURL"/>
		<result column="ukeyType" property="ukeyType"/>
		<result column="scheme_id" property="schemeId"/>
	</resultMap>

	<select id="queryApplyMessageList" resultMap="result_map_APPLY_MESSAGE" parameterType="Object">
		<if test="areaIds != null">
			SELECT acc.acc_id,acc.area_id as areaId,acc.`name`,(CASE WHEN city.ukey_type = 'THREE' THEN 'INSURANCE,FUND' ELSE acc.insurance_fund_type END) as insuranceFundType,ba.`name` as areaName,acc.reg_num as regNum,acc.reg_numpass as regNumpass,acc.reg_usbkeypass as regUsbkeypass,acc.usbcode as usbCode,acc.corp_name as corpName,acc.user_signed_date as userSignedDate,acc.contaniner_name as contaninerName, acc.auto_login as autoLogin,city.insuranceLoginURL,city.fundLoginURL,scheme.scheme_id,IFNULL(city.ukey_type,'NO') as ukeyType
			FROM sps_account acc INNER JOIN (
			SELECT insurance_account_id,fund_account_id,scheme_id FROM sps_scheme where area_id in
			<foreach item="id" index="index" collection="areaIds" open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="authority != 'ALL'">
				AND scheme_id in (${authority})
			</if>
			AND cp_id = #{cpId} AND dr = 0  AND sp_id = -999 GROUP BY insurance_account_id,fund_account_id
			) scheme ON acc.acc_id = scheme.insurance_account_id OR acc.acc_id = scheme.fund_account_id
			INNER JOIN bs_area ba ON  ba.area_id = acc.area_id
			INNER JOIN sps_ts_citycode city ON city.area_id = ba.`code` AND
			(
			CASE WHEN city.ukey_type = 'THREE' THEN acc.insurance_fund_type in ('INSURANCE')
			WHEN city.ukey_type = 'INSURANCE_FUND' THEN acc.insurance_fund_type in ('FUND','INSURANCE')
			ELSE
			acc.insurance_fund_type in (city.ukey_type)
			END
			)
		</if>

		<if test="taskIds != null">
			SELECT acc.acc_id,(CASE WHEN city.ukey_type = 'THREE' THEN 'INSURANCE,FUND' ELSE acc.insurance_fund_type END) as insuranceFundType,acc.area_id as areaId,acc.`name`,ba.`name` as areaName,acc.reg_num as regNum,acc.reg_numpass as regNumpass,acc.reg_usbkeypass as regUsbkeypass,acc.usbcode as usbCode,acc.corp_name as corpName,acc.user_signed_date as userSignedDate,acc.contaniner_name as contaninerName, acc.auto_login as autoLogin,city.insuranceLoginURL,city.fundLoginURL,scheme.scheme_id,IFNULL(city.ukey_type,'NO') as ukeyType
			FROM sps_account acc INNER JOIN (
			SELECT ss.insurance_account_id,ss.fund_account_id,ins.insurance_fund_type,ss.scheme_id FROM sps_scheme ss INNER JOIN
			sps_task task ON task_id in
			<foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
				#{id}
			</foreach>
			AND ss.cp_id = task.cp_id AND ss.scheme_id = task.scheme_id
			<if test="authority != 'ALL'">
				AND ss.scheme_id in (${authority})
			</if>
			INNER JOIN bd_bstype ins ON ins.bstype_id = task.bstype_id
			where ss.cp_id = #{cpId} AND ss.dr = 0  AND ss.sp_id = -999 GROUP BY ss.insurance_account_id,ss.fund_account_id,ins.insurance_fund_type
			) scheme ON (acc.acc_id = scheme.insurance_account_id OR acc.acc_id = scheme.fund_account_id) AND acc.insurance_fund_type = scheme.insurance_fund_type
			INNER JOIN bs_area ba ON  ba.area_id = acc.area_id
			LEFT JOIN sps_ts_citycode city ON city.area_id = ba.`code`
			AND
			(
			CASE WHEN city.ukey_type = 'THREE' THEN acc.insurance_fund_type in ('FUND','INSURANCE')
			WHEN city.ukey_type = 'INSURANCE_FUND' THEN acc.insurance_fund_type in ('FUND','INSURANCE')
			ELSE
			acc.insurance_fund_type in (city.ukey_type)
			END
			)
			GROUP BY acc.area_id,insuranceFundType
		</if>

		<if test="schemeIds != null">
			SELECT acc.acc_id,acc.area_id as areaId,acc.`name`,(CASE WHEN city.ukey_type = 'THREE' THEN 'INSURANCE,FUND' ELSE acc.insurance_fund_type END) as insuranceFundType,ba.`name` as areaName,acc.reg_num as regNum,acc.reg_numpass as regNumpass,acc.reg_usbkeypass as regUsbkeypass,acc.usbcode as usbCode,acc.corp_name as corpName,acc.user_signed_date as userSignedDate,acc.contaniner_name as contaninerName, acc.auto_login as autoLogin,city.insuranceLoginURL,city.fundLoginURL,scheme.scheme_id,IFNULL(city.ukey_type,'NO') as ukeyType
			FROM sps_account acc INNER JOIN (
			SELECT insurance_account_id,fund_account_id,scheme_id FROM sps_scheme where scheme_id in
			<foreach item="id" index="index" collection="schemeIds" open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="authority != 'ALL'">
				AND scheme_id in (${authority})
			</if>
			AND cp_id = #{cpId} AND dr = 0  AND sp_id = -999 GROUP BY insurance_account_id,fund_account_id
			) scheme ON acc.acc_id = scheme.insurance_account_id OR acc.acc_id = scheme.fund_account_id
			INNER JOIN bs_area ba ON  ba.area_id = acc.area_id
			INNER JOIN sps_ts_citycode city ON city.area_id = ba.`code` AND
			(
			CASE WHEN city.ukey_type = 'THREE' THEN acc.insurance_fund_type in ('INSURANCE')
			WHEN city.ukey_type = 'INSURANCE_FUND' THEN acc.insurance_fund_type in ('FUND','INSURANCE')
			ELSE
			acc.insurance_fund_type in (city.ukey_type)
			END
			)
		</if>
	</select>



</mapper>

