<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_ACCOUNT_RATIO" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_ACCOUNT_RATIO" type="com.xfs.sp.model.SpsAccountRatio" >
	<result column="id" property="id"/>
	<result column="acc_id" property="accId"/>
	<result column="ratio_id" property="ratioId"/>
	<result column="living_type" property="livingType"/>
	<result column="isdefault" property="isdefault"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- sps_account_ratio table all fields -->
<sql id="Base_Column_List" >
	 id,acc_id,ratio_id,living_type,isdefault,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="accId != null" >and acc_id = #{accId}</if>
	<if test="ratioId != null" >and ratio_id = #{ratioId}</if>
	<if test="livingType != null" >and living_type = #{livingType}</if>
	<if test="isdefault != null" >and isdefault = #{isdefault}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="accId != null">AND acc_id = #{accId}</if>
    <if test="ratioId != null">AND ratio_id = #{ratioId}</if>
    <if test="livingType != null">AND living_type like '%${livingType}%'</if>
    <if test="livingTypeEq != null">AND living_type = #{livingTypeEq}</if>
    <if test="isdefault != null">AND isdefault like '%${isdefault}%'</if>
    <if test="isdefaultEq != null">AND isdefault = #{isdefaultEq}</if>
    <if test="createBy != null">AND create_by = #{createBy}</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = #{modifyBy}</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr = #{dr}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_ACCOUNT_RATIO" parameterType="Object" >
  INSERT INTO SPS_ACCOUNT_RATIO (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="accId != null ">,acc_id</if>
	<if test="ratioId != null ">,ratio_id</if>
	<if test="livingType != null ">,living_type</if>
	<if test="isdefault != null ">,isdefault</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="accId != null ">,#{accId}</if>
	<if test="ratioId != null ">,#{ratioId}</if>
	<if test="livingType != null ">,#{livingType}</if>
	<if test="isdefault != null ">,#{isdefault}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_ACCOUNT_RATIO" parameterType="Object" >
UPDATE SPS_ACCOUNT_RATIO 
  <trim prefix=" SET " prefixOverrides=",">
	id=#{id}
	,acc_id=#{accId}
	,ratio_id=#{ratioId}
	,living_type=#{livingType}
	,isdefault=#{isdefault}
	,create_by=#{createBy}
	,create_dt=#{createDt}
	,modify_by=#{modifyBy}
	,modify_dt=#{modifyDt}
	,dr=#{dr}
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_ACCOUNT_RATIO">DELETE FROM SPS_ACCOUNT_RATIO WHERE ID=#{id}</delete>
<!-- 大小库险种比例表 列表总数-->
<select id="CountFindAllSPS_ACCOUNT_RATIO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_ACCOUNT_RATIO</select>
<select id="CountSPS_ACCOUNT_RATIO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_ACCOUNT_RATIO WHERE ID=#{id}</select>
<!-- 根据id查询 大小库险种比例表 -->
<select id="FindByPK" resultMap="result_map_SPS_ACCOUNT_RATIO" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT_RATIO WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  大小库险种比例表 -->
<select id="FreeFindSPS_ACCOUNT_RATIO" resultMap="result_map_SPS_ACCOUNT_RATIO" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT_RATIO 
	 <include refid="Example_Where_Clause2" />
     ORDER BY isdefault desc
</select>
<!-- 根据各字段条件带模糊查询  大小库险种比例表 记录数 -->
<select id="CountFreeFindSPS_ACCOUNT_RATIO" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_ACCOUNT_RATIO 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  大小库险种比例表 -->
<select id="FreeFindSPS_ACCOUNT_RATIOOrdered" resultMap="result_map_SPS_ACCOUNT_RATIO" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_ACCOUNT_RATIO 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/09/22 15:16:10 ** -->
<!-- ************************************************************************ -->

	<select id="findRatiosByAccountId" resultType="java.util.Map" parameterType="Object">
		select t.ratio_id, t.insurance_id , i.`name` as insurance_name, t.`name`, a.living_type,
		r.corp_ratio*100 as  corp_ratio,r.psn_ratio*100 as psn_ratio,r.corp_addition,r.psn_addition
		from ( select * from sps_account_ratio where acc_id = #{account_id} and isdefault = 'Y' ) a left join bs_arearatio t on a.ratio_id = t.ratio_id
		left join bs_arearatiover r on t.ratio_id = r.ratio_id
		left join bd_insurance i on t.insurance_id=i.insurance_id
		where ((replace(r.begin_period,"-","") &lt;= #{begin_date} and replace(r.end_period,"-","")  &gt;= #{begin_date})
		or (replace(r.begin_period,"-","") &lt;= #{begin_date} and r.end_period is null)) and i.insurance_fund_type= #{ins_fund_type}
		and t.dr=0  order by t.insurance_id
	</select>

	<!-- 根据各字段条件带模糊查询  大小库险种比例表 -->
	<select id="FreeFindListSPS_ACCOUNT_RATIO" resultMap="result_map_SPS_ACCOUNT_RATIO" parameterType="Object">
		SELECT aaa.* from SPS_ACCOUNT_RATIO aaa LEFT JOIN bs_arearatio  bbb ON aaa.ratio_id = bbb.ratio_id
		 WHERE aaa.acc_id=#{accId}
		<if test="livingType!=null">and aaa.living_type=#{livingType}</if>  GROUP BY aaa.ratio_id
		ORDER BY bbb.insurance_id
	</select>
	
	<!-- 根据各字段条件带模糊查询  大小库险种比例表 -->
	<select id="findAccountRatioList" resultType="java.util.Map" parameterType="Object">
		SELECT r.ratio_id,a.insurance_id,r.isdefault
		FROM SPS_ACCOUNT_RATIO r ,bs_arearatio a
		where r.acc_id=#{accId} 
		and r.ratio_id=a.ratio_id
		<if test="livingType!=null">and r.living_type=#{livingType}</if>
    	ORDER BY r.isdefault desc
	</select>

	<select id="findRatiosByAreaIdAndLive"  resultType="com.xfs.acc.dto.InsuranceLivingTypeDetailsVo" parameterType="Object">
		select t.ratio_id as ratioId,t.insurance_id as insuranceId,i.`name` as insuranceName
		, TRUNCATE(TRUNCATE(r.`corp_ratio`,4)*100,2) as corpRatio,TRUNCATE(TRUNCATE(r.`psn_ratio`,4)*100,2) as psnRatio
		,IFNULL(r.corp_addition,0) as corpAddition,IFNULL(r.psn_addition,0) as psnAddition,
		 (select group_concat(DISTINCT s.living_type) from bs_arearatioscope s where s.ratio_id=t.ratio_id) as liveTypes
		 <if test="insFundType=='INSURANCE'">
		 ,scope.isDefault
		 </if>
		 ,t.billing_cycle as billingCycle
         ,r.corp_base_lower as lowerNum,  r.corp_base_upper as upperNum
		 from ( select * from bs_arearatio where area_id = #{area_id} ) t 
		 inner join bs_arearatiover r on t.ratio_id = r.ratio_id
		 inner join bd_insurance i on t.insurance_id=i.insurance_id 
		 <if test="insFundType=='INSURANCE'">
         inner join bs_arearatioscope scope on scope.ratio_id = t.ratio_id and scope.living_type = #{livingType}
         </if>
		 where ((r.begin_period &lt;= DATE_FORMAT(NOW(),'%Y-%m') and r.end_period  &gt;=DATE_FORMAT(NOW(),'%Y-%m'))  
		 or (r.begin_period &lt;= DATE_FORMAT(NOW(),'%Y-%m') and r.end_period is null)) 
		 and i.insurance_fund_type= #{insFundType}
		 and t.dr=0  
		 order by 
		 <if test="insFundType=='INSURANCE'">
		 ifnull(scope.isdefault, 'N') desc, t.insurance_id,r.corp_ratio,r.psn_ratio
		 </if>
		 <if test="insFundType=='FUND'">
		 ifnull(r.corp_ratio,0)+ifnull(r.psn_ratio,0) desc,t.ratio_id,r.`corp_ratio`,r.`psn_ratio`
		 </if>
	</select>
	
	<!-- 根据大库ID删除比例 -->
	<delete id="removeByAccId">DELETE FROM SPS_ACCOUNT_RATIO WHERE acc_id=#{accId}</delete>

	<!-- 更新库默认比例 -->
	<update id="UpdateSPS_ACCOUNT_DEFAULT_RATIO" parameterType="Object" >
		<if test="insuranceId==6">
			UPDATE
			sps_account_ratio sr INNER JOIN (
			SELECT t.ratio_id,acc.ratio_id as arid,acc.id FROM sps_account_ratio acc INNER JOIN bs_arearatio aratio ON acc.ratio_id = aratio.ratio_id AND acc.acc_id = #{accId} AND aratio.insurance_id = #{insuranceId} AND aratio.area_id = #{areaId} AND acc.dr = 0
			INNER JOIN (
			SELECT ratio.ratio_id FROM bs_arearatio ratio INNER JOIN bs_arearatiover ver ON ratio.ratio_id = ver.ratio_id  AND ratio.dr = 0 AND ratio.insurance_id = #{insuranceId} AND ratio.area_id = #{areaId}
			AND DATE_FORMAT(NOW(),'%Y-%m') BETWEEN ver.begin_period AND IFNULL(ver.end_period,'2099-09') AND ver.corp_ratio = #{corpRatio}
			<if test="empRatio != null">
				AND ver.psn_ratio = #{empRatio}
			</if>
			) t ) m ON sr.id = m.id SET sr.ratio_id = m.ratio_id
		</if>
		<if test="insuranceId!=6">
			UPDATE
			sps_account_ratio sr INNER JOIN (
			SELECT t.living_type,t.ratio_id,acc.ratio_id as arid,acc.id FROM sps_account_ratio acc INNER JOIN bs_arearatio aratio ON acc.ratio_id = aratio.ratio_id AND acc.acc_id = #{accId} AND aratio.insurance_id = #{insuranceId} AND aratio.area_id = #{areaId} AND acc.dr = 0
			INNER JOIN (
			SELECT scope.living_type,ratio.ratio_id FROM bs_arearatio ratio INNER JOIN bs_arearatiover ver ON ratio.ratio_id = ver.ratio_id  AND ratio.dr = 0 AND ratio.insurance_id = #{insuranceId} AND ratio.area_id = #{areaId}
			INNER JOIN
			bs_arearatioscope scope ON scope.ratio_id = ratio.ratio_id AND DATE_FORMAT(NOW(),'%Y-%m') BETWEEN ver.begin_period AND IFNULL(ver.end_period,'2099-09') AND ver.corp_ratio = #{corpRatio}
			<if test="empRatio != null">
				AND ver.psn_ratio = #{empRatio}
			</if>
			) t ON t.living_type = acc.living_type ) m ON sr.id = m.id SET sr.ratio_id = m.ratio_id
		</if>
	</update>



</mapper>   
