<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_SCHEME_EMP" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_SCHEME_EMP" type="com.xfs.sp.model.SpsSchemeEmp" >
	<result column="id" property="id"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="emp_id" property="empId"/>
	<result column="state" property="state"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- sps_scheme_emp table all fields -->
<sql id="Base_Column_List" >
	 id,scheme_id,emp_id,state,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="empId != null" >and emp_id = #{empId}</if>
	<if test="state != null" >and state = #{state}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="schemeId != null">AND scheme_id = '${schemeId}'</if>
    <if test="empId != null">AND emp_id = '${empId}'</if>
    <if test="state != null">AND state like '%${state}%'</if>
    <if test="stateEq != null">AND state = #{stateEq}</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_SCHEME_EMP" parameterType="Object" >
  INSERT INTO SPS_SCHEME_EMP (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="empId != null ">,emp_id</if>
	<if test="state != null ">,state</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="empId != null ">,#{empId}</if>
	<if test="state != null ">,#{state}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_SCHEME_EMP" parameterType="Object" >
UPDATE SPS_SCHEME_EMP 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="empId != null ">,emp_id=#{empId}</if>
	<if test="state != null ">,state=#{state}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_SCHEME_EMP">DELETE FROM SPS_SCHEME_EMP WHERE ID=#{id}</delete>

<!-- 删除记录 -->
<delete id="DeleteSPS_SCHEME_EMP_BY_EMPID">DELETE FROM SPS_SCHEME_EMP WHERE emp_id=#{empId}</delete>

<!-- 服务方案、员工关联表 列表总数-->
<select id="CountFindAllSPS_SCHEME_EMP" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_EMP</select>
<select id="CountSPS_SCHEME_EMP" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_EMP WHERE ID=#{id}</select>
<!-- 根据id查询 服务方案、员工关联表 -->
<select id="FindByPK" resultMap="result_map_SPS_SCHEME_EMP" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_EMP WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务方案、员工关联表 -->
<select id="FreeFindSPS_SCHEME_EMP" resultMap="result_map_SPS_SCHEME_EMP" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_EMP 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  服务方案、员工关联表 记录数 -->
<select id="CountFreeFindSPS_SCHEME_EMP" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_SCHEME_EMP 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务方案、员工关联表 -->
<select id="FreeFindSPS_SCHEME_EMPOrdered" resultMap="result_map_SPS_SCHEME_EMP" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_EMP 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/03 16:26:38 ** -->
<!-- ************************************************************************ -->

	<select id="find_SCHEME_EMP_BY_EMPIDS" resultMap="result_map_SPS_SCHEME_EMP" parameterType="Object">
		SELECT schemeemp.id,schemeemp.scheme_id,schemeemp.emp_id,schemeemp.state,schemeemp.create_by,schemeemp.create_dt,schemeemp.modify_by,schemeemp.modify_dt,schemeemp.dr
		FROM SPS_SCHEME_EMP schemeemp
		left join sps_scheme scheme on scheme.scheme_id = schemeemp.scheme_id
		where scheme.sp_id = #{spId} 
		and schemeemp.emp_id in
		<foreach item="empid" index="index" collection="empIds" open="(" separator="," close=")">
		#{empid}
		</foreach> 
		and ifnull(schemeemp.dr,0) = 0 and schemeemp.state = 'USE' 
	</select>

	<!-- 根据id，修改记录-->
	<update id="UpdateSPS_SCHEME_EMP_STATE_BY_EMP_AND_SCHEME" parameterType="Object" >
		UPDATE SPS_SCHEME_EMP
		<trim prefix=" SET " prefixOverrides=",">
			<if test="state != null ">,state=#{state}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
		</trim>
		WHERE scheme_id=#{schemeId} and emp_id=#{empId}
	</update>

	<update id="UpdateSPS_SCHEME_EMP_BY_EMP" parameterType="Object" >
		UPDATE SPS_SCHEME_EMP
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
			<if test="empId != null ">,emp_id=#{empId}</if>
			<if test="state != null ">,state=#{state}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="dr != null ">,dr=#{dr}</if>
		</trim>
		WHERE emp_id=#{empId}
	</update>
	<!-- 根据empIds 更新状态 -->
	<update id="updateStateByEmpIds" parameterType="Object">
        update SPS_SCHEME_EMP set dr = 1,state='STOP' where emp_id in (
		select s.emp_id from (
		SELECT cemp.emp_id FROM cm_employee cemp INNER JOIN sps_scheme_emp semp ON semp.emp_id = cemp.emp_id AND cemp.emp_id in (${empIds}) INNER JOIN sps_scheme scheme ON scheme.scheme_id = semp.scheme_id AND scheme.cp_id = #{cpId}
		AND ((cemp.insurance_state = 'OFF' AND cemp.fund_state = 'OFF') OR (cemp.insurance_state = 'INCREASING' AND cemp.fund_state = 'OFF') OR (cemp.insurance_state = 'OFF' AND cemp.fund_state = 'INCREASING') OR (cemp.insurance_state = 'INCREASING' AND cemp.fund_state = 'INCREASING'))
		<if test="authority != 'ALL'">
			AND scheme.scheme_id in (${authority})
		</if>
		UNION ALL
		SELECT cemp.emp_id FROM cm_employee cemp where cemp.emp_id in (${empIds})  AND cemp.cp_id = #{cpId} AND cemp.scheme_id is NULL
		) s )
    </update>
    
    <select id="findEmpByScheme" resultMap="result_map_SPS_SCHEME_EMP" parameterType="Object">
	    select se.*
		from sps_scheme_emp se
		inner join sps_scheme s on se.scheme_id=s.scheme_id and s.cp_id=#{cpId} and s.sp_id=#{spId} and s.dr=0 
		<if test="authority != 'ALL' ">
		and s.scheme_id in (${authority})
		</if>
		inner join cm_employee e on se.emp_id=e.emp_id and e.dr=0
	</select>
    

</mapper>   
