<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_SCHEME_INSURANCE" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_SCHEME_INSURANCE" type="com.xfs.sp.model.SpsSchemeInsurance" >
	<result column="id" property="id"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="insurance_id" property="insuranceId"/>
	<result column="emp_ratio" property="empRatio"/>
	<result column="corp_ratio" property="corpRatio"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- sps_scheme_insurance table all fields -->
<sql id="Base_Column_List" >
	 id,scheme_id,insurance_id,emp_ratio,corp_ratio,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="insuranceId != null" >and insurance_id = #{insuranceId}</if>
	<if test="empRatio != null" >and emp_ratio = #{empRatio}</if>
	<if test="corpRatio != null" >and corp_ratio = #{corpRatio}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="schemeId != null">AND scheme_id = '${schemeId}'</if>
    <if test="insuranceId != null">AND insurance_id = '${insuranceId}'</if>
    <if test="empRatio != null">AND emp_ratio like '%${empRatio}%'</if>
    <if test="corpRatio != null">AND corp_ratio like '%${corpRatio}%'</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_SCHEME_INSURANCE" parameterType="Object" >
  INSERT INTO SPS_SCHEME_INSURANCE (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="insuranceId != null ">,insurance_id</if>
	<if test="empRatio != null ">,emp_ratio</if>
	<if test="corpRatio != null ">,corp_ratio</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="insuranceId != null ">,#{insuranceId}</if>
	<if test="empRatio != null ">,#{empRatio}</if>
	<if test="corpRatio != null ">,#{corpRatio}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_SCHEME_INSURANCE" parameterType="Object" >
UPDATE SPS_SCHEME_INSURANCE 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="insuranceId != null ">,insurance_id=#{insuranceId}</if>
	<if test="empRatio != null ">,emp_ratio=#{empRatio}</if>
	<if test="corpRatio != null ">,corp_ratio=#{corpRatio}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_SCHEME_INSURANCE">DELETE FROM SPS_SCHEME_INSURANCE WHERE ID=#{id}</delete>
<!-- 服务方案、险种关联表 列表总数-->
<select id="CountFindAllSPS_SCHEME_INSURANCE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_INSURANCE</select>
<select id="CountSPS_SCHEME_INSURANCE" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_INSURANCE WHERE ID=#{id}</select>
<!-- 根据id查询 服务方案、险种关联表 -->
<select id="FindByPK" resultMap="result_map_SPS_SCHEME_INSURANCE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_INSURANCE WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务方案、险种关联表 -->
<select id="FreeFindSPS_SCHEME_INSURANCE" resultMap="result_map_SPS_SCHEME_INSURANCE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_INSURANCE 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  服务方案、险种关联表 记录数 -->
<select id="CountFreeFindSPS_SCHEME_INSURANCE" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_SCHEME_INSURANCE 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务方案、险种关联表 -->
<select id="FreeFindSPS_SCHEME_INSURANCEOrdered" resultMap="result_map_SPS_SCHEME_INSURANCE" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_INSURANCE 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/03 16:26:36 ** -->
<!-- ************************************************************************ -->
	
	<resultMap id="mapType" type="java.util.Map">
	</resultMap>
    <!--  根据方案id 查询 险种信息 -->
    <select id="findInsurancesBySchemeId" resultMap="mapType" parameterType="Object">
        SELECT t.scheme_id,t.insurance_id,t.emp_ratio*100 emp_ratio,t.corp_ratio*100 corp_ratio,b.`name`,b.insurance_fund_type 
        from sps_scheme_insurance t inner join bd_insurance b 
        on t.insurance_id = b.insurance_id where t.scheme_id = #{scheme_id}
    </select>

    <select id="findSchemeInsurancesBySchemeIdAreaId" resultMap="mapType" parameterType="Object">
       select * from sps_scheme_insurance sis left JOIN
       bd_insurance  on sis.insurance_id =  bd_insurance.insurance_id
        where sis.scheme_id = #{scheme_id} and bd_insurance.insurance_fund_type = #{insurance_fund_type}
    </select>


	<select id="findSchemeInsuranceBySchemeIdAndAccId" resultMap="mapType" parameterType="Object">
		SELECT
		sss.*,baover.*,MIN(baover.begin_period) as versionMinPeriod,MAX(baover.end_period) versionMaxPeriod,MIN(baover.end_period) as versionMaxendPeriod
		FROM
		sps_scheme_insurance ssi
		JOIN sps_scheme sss ON  ssi.scheme_id = sss.scheme_id AND sss.dr = 0
		JOIN bd_insurance bi ON ssi.insurance_id = bi.insurance_id
		AND ssi.scheme_id = #{schemceId}
		JOIN bs_area barea ON sss.area_id = barea.area_id
		JOIN  bs_arearatio aaa on  aaa.insurance_id =ssi.insurance_id  JOIN sps_account_ratio bbb ON aaa.ratio_id = bbb.ratio_id
		AND aaa.area_id =barea.belong_city  AND bbb.isdefault='Y'
		<if test="livingType!=null">AND bbb.living_type = #{livingType} </if>
		   AND acc_id = #{accountId}
		JOIN bs_arearatiover baover ON baover.ratio_id = aaa.ratio_id GROUP BY ssi.insurance_id
	</select>



</mapper>   
