<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_SCHEME_ITEM" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_SCHEME_ITEM" type="com.xfs.sp.model.SpsSchemeItem" >
	<result column="id" property="id"/>
	<result column="scheme_id" property="schemeId"/>
	<result column="item_id" property="itemId"/>
	<result column="feetype" property="feetype"/>
	<result column="price" property="price"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- sps_scheme_item table all fields -->
<sql id="Base_Column_List" >
	 id,scheme_id,item_id,feetype,price,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="itemId != null" >and item_id = #{itemId}</if>
	<if test="feetype != null" >and feetype = #{feetype}</if>
	<if test="price != null" >and price = #{price}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null" >and id = #{id}</if>
	<if test="schemeId != null" >and scheme_id = #{schemeId}</if>
	<if test="itemId != null" >and item_id = #{itemId}</if>
    <if test="feetype != null">AND feetype like '%${feetype}%'</if>
    <if test="feetypeEq != null">AND feetype = #{feetypeEq}</if>
    <if test="price != null">AND price like '%${price}%'</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_SCHEME_ITEM" parameterType="Object" >
  INSERT INTO SPS_SCHEME_ITEM (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="schemeId != null ">,scheme_id</if>
	<if test="itemId != null ">,item_id</if>
	<if test="feetype != null ">,feetype</if>
	<if test="price != null ">,price</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="schemeId != null ">,#{schemeId}</if>
	<if test="itemId != null ">,#{itemId}</if>
	<if test="feetype != null ">,#{feetype}</if>
	<if test="price != null ">,#{price}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_SCHEME_ITEM" parameterType="Object" >
UPDATE SPS_SCHEME_ITEM 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="schemeId != null ">,scheme_id=#{schemeId}</if>
	<if test="itemId != null ">,item_id=#{itemId}</if>
	<if test="feetype != null ">,feetype=#{feetype}</if>
	<if test="price != null ">,price=#{price}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_SCHEME_ITEM">DELETE FROM SPS_SCHEME_ITEM WHERE ID=#{id}</delete>
<!-- 服务方案、项目关联表 列表总数-->
<select id="CountFindAllSPS_SCHEME_ITEM" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_ITEM</select>
<select id="CountSPS_SCHEME_ITEM" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SCHEME_ITEM WHERE ID=#{id}</select>
<!-- 根据id查询 服务方案、项目关联表 -->
<select id="FindByPK" resultMap="result_map_SPS_SCHEME_ITEM" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_ITEM WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务方案、项目关联表 -->
<select id="FreeFindSPS_SCHEME_ITEM" resultMap="result_map_SPS_SCHEME_ITEM" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_ITEM 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  服务方案、项目关联表 记录数 -->
<select id="CountFreeFindSPS_SCHEME_ITEM" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_SCHEME_ITEM 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务方案、项目关联表 -->
<select id="FreeFindSPS_SCHEME_ITEMOrdered" resultMap="result_map_SPS_SCHEME_ITEM" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SCHEME_ITEM 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/08/03 16:26:36 ** -->
<!-- ************************************************************************ -->

	<resultMap id="mapType" type="java.util.Map">
	</resultMap>
    <!-- 查询方案信息,areaid 不存在，用left join -->
    <select id="findItemsBySchemeId" resultMap="mapType" parameterType="Object">
       SELECT  t.id,t.scheme_id,t.item_id,t.feetype,t.price,i.item_name from sps_scheme_item t 
		inner join bs_mall_item i where t.item_id=i.item_id and t.scheme_id = #{scheme_id}
    </select>


</mapper>   
