<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_SUPPLIER" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_SUPPLIER" type="com.xfs.sp.model.SpsSupplier" >
	<result column="id" property="id"/>
	<result column="sp_id" property="spId"/>
	<result column="supplier_name" property="supplierName"/>
	<result column="type" property="type"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
</resultMap>
       
<!-- sps_supplier table all fields -->
<sql id="Base_Column_List" >
	 id,sp_id,supplier_name,type,create_by,create_dt,modify_by,modify_dt,dr
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="supplierName != null" >and supplier_name = #{supplierName}</if>
	<if test="type != null" >and type = #{type}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_SUPPLIER" parameterType="Object" >
  INSERT INTO SPS_SUPPLIER (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="supplierName != null ">,supplier_name</if>
	<if test="type != null ">,type</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="supplierName != null ">,#{supplierName}</if>
	<if test="type != null ">,#{type}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_SUPPLIER" parameterType="Object" >
UPDATE SPS_SUPPLIER 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="id != null ">,id=#{id}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="supplierName != null ">,supplier_name=#{supplierName}</if>
	<if test="type != null ">,type=#{type}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
  </trim>
WHERE ID=#{id}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_SUPPLIER">DELETE FROM SPS_SUPPLIER WHERE ID=#{id}</delete>
<!-- 供应商表 列表总数-->
<select id="CountFindAllSPS_SUPPLIER" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SUPPLIER</select>
<select id="CountSPS_SUPPLIER" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SUPPLIER WHERE ID=#{id}</select>
<!-- 根据id查询 供应商表 -->
<select id="FindByPK" resultMap="result_map_SPS_SUPPLIER" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_SUPPLIER WHERE ID=#{pk}</select>

<!-- 根据各字段条件带查询  供应商表 -->
<select id="FreeFindSPS_SUPPLIER" resultMap="result_map_SPS_SUPPLIER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SUPPLIER 
	 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带查询  供应商表 记录数 -->
<select id="CountFreeFindSPS_SUPPLIER" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_SUPPLIER 
 <include refid="Example_Where_Clause" />
</select>
<!-- 根据各字段条件带排序  供应商表 -->
<select id="FreeFindSPS_SUPPLIEROrdered" resultMap="result_map_SPS_SUPPLIER" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SUPPLIER 
	 <include refid="Example_Where_Clause" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2017/07/11 16:01:43 ** -->
<!-- ************************************************************************ -->

<!-- 查询服务商信息 记录数 -->
<select id="countFindSpServicePage" resultType="java.lang.Integer">
	SELECT count(1) as value from 
	(
	select sp.sp_id,sp.sp_name,sp.contactor,sp.mobile,sp.sp_email 
	from sp_service sp 
	INNER JOIN sps_scheme scheme on scheme.sp_id=sp.sp_id 
	INNER JOIN bs_area area on area.area_id = scheme.area_id
	where scheme.cp_id = #{cpId} and scheme.state='USE' and scheme.dr=0 and scheme.sp_id!=-999
	<if test="spName != null">
	 and concat_ws(',',sp.sp_name,sp.mobile) like CONCAT('%',#{spName},'%')  
	</if>
	<if test="spId !=null ">
	 and scheme.sp_id = #{spId}
	</if>
	<if test="authority != 'ALL' ">
	 and scheme.scheme_id in (${authority})
	</if>
	GROUP BY sp.sp_id,sp.sp_name,sp.contactor,sp.mobile,sp.sp_email
	<if test="cityName != null">
	 HAVING group_concat(area.`name`) like CONCAT('%',#{cityName},'%')  
	</if>
	) t
</select>
<!-- 查询服务商信息 -->
<select id="findSpServicePage" resultType="java.util.Map" parameterType="Object">
	select sp.sp_id,sp.sp_name,
	IFNULL(sp.contactor,"") contactor,
	IFNULL(sp.mobile,"") mobile,
	IFNULL(sp.sp_email,"") sp_email,
	group_concat(DISTINCT area.`name` Order BY scheme.create_dt SEPARATOR '、'  ) city,
	IFNULL(group_concat(scheme.memo SEPARATOR ''),'') supplier_name,
	max(scheme.bill_date) as bill_date,
	max(scheme.end_date) as end_date,
	IFNULL(max(scheme.price),"") price,
	to_days(now()) - to_days(sp.create_dt)  create_days,
	IFNULL(b.personNum,0) personNum 
	from sp_service sp 
	INNER JOIN sps_scheme scheme on scheme.sp_id=sp.sp_id 
	INNER JOIN bs_area area on area.area_id = scheme.area_id
	LEFT JOIN (select a1.sp_id,count(1) as personNum from sps_scheme a1 
		LEFT JOIN sps_scheme_emp a2 on a1.scheme_id=a2.scheme_id
		LEFT JOIN cm_employee a3 on a3.emp_id=a2.emp_id 
		where a1.cp_id=#{cpId} and a2.state='USE' and a2.dr=0 and a3.dr=0 and a1.sp_id!=-999 GROUP BY a1.sp_id
		) b on sp.sp_id=b.sp_id
	where scheme.cp_id = #{cpId} and scheme.state='USE' and scheme.dr=0 and scheme.sp_id!=-999
	<if test="spName != null">
	 and concat_ws(',',sp.sp_name,sp.mobile) like CONCAT('%',#{spName},'%')  
	</if>
	<if test="spId !=null ">
	 and scheme.sp_id = #{spId}
	</if>
	<if test="authority != 'ALL' ">
	 and scheme.scheme_id in (${authority})
	</if>
	GROUP BY sp.sp_id,sp.sp_name,sp.contactor,sp.mobile,sp.sp_email
	<if test="cityName != null">
	 HAVING group_concat(area.`name`) like CONCAT('%',#{cityName},'%')  
	</if>
	order by sp.create_dt desc
</select>
<!-- 查询 所有方案信息 -->
<select id="findAllScheme" resultType="java.util.Map" parameterType="Object">
	select scheme.scheme_id,scheme.`name` as scheme_name,
	sp.sp_id,sp.sp_name,sp.contactor,sp.mobile,IFNULL(scheme.memo,"") memo,
	area.area_id,area.`name` as city,
	IFNULL(scheme.insurance_account_id,"") insuranceAccountId,
	IFNULL(scheme.fund_account_id,"") fundAccountId,
    scheme.bill_date,scheme.end_date,scheme.price,
    IFNULL(b.personNum,0) as personNum
	from sp_service sp 
	INNER JOIN sps_scheme scheme on scheme.sp_id=sp.sp_id 
	INNER JOIN bs_area area on area.area_id = scheme.area_id
	LEFT JOIN (select a1.scheme_id,count(1) as personNum from sps_scheme a1 
		LEFT JOIN sps_scheme_emp a2 on a1.scheme_id=a2.scheme_id
		LEFT JOIN cm_employee a3 on a3.emp_id=a2.emp_id
		where a1.cp_id=#{cpId} and a2.state='USE' and a2.dr=0 and a3.dr=0 and a1.sp_id!=-999 GROUP BY a1.scheme_id
		) b on scheme.scheme_id=b.scheme_id
	where scheme.cp_id = #{cpId} and scheme.state='USE' and scheme.dr=0 and scheme.sp_id!=-999 
	<if test="onlySupplier!= null ">
	 and scheme.memo is not null 
	</if>
	<if test="schemeId !=null ">
	 and scheme.scheme_id = #{schemeId}
	</if>
	<if test="spIds !=null ">
	 and scheme.sp_id in (${spIds}) 
	</if>
	<if test="spId !=null ">
	 and scheme.sp_id = #{spId}
	</if>
	order by scheme.create_dt
	
</select>
<!-- 查询 所有方案下城市列表 -->
<select id="findAllSchemeCity" resultType="java.util.Map" parameterType="Object">
	select DISTINCT scheme.area_id,area.`name`
	from sp_service sp 
	INNER JOIN sps_scheme scheme on scheme.sp_id=sp.sp_id
	INNER JOIN bs_area area on area.area_id = scheme.area_id
	where scheme.cp_id = #{cpId} 
	<if test="spId !=null ">
	 and scheme.sp_id = #{spId}
	</if>
	and scheme.state='USE' and scheme.dr=0 and scheme.sp_id!=-999
</select>


</mapper>   
