<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_SOCIALSECURITY" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_SOCIALSECURITY" type="com.xfs.sp.model.SpsSocialsecurity" >
	<result column="ss_id" property="ssId"/>
	<result column="reg_num" property="regNum"/>
	<result column="business_type" property="businessType"/>
	<result column="business_name" property="businessName"/>
	<result column="query_date" property="queryDate"/>
	<result column="made_time" property="madeTime"/>
	<result column="files" property="files"/>
	<result column="sp_id" property="spId"/>
	<result column="cp_id" property="cpId"/>
	<result column="status" property="status"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
</resultMap>
       
<!-- sps_socialsecurity table all fields -->
<sql id="Base_Column_List" >
	 ss_id,reg_num,business_type,business_name,query_date,made_time,files,sp_id,cp_id,status,create_by,create_dt,modify_by,modify_dt
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="ssId != null" >and ss_id = #{ssId}</if>
	<if test="regNum != null" >and reg_num = #{regNum}</if>
	<if test="businessType != null" >and business_type = #{businessType}</if>
	<if test="businessName != null" >and business_name = #{businessName}</if>
	<if test="queryDate != null" >and query_date = #{queryDate}</if>
	<if test="madeTime != null" >and made_time = #{madeTime}</if>
	<if test="files != null" >and files = #{files}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="cpId != null" >and cp_id = #{cpId}</if>
	<if test="status != null" >and status = #{status}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="ssId != null">AND ss_id = '${ssId}'</if>
    <if test="regNum != null">AND reg_num like '%${regNum}%'</if>
    <if test="regNumEq != null">AND reg_num = #{regNumEq}</if>
    <if test="businessType != null">AND business_type like '%${businessType}%'</if>
    <if test="businessName != null">AND business_name like '%${businessName}%'</if>
    <if test="businessNameEq != null">AND business_name = #{businessNameEq}</if>
    <if test="queryDate != null">AND query_date like '%${queryDate}%'</if>
    <if test="queryDateEq != null">AND query_date = #{queryDateEq}</if>
    <if test="madeTime != null">AND made_time = #{madeTime}</if>
    <if test="madeTimeFrom != null">AND made_time&gt;=#{madeTimeFrom}</if>
	<if test="madeTimeTo != null">AND made_time&lt;=#{madeTimeTo}</if>
    <if test="files != null">AND files like '%${files}%'</if>
    <if test="filesEq != null">AND files = #{filesEq}</if>
    <if test="spId != null">AND sp_id = '${spId}'</if>
    <if test="cpId != null">AND cp_id = '${cpId}'</if>
    <if test="status != null">AND status like '%${status}%'</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_SOCIALSECURITY" parameterType="Object" >
  INSERT INTO SPS_SOCIALSECURITY (
  <trim prefix=" " prefixOverrides=",">
	<if test="ssId != null ">,ss_id</if>
	<if test="regNum != null ">,reg_num</if>
	<if test="businessType != null ">,business_type</if>
	<if test="businessName != null ">,business_name</if>
	<if test="queryDate != null ">,query_date</if>
	<if test="madeTime != null ">,made_time</if>
	<if test="files != null ">,files</if>
	<if test="spId != null ">,sp_id</if>
	<if test="cpId != null ">,cp_id</if>
	<if test="status != null ">,status</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="ssId != null ">,#{ssId}</if>
	<if test="regNum != null ">,#{regNum}</if>
	<if test="businessType != null ">,#{businessType}</if>
	<if test="businessName != null ">,#{businessName}</if>
	<if test="queryDate != null ">,#{queryDate}</if>
	<if test="madeTime != null ">,#{madeTime}</if>
	<if test="files != null ">,#{files}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="cpId != null ">,#{cpId}</if>
	<if test="status != null ">,#{status}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="ssId">
	SELECT LAST_INSERT_ID() AS SS_ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_SOCIALSECURITY" parameterType="Object" >
UPDATE SPS_SOCIALSECURITY 
  <trim prefix=" SET " prefixOverrides=",">
	<if test="ssId != null ">,ss_id=#{ssId}</if>
	<if test="regNum != null ">,reg_num=#{regNum}</if>
	<if test="businessType != null ">,business_type=#{businessType}</if>
	<if test="businessName != null ">,business_name=#{businessName}</if>
	<if test="queryDate != null ">,query_date=#{queryDate}</if>
	<if test="madeTime != null ">,made_time=#{madeTime}</if>
	<if test="files != null ">,files=#{files}</if>
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="cpId != null ">,cp_id=#{cpId}</if>
	<if test="status != null ">,status=#{status}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
  </trim>
WHERE SS_ID=#{ssId}
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_SOCIALSECURITY">DELETE FROM SPS_SOCIALSECURITY WHERE SS_ID=#{ssId}</delete>
<!-- 社保明细 列表总数-->
<select id="CountFindAllSPS_SOCIALSECURITY" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SOCIALSECURITY</select>
<select id="CountSPS_SOCIALSECURITY" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_SOCIALSECURITY WHERE SS_ID=#{ssId}</select>
<!-- 根据id查询 社保明细 -->
<select id="FindByPK" resultMap="result_map_SPS_SOCIALSECURITY" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_SOCIALSECURITY WHERE SS_ID=#{ssId}</select>

<!-- 根据各字段条件带模糊查询  社保明细 -->
<select id="FreeFindSPS_SOCIALSECURITY" resultMap="result_map_SPS_SOCIALSECURITY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SOCIALSECURITY 
	 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带模糊查询  社保明细 记录数 -->
<select id="CountFreeFindSPS_SOCIALSECURITY" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_SOCIALSECURITY 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  社保明细 -->
<select id="FreeFindSPS_SOCIALSECURITYOrdered" resultMap="result_map_SPS_SOCIALSECURITY" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_SOCIALSECURITY 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/04/23 22:15:33 ** -->
<!-- ************************************************************************ -->

<!-- 根据条件查询总数 -->
<select id="CountFindSPS_SOCIALSECURITY" resultType="java.lang.Integer" parameterType="Object">
	SELECT COUNT(1) FROM sps_socialsecurity sss
	INNER JOIN sp_cm_relation scr ON sss.`reg_num` = scr.`reg_num`
	LEFT JOIN sp_service ss ON scr.`sp_id` = ss.`sp_id`
	LEFT JOIN cm_corp cc ON scr.`cp_id` = cc.`cp_id`
	WHERE ss.sp_id = #{spId}
	<if test="queryDate != null "> AND sss.`query_date` = #{queryDate}</if>
	<if test="status != null"> AND sss.`status` IN (${status})</if>
	<if test="name != null"> AND (ss.`sp_name` LIKE '%${name}%' AND scr.`insurance_type` = 'COMMON' OR cc.`corp_name` LIKE '%${name}%' AND scr.`insurance_type` = 'SINGLE')</if>
</select>
<!-- 根据条件查询社保报表 -->
<select id="FindSPS_SOCIALSECURITY" resultType="java.util.Map" parameterType="Object">
	SELECT sss.*, scr.`insurance_type`, ss.`sp_name`, cc.`corp_name` FROM sps_socialsecurity sss
	INNER JOIN sp_cm_relation scr ON sss.`reg_num` = scr.`reg_num`
	LEFT JOIN sp_service ss ON scr.`sp_id` = ss.`sp_id`
	LEFT JOIN cm_corp cc ON scr.`cp_id` = cc.`cp_id`
	WHERE ss.sp_id = #{spId}
	<if test="queryDate != null "> AND sss.`query_date` = #{queryDate}</if>
	<if test="status != null"> AND sss.`status` IN (${status})</if>
	<if test="name != null"> AND (ss.`sp_name` LIKE '%${name}%' AND scr.`insurance_type` = 'COMMON' OR cc.`corp_name` LIKE '%${name}%' AND scr.`insurance_type` = 'SINGLE')</if>
	GROUP BY sss.`reg_num`, sss.`query_date`, sss.`business_type`
	ORDER BY sss.`ss_id` DESC
</select>

<!-- 查询待处理或者异常任务 -->
<select id="FindSP_CM_REG" resultType="java.util.Map" parameterType="Object">
	SELECT sss.`ss_id`, scr.`reg_num`, scr.`reg_numpass`,sss.sp_id,sss.cp_id,scr.acc_id FROM sps_socialsecurity sss INNER JOIN sps_account scr ON sss.`reg_num` = scr.`reg_num` AND scr.sp_id = sss.sp_id AND scr.cp_id = sss.cp_id
	WHERE sss.`business_type` = 0 AND (sss.`status` = 1 OR sss.`status` = 2)
</select>

	<!-- 每月执行一次查询社保 -->
	<select id="FreeFindSP_CM_REG_NOCE" resultType="java.util.Map" parameterType="Object">
		SELECT
			scr.acc_id, scr.`reg_num`, scr.`reg_numpass`, scr.`sp_id`, scr.`cp_id` ,null as corp_name
		FROM
			sps_account scr inner join bs_area b on scr.area_id=b.area_id
		WHERE
  scr.`reg_num` IS NOT NULL
		AND scr.`reg_num` != ''
		AND scr.`reg_numpass` IS NOT NULL
		AND scr.`reg_numpass` != '' 
		and scr.area_id in (select ba.area_id from bs_area ba where ba.code like '${code}%') 
		and scr.insurance_fund_type = #{insuranceFundType}
		    AND scr.cp_id is NOT NULL
    AND scr.sp_id is NOT null
		GROUP BY scr.`reg_num`, scr.`reg_numpass`, scr.`sp_id`
	</select>


</mapper>   
