<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CM_CORP" >
<!-- Result Map-->
<resultMap id="result_map_CM_CORP" type="com.xfs.corp.model.CmCorp" >
	<result column="cp_id" property="cpId"/>
	<result column="corp_name" property="corpName"/>
	<result column="status" property="status"/>
	<result column="contact_psn" property="contactPsn"/>
	<result column="mobile" property="mobile"/>
	<result column="mail" property="mail"/>
	<result column="collaborator" property="collaborator"/>
	<result column="remark" property="remark"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="cp_address" property="cpAddress"/>
	<result column="cp_zipcode" property="cpZipcode"/>
	<result column="short_name" property="shortName"/>
	<result column="cp_address_area" property="cpAddressArea"/>
	<result column="un_complete" property="unComplete"/>
	<result column="openmall" property="openmall"/>
	<result column="source" property="source"/>
	<result column="telephone" property="telephone"/>
	<result column="sps_id" property="spsId"/>
	<result column="sp_id" property="spId"/>
	<result column="insurance_type" property="insuranceType"/>
	<result column="area_id" property="areaId"/>
	<result column="reg_num" property="regNum"/>
	<result column="area_name" property="areaName"/>
	<result column="insurance_name" property="insuranceName"/>
	<result column="reg_numpass" property="regNumpass"/>
	<result column="reg_usbkeypass" property="regUsbkeypass"/>
	<result column="incount" property="insuranceCount"/>
	<result column="funcount" property="fundCount"/>
	<result column="ccount" property="ccount"/>

	<result column="position" property="position"/>

	<result column="busi_license_num" property="busiLicenseNum"/>
	<result column="busi_license_file" property="busiLicenseFile"/>
	<result column="corporate_file" property="corporateFile"/>
	<result column="deputy_file" property="deputyFile"/>
	<result column="other_file" property="otherFile"/>
	<result column="is_legalize" property="isLegalize"/>
	<result column="customer_no" property="customerNo"/>
	<result column="channel_code" property="channelCode"/>
	<result column="corp_logo" property="corpLogo"/>
	<result column="dr" property="dr"/>

	<result column="channelName" property="channelName"/>
	<result column="cCode" property="cCode"/>

	<result column="appid" property="appid"/>
	<result column="appsecret" property="appsecret"/>
	<result column="tenant_id" property="tenantId"/>

	<result column="employee_source" property="employeeSource"/>
</resultMap>
<resultMap id="result_map_CM_CORP_ACCOUNT" type="com.xfs.bs.dto.CorpAccount" >
    <result column="cp_id" property="cpId"/>
    <result column="corp_name" property="corpName"/>
    <result column="status" property="status"/>
    <result column="contact_psn" property="contactPsn"/>
    <result column="mobile" property="mobile"/>
    <result column="remark" property="remark"/>
    <result column="create_dt" property="createDt"/>
    <result column="last_login_time" property="lastLoginTime"/>
    <result column="dr" property="dr"/>
    <result column="tenant_id" property="tenantId"/>
</resultMap>
	<!-- cm_corp table all fields -->
	<sql id="Base_Column_List" >
		cp_id,corp_name,status,contact_psn,mobile,mail,collaborator,employee_source,remark,create_by,create_dt,modify_by,modify_dt,cp_address,cp_zipcode,short_name,cp_address_area,un_complete,openmall,source,telephone,position,partner_no,balance,busi_license_num,busi_license_file,corporate_file,deputy_file,other_file,is_legalize,customer_no,channel_code,corp_logo,dr,appid,appsecret,tenant_id
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId != null" >and cp_id = #{cpId}</if>
			<if test="corpName != null" >and corp_name = #{corpName}</if>
			<if test="status != null" >and status = #{status}</if>
			<if test="contactPsn != null" >and contact_psn = #{contactPsn}</if>
			<if test="mobile != null" >and mobile = #{mobile}</if>
			<if test="mail != null" >and mail = #{mail}</if>
			<if test="collaborator != null" >and collaborator = #{collaborator}</if>
			<if test="remark != null" >and remark = #{remark}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
			<if test="cpAddress != null" >and cp_address = #{cpAddress}</if>
			<if test="cpZipcode != null" >and cp_zipcode = #{cpZipcode}</if>
			<if test="shortName != null" >and short_name = #{shortName}</if>
			<if test="cpAddressArea != null" >and cp_address_area = #{cpAddressArea}</if>
			<if test="unComplete != null" >and un_complete = #{unComplete}</if>
			<if test="openmall != null" >and openmall = #{openmall}</if>
			<if test="source != null" >and source = #{source}</if>
			<if test="telephone != null" >and telephone = #{telephone}</if>
			<if test="position != null" >and position = #{position}</if>
			<if test="channelCode != null" >and channel_code = #{channelCode}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="appid != null" >and appid = #{appid}</if>
			<if test="appsecret != null" >and appsecret = #{appsecret}</if>
			<if test="tenantId != null" >and tenant_id = #{tenantId}</if>
		</trim>
	</sql>

	<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
	<sql id="Example_Where_Clause2">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId != null">AND cp_id = '${cpId}'</if>
			<if test="corpName != null">AND corp_name like '%${corpName}%'</if>
			<if test="corpNameEq != null">AND corp_name = #{corpNameEq}</if>
			<if test="status != null">AND status like '%${status}%'</if>
			<if test="statusEq != null">AND status = #{statusEq}</if>
			<if test="contactPsn != null">AND contact_psn like '%${contactPsn}%'</if>
			<if test="contactPsnEq != null">AND contact_psn = #{contactPsnEq}</if>
			<if test="mobile != null">AND mobile like '%${mobile}%'</if>
			<if test="mobileEq != null">AND mobile = #{mobileEq}</if>
			<if test="mail != null">AND mail like '%${mail}%'</if>
			<if test="mailEq != null">AND mail = #{mailEq}</if>
			<if test="collaborator != null">AND collaborator like '%${collaborator}%'</if>
			<if test="collaboratorEq != null">AND collaborator = #{collaboratorEq}</if>
			<if test="remark != null">AND remark like '%${remark}%'</if>
			<if test="remarkEq != null">AND remark = #{remarkEq}</if>
			<if test="createBy != null">AND create_by = '%${createBy}%'</if>
			<if test="createDt != null">AND create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
			<if test="cpAddress != null">AND cp_address like '%${cpAddress}%'</if>
			<if test="cpAddressEq != null">AND cp_address = #{cpAddressEq}</if>
			<if test="cpZipcode != null">AND cp_zipcode like '%${cpZipcode}%'</if>
			<if test="cpZipcodeEq != null">AND cp_zipcode = #{cpZipcodeEq}</if>
			<if test="shortName != null">AND short_name like '%${shortName}%'</if>
			<if test="shortNameEq != null">AND short_name = #{shortNameEq}</if>
			<if test="cpAddressArea != null">AND cp_address_area like '%${cpAddressArea}%'</if>
			<if test="unCompleteEq != null">AND un_complete = #{unCompleteEq}</if>
			<if test="openmall != null">AND openmall like '%${openmall}%'</if>
			<if test="openmallEq != null">AND openmall = #{openmallEq}</if>
			<if test="source != null">AND source like '%${source}%'</if>
			<if test="sourceEq != null">AND source = #{sourceEq}</if>
			<if test="telephone != null">AND telephone like '%${telephone}%'</if>
			<if test="telephoneEq != null">AND telephone = #{telephoneEq}</if>
			<if test="cpAddressAreaId != null">AND cp_address_area=#{cpAddressAreaId}</if>
			<if test="unComplete != null" >AND un_complete = #{unComplete}</if>
			<if test="position != null" >AND position = #{position}</if>
			<if test="channelCode != null" >and channel_code = #{channelCode}</if>
			<if test="customerNoEq != null">and customer_no = #{customerNoEq}</if>

			<!-- 1 -->
			<if test="dr != null">AND dr = #{dr}</if>
			<if test="appid != null" >and appid = #{appid}</if>
			<if test="appsecret != null" >and appsecret = #{appsecret}</if>
			<if test="tenantId != null" >and tenant_id = #{tenantId}</if>
		</trim>
	</sql>

	<!-- 查询条件 -->
	<sql id="Condition_Where_Corp">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="corpName != null" >and cp.corp_name like '%${corpName}%'</if>
			<if test="status != null">  AND u.enabled = #{status} </if>
			<if test="createDtFrom != null"> AND cp.create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null"> AND cp.create_dt&lt;=#{createDtTo}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertCM_CORP" parameterType="Object" >
		INSERT INTO CM_CORP (
		<trim prefix=" " prefixOverrides=",">
			<if test="cpId != null ">,cp_id</if>
			<if test="corpName != null ">,corp_name</if>
			<if test="status != null ">,status</if>
			<if test="contactPsn != null ">,contact_psn</if>
			<if test="mobile != null ">,mobile</if>
			<if test="mail != null ">,mail</if>
			<if test="collaborator != null ">,collaborator</if>
			<if test="remark != null ">,remark</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
			<if test="cpZipcode != null" >,cp_zipcode</if>
			<if test="cpAddress != null" >,cp_address</if>

			<if test="cpAddressAreaId != null" >,cp_address_area</if>
			<if test="shortName != null" >,short_name</if>
			<if test="unComplete != null" >,un_complete</if>
			<if test="openmall != null" >,openmall</if>
			<if test="source != null" >,source</if>
			<if test="position != null" >,position</if>

			<if test="busiLicenseNum != null ">,busi_license_num</if>
			<if test="busiLicenseFile != null ">,busi_license_file</if>
			<if test="corporateFile != null ">,corporate_file</if>
			<if test="deputyFile != null ">,deputy_file</if>
			<if test="otherFile != null ">,other_file</if>
			<if test="isLegalize != null ">,is_legalize</if>
			<if test="customerNo != null ">,customer_no</if>
			<if test="channelCode != null ">,channel_code</if>
			<if test="corpLogo != null ">,corp_logo</if>
			<if test="dr != null ">,dr</if>
			<if test="telephone != null ">,telephone</if>
			<if test="appid != null ">,appid</if>
			<if test="appsecret != null ">,appsecret</if>
			<if test="tenantId != null" >,tenant_id</if>
			<if test="employeeSource != null" >,employee_source</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="cpId != null ">,#{cpId}</if>
			<if test="corpName != null ">,#{corpName}</if>
			<if test="status != null ">,#{status}</if>
			<if test="contactPsn != null ">,#{contactPsn}</if>
			<if test="mobile != null ">,#{mobile}</if>
			<if test="mail != null ">,#{mail}</if>
			<if test="collaborator != null ">,#{collaborator}</if>
			<if test="remark != null ">,#{remark}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
			<if test="cpZipcode != null" >,#{cpZipcode}</if>
			<if test="cpAddress != null" >,#{cpAddress}</if>

			<if test="cpAddressAreaId != null" >,#{cpAddressAreaId}</if>
			<if test="shortName != null" >,#{shortName}</if>
			<if test="unComplete != null" >,#{unComplete}</if>
			<if test="openmall != null" >,#{openmall}</if>
			<if test="source != null" >,#{source}</if>
			<if test="position != null" >,#{position}</if>

			<if test="busiLicenseNum != null ">,#{busiLicenseNum}</if>
			<if test="busiLicenseFile != null ">,#{busiLicenseFile}</if>
			<if test="corporateFile != null ">,#{corporateFile}</if>
			<if test="deputyFile != null ">,#{deputyFile}</if>
			<if test="otherFile != null ">,#{otherFile}</if>
			<if test="isLegalize != null ">,#{isLegalize}</if>
			<if test="customerNo != null ">,#{customerNo}</if>
			<if test="channelCode != null ">,#{channelCode}</if>
			<if test="corpLogo != null ">,#{corpLogo}</if>
			<if test="dr != null ">,#{dr}</if>
            <if test="telephone != null ">,#{telephone}</if>
			<if test="appid != null ">,#{appid}</if>
			<if test="appsecret != null ">,#{appsecret}</if>
			<if test="tenantId != null" >,#{tenantId}</if>
			<if test="employeeSource != null" >,#{employeeSource}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="cpId">
			SELECT LAST_INSERT_ID() AS CP_ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateCM_CORP" parameterType="Object" >
		UPDATE CM_CORP
		<trim prefix=" SET " prefixOverrides=",">
			<if test="cpId != null ">,cp_id=#{cpId}</if>
			<if test="corpName != null ">,corp_name=#{corpName}</if>
			<if test="status != null ">,status=#{status}</if>
			<if test="contactPsn != null ">,contact_psn=#{contactPsn}</if>
			<if test="mobile != null ">,mobile=#{mobile}</if>
			<if test="mail != null ">,mail=#{mail}</if>
			<if test="collaborator != null ">,collaborator=#{collaborator}</if>
			<if test="remark != null ">,remark=#{remark}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
			<if test="cpZipcode != null" >,cp_zipcode=#{cpZipcode}</if>
			<if test="cpAddress != null" >,cp_address=#{cpAddress}</if>
			<if test="customerNo != null ">,customer_no=#{customerNo}</if>
			<if test="cpAddressAreaId != null" >,cp_address_area=#{cpAddressAreaId}</if>
			<if test="shortName != null" >,short_name=#{shortName}</if>
			<if test="unComplete != null" >,un_complete=#{unComplete}</if>
			<if test="position != null" >,position=#{position}</if>
			<if test="busiLicenseNum != null ">,busi_license_num=#{busiLicenseNum}</if>
			<if test="busiLicenseFile != null ">,busi_license_file=#{busiLicenseFile}</if>
			<if test="corporateFile != null ">,corporate_file=#{corporateFile}</if>
			<if test="deputyFile != null ">,deputy_file=#{deputyFile}</if>
			<if test="otherFile != null ">,other_file=#{otherFile}</if>
			<if test="isLegalize != null ">,is_legalize=#{isLegalize}</if>
			<if test="corpLogo != null ">,corp_logo=#{corpLogo}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="telephone != null ">,telephone=#{telephone}</if>
			<if test="appid != null ">,appid=#{appid}</if>
			<if test="appsecret != null ">,appsecret=#{appsecret}</if>
			<if test="tenantId != null" >,tenant_id = #{tenantId}</if>
		</trim>
		WHERE CP_ID=#{cpId}
	</update>
	<!-- 删除记录 -->
	<update id="DeleteCM_CORP" parameterType="Object">
      UPDATE CM_CORP SET  dr = 1 WHERE  CP_ID=#{cpId}
    </update>
	<!-- 企业表 列表总数-->
	<select id="CountFindAllCM_CORP" resultType="java.lang.Integer">SELECT count(1) as value FROM CM_CORP</select>
	<select id="CountCM_CORP" resultType="java.lang.Integer">SELECT count(1) as value FROM CM_CORP WHERE CP_ID=#{cpId}</select>
	<!-- 根据id查询 企业表 -->
	<select id="FindByPK" resultMap="result_map_CM_CORP" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CM_CORP WHERE CP_ID=#{cpId}</select>

	<!-- 根据各字段条件带模糊查询  企业表 -->
	<select id="FreeFindCM_CORP" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带模糊查询  企业表 记录数 -->
	<select id="CountFreeFindCM_CORP" resultType="java.lang.Integer">
		SELECT count(1) as value FROM CM_CORP
		<include refid="Example_Where_Clause2" />
	</select>
	<!-- 根据各字段条件带排序  企业表 -->
	<select id="FreeFindCM_CORPOrdered" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy}
	</select>

	<!-- 根据各字段条件带模糊查询  企业 记录数 -->
	<select id="CountFreeFindCM_CORP_BS" resultType="java.lang.Integer">
		<!-- SELECT count(1) as value FROM CM_CORP cc,bs_channel bb

		WHERE cc.channel_code = bb.code -->

		SELECT count(1) as value FROM CM_CORP cc
		LEFT JOIN bs_channel bb ON cc.channel_code = bb.code
		LEFT JOIN cs_regist_history  crh ON crh.corp_id = cc.cp_id
		LEFT JOIN cm_corp_trace_record ct on ct.create_dt =
		(SELECT MAX(cmc.create_dt) from cm_corp_trace_record cmc WHERE cmc.cp_id = cc.cp_id  GROUP BY cmc.cp_id )
         and ct.cp_id = cc.cp_id
         LEFT JOIN bs_channel_user bc ON bc.`code` = crh.sname
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId != null">AND cc.cp_id = '${cpId}'</if>
			<if test="corpName != null">AND cc.corp_name like '%${corpName}%'</if>
			<if test="corpNameEq != null">AND cc.corp_name = #{corpNameEq}</if>
			<if test="status != null">AND cc.status like '%${status}%'</if>
			<if test="statusEq != null">AND cc.status = #{statusEq}</if>
			<if test="contactPsn != null">AND cc.contact_psn like '%${contactPsn}%'</if>
			<if test="contactPsnEq != null">AND cc.contact_psn = #{contactPsnEq}</if>
			<if test="mobile != null">AND cc.mobile like '%${mobile}%'</if>
			<if test="mobileEq != null">AND cc.mobile = #{mobileEq}</if>
			<if test="mail != null">AND cc.mail like '%${mail}%'</if>
			<if test="mailEq != null">AND cc.mail = #{mailEq}</if>
			<if test="collaborator != null">AND cc.collaborator like '%${collaborator}%'</if>
			<if test="collaboratorEq != null">AND cc.collaborator = #{collaboratorEq}</if>
			<if test="remark != null">AND cc.remark like '%${remark}%'</if>
			<if test="remarkEq != null">AND cc.remark = #{remarkEq}</if>
			<if test="createBy != null">AND cc.create_by = '%${createBy}%'</if>
			<if test="createDt != null">AND cc.create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND cc.create_dt&gt;=concat(#{createDtFrom }, ' 00:00:00')</if>
			<if test="createDtTo != null">AND cc.create_dt&lt;=concat(#{createDtTo }, ' 23:59:59')</if>
			<if test="modifyBy != null">AND cc.modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null">AND cc.modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND cc.modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND cc.modify_dt&lt;=#{modifyDtTo}</if>

			<if test="cpAddressAreaId != null">AND cc.cp_address_area=#{cpAddressAreaId}</if>
			<if test="unComplete != null" >AND cc.un_complete = #{unComplete}</if>
			<if test="position != null" >AND cc.position = #{position}</if>
			<if test="channelCode != null" >and cc.channel_code = #{channelCode}</if>

			<!-- 1 -->
			<if test="openmall != null and openmall == &quot;Y&quot;">AND cc.openmall like '%${openmall}%'</if>
			<if test="openmall != null and openmall == &quot;N&quot;">AND cc.openmall is null</if>
			<if test="openmallEq != null">AND cc.openmall = #{openmallEq}</if>
			<if test="source != null and source != 'SAAS'">AND cc.source like '%${source}%'</if>
			<if test="source != null and source == 'SAAS'">AND cc.source IS NULL or cc.source = 'SAAS'</if>

			<if test="sourceEq != null">AND cc.source = #{sourceEq}</if>
			<!-- 2 -->
			<if test="dr != null">AND cc.dr = #{dr}</if>

			<if test="channelName != null">AND bb.name LIKE '%${channelName}%'</if>
			<if test="cCode != null">AND bc.name LIKE '%${cCode}%'</if>

			<if test="isAnswerQ != null and isAnswerQ == &quot;Y&quot;">AND crh.answer_dt IS NOT NULL</if>
			<if test="isAnswerQ != null and isAnswerQ == &quot;N&quot;">AND crh.answer_dt IS NULL</if>

			<if test="isChannelR != null and isChannelR == &quot;Y&quot;">AND cc.channel_code IS NOT NULL</if>
			<if test="isChannelR != null and isChannelR == &quot;N&quot;">AND cc.channel_code IS NULL</if>

			<if test="state != null and state != 'NO'">AND ct.state = #{state }</if>
			<if test="state != null and state == 'NO'">AND ct.id is null</if>
			<if test="situation != null and situation != ''">AND ct.situation = #{situation }</if>
			<if test="isLegalize != null">AND cc.is_legalize = #{isLegalize}</if>
			<if test="requirement != null and requirement != ''">AND ct.requirement = #{requirement }</if>

			<if test="isSign != null and isSign == &quot;Y&quot;">AND EXISTS (SELECT rel.id from sp_cm_relation rel where rel.cp_id = cc.cp_id AND rel.dr = 0)</if>
			<if test="isSign != null and isSign == &quot;N&quot;">AND NOT EXISTS (SELECT rel.id from sp_cm_relation rel where rel.cp_id = cc.cp_id AND rel.dr = 0)</if>
			<!-- <if test="corpName != null">AND CONCAT(cc.corp_name,IFNULL(bb.code,''),IFNULL(bb.name,'')) like concat('%',#{corpName},'%')</if> -->
		</trim>
	</select>
	<!-- 根据各字段条件带排序  企业 -->
	<select id="FreeFindCM_CORPOrdered_BS" resultMap="result_map_CM_CORP" parameterType="Object">
		<!-- SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		<include refid="Example_Where_Clause2" />
		ORDER BY ${_orderBy} -->

		SELECT cc.cp_id,cc.corp_name,cc.status,cc.contact_psn,cc.mobile,cc.mail,cc.collaborator,cc.remark,cc.create_by,cc.create_dt,cc.modify_by,cc.modify_dt,cc.cp_address,cc.cp_zipcode,cc.short_name,cc.cp_address_area,cc.un_complete,cc.openmall,cc.source,cc.telephone,cc.position,cc.partner_no,cc.balance,cc.busi_license_num,cc.busi_license_file,cc.corporate_file,cc.deputy_file,cc.other_file,cc.is_legalize,cc.customer_no,cc.channel_code,cc.dr,cc.tenant_id
		,bb.name as channelName,bb.code as cCode,ct.state,bc.`name` AS uname,ct.suggestion
		<!-- FROM CM_CORP cc,bs_channel bb
		WHERE cc.channel_code = bb.code -->

		FROM CM_CORP cc
		LEFT JOIN bs_channel bb ON cc.channel_code = bb.code
		LEFT JOIN cs_regist_history  crh ON crh.corp_id = cc.cp_id
		LEFT JOIN cm_corp_trace_record ct on ct.create_dt =
		(SELECT MAX(cmc.create_dt) from cm_corp_trace_record cmc WHERE cmc.cp_id = cc.cp_id  GROUP BY cmc.cp_id )
         and ct.cp_id = cc.cp_id
         LEFT JOIN bs_channel_user bc ON bc.`code` = crh.sname
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId != null">AND cc.cp_id = '${cpId}'</if>
			<if test="corpName != null">AND cc.corp_name like '%${corpName}%'</if>
			<if test="corpNameEq != null">AND cc.corp_name = #{corpNameEq}</if>
			<if test="status != null">AND cc.status like '%${status}%'</if>
			<if test="statusEq != null">AND cc.status = #{statusEq}</if>
			<if test="contactPsn != null">AND cc.contact_psn like '%${contactPsn}%'</if>
			<if test="contactPsnEq != null">AND cc.contact_psn = #{contactPsnEq}</if>
			<if test="mobile != null">AND cc.mobile like '%${mobile}%'</if>
			<if test="mobileEq != null">AND cc.mobile = #{mobileEq}</if>
			<if test="mail != null">AND cc.mail like '%${mail}%'</if>
			<if test="mailEq != null">AND cc.mail = #{mailEq}</if>
			<if test="collaborator != null">AND cc.collaborator like '%${collaborator}%'</if>
			<if test="collaboratorEq != null">AND cc.collaborator = #{collaboratorEq}</if>
			<if test="remark != null">AND cc.remark like '%${remark}%'</if>
			<if test="remarkEq != null">AND cc.remark = #{remarkEq}</if>
			<if test="createBy != null">AND cc.create_by = '%${createBy}%'</if>
			<if test="createDt != null">AND cc.create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND cc.create_dt&gt;=concat(#{createDtFrom }, ' 00:00:00')</if>
			<if test="createDtTo != null">AND cc.create_dt&lt;=concat(#{createDtTo }, ' 23:59:59')</if>
			<if test="modifyBy != null">AND cc.modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null">AND cc.modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND cc.modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND cc.modify_dt&lt;=#{modifyDtTo}</if>

			<if test="cpAddressAreaId != null">AND cc.cp_address_area=#{cpAddressAreaId}</if>
			<if test="unComplete != null" >AND cc.un_complete = #{unComplete}</if>
			<if test="position != null" >AND cc.position = #{position}</if>
			<if test="channelCode != null" >and cc.channel_code = #{channelCode}</if>

			<!-- 1 -->
			<if test="openmall != null and openmall == &quot;Y&quot;">AND cc.openmall like '%${openmall}%'</if>
			<if test="openmall != null and openmall == &quot;N&quot;">AND cc.openmall is null</if>
			<if test="openmallEq != null">AND cc.openmall = #{openmallEq}</if>
			<if test="source != null and source != 'SAAS'">AND cc.source like '%${source}%'</if>
			<if test="source != null and source == 'SAAS'">AND cc.source IS NULL or cc.source = 'SAAS'</if>
			<if test="sourceEq != null">AND cc.source = #{sourceEq}</if>
			<!-- 2 -->
			<if test="dr != null">AND cc.dr = #{dr}</if>

			<if test="channelName != null">AND bb.name LIKE '%${channelName}%'</if>
			<if test="cCode != null">AND bc.name LIKE '%${cCode}%'</if>

			<if test="isAnswerQ != null and isAnswerQ == &quot;Y&quot;">AND crh.answer_dt IS NOT NULL</if>
			<if test="isAnswerQ != null and isAnswerQ == &quot;N&quot;">AND crh.answer_dt IS NULL</if>

			<if test="isChannelR != null and isChannelR == &quot;Y&quot;">AND cc.channel_code IS NOT NULL</if>
			<if test="isChannelR != null and isChannelR == &quot;N&quot;">AND cc.channel_code IS NULL</if>

			<if test="state != null and state != 'NO'">AND ct.state = #{state }</if>
			<if test="state != null and state == 'NO'">AND ct.id is null</if>
			<if test="situation != null and situation != ''">AND ct.situation = #{situation }</if>
			<if test="isLegalize != null">AND cc.is_legalize = #{isLegalize }</if>
			<if test="requirement != null and requirement != ''">AND ct.requirement = #{requirement }</if>


			<if test="isSign != null and isSign == &quot;Y&quot;">AND EXISTS (SELECT rel.id from sp_cm_relation rel where rel.cp_id = cc.cp_id AND rel.dr = 0)</if>
			<if test="isSign != null and isSign == &quot;N&quot;">AND NOT EXISTS (SELECT rel.id from sp_cm_relation rel where rel.cp_id = cc.cp_id AND rel.dr = 0)</if>
			<!-- <if test="corpName != null">AND CONCAT(cc.corp_name,IFNULL(bb.code,''),IFNULL(bb.name,'')) like concat('%',#{corpName},'%')</if> -->
		</trim>
		ORDER BY cc.create_dt DESC
	</select>
	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2016/07/27 11:03:20 ** -->
	<!-- ************************************************************************ -->



	<!-- 根据当前服务商的spId 在查询企业表数据 -->
	<select id="FreeFindCM_CORP_BySpId" resultMap="result_map_CM_CORP" parameterType="Object">
		select cmc.cp_id,cmc.corp_name,scr.source,scr.insurance_type,scr.reg_numpass,scr.reg_usbkeypass,sysdm.name insurance_name,scr.reg_num,scr.area_id,scr.sp_id,scr.reg_numpass,scr.reg_usbkeypass,scr.cp_if_stop,ba.fullname area_name,
		ifnull(gg.incount,0) as incount,ifnull(gg.funcount,0) as funcount,
		ifnull(if(in_num>f_num,in_num,f_num),0) as ccount
		from cm_corp cmc
		left join sp_cm_relation scr on cmc.cp_id = scr.cp_id
		left join (
		select count(f1.id) as in_num,r.insurance_account_id as  accid,r.cp_id as cid from sp_cm_relation r
		left join sps_ts_person_flow f1 on f1.acc_id=r.insurance_account_id and f1.type=1 and f1.service_type=1
		group by r.cp_id,r.insurance_account_id) flow1 on flow1.cid=scr.cp_id and flow1.accid=scr.insurance_account_id
		left join (
		select count(f2.id) as f_num,r.fund_account_id as accid,r.cp_id as cid from sp_cm_relation r
		left join sps_ts_person_flow f2 on f2.acc_id=r.fund_account_id and f2.type=2 and f2.service_type=1
		group by r.cp_id,r.fund_account_id ) flow2 on flow2.cid=scr.cp_id and flow2.accid=scr.fund_account_id
		left join bs_area ba  on ba.area_id = scr.area_id
		left join sys_dictionary sysdic on sysdic.name='paymentMethod'
		left join sys_dictitem sysdm on scr.insurance_type = sysdm.code and sysdic.id = sysdm.dictionary
		left join (select sum(IF(e.insurance_state='ON',1,0))  as incount,
		sum(if(e.fund_state='ON',1,0)) as funcount,cp_id
		from cm_employee e where e.dr=0 GROUP BY e.cp_id) gg on cmc.cp_id=gg.cp_id
		where scr.sp_id =#{spId} and cmc.dr = 0 and scr.dr=0
		<if test="cpId != null"> AND cmc.cp_id = #{cpId}</if>
		<if test="source != null"> AND scr.source = #{source}  </if>
		<if test="cpIfStop != null and cpIfStop=='STAR'"> 
			AND (scr.cp_if_stop is null or scr.cp_if_stop='STAR')
		</if>
		<if test="cpIfStop != null and cpIfStop=='STOP'"> 
			AND scr.cp_if_stop = 'STOP'
		</if>
		<if test="sourceEq != null"> AND scr.source != #{sourceEq}  </if><!-- modify by lifq 20160831,过滤掉 ENTRUSTED的企业 -->
		<if test="cpId == null"><if test="condition != null"> AND ( cmc.corp_name like '%${condition}%'  or cmc.contact_psn like '%${condition}%' )</if></if>
		<if test="authority != 'ALL'">
			AND cmc.cp_id in (${authority})
		</if>
		order by cmc.un_complete DESC,cmc.cp_id DESC
	</select>

	<!-- 根据当前服务商的spId 查询服务商 服务所有企业总数 -->
	<select id="CountFreeFindCM_CORP_BySpId" resultType="java.lang.Integer" parameterType="Object">
		select count(1) as value
		from cm_corp cmc
		left join sp_cm_relation scr on cmc.cp_id = scr.cp_id
		left join bs_area ba  on ba.area_id = scr.area_id
		left join sys_dictitem sysdm on scr.insurance_type = sysdm.code
		left join sys_dictionary sysdic on sysdic.name='paymentMethod' and sysdic.id = sysdm.dictionary
		where scr.sp_id =#{spId} and cmc.dr = 0 and scr.dr=0
		<if test="cpId != null"> AND cmc.cp_id = #{cpId}</if>
		<if test="source != null"> AND scr.source = #{source}  </if>
		<if test="cpIfStop != null and cpIfStop=='STAR'"> 
			AND (scr.cp_if_stop is null or scr.cp_if_stop='STAR')
		</if>
		<if test="cpIfStop != null and cpIfStop=='STOP'"> 
			AND scr.cp_if_stop = 'STOP'
		</if>
		<if test="sourceEq != null"> AND scr.source != #{sourceEq}  </if><!-- modify by lifq 20160831,过滤掉 ENTRUSTED的企业 -->
		<if test="cpId == null"><if test="condition != null"> AND ( cmc.corp_name like '%${condition}%'  or cmc.contact_psn like '%${condition}%' )</if></if>
		<if test="authority != 'ALL'">
			AND cmc.cp_id in (${authority})
		</if>
	</select>
	<!-- 根据corpId 查询企业信息 -->
	<select id="FreeFindCM_CORPByCorpId" resultMap="result_map_CM_CORP" parameterType="Object">
	 select cc.*,area.fullname as area_name
	 from cm_corp cc LEFT JOIN bs_area area ON area.area_id = cc.cp_address_area
	 where cc.cp_id =#{cpId}
</select>

	<!-- 根据corpId和spid 查询企业信息 -->
	<select id="FreeFindCM_CORPByCorpId_AND_SPID" resultMap="result_map_CM_CORP" parameterType="Object">
		select cc.*,sc.id sps_id,sc.sp_id,sc.area_id,sc.reg_num,sc.insurance_type,sc.reg_numpass,sc.reg_usbkeypass,sysdm.name insurance_name
		from cm_corp cc
		left join sp_cm_relation  sc on  cc.cp_id =sc.cp_id AND sc.sp_id = #{spId}
		left join sys_dictitem sysdm on sc.insurance_type = sysdm.code
		left join sys_dictionary sysdic on sysdic.name='paymentMethod' and sysdic.id = sysdm.dictionary
		where cc.cp_id =#{cpId}
	</select>


	<!-- 根据企业名称 查询企业是否重复,校验重复时 校验所有服务商下所以企业 -->
	<select id="findCorpByCorpName" resultType="java.lang.Integer" parameterType="Object">
	select count(1) as value 
	from cm_corp cm where cm.corp_name=#{corpName}  <if test="openmall != null"> AND cm.openmall = #{openmall}</if>
</select>

	<select id="findCorpWithNameNotTheId" resultType="java.lang.Integer" parameterType="Object">
	 select count(1) as value  from cm_corp c where c.corp_name=#{corpName} and c.cp_id != #{cpId}
</select>

	<select id="findCorpByCorpNameAndSpId" resultMap="result_map_CM_CORP" parameterType="Object">
		select cm.*
		from cm_corp cm
		left join sp_cm_relation scr
		on cm.cp_id = scr.cp_id
		where cm.dr = 0 AND scr.dr = 0 and scr.sp_id=#{spId} and cm.corp_name=#{corpName}  <if test="cpId != null"> AND cm.cp_id != #{cpId}</if>
	</select>
	<!-- 查询服务商下企业信息-->
	<select id="FindCorpBySpId" resultType="java.util.Map" parameterType="java.lang.Integer">
		select corp.cp_id cpId,corp.corp_name cpName from sp_cm_relation rela INNER JOIN cm_corp corp on rela.cp_id=corp.cp_id
		where rela.sp_id = #{spId}
		<if test="authority != 'ALL'">
			AND corp.cp_id in (${authority})
		</if>
        <if test="dr != null">
            AND corp.dr = #{dr}
        </if>
		GROUP BY corp.cp_id
	</select>

	<!-- 查询企业 手机号是否存在-->
	<select id="findExistMobile" resultType="java.util.Map" parameterType="java.lang.Integer">
		select t.cp_id from cm_corp t   where t.mobile = #{mobile}
		<if test="cpId != null"> AND t.cp_id != #{cpId}</if>
	</select>
	<!-- 查询服务商下企业信息 王超-->
	<select id="FindCmCorpsBySpId" resultMap="result_map_CM_CORP" parameterType="java.lang.Integer">
		select corp.cp_id,corp.corp_name from sp_cm_relation rela INNER JOIN cm_corp corp on rela.cp_id=corp.cp_id
		where rela.sp_id = #{spId} and rela.dr=0
		<if test="authority != 'ALL'">
			AND corp.cp_id in (${authority})
		</if>
		GROUP BY corp.cp_id
	</select>

	<!--  查询小库总数 -->
	<select id="countfindSingleAccountPage" resultType="java.lang.Integer" parameterType="Object">
		select count(1) as value from sps_account t
		inner join cm_corp c on t.cp_id=c.cp_id
		left join bs_area area on t.area_id = area.area_id
		where t.sp_id =#{sp_id} and c.cp_id = #{cp_id} and c.dr = 0
		<if test="area_id != null"> AND area.belong_city = #{area_id} </if>
		<if test="state != null"> AND t.state = #{state} </if>
		<if test="insurance_fund_type != null"> AND t.insurance_fund_type = #{insurance_fund_type} </if>
	</select>
	<!--  查询小库 -->
	<select id="findSingleAccountPage" resultType="java.util.Map" parameterType="Object">
		select c.corp_name,t.cp_id,t.insurance_fund_type,t.name,t.area_id,area.fullname,t.state,t.acc_id
		from sps_account t
		inner join cm_corp c on t.cp_id=c.cp_id
		left join bs_area area on t.area_id = area.area_id
		where t.sp_id =#{sp_id} and c.cp_id = #{cp_id} and c.dr = 0
		<if test="area_id != null"> AND area.belong_city = #{area_id} </if>
		<if test="state != null"> AND t.state = #{state} </if>
		<if test="insurance_fund_type != null"> AND t.insurance_fund_type = #{insurance_fund_type} </if>
	</select>

	<select id="FindCM_CORPById" resultMap="result_map_CM_CORP">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId == null ">AND 1=2</if>
			<if test="cpId != null ">AND cpId=#{cpId}</if>
		</trim>
	</select>

	<!-- 根据id查询 公司信息表 -->
	<select id="FindByCorpName" resultMap="result_map_CM_CORP" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CM_CORP WHERE corp_name=#{corpName} AND dr = 0</select>
	<!-- 根据corpId 查询企业信息 -->
	<select id="FreeFindCM_CORPByCorpId_CS" resultMap="result_map_CM_CORP" parameterType="Object">
		select cc.*,sc.id sps_id,sc.sp_id,sc.area_id,sc.reg_num,sc.insurance_type,sc.reg_numpass,sc.reg_usbkeypass,sysdm.name insurance_name
		from cm_corp cc
		left join sp_cm_relation  sc on  cc.cp_id =sc.cp_id
		left join sys_dictitem sysdm on sc.insurance_type = sysdm.code
		left join sys_dictionary sysdic on sysdic.name='paymentMethod' and sysdic.id = sysdm.dictionary
		where cc.cp_id =#{cpId}
	</select>

	<!-- 查询符合条件的企业 -->
	<select id="QUERY_CM_CORP_LIST" resultMap="result_map_CM_CORP_ACCOUNT" parameterType="Object">
		SELECT  cp.cp_id as cp_id, cp.corp_name as corp_name,cp.contact_psn as contact_psn, cp.mobile as mobile,cp.create_dt as create_dt, u.enabled as status , u.last_login_dt as last_login_time
		FROM CM_CORP cp
		INNER join sys_user u  on cp.cp_id = u.org_id
		<include refid="Condition_Where_Corp" />
	</select>

	<!-- 查询符合条件的企业个数 -->
	<select id="QUERY_CM_CORP_LIST_COUNT" resultType="java.lang.Integer" parameterType="Object">
		SELECT COUNT(1) FROM CM_CORP cp
		INNER join sys_user u  on cp.cp_id = u.org_id
		<include refid="Condition_Where_Corp" />
	</select>

	<select id="COUNTBYDAY" resultType="java.util.HashMap"
			parameterType="Object">
		select count(1) as countCrop,create_dt from cm_corp
		where create_dt &gt; #{stringDate}
		group by DATE_FORMAT(`create_dt`,'%Y-%m-%d')
	</select>


	<select id="FreeFindCM_CORPForOr" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		where
	</select>

	<!-- 根据各字段条件带模糊查询  企业 记录数 -->
	<select id="countAllOrgInChannel" resultType="java.lang.Integer" parameterType="Object">
		SELECT count(1) as value
		FROM CM_CORP AS CC,cs_regist_history AS crh
		WHERE cc.cp_id = crh.corp_id
		<if test="corpName != null">AND CC.corp_name like '%${corpName}%'</if>
		<if test="channelCode != null" >and crh.channel = #{channelCode}</if>
		<if test="areaId != null">AND crh.area = #{areaId}</if>
		<if test="cpId != null">AND crh.groups = #{cpId}</if>
	</select>
	<!-- 根据各字段条件带排序  企业 -->
	<select id="getAllOrgInChannelCM_CORPOrdered" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT
		CC.corp_name,
		CC.busi_license_num,
		CC.contact_psn,
		CC.mail,
		CC.position,
		CC.mobile,
		bcu.name
		FROM
		CM_CORP AS CC,
		cs_regist_history AS crh
		left join bs_channel_user AS bcu on crh.sname = bcu.code
		WHERE
		cc.cp_id = crh.corp_id
		<if test="corpName != null">AND CC.corp_name like '%${corpName}%'</if>
		<if test="channelCode != null">and crh.channel = #{channelCode}</if>
		<if test="areaId != null">AND crh.area = #{areaId}</if>
		<if test="cpId != null">AND crh.groups = #{cpId}</if>
	</select>

	<!-- 根据各字段条件带排序  企业 返回map-->
	<select id="FreeFindCM_CORPMap" resultType="java.util.Map" parameterType="Object">
		<!-- SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		<include refid="Example_Where_Clause2" /> -->


		SELECT cc.cp_id,cc.corp_name,cc.status,cc.contact_psn,cc.mobile,cc.mail,cc.collaborator,cc.remark,cc.create_by,cc.create_dt,cc.modify_by,cc.modify_dt,cc.cp_address,cc.cp_zipcode,cc.short_name,cc.cp_address_area,cc.un_complete,cc.openmall,cc.source,cc.telephone,cc.position,cc.partner_no,cc.balance,cc.busi_license_num,cc.busi_license_file,cc.corporate_file,cc.deputy_file,cc.other_file,cc.is_legalize,cc.customer_no,cc.channel_code,cc.dr
		,bb.name as channelName,bb.code as cCode


		FROM CM_CORP cc
		LEFT JOIN bs_channel bb
		ON cc.channel_code = bb.code
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="cpId != null">AND cc.cp_id = '${cpId}'</if>
			<if test="corpName != null">AND cc.corp_name like '%${corpName}%'</if>
			<if test="corpNameEq != null">AND cc.corp_name = #{corpNameEq}</if>
			<if test="status != null">AND cc.status like '%${status}%'</if>
			<if test="statusEq != null">AND cc.status = #{statusEq}</if>
			<if test="contactPsn != null">AND cc.contact_psn like '%${contactPsn}%'</if>
			<if test="contactPsnEq != null">AND cc.contact_psn = #{contactPsnEq}</if>
			<if test="mobile != null">AND cc.mobile like '%${mobile}%'</if>
			<if test="mobileEq != null">AND cc.mobile = #{mobileEq}</if>
			<if test="mail != null">AND cc.mail like '%${mail}%'</if>
			<if test="mailEq != null">AND cc.mail = #{mailEq}</if>
			<if test="collaborator != null">AND cc.collaborator like '%${collaborator}%'</if>
			<if test="collaboratorEq != null">AND cc.collaborator = #{collaboratorEq}</if>
			<if test="remark != null">AND cc.remark like '%${remark}%'</if>
			<if test="remarkEq != null">AND cc.remark = #{remarkEq}</if>
			<if test="createBy != null">AND cc.create_by = '%${createBy}%'</if>
			<if test="createDt != null">AND cc.create_dt = #{createDt}</if>
			<if test="createDtFrom != null">AND cc.create_dt&gt;=#{createDtFrom}</if>
			<if test="createDtTo != null">AND cc.create_dt&lt;=#{createDtTo}</if>
			<if test="modifyBy != null">AND cc.modify_by = '%${modifyBy}%'</if>
			<if test="modifyDt != null">AND cc.modify_dt = #{modifyDt}</if>
			<if test="modifyDtFrom != null">AND cc.modify_dt&gt;=#{modifyDtFrom}</if>
			<if test="modifyDtTo != null">AND cc.modify_dt&lt;=#{modifyDtTo}</if>
			<if test="cpAddressAreaId != null">AND cc.cp_address_area=#{cpAddressAreaId}</if>
			<if test="unComplete != null" >AND cc.un_complete = #{unComplete}</if>
			<if test="position != null" >AND cc.position = #{position}</if>
			<if test="channelCode != null" >and cc.channel_code = #{channelCode}</if>
			<if test="openmall != null">AND cc.openmall like '%${openmall}%'</if>
			<if test="openmallEq != null">AND cc.openmall = #{openmallEq}</if>
			<if test="source != null">AND cc.source like '%${source}%'</if>
			<if test="sourceEq != null">AND cc.source = #{sourceEq}</if>
			<if test="dr != null">AND cc.dr = #{dr}</if>
			<if test="channelName != null">AND bb.name = #{channelName}</if>
			<if test="cCode != null">AND bb.code = #{cCode}</if>
			<!-- <if test="corpName != null">AND CONCAT(cc.corp_name,IFNULL(bb.code,''),IFNULL(bb.name,'')) like concat('%',#{corpName},'%')</if> -->
		</trim>

	</select>
		<!-- 2016-12-27 服务商操作 导入企业 处用到校验 当前服务商下所有企业联系人手机号 查出来-->
	<select id="findExistMobileBySpId" resultType="java.util.Map" parameterType="Object">
		select scr.sp_id,cc.mobile from sp_cm_relation scr
		inner join cm_corp cc on  scr.cp_id = cc.cp_id
		where cc.dr=0 and scr.sp_id =#{spId}
	</select>

    <!-- 根据当前服务商的spId 在查询企业表数据 -->
    <select id="FreeFindCM_CORP_BySpId_Map" resultType="java.util.Map" parameterType="Object">
        select cmc.cp_id,cmc.corp_name,cmc.short_name,btc.temp_id,scr.source,scr.insurance_type,scr.reg_numpass,scr.reg_usbkeypass,sysdm.name insurance_name,scr.reg_num,scr.area_id,scr.sp_id,scr.reg_numpass,scr.reg_usbkeypass,ba.fullname area_name,
        ifnull(gg.incount,0) as incount,ifnull(gg.funcount,0) as funcount,
        ifnull(if(in_num>f_num,in_num,f_num),0) as ccount, bt.name as temp_name
        from cm_corp cmc
        left join sp_cm_relation scr on cmc.cp_id = scr.cp_id
        left join (
        select count(f1.id) as in_num,r.insurance_account_id as  accid,r.cp_id as cid from sp_cm_relation r
        left join sps_ts_person_flow f1 on f1.acc_id=r.insurance_account_id and f1.type=1 and f1.service_type=1
        group by r.cp_id,r.insurance_account_id) flow1 on flow1.cid=scr.cp_id and flow1.accid=scr.insurance_account_id
        left join (
        select count(f2.id) as f_num,r.fund_account_id as accid,r.cp_id as cid from sp_cm_relation r
        left join sps_ts_person_flow f2 on f2.acc_id=r.fund_account_id and f2.type=2 and f2.service_type=1
        group by r.cp_id,r.fund_account_id ) flow2 on flow2.cid=scr.cp_id and flow2.accid=scr.fund_account_id
        left join bs_area ba  on ba.area_id = scr.area_id
        left join sys_dictionary sysdic on sysdic.name='paymentMethod'
        left join sys_dictitem sysdm on scr.insurance_type = sysdm.code and sysdic.id = sysdm.dictionary
        left join (select sum(IF(e.insurance_state='ON',1,0))  as incount,
        sum(if(e.fund_state='ON',1,0)) as funcount,cp_id
        from cm_employee e where e.dr=0 GROUP BY e.cp_id) gg on cmc.cp_id=gg.cp_id
        left join sps_bill_temp_corp btc on cmc.cp_id = btc.cp_id and btc.dr = 0
        left join sps_bill_template bt on  bt.id = btc.temp_id
        where scr.sp_id =#{spId} and cmc.dr = 0 and scr.dr=0
        <if test="cpId != null"> AND cmc.cp_id = #{cpId}</if>
        <if test="source != null"> AND scr.source = #{source}  </if>
        <if test="sourceEq != null"> AND scr.source != #{sourceEq}  </if><!-- modify by lifq 20160831,过滤掉 ENTRUSTED的企业 -->
        <if test="cpId == null"><if test="condition != null"> AND ( cmc.short_name like '%${condition}%'  or cmc.corp_name like '%${condition}%' )</if></if>
        <if test="authority != 'ALL'">
            AND cmc.cp_id in (${authority})
        </if>
        order by cmc.un_complete DESC,cmc.cp_id DESC
    </select>


    <!-- 根据当前服务商的spId 查询服务商 服务所有企业总数 -->
    <select id="CountFreeFindCM_CORP_BySpId_Map" resultType="java.lang.Integer" parameterType="Object">
        select count(1) as value
        from cm_corp cmc
        left join sp_cm_relation scr on cmc.cp_id = scr.cp_id
        left join bs_area ba  on ba.area_id = scr.area_id
        left join sys_dictitem sysdm on scr.insurance_type = sysdm.code
        left join sys_dictionary sysdic on sysdic.name='paymentMethod' and sysdic.id = sysdm.dictionary
        left join sps_bill_temp_corp btc on cmc.cp_id = btc.cp_id  and btc.dr = 0
        left join sps_bill_template bt on  bt.id = btc.temp_id
        where scr.sp_id =#{spId} and cmc.dr = 0 and scr.dr=0
        <if test="cpId != null"> AND cmc.cp_id = #{cpId}</if>
        <if test="source != null"> AND scr.source = #{source}  </if>
        <if test="cpId == null and condition != null">
            AND ( cmc.short_name like  concat('%',#{condition},'%')
            or cmc.corp_name like  concat('%',#{condition},'%') )
        </if>
        <if test="authority != null and authority != '' and authority != 'ALL'">
            AND cmc.cp_id in (${authority})
        </if>
    </select>
	<!-- 修改服务商下企业合作状态 -->
	<update id="UPDATESPCMRELATIONIFSTOP" parameterType="Object">
		update sp_cm_relation 
		set cp_if_stop=#{cpIfStop}
		where sp_id = #{spId} and cp_id =#{cpId}
	</update>

	<!-- 根据租户ID获取企业 -->
	<select id="findCorpByTenantId" resultMap="result_map_CM_CORP" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM CM_CORP WHERE tenant_id = #{tenantId} </select>

	<select id="FreeFindCM_BY_TENANTID" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP WHERE tenant_id = #{tenantId}
	</select>

	<select id="findUnSynCorpList" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
	</select>

	<select id="getAllCompInfoByCondition" resultType="Map" parameterType="Object">
		<!--SELECT cp_id,corp_name,mobile,create_dt,(empNum+welfNum) as num  from (-->
		<!--SELECT cp_id,corp_name,mobile,create_dt,-->
		<!--(SELECT COUNT(1) FROM cm_employee emp WHERE emp.cp_id = corp.cp_id) as empNum,-->
		<!--(SELECT COUNT(1) FROM welf_employee welf-->
		<!--LEFT JOIN welf_company   welfCom on  welf.com_id = welfCom.id-->
		<!--WHERE welfCom.cp_id = corp.cp_id)  as welfNum-->
		<!--FROM CM_CORP  corp <include refid="Example_Where_Clause2" />-->
		<!--) as temp ;-->

		SELECT corp.cp_id,corp_name,mobile,create_dt ,(IFNULL(empt.t,0)+IFNULL(welft.wt,0) ) as num   FROM  CM_CORP corp
		LEFT JOIN  (SELECT emp.cp_id, COUNT(1) as t FROM cm_employee emp WHERE emp.dr=0 and emp.cp_id is not null  GROUP BY  emp.cp_id ) as empt    on empt.cp_id = corp.cp_id
		LEFT JOIN  (SELECT  welfCom.cp_id, COUNT(1) as wt FROM welf_employee welf  LEFT JOIN welf_company   welfCom on  welf.com_id = welfCom.id WHERE  welfCom.cp_id is not null  GROUP BY  welfCom.cp_id ) as welft on welft.cp_id = corp.cp_id
		<include refid="Example_Where_Clause2" />  ORDER BY num desc;

	</select>

	<select id="getCorpByCpIdOrTenantId" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM CM_CORP
		WHERE cp_id = #{id} or tenant_id=#{id}
	</select>


	<select id="checkNologinCorpList" resultMap="result_map_CM_CORP" parameterType="Object">
		SELECT corp.* FROM sys_user u INNER JOIN cm_corp corp ON u.org_id = corp.cp_id where DATE_FORMAT(last_login_dt,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(NOW(),interval 1 month),'%Y-%m-%d') AND user_type = 'CUSTOMER'
	</select>

</mapper>
