<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SYS_CRAWLER_RULE" > 
<!-- Result Map-->
<resultMap id="result_map_SYS_CRAWLER_RULE" type="com.xfs.crawler.model.SysCrawlerRule" >
	<result column="id" property="id"/>
	<result column="site_name" property="siteName"/>
	<result column="site_url" property="siteUrl"/>
	<result column="area_id" property="areaId"/>
	<result column="area_name" property="areaName"/>
	<result column="site_category" property="siteCategory"/>
	<result column="first_category_id" property="firstCategoryId"/>
	<result column="first_category_names" property="firstCategoryNames"/>
	<result column="sec_category_ids" property="secCategoryIds"/>
	<result column="sec_category_names" property="secCategoryNames"/>
	<result column="site_code" property="siteCode"/>
	<result column="site_level" property="siteLevel"/>
	<result column="sleep_time" property="sleepTime"/>
	<result column="site_listurl" property="siteListurl"/>
	<result column="site_listrule" property="siteListrule"/>
	<result column="site_arule" property="siteArule"/>
	<result column="site_listimgrule" property="siteListimgrule"/>
	<result column="site_pageurl" property="sitePageurl"/>
	<result column="site_pagerule" property="sitePagerule"/>
	<result column="crawler_rules" property="crawlerRules"/>
	<result column="crawler_timer" property="crawlerTimer"/>
	<result column="http_method" property="httpMethod"/>
	<result column="http_header" property="httpHeader"/>
	<result column="num" property="num"/>
	<result column="status" property="status"/>
	<result column="last_crawler_time" property="lastCrawlerTime"/>
	<result column="dr" property="dr"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
</resultMap>

	<!-- sys_crawler_rule table all fields -->
	<sql id="Base_Column_List" >
		id,site_name,site_url,area_id,area_name,site_category,first_category_id,first_category_names,sec_category_ids,sec_category_names,site_code,site_level,sleep_time,site_listurl,site_listrule,site_arule,site_listimgrule,site_pageurl,site_pagerule,crawler_rules,crawler_timer,http_method,http_header,num,status,last_crawler_time,dr,create_by,create_dt,modify_by,modify_dt
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<trim prefix=" WHERE " prefixOverrides="AND ">
			<if test="id != null" >and id = #{id}</if>
			<if test="siteName != null" >and site_name = #{siteName}</if>
			<if test="siteUrl != null" >and site_url = #{siteUrl}</if>
			<if test="areaId != null" >and area_id = #{areaId}</if>
			<if test="areaName != null" >and area_name = #{areaName}</if>
			<if test="siteCategory != null" >and site_category = #{siteCategory}</if>
			<if test="firstCategoryId != null" >and first_category_id = #{firstCategoryId}</if>
			<if test="firstCategoryNames != null" >and first_category_names = #{firstCategoryNames}</if>
			<if test="secCategoryIds != null" >and sec_category_ids = #{secCategoryIds}</if>
			<if test="secCategoryNames != null" >and sec_category_names = #{secCategoryNames}</if>
			<if test="siteCode != null" >and site_code = #{siteCode}</if>
			<if test="siteLevel != null" >and site_level = #{siteLevel}</if>
			<if test="sleepTime != null" >and sleep_time = #{sleepTime}</if>
			<if test="siteListurl != null" >and site_listurl = #{siteListurl}</if>
			<if test="siteListrule != null" >and site_listrule = #{siteListrule}</if>
			<if test="siteArule != null" >and site_arule = #{siteArule}</if>
			<if test="siteListimgrule != null" >and site_listimgrule = #{siteListimgrule}</if>
			<if test="sitePageurl != null" >and site_pageurl = #{sitePageurl}</if>
			<if test="sitePagerule != null" >and site_pagerule = #{sitePagerule}</if>
			<if test="crawlerRules != null" >and crawler_rules = #{crawlerRules}</if>
			<if test="crawlerTimer != null" >and crawler_timer = #{crawlerTimer}</if>
			<if test="httpMethod != null" >and http_method = #{httpMethod}</if>
			<if test="httpHeader != null" >and http_header = #{httpHeader}</if>
			<if test="num != null" >and num = #{num}</if>
			<if test="status != null" >and status = #{status}</if>
			<if test="lastCrawlerTime != null" >and last_crawler_time = #{lastCrawlerTime}</if>
			<if test="dr != null" >and dr = #{dr}</if>
			<if test="createBy != null" >and create_by = #{createBy}</if>
			<if test="createDt != null" >and create_dt = #{createDt}</if>
			<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
			<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="InsertSYS_CRAWLER_RULE" parameterType="Object" >
		INSERT INTO SYS_CRAWLER_RULE (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,id</if>
			<if test="siteName != null ">,site_name</if>
			<if test="siteUrl != null ">,site_url</if>
			<if test="areaId != null ">,area_id</if>
			<if test="areaName != null ">,area_name</if>
			<if test="siteCategory != null ">,site_category</if>
			<if test="firstCategoryId != null ">,first_category_id</if>
			<if test="firstCategoryNames != null ">,first_category_names</if>
			<if test="secCategoryIds != null ">,sec_category_ids</if>
			<if test="secCategoryNames != null ">,sec_category_names</if>
			<if test="siteCode != null ">,site_code</if>
			<if test="siteLevel != null ">,site_level</if>
			<if test="sleepTime != null ">,sleep_time</if>
			<if test="siteListurl != null ">,site_listurl</if>
			<if test="siteListrule != null ">,site_listrule</if>
			<if test="siteArule != null ">,site_arule</if>
			<if test="siteListimgrule != null ">,site_listimgrule</if>
			<if test="sitePageurl != null ">,site_pageurl</if>
			<if test="sitePagerule != null ">,site_pagerule</if>
			<if test="crawlerRules != null ">,crawler_rules</if>
			<if test="crawlerTimer != null ">,crawler_timer</if>
			<if test="httpMethod != null ">,http_method</if>
			<if test="httpHeader != null ">,http_header</if>
			<if test="num != null ">,num</if>
			<if test="status != null ">,status</if>
			<if test="lastCrawlerTime != null ">,last_crawler_time</if>
			<if test="dr != null ">,dr</if>
			<if test="createBy != null ">,create_by</if>
			<if test="createDt != null ">,create_dt</if>
			<if test="modifyBy != null ">,modify_by</if>
			<if test="modifyDt != null ">,modify_dt</if>
		</trim>
		)  VALUES (
		<trim prefix=" " prefixOverrides=",">
			<if test="id != null ">,#{id}</if>
			<if test="siteName != null ">,#{siteName}</if>
			<if test="siteUrl != null ">,#{siteUrl}</if>
			<if test="areaId != null ">,#{areaId}</if>
			<if test="areaName != null ">,#{areaName}</if>
			<if test="siteCategory != null ">,#{siteCategory}</if>
			<if test="firstCategoryId != null ">,#{firstCategoryId}</if>
			<if test="firstCategoryNames != null ">,#{firstCategoryNames}</if>
			<if test="secCategoryIds != null ">,#{secCategoryIds}</if>
			<if test="secCategoryNames != null ">,#{secCategoryNames}</if>
			<if test="siteCode != null ">,#{siteCode}</if>
			<if test="siteLevel != null ">,#{siteLevel}</if>
			<if test="sleepTime != null ">,#{sleepTime}</if>
			<if test="siteListurl != null ">,#{siteListurl}</if>
			<if test="siteListrule != null ">,#{siteListrule}</if>
			<if test="siteArule != null ">,#{siteArule}</if>
			<if test="siteListimgrule != null ">,#{siteListimgrule}</if>
			<if test="sitePageurl != null ">,#{sitePageurl}</if>
			<if test="sitePagerule != null ">,#{sitePagerule}</if>
			<if test="crawlerRules != null ">,#{crawlerRules}</if>
			<if test="crawlerTimer != null ">,#{crawlerTimer}</if>
			<if test="httpMethod != null ">,#{httpMethod}</if>
			<if test="httpHeader != null ">,#{httpHeader}</if>
			<if test="num != null ">,#{num}</if>
			<if test="status != null ">,#{status}</if>
			<if test="lastCrawlerTime != null ">,#{lastCrawlerTime}</if>
			<if test="dr != null ">,#{dr}</if>
			<if test="createBy != null ">,#{createBy}</if>
			<if test="createDt != null ">,#{createDt}</if>
			<if test="modifyBy != null ">,#{modifyBy}</if>
			<if test="modifyDt != null ">,#{modifyDt}</if>
		</trim>
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<!-- 根据id，修改记录-->
	<update id="UpdateSYS_CRAWLER_RULE" parameterType="Object" >
		UPDATE SYS_CRAWLER_RULE
		<trim prefix=" SET " prefixOverrides=",">
			<if test="id != null ">,id=#{id}</if>
			<if test="siteName != null ">,site_name=#{siteName}</if>
			<if test="siteUrl != null ">,site_url=#{siteUrl}</if>
			<if test="areaId != null ">,area_id=#{areaId}</if>
			<if test="areaName != null ">,area_name=#{areaName}</if>
			<if test="siteCategory != null ">,site_category=#{siteCategory}</if>
			<if test="firstCategoryId != null ">,first_category_id=#{firstCategoryId}</if>
			<if test="firstCategoryNames != null ">,first_category_names=#{firstCategoryNames}</if>
			<if test="secCategoryIds != null ">,sec_category_ids=#{secCategoryIds}</if>
			<if test="secCategoryNames != null ">,sec_category_names=#{secCategoryNames}</if>
			<if test="siteCode != null ">,site_code=#{siteCode}</if>
			<if test="siteLevel != null ">,site_level=#{siteLevel}</if>
			<if test="sleepTime != null ">,sleep_time=#{sleepTime}</if>
			<if test="siteListurl != null ">,site_listurl=#{siteListurl}</if>
			<if test="siteListrule != null ">,site_listrule=#{siteListrule}</if>
			<if test="siteArule != null ">,site_arule=#{siteArule}</if>
			<if test="siteListimgrule != null ">,site_listimgrule=#{siteListimgrule}</if>
			<if test="sitePageurl != null ">,site_pageurl=#{sitePageurl}</if>
			<if test="sitePagerule != null ">,site_pagerule=#{sitePagerule}</if>
			<if test="crawlerRules != null ">,crawler_rules=#{crawlerRules}</if>
			<if test="crawlerTimer != null ">,crawler_timer=#{crawlerTimer}</if>
			<if test="httpMethod != null ">,http_method=#{httpMethod}</if>
			<if test="httpHeader != null ">,http_header=#{httpHeader}</if>
			<if test="num != null ">,num=#{num}</if>
			<if test="status != null ">,status=#{status}</if>
			<if test="lastCrawlerTime != null ">,last_crawler_time=#{lastCrawlerTime}</if>
			<if test="dr != null ">,dr=#{dr}</if>
			<if test="createBy != null ">,create_by=#{createBy}</if>
			<if test="createDt != null ">,create_dt=#{createDt}</if>
			<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
			<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="DeleteSYS_CRAWLER_RULE">DELETE FROM SYS_CRAWLER_RULE WHERE ID=#{id}</delete>
	<!-- 爬取规则 列表总数-->
	<select id="CountFindAllSYS_CRAWLER_RULE" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_CRAWLER_RULE</select>
	<select id="CountSYS_CRAWLER_RULE" resultType="java.lang.Integer">SELECT count(1) as value FROM SYS_CRAWLER_RULE WHERE ID=#{id}</select>
	<!-- 根据id查询 爬取规则 -->
	<select id="FindByPK" resultMap="result_map_SYS_CRAWLER_RULE" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SYS_CRAWLER_RULE WHERE ID=#{pk}</select>

	<!-- 根据各字段条件带查询  爬取规则 -->
	<select id="FreeFindSYS_CRAWLER_RULE" resultMap="result_map_SYS_CRAWLER_RULE" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SYS_CRAWLER_RULE
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据各字段条件带查询  爬取规则 记录数 -->
	<select id="CountFreeFindSYS_CRAWLER_RULE" resultType="java.lang.Integer">
		SELECT count(1) as value FROM SYS_CRAWLER_RULE
		<include refid="Example_Where_Clause" />
	</select>
	<!-- 根据各字段条件带排序  爬取规则 -->
	<select id="FreeFindSYS_CRAWLER_RULEOrdered" resultMap="result_map_SYS_CRAWLER_RULE" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SYS_CRAWLER_RULE
		<include refid="Example_Where_Clause" />
		ORDER BY ${_orderBy}
	</select>

	<!-- *****************************  温馨提示：  ***************************** -->
	<!-- **                                                                    ** -->
	<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
	<!-- **                                             ** 2017/02/28 08:58:07 ** -->
	<!-- ************************************************************************ -->




</mapper>   
