<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SPS_MALL_INFO" > 
<!-- Result Map-->
<resultMap id="result_map_SPS_MALL_INFO" type="com.xfs.mall.info.model.SpsMallInfo" >
	<result column="id" property="id"/>
	<result column="sp_id" property="spId"/>
	<result column="company_introduction" property="companyIntroduction"/>
	<result column="service_introduction" property="serviceIntroduction"/>
	<result column="create_by" property="createBy"/>
	<result column="create_dt" property="createDt"/>
	<result column="modify_by" property="modifyBy"/>
	<result column="modify_dt" property="modifyDt"/>
	<result column="dr" property="dr"/>
	<result column="certificate" property="certificate"/>
	<result column="sign_mall" property="signMall"/>
	<result column="sign_saas" property="signSaas"/>
	<result column="is_bus_certification" property="isBusCertification"/>
	<result column="is_onsite_audit" property="isOnsiteAudit"/>
	<result column="is_fund_supervision" property="isFundSupervision"/>
	<result column="is_iso" property="isIso"/>
	<result column="risk_margin" property="riskMargin"/>
	<result column="risk_margin_star" property="riskMarginStar"/>
	<result column="employee_num" property="employeeNum"/>
	<result column="chrp_num" property="chrpNum"/>
	<result column="overall_evaluation" property="overallEvaluation"/>
</resultMap>
       
<!-- sps_mall_info table all fields -->
<sql id="Base_Column_List" >
	 id,sp_id,company_introduction,service_introduction,create_by,create_dt,modify_by,modify_dt,dr,sign_mall,sign_saas,certificate,is_bus_certification,is_onsite_audit,is_fund_supervision,is_iso,risk_margin,risk_margin_star,employee_num,chrp_num,overall_evaluation
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
  <trim prefix=" WHERE " prefixOverrides="AND ">
	<if test="id != null" >and id = #{id}</if>
	<if test="spId != null" >and sp_id = #{spId}</if>
	<if test="companyIntroduction != null" >and company_introduction = #{companyIntroduction}</if>
	<if test="serviceIntroduction != null" >and service_introduction = #{serviceIntroduction}</if>
	<if test="createBy != null" >and create_by = #{createBy}</if>
	<if test="createDt != null" >and create_dt = #{createDt}</if>
	<if test="modifyBy != null" >and modify_by = #{modifyBy}</if>
	<if test="modifyDt != null" >and modify_dt = #{modifyDt}</if>
	<if test="dr != null" >and dr = #{dr}</if>
	<if test="certificate != null" >and certificate = #{certificate}</if>
	<if test="signMall != null" >and sign_mall = #{signMall}</if>
	<if test="signSaas != null" >and sign_saas = #{signSaas}</if>
	<if test="isBusCertification != null" >and is_bus_certification = #{isBusCertification}</if>
	<if test="isOnsiteAudit != null" >and is_onsite_audit = #{isOnsiteAudit}</if>
	<if test="isFundSupervision != null" >and is_fund_supervision = #{isFundSupervision}</if>
	<if test="isIso != null" >and is_iso = #{isIso}</if>
	<if test="riskMargin != null" >and risk_margin = #{riskMargin}</if>
	<if test="riskMarginStar != null" >and risk_margin_star = #{riskMarginStar}</if>
	<if test="employeeNum != null" >and employee_num = #{employeeNum}</if>
	<if test="chrpNum != null" >and chrp_num = #{chrpNum}</if>
	<if test="overallEvaluation != null" >and overall_evaluation = #{overallEvaluation}</if>
</trim>
</sql>

<!-- 查询条件 带模糊查询 以及 时间起始查询 -->
<sql id="Example_Where_Clause2">
  <trim prefix=" WHERE " prefixOverrides="AND ">
    <if test="id != null">AND id = #{id}</if>
    <if test="spId != null">AND sp_id = '${spId}'</if>
    <if test="companyIntroduction != null">AND company_introduction like '%${companyIntroduction}%'</if>
    <if test="companyIntroductionEq != null">AND company_introduction = #{companyIntroductionEq}</if>
    <if test="serviceIntroduction != null">AND service_introduction like '%${serviceIntroduction}%'</if>
    <if test="serviceIntroductionEq != null">AND service_introduction = #{serviceIntroductionEq}</if>
    <if test="createBy != null">AND create_by = '%${createBy}%'</if>
    <if test="createDt != null">AND create_dt = #{createDt}</if>
    <if test="createDtFrom != null">AND create_dt&gt;=#{createDtFrom}</if>
	<if test="createDtTo != null">AND create_dt&lt;=#{createDtTo}</if>
    <if test="modifyBy != null">AND modify_by = '%${modifyBy}%'</if>
    <if test="modifyDt != null">AND modify_dt = #{modifyDt}</if>
    <if test="modifyDtFrom != null">AND modify_dt&gt;=#{modifyDtFrom}</if>
	<if test="modifyDtTo != null">AND modify_dt&lt;=#{modifyDtTo}</if>
    <if test="dr != null">AND dr like '%${dr}%'</if>
    <if test="certificate != null">AND certificate like '%${certificate}%'</if>
    <if test="signMall != null" >and sign_mall = #{signMall}</if>
    <if test="signMallEq != null">AND sign_mall = #{signMallEq}</if>
    <if test="signSaas != null" >and sign_saas = #{signSaas}</if>
    <if test="signSaasEq != null">AND sign_saas = #{signSaasEq}</if>
	<if test="isBusCertification != null">AND is_bus_certification = '%${isBusCertification}%'</if>
	<if test="isBusCertificationEq != null">AND is_bus_certification = #{isBusCertificationEq}</if>
	<if test="isOnsiteAudit != null">AND is_onsite_audit = '%${isOnsiteAudit}%'</if>
	<if test="isOnsiteAuditEq != null">AND is_onsite_audit = #{isOnsiteAuditEq}</if>
	<if test="isFundSupervision != null">AND is_fund_supervision = '%${isFundSupervision}%'</if>
	<if test="isFundSupervisionEq != null">AND is_fund_supervision = #{isFundSupervisionEq}</if>
	<if test="isIso != null">AND is_iso = '%${isIso}%'</if>
	<if test="isIsoEq != null">AND is_iso = #{isIsoEq}</if>
	<if test="riskMargin != null">AND risk_margin = '%${riskMargin}%'</if>
	<if test="riskMarginStar != null">AND risk_margin_star = '%${riskMarginStar}%'</if>
	<if test="employeeNum != null">AND employee_num = '%${employeeNum}%'</if>
	<if test="chrpNum != null">AND chrp_num = '%${chrpNum}%'</if>
	<if test="overallEvaluation != null">AND overall_evaluation = '%${overallEvaluation}%'</if>
  </trim>
</sql>

<!-- 插入记录 -->
<insert id="InsertSPS_MALL_INFO" parameterType="Object" >
  INSERT INTO SPS_MALL_INFO (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,id</if>
	<if test="spId != null ">,sp_id</if>
	<if test="companyIntroduction != null ">,company_introduction</if>
	<if test="serviceIntroduction != null ">,service_introduction</if>
	<if test="createBy != null ">,create_by</if>
	<if test="createDt != null ">,create_dt</if>
	<if test="modifyBy != null ">,modify_by</if>
	<if test="modifyDt != null ">,modify_dt</if>
	<if test="dr != null ">,dr</if>
	<if test="certificate != null ">,certificate</if>
	<if test="signSaas != null" >, sign_saas</if>
	<if test="signMall != null" >, sign_mall</if>
	<if test="isBusCertification != null ">,is_bus_certification</if>
	<if test="isOnsiteAudit != null ">,is_onsite_audit</if>
	<if test="isFundSupervision != null ">,is_fund_supervision</if>
	<if test="isIso != null ">,is_iso</if>
	<if test="riskMargin != null ">,risk_margin</if>
	<if test="riskMarginStar != null ">,risk_margin_star</if>
	<if test="employeeNum != null ">,employee_num</if>
	<if test="chrpNum != null ">,chrp_num</if>
	<if test="overallEvaluation != null ">,overall_evaluation</if>
  </trim>
  )  VALUES (
  <trim prefix=" " prefixOverrides=",">
	<if test="id != null ">,#{id}</if>
	<if test="spId != null ">,#{spId}</if>
	<if test="companyIntroduction != null ">,#{companyIntroduction}</if>
	<if test="serviceIntroduction != null ">,#{serviceIntroduction}</if>
	<if test="createBy != null ">,#{createBy}</if>
	<if test="createDt != null ">,#{createDt}</if>
	<if test="modifyBy != null ">,#{modifyBy}</if>
	<if test="modifyDt != null ">,#{modifyDt}</if>
	<if test="dr != null ">,#{dr}</if>
	<if test="certificate != null ">,#{certificate}</if>
	<if test="signSaas != null" >,#{signSaas}</if>
	<if test="signMall != null" >,#{signMall}</if>
	<if test="isBusCertification != null ">,#{isBusCertification}</if>
	<if test="isOnsiteAudit != null ">,#{isOnsiteAudit}</if>
	<if test="isFundSupervision != null ">,#{isFundSupervision}</if>
	<if test="isIso != null ">,#{isIso}</if>
	<if test="riskMargin != null ">,#{riskMargin}</if>
	<if test="riskMarginStar != null ">,#{riskMarginStar}</if>
	<if test="employeeNum != null ">,#{employeeNum}</if>
	<if test="chrpNum != null ">,#{chrpNum}</if>
	<if test="overallEvaluation != null ">,#{overallEvaluation}</if>
  </trim>
  )
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS ID
  </selectKey>
</insert>

<!-- 根据id，修改记录-->  
<update id="UpdateSPS_MALL_INFO" parameterType="Object" >
UPDATE SPS_MALL_INFO 
  <trim prefix=" SET " prefixOverrides=",">
	<!-- <if test="id != null ">,id=#{id}</if> -->
	<if test="spId != null ">,sp_id=#{spId}</if>
	<if test="companyIntroduction != null ">,company_introduction=#{companyIntroduction}</if>
	<if test="serviceIntroduction != null ">,service_introduction=#{serviceIntroduction}</if>
	<if test="createBy != null ">,create_by=#{createBy}</if>
	<if test="createDt != null ">,create_dt=#{createDt}</if>
	<if test="modifyBy != null ">,modify_by=#{modifyBy}</if>
	<if test="modifyDt != null ">,modify_dt=#{modifyDt}</if>
	<if test="dr != null ">,dr=#{dr}</if>
	<if test="certificate != null ">,certificate=#{certificate}</if>
	<if test="signMall != null" >, sign_mall = #{signMall}</if>
	<if test="signSaas != null" >, sign_saas = #{signSaas}</if>
	<if test="isBusCertification != null ">,is_bus_certification=#{isBusCertification}</if>
	<if test="isOnsiteAudit != null ">,is_onsite_audit=#{isOnsiteAudit}</if>
	<if test="isFundSupervision != null ">,is_fund_supervision=#{isFundSupervision}</if>
	<if test="isIso != null ">,is_iso=#{isIso}</if>
	<if test="riskMargin != null ">,risk_margin=#{riskMargin}</if>
	<if test="riskMarginStar != null ">,risk_margin_star=#{riskMarginStar}</if>
	<if test="employeeNum != null ">,employee_num=#{employeeNum}</if>
	<if test="chrpNum != null ">,chrp_num=#{chrpNum}</if>
	<if test="overallEvaluation != null ">,overall_evaluation=#{overallEvaluation}</if>
  </trim>
WHERE 1=1
<if test="spId != null ">AND sp_id=#{spId}</if> 
<if test="id != null ">AND ID=#{id}</if> 
</update>
 
<!-- 删除记录 -->
<delete id="DeleteSPS_MALL_INFO">DELETE FROM SPS_MALL_INFO WHERE ID=#{id}</delete>
<!-- 服务机构主页 列表总数-->
<select id="CountFindAllSPS_MALL_INFO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_MALL_INFO</select>
<select id="CountSPS_MALL_INFO" resultType="java.lang.Integer">SELECT count(1) as value FROM SPS_MALL_INFO WHERE ID=#{id}</select>
<!-- 根据id查询 服务机构主页 -->
<select id="FindByPK" resultMap="result_map_SPS_MALL_INFO" parameterType="Object">SELECT <include refid="Base_Column_List" /> FROM SPS_MALL_INFO WHERE ID=#{id}</select>

<!-- 根据各字段条件带模糊查询  服务机构主页 记录数 -->
<select id="CountFreeFindSPS_MALL_INFO" resultType="java.lang.Integer">
SELECT count(1) as value FROM SPS_MALL_INFO 
 <include refid="Example_Where_Clause2" />
</select>
<!-- 根据各字段条件带排序  服务机构主页 -->
<select id="FreeFindSPS_MALL_INFOOrdered" resultMap="result_map_SPS_MALL_INFO" parameterType="Object">
	SELECT <include refid="Base_Column_List" /> FROM SPS_MALL_INFO 
	 <include refid="Example_Where_Clause2" />
	 ORDER BY ${_orderBy}
</select>

<!-- *****************************  温馨提示：  ***************************** -->
<!-- **                                                                    ** -->
<!-- ** 以上为自动生成代码，请勿改动或删除。如有新sql添加请在下方区域内填写** -->
<!-- **                                             ** 2016/06/07 11:06:19 ** -->
<!-- ************************************************************************ -->
	<!-- 根据各字段条件带模糊查询  服务机构主页 -->
	<select id="FreeFindSPS_MALL_INFO" resultMap="result_map_SPS_MALL_INFO" parameterType="Object">
		SELECT <include refid="Base_Column_List" /> FROM SPS_MALL_INFO where sp_id =#{spId}
	</select>

	<!-- 商铺主页详情 -->
	<select id="FindSPS_MALL_INFO" resultType="java.util.Map" parameterType="Object">
		SELECT ss.`sp_id`, ss.`sp_name`, ss.`short_name`, ss.`org_star`, ss.`logo`, mi.`company_introduction`, mi.`service_introduction`,
				ss.`labor_certification`, ss.`human_certification`, ss.`certificate`, ss.`company_level`, sc.`score`,
				mi.`is_bus_certification`, mi.`is_onsite_audit`, mi.`is_fund_supervision`, mi.`risk_margin`, mi.`risk_margin_star`,ss.`service_state`
			FROM sps_mall_info mi
			INNER JOIN sp_service ss ON mi.`sp_id` = ss.`sp_id`
			LEFT JOIN bd_score_collection sc ON sc.score_target_type = 'SERVICE' AND ss.sp_id = sc.score_target_id
			WHERE mi.`dr` = 0 AND ss.`enabled_mall` = 'SIGNED' AND mi.`sp_id` = #{spId} GROUP BY mi.`sp_id`
	</select>

	<!-- 机构评分详情 -->
	<select id="FIND_SPS_MALL_SCOTE_DETAIL" resultType="java.util.Map" parameterType="Object">
		SELECT sid.`item_name`, sid.`score` FROM bd_score_collection sc LEFT JOIN bd_score_item_detail sid ON
				sc.`score_target_id` = sid.`score_target_id` AND sc.`score_target_type` = sid.`score_target_type` AND sc.`cal_version` = sid.`cal_version`
			WHERE sc.`score_target_type` = 'SERVICE' AND sc.`score_target_id` = #{spId} AND sc.dr = 0
	</select>
</mapper>   
